{% block title '6 good reasons to use Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        El uso de un marco es una buena cosa. Hacer la elección correcta es aún mejor. 
         Sin entrar demasiado en el detalle de las mismas y en ningún orden en particular,
         aquí están 6 buenas razones para utilizar Symfony, desde un punto de vista
		 estratégico <br /> 
         Para los aspectos técnicos, haga clic
		<a href=" {{ marketing_path('six-good-technical-reasons')}} ">aquí</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Reputación</h2>
    <p>
        Adoptado rápidamente, por los profesionales activos en este campo, desde de su
		lanzamiento en 2005, Symfony es hoy un desarrollo estable, que es bien conocido
		y reconocido internacionalmente. El número de sus referencias da fe de ello, ya
		que han crecido significativamente desde su lanzamiento. 
        Symfony es también una comunidad activa, desarrolladores, integradores, usuarios y 
        otros colaboradores que participan en el enriquecimiento continuo de esta herramienta.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Permanencia</h2>
    <p>
        Detrás de Symfony hay una empresa:  SensioLabs, Creada hace más de 12 años, 
        SensioLabs es una empresa de desarrollo web que tiene muchas  grandes firmas entre
        sus referencias. Concebido para sus propias necesidades, el entorno de trabajo Symfony
		sigue siendo, hoy en día, la herramienta utilizada diariamente por sus propios equipos
		para desarrollar proyectos de clientes. Diseñado por profesionales para profesionales,
		Symfony es, ante todo, una herramienta pragmática, sus características van dirigidas a
		los requerimientos del mundo real.

    </p>
    <p>
	    La permanencia es también algo que se relaciona con el apoyo a largo plazo. Hoy en día,
		este <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">apoyo</a> 
        está, naturalmente, proporcionado por SensioLabs, Pero también hay todo un ecosistema
        que ha crecido alrededor de Symfony desde su lanzamiento: la comunidad (listas de correo,
		IRC, etc) y las muchas otras empresas de servicios que han invertido en el Entorno.
    </p>
    <p>
        Por último, esto es también con miras a un desarrollo sostenible que Symfony 
        se distribuye bajo la licencia Open Source MIT, que no impone restricciones 
        y permite el desarrollo de Open Source, así como aplicaciones propietarias,
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Referencias</h2>
    <p>
        Intranets, principales sitios públicos en general, redes sociales, sitios de
		Comunidades, Aplicaciones de gestión y flujo de trabajo, etc.
		Ejemplos no faltan: Cientos de sitios y aplicaciones de todos los tamaños y de
		todos los tipos confían en Symfony. 
        <br/> 
        Este es, especialmente, el caso de Yahoo!, Dailymotion, Opensky.com, 
        Exercise.com e incluso aplicaciones como phpBB y Drupal,

    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Innovación</h2>
    <p>
	    Symfony es, todo lo que usted espera de un entorno de trabajo: velocidad, 
        flexibilidad, componentes reutilizables, etc. Además está la estructura
        de lo que ha sido desarrollado y el uso de las mejores herramientas. No está mal!
    </p>
    <p>
        Pero eso no es todo! Desde SensioLabs se ha desarrollado un hábito de saltarse
		el orden establecido y siempre se busca la excelencia, Symfony (y toda su comunidad)
		ha desarrollado un sentido de la curiosidad que llega más allá de PHP. Y no dudamos
		de innovar mediante la búsqueda de las ideas en otros entornos y después adaptarlas
		al mundo de PHP, como la inyección de dependencia desde el mundo Java, 
         <br/> 
        Además, Symfony, en la búsqueda de la mejora continua en la productividad de los
        desarrolladores, ha previsto la "barra de herramientas de depuración web", tomada
		de otros entornos de trabajo, sea PHP u Otros,
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Recursos</h2>
    <p>
        Al utilizar Symfony, tiene la seguridad de nunca "estar sólo ante su pantalla," 
        Ya sea una cuestión de apoyo comunitario (listas de correo, IRC, etc.) o del  soporte
        de la empresa (asesoría, <a href="http://trainings.sensiolabs.com/">entrenamiento</a>,
		etc.), usted siempre encontrará las respuestas a sus preguntas. 
         <br/> 
         Partiendo del principio de que "una línea indocumentada es una línea que no existe" 
         también encontrará muchas obras dedicadas a Symfony, que le ayudarán a lo largo del 
         desarrollo de sus sitios y aplicaciones.

    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Interoperabilidad </h2>
    <p>
        La idea detrás de Symfony: No se bloquee dentro de Symfony! Permítase 
        crear aplicaciones que se adapten exactamente a sus necesidades! 
        <br/> 
        Symfony respeta los "estándares de facto" existentes de PHP: PHPUnit, nombrando 
        convenciones para las clases, etc Además, Symfony también permite utilizar algunas
        piezas de sus bloques de desarrollo de software (inyector de dependencia, la gestión
		de traducciones, gestión de formularios, etc.) sin necesidad de utilizar este entorno
		en su totalidad. 
     </p> 
     <p> 
         Por cierto, Symfony es tan interoperable que, en su núcleo, utiliza software externo 
         como bloques de construcción (ORM Doctrine, SwiftMailer, etc.)!
    </p>
{% endblock %}

{% block summary %}
   <p>Usted no puede equivocarse al elegir Symfony! Y nadie ha sido despedido por usar Symfony,</p>
{% endblock %}
