{% block title 'Komunita' %}
{% block keywords '' %}
{% block description 'Buďte v kontaktu s komunitou, informace o sociálních sítí vývojářů, IRC kanál, e-mailové konference' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Vývojářská e-mailová konferenec</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Uživatelská e-mailová konference</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Blogy o Symfony</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Fórum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
