{% block title 'Začínáme' %}
{% block keywords '' %}
{% block description 'Soubory ke stažení, kontakt s komunitou, články, školení' %}

{% block intro %}
    <h2>Rychlý start</h2>
    <p>
        Co může být lepšího pro vytvoření vlastního názoru, než si
        Symfony prostě vyzkoušet? A nebude to, kromě trochy času,
        stát vůbec nic. Krok za krokem budeme objevovat svět 
        Symfony. Ale buďte opatrní. Již od prvního setkání může
        být Symfony značně návykové.
    </p>
{% endblock %}

{% block read 'Začít číst' %}
{% block downloadpdf 'Stáhnout PDF' %}
