{% block title 'О фреймворке' %}
{% block keywords '' %}
{% block description 'Откройте для себя людей, которые делают фреймворк: их ценности и цели' %}

{% block intro %}
    <p>

        Symfony – веб-фреймворк с открытым исходным кодом написанный на языке
        программирования PHP. Изначально фреймворк был задуман интерактивным
        агенством Sensio Labs для создания веб-сайтов для собственных клиентов.
        Symfony был опубликован в 2005 году под MIT Open Source лицензией и
        сегодня - это один из ведущих фреймворков, доступных для разработки на
        языке PHP.

    </p>

    <p>

        Поддерживается Sensio Labs - но также и <a href="{{ path('contributors') }}">
        большим сообществом</a> - Symfony имеет множество ресурсов: подробная
        документация, поддержка сообщества (списки рассылки, IRC, и т.д.), профессиональную
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">поддержку</a>
        (консалтинг, <a href="http://trainings.sensiolabs.com/">треннинги</a>,
        и т.д.), и тому подобное.

    </p>

    <p>

        Доступный в версии 2.0, Symfony уже имеет, среди сотен сайтов и
        приложений, разработанных на этой платформе, такие именитые сайты, как
        Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB, или Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        С 1998, Sensio Labs способствовала продвижению Open-Source программного
        обеспечения, обеспечивая качественную разработку веб-приложения,
        треннинги, консультации. Sensio Labs также поддерживает несколько
        крупных Open-Source проектов.

    </p>

    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Sensio Labs цифры и факты</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Предложения</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Клиенты</a></li>
    </ul>
{% endblock %}
