{% block title 'Начало работы' %}
{% block keywords '' %}
{% block description 'Загрузки, контакт с сообществом, чтение статей, треннинги' %}

{% block intro %}
    <h2>Краткий обзор</h2>
    <p>
        Что может быть лучше, чем попробовать использовать Symfony самостоятельно? 
        Это ничего не будет вам стоить, за исключением небольшого количества потраченного времени.
        Шаг за шагом, вы будете открывать вселенную Symfony. 
        Осторожно, Symfony может вызвать привыкание с певрого раза.
    </p>
{% endblock %}

{% block read 'Читать' %}
{% block downloadpdf 'Скачать PDF' %}
