{% block title 'Distributions' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Downloading and configuring a Symfony distribution is without question the
        easiest and fastest way to get started with Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">What is a Distribution?</a></h2>
    <p>
        Like Linux distributions, known for their easy installation and
        specific features (server version, public version, etc.), a
        Symfony distribution is made up of Symfony2 components, a
        selection of bundles, a directory structure, a default
        configuration, and an optional Web configuration system.
    </p>
    <p>
        In practical terms, it is a simple, easy to install, and packaged
        solution to get started with Symfony. Even in the computing area,
        a good first impression is key...
    </p>
    <h2 class="title_09"><a name="why">Why distributions?</a></h2>
    <p>
        A distribution, with its selection of bundles, structure and
        default configuration, is designed to meet a specific user need:
        such as easy familiarization, Content Management System to create
        a dynamic website, or a full version to test the framework.
    </p>
    <p>
        Nevertheless, compared to its competitors, Symfony's strength and
        innovation lie in the fact that everything can be modified: the
        distribution is a pack, but one that was designed to remain
        scalable, as if you created it yourself. You can add or remove
        bundles, change the default configuration, or modify the file
        structure, etc., based on your needs and desires!
    </p>
    <h2 class="title_09"><a name="available">Available Distributions</a></h2>
    <p>
        The <a href="{{ marketing_path('download') }}">Standard Edition</a> is by
        far the best version to get started. It contains the most commonly
        used bundles and has a simple configuration that is compatible
        with most projects.
    </p>
    <p>
        Based on the Standard Edition, the
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>
        is the best distribution to benchmark the raw
        performance of the framework.
    </p>
{% endblock %}
