{% block title 'Descargar' %}
{% block keywords '' %}
{% block description 'Descarga, contáctate con la Comunidad, revisa los artículos, encuentra sesiones de entrenamiento' %}

{% block intro %}
    <h2>Symfony Edición Estándar</h2>
    <p>
        La Edición Estándar de Symfony es la mejor distribución a emplear cuando
        se inicia un proyecto. Esta contiene los bundles más comunes, y viene
        con una simple configuración del sistema.
    </p>
{% endblock %}

{% block downloadnow 'Descargar ahora' %}
{% block download 'Descargar' %}
{% block previousversion 'Descargar previos lanzamientos estables:' %}
{% block specificversion 'Seleccionar una versión específica:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">¿Cómodo con la consola?</h3>
        <p style="padding-bottom: 0">
            Instala <a href="http://getcomposer.org/">Composer</a> y ejecuta el siguiente comando:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ {{ latest_stable_version }}</pre>
    </div>
    <h3 class="title_05">Instrucciones de Instalación</h3>
    <ol>
        <li>
            Descarga uno de los archivos en el directorio 
            raiz local de tu servidor web y desempaquétalo. Si
            tienes instalado Git, debes descargar Symfony2
            "without vendors", ya que añade un poco más de flexibilidad.
        </li>
        <li>
            Sigue las instrucciones del archivo README.md
            (el cual es sólo un archivo de texto) que está incluido
            en el paquete de descarga.
        </li>
        <li>¡Disfrútalo!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY, SUS COMPONENTES</h2>
    <p>
        Además de ser un framework muy completo, Symfony es también un conjunto de 
        componentes desacoplados y autónomos. Éstos pueden ser <a href="{{
        marketing_path('components') }}">descargados e instalados</a> independientemente
        del framewrok principal.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY EN GIT</h2>
    <p>
        El <strong>repositorio oficial de Symfony2</strong> se encuentra alojado en Github 
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Tú podrías emplear este repositorio si deseas y si no 
        tienes problemas con realizar una instalación manual.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Symfony en su versión 1.4 es la última versión lanzada de la rama de 
        versiones symfony 1.x y tuvo mantenimiento hasta Noviembre del 2012.
        Si estás creando un nuevo proyecto, deberías considerar emplear 
        <a href="#top">Symfony2</a> en su lugar.
    </p>
    <p>
        Sin embargo, si actualmente te encuentras trabajando en un proyecto con 
        symfony 1.x, aún puedes acceder a la 
        <a href="{{ path('legacy_doc_home') }}">documentación</a> del
        framework para todas las versiones de symfony 1.x, 
        <a href="#legacy">descargar</a> cualquier versión estable, o acceder a 
        otras herramientas de symfony 1.x en la página de 
        <a href="{{ path('legacy_home') }}">legado</a>.
        Puedes además obtener symfony1 desde 
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Si deseas iniciar un nuevo proyecto con estas versiones, descarga el sandbox 
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>, 
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>), 
        el código fuente 
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>, 
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>), 
        o échale un <a href="http://svn.symfony-project.com/branches/1.4">vistazo</a> 
        al repostorio SVN (subversiones).
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Lanzamientos del Legado</h2>
    <p>Descarga las últimas versiones de las versiones estables previas:</p>
{% endblock %}
