{% block title 'Om' %}
{% block keywords '' %}
{% block description 'Upptäck vem som skapar ramverket och vilka värden och mål de har' %}

{% block intro %}
    <p>
        Symfony är ett öppen källkodsprojekt i PHP för webbapplikationsutveckling.
        Det skapades ursprungligen av interaktionsbyrån Sensio Labs för utveckling
        av deras kunders webbplatser. Symfony publicerades av byrån 2005 under 
        open source-licensen MIT och är idag bland de ledande ramverken för PHP.
        <br/>
        Med stöd av Sensio Labs - och av ett <a href="{{ path('contributors') }}">stort community</a> - har Symfony mycket
        resurser: en mängd dokumentation, support från andra utvecklare (maillistor,
        IRC, etc.), professionell <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a> (konsultation, etc) och mycket mer.
        <br/>
        I och med version 2.0 har Symfony redan, bland alla hundratals webbplatser och
        applikationer som bygger på plattformen, prestigefyllda referenser som Yahoo!,
        Dailymotion, Opensky.com, Exercise.com, phpBB och Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Vad är Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">UPPDRAGSBESKRIVNING</h2>
    <p>Symfony är helt gratis och fritt tillgängligt under <a href="{{ path('license') }}">MIT-licensen</a>.</p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Sedan 1998 har Sensio Labs främjat öppen källkodsrörelsen genom att tillhandahålla
        kvalitativ webbapplikationsutveckling, utbildning, konsultation. Sensio Labs
        stöder och flera stora öppen källkodsprojekt.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Sensio Labs fakta och siffror</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Erbjudanden</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Kunder</a></div></li>
    </ul>
{% endblock %}
