{% block title 'Om' %}
{% block keywords '' %}
{% block description 'Upptäck vem som skapar ramverket och vilka värden och mål de har' %}

{% block intro %}
    <p>

        Symfony är ett öppen källkodsprojekt i PHP för
        webbapplikationsutveckling. Det skapades ursprungligen av
        interaktionsbyrån SensioLabs för utveckling av deras kunders
        webbplatser. Symfony publicerades av byrån 2005 under  open source-
        licensen MIT och är idag bland de ledande ramverken för PHP.

    </p>

    <p>

        Med stöd av SensioLabs - och av ett <a href="{{ path('contributors') }}">stort community</a> -
        har Symfony mycket resurser: en mängd dokumentation, support från andra
        utvecklare (maillistor, IRC, etc.), professionell
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>
        (konsultation, etc) och mycket mer.

    </p>

    <p>

        I och med version 2.0 har Symfony redan, bland alla hundratals
        webbplatser och applikationer som bygger på plattformen, prestigefyllda
        referenser som Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB och
        Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}About SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        Sedan 1998 har SensioLabs främjat öppen källkodsrörelsen genom att
        tillhandahålla kvalitativ webbapplikationsutveckling, utbildning,
        konsultation. SensioLabs stöder och flera stora öppen källkodsprojekt.

    </p>

    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs fakta och siffror</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Erbjudanden</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Kunder</a></li>
    </ul>
{% endblock %}
