{% block title 'Gemenskap' %}
{% block keywords '' %}
{% block description 'Kom i kontakt med gemenskapen, hitta information om utvecklarnas sociala nätverk, IRC-kanal och mailinglista.' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Utvecklarnas mailinglista (eng.)</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Användarnas mailinglista (eng.)</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Symfonybloggarna</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Forumet</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
