{% block title 'Kom igång' %}
{% block keywords '' %}
{% block description 'Nedladdningar, kom i kontakt med gemenskapen, läs artiklar, hitta kurser' %}

{% block intro %}
    <h2>Snabbturen</h2>
    <p>
        Vad kan vara bättre för att bestämma sig än att pröva
        Symfony själv? Förutom lite tid kostar det dig ingenting.
        Steg för steg kommer du utforska Symfonys universum. Var
        försiktig. Symfony kan vara beroendeframkallande från
        dag ett.
    </p>
{% endblock %}

{% block read 'Läs' %}
{% block downloadpdf 'Ladda ned som PDF' %}
