{% block title 'Symfony Components' %}
{% block keywords '' %}
{% block description '' %}

{% block what_is_a_component %}
    <p>
        Symfony Components are a set of decoupled and reusable PHP libraries.
        They are becoming the standard foundation on which the best PHP
        applications are built on. You can use any of these components on your
        own applications independently from the Symfony Framework.
    </p>
{% endblock %}

{% block installation_title 'Installation' %}

{% block installation %}
    <p>
        Use <a href="{{ doc_path({version: 'master', page: 'cookbook/composer'}) }}">Composer</a>
        to install any of the Symfony Components in your PHP project:
    </p>
{% endblock %}

{% block component_list_title 'Component List' %}
