{% block title 'Projects using Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony is not only a popular framework used by many small and big corporations, but it is also
        the best platform to build Open-Source projects. Many PHP projects are embedding some of our
        components or are using the full-stack framework, and we wanted to thank them on our website.
        Sharing is one of our core value and we like to think about those projects as being part of
        the Symfony "family".
    </p>
{% endblock %}
