{% block title_page 'Symfony Projects' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <div class="box_title">
        <h1 class="title_01">Symfony Projects</h1>
    </div>
    <div class="box_article box_introduction">
        <p>
            Saepissime igitur mihi de amicitia cogitanti maxime illud considerandum videri solet, utrum propter
            imbecillitatem atque inopiam desiderata sit amicitia, ut dandis recipiendisque meritis quod quisque
            minus per se ipse posset, id acciperet ab alio vicissimque redderet, an esset hoc quidem proprium amicitiae,
            sed antiquior et pulchrior et magis a natura ipsa profecta alia causa. Amor enim, ex quo amicitia nominata
            est, princeps est ad benevolentiam coniungendam. Nam utilitates quidem etiam ab iis percipiuntur saepe qui
            simulatione amicitiae coluntur et observantur temporis causa, in amicitia autem nihil fictum est, nihil
            simulatum et, quidquid est, id est verum et voluntarium.
        </p>
    </div>
{% endblock %}
