{% block title 'Téléchargement' %}
{% block keywords '' %}
{% block description 'Téléchargements, prendre contact avec la communauté, lire des articles, trouver des séances de formation' %}

{% block intro %}
    <h2>L'Édition Symfony Standard</h2>
    <p>
        L'Édition Symfony Standard est la meilleure distribution pour
        débuter un nouveau projet. Elle contient les bundles les plus
        couramment utilisés ainsi qu'un système de configuration simple.
    </p>
{% endblock %}

{% block downloadnow 'Télécharger maintenant' %}
{% block download 'Télécharger' %}
{% block previousversion 'Télécharger les versions stables précédentes :' %}
{% block specificversion 'Récupérer une version spécifique :' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">À l'aise avec la console ?</h3>
        <p style="padding-bottom: 0">
            Installez <a href="http://getcomposer.org/">Composer</a> et executez la commande suivante :
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ {{ latest_stable_version }}</pre>
    </div>
    <h3 class="title_05">Les instructions d'installation</h3>
    <ol>
        <li>
            Téléchargez une des archives quelque part sous le
            répertoire racine de votre serveur web local
            et décompressez-le.
            Si vous avez Git installé, vous devez télécharger
            Symfony2 "sans les vendeurs", car cela ajoute
            un peu plus de souplesse.
        </li>
        <li>
            Suivez les instructions dans le fichier README.md
            (qui est un simple fichier texte) inclus dans
            le téléchargement.
        </li>
        <li>Amusez-vous!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">LES COMPOSANTS SYMFONY</h2>
    <p>
        En plus d'être un framework complet, Symfony est également
        un ensemble de composants découplés et autonomes. Il peuvent
        être <a href="{{ marketing_path('components') }}">téléchargés et installés</a>
        indépendamment du framework principal.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY SUR GIT</h2>
    <p>
        Le <strong>dépôt officiel de Symfony2</strong> est hébergé sur Github :
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Vous ne devez utiliser ce dépôt que si vous souhaitez être
        à la pointe ou si cela ne vous dérange pas d'installer
        les choses manuellement.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        La version 1.4 de Symfony est la dernière version Long Term Support
        pour la branche Symfony 1.x et est maintenue jusqu'en Novembre 2012.
        Si vous créez un nouveau projet, vous devriez envisager d'utiliser
        <a href="#top">Symfony2</a> à la place.
    </p>
    <p>
        Cependant, si vous avez déjà un projet fonctionnant sous symfony
        1.x, vous pouvez toujours accéder à la
        <a href="{{ path('legacy_doc_home') }}">documentation</a>
        pour toutes les versions de la branche 1.x,
        <a href="#legacy">télécharger</a> les versions stables,
        ou bien accéder aux autres outils de symfony 1.x via la page
        <a href="{{ path('legacy_home') }}">l'héritage</a>. Vous pouvez
        également obtenir symfony1 via
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Si vous souhaitez débuter
        un nouveau projet avec,
        téléchargez la sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        le code source
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        ou effectuez un <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>
        du dépôt SVN.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Anciennes versions</h2>
    <p>Télécharger les dernières versions stables des anciennes versions :</p>
{% endblock %}
