{% block title 'Symfony Distributions' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Downloading and configuring a Symfony distribution is without question the
        easiest and fastest way to get started with Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}What is a Distribution?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Like Linux distributions, known for their easy installation and
        specific features (server version, public version, etc.), a
        Symfony distribution is made up of Symfony2 components, a
        selection of bundles, a directory structure, a default
        configuration, and an optional Web configuration system.
    </p>
{% endblock %}

{% block why_distribution_title %}Why Distributions?{% endblock %}
{% block why_distribution_description %}
    <p>
        A distribution, with its selection of bundles, structure and
        default configuration, is designed to meet a specific user need:
        such as easy familiarization, Content Management System to create
        a dynamic website, or a full version to test the framework.
    </p>
{% endblock %}

{% block available_distribution_title %}Available Distributions{% endblock %}
{% block available_distribution_description %}
    <ul>
        <li>
            <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>
            is based on the Standard Edition and it's the best distribution to
            benchmark the raw performance of the framework.
        </li>
        <li>
            <a href="https://github.com/symfony-cmf/symfony-cmf-standard">Symfony CMF Standard Edition</a>
            is the best distribution to get started with the
            <a href="http://cmf.symfony.com">Symfony CMF</a>.
        </li>
        <li>
            <a href="https://github.com/gimler/symfony-rest-edition">Symfony REST Edition</a>
            shows how to build an application that provides a RESTful API using the
            <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> and several other related Bundles.
        </li>
    </ul>
{% endblock %}
