{% block title 'Symfony Trademark & Licenses' %}
{% block keywords '' %}
{% block description '' %}

{% block trademark_title 'Symfony Trademark' %}
{% block trademark_content %}
    <p>
        Symfony &trade; is a trademark of Fabien Potencier. All rights reserved.
        <a href="{{ marketing_path('trademark') }}">See trademark details</a>.
    </p>
{% endblock %}

{% block logo_title 'Symfony Logo' %}
{% block logo_content %}
    <p>
        Symfony logo is an original artwork created by
        <a href="http://sensiolabs.com">SensioLabs</a> and published under the
        terms of the copyright license.
        <a href="{{ marketing_path('trademark') }}">See logo usage guidelines</a>.
    </p>
{% endblock %}

{% block website_title 'Symfony Website' %}
{% block website_content %}
    <p>
        Symfony Website design is an original artwork created by
        <a href="http://sensiolabs.com">SensioLabs</a> and published under the
        terms of the copyright license. Unless stated to the contrary, the
        website contents are published under the terms of the Creative Commons
        Attribution-Share Alike 3.0 Unported License.
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">See license details</a>.
    </p>
{% endblock %}

{% block code_title 'Symfony Code' %}
{% block code_content %}
    <p>
        Symfony Source Code is published under the terms of the MIT License.
        <a href="{{ doc_path({ page: 'contributing/code/license', version: 'master' }) }}">See code license details</a>.
    </p>
{% endblock %}

{% block documentation_title 'Symfony Documentation' %}
{% block documentation_content %}
    <p>
        Symfony Documentation is published under the terms of the Creative Commons
        Attribution-Share Alike 3.0 Unported license.
        <a href="{{ doc_path({ page: 'contributing/doc/license', version: 'master' }) }}">See documentation license details</a>.
    </p>
{% endblock %}
