{% block title '6 dobrých důvodů, proč se rozhodnout pro Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Ve většině případů je dobré používat framework. Vybrat si ten
        správný, vyhovující našim konkrétním potřebám, není vždy úplně snadné.
        Aniž bychom zacházeli příliš do podrobností, pojďme se podívat na 6 dobrých důvodů
        pro používání Symfony frameworku z hlediska dlouhodobé strategie a podpory.
        <br />
        Pokud vás zajímá spíše technické hledisko, přejděte na kapitolu věnující se
        <a href=" {{ marketing_path('six-good-technical-reasons')}} ">technickým důvodům.</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Reputace a jméno</h2>
    <p>
        Symfony framework je stabilní platforma, která je známá po celém světě.
        Po uvolnění první verze v roce 2005 byla velice rychle přijata profesionály,
        kteří jsou aktivní na poli vývoje webových aplikací. Svědčí o tom i počet
        referencí, který neustále rostou ohromným tempem.
        Symfony však není jen toto. Je to také aktivní komunita, vývojáři,
        administrátoři, uživatelé a další přispěvatelé, kteří se podílí na stále
        probíhajícím rozšiřování tohoto nástroje.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Stálost a trvalost</h2>
    <p>
        Za Symfony frameworkem stojí společnost SensioLabs. Ta byla založena před více
        než dvanácti lety a má na svém kontě řadu zajímavých referencí a významných projektů.
        Symfony framework byl původně vytvářen pouze pro účely samotné společnosti SensioLabs,
        která potřebovala kvalitní nástroj pro vývoj projektů pro své zákazníky.
        Symfony, navržena profesionály pro profesionály, je tedy především pragmatický
        nástroj, který řeší skutečné problémy a požadavky, se kterými se programátoři
        denně potýkají při vývoji webových aplikací.
    </p>
    <p>
        Stálost je jedna z vlastností, která je spojená s dlouhodobou podporou.
        V současné době je <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>
        přirozeně poskytována společností SensioLabs. Od okamžiku uveřejnění Symfony frameworku
        vyrostl kolem něho celý ekosystém: komunita (e-mailové konference,
        IRC kanály, apod.) a mnoho dalších společností poskytujících nejen služby, ale
        investují do frameworku nemalé peníze.
    </p>
    <p>
        Navíc, s ohledem na udržitelný rozvoj, je Symfony šířena pod Open Source
        MIT licencí, která vývojářům neukládá omezení a umožňuje tak vývoj aplikací jak
        s otevřeným kódem tak i vlastních proprietárních aplikací.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Reference</h2>
    <p>
        Intranety, významné veřejné webové stránky, sociální sítě, komunitní stránky,
        aplikace pro administraci a řízení, atd. Nedostatkem příkladů Symfony rozhodně netrpí.
        Stovky stránek a aplikací všech různých typů a rozsahů věří frameworku Symfony.
        <br/>
        Jako konkrétní příklady můžeme uvést: Yahoo!, Dailymotion, Opensky.com,
        Exercise.com a dokonce aplikace jako je phpBB a Drupal.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Inovace</h2>
    <p>
        Symfony nabízí vše, co byste mohli od frameworku očekávat: rychlost,
        flexibilitu, opakovaně použitelné komponenty, atd. Navíc je velice dobře
        strukturovaný a používá osvědčené postupy a návrhové vzory. To není špatné!
    </p>
    <p>
        Ale to není rozhodně vše! Protože SensioLabs vždy usiluje o dokonalost, Symfony
        (a její celá komunita) si vypracovala smysl pro zvídavost a snahu využít
        postupy a nástroje, které značně přesahují hranice PHP světa.
        Neváháme inovovat tím, že hledáme nápady jinde a následně je přizpůsobujeme
        prostředí PHP, jako jsme to například udělali v případě dependency injection
        ze světa Java.
        <br/>
        Kromě toho, Symfony neustále hledá další možnosti, jak zlepšit produktivitu
        vývojářů (např. Webová lišta pro ladění aplikace), převzaté z jiných frameworků
        ať už z PHP nebo odjinud.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Zdroje informací</h2>
    <p>
        Pokud používáte Symfony, máte jistotu, že už nikdy nezůstanete „sami pouze se svou obrazovkou.“
        Ať už položíte otázku komunitě (e-mailová konference, IRC kanál, apod.) nebo využijete
        podporu společnosti SensioLabs (konzultace, <a href="http://trainings.sensiolabs.com/">školení</a>, apod.),
        vždy najdete odpověď na to, co jste potřebovali vědět.
        <br/>
        Kromě toho, že se Symfony snaží řídit principem „nezdokumentovaný řádek je neexistující řádek“,
        najdete také řadu dalších prací a článků věnovaných Symfony, které vám pomohou při
        vývoji vašich stránek či aplikací.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Interoperabilita </h2>
    <p>
        Myšlenkou Symfony je: Neuzavírejte se pouze v Symfony! Buďte otevření! Využívejte
        ostatní knihovny a nástroje! Dopřejte si budovat aplikace, které přesně
        odpovídají vašim potřebám!
        <br/>
        Symfony respektuje stávající „standardy“" v PHP: PHPUnit, konvence pro
        pojmenování třídy, funkcí atd. Symfony framework vám navíc umožňuje používat samostatně
        jen některé jeho části (dependency injection, komponenta na překlady, formuláře, a další)
        aniž byste museli použít celý framework.
    </p>
    <p>
        Mimochodem, Symfony je tak interoperabilní, že i samotné jádro frameworku využívá
        knihovny a části softwaru třetích stran (ORM Doctrine, Swiftmailer, atd.)!
    </p>
{% endblock %}

{% block summary %}
    <p>Výběrem Symfony neuděláte chybu! Ještě nikdy nebyl nikdo propuštěn z důvodu, že by používal Symfony.</p>
{% endblock %}
