{% block title '开始' %}
{% block keywords '' %}
{% block description '下载, 在社区交流，阅读文章，寻找培训进行课程' %}

{% block intro %}
    <h2>快速向导教程</h2>
    <p>
        有什么能更好地使自己的头脑，而不是试图
        出Symfony的自己？除了一点点的时间，它会
        花你一分钱。一步一步，你将探索
        Symfony的宇宙。要小心，Symfony的会让人上瘾
        从第一次相遇。
        与其你自己动脑子有什么不好的呢，不如亲自尝试一下Symfony？
        只需要一点点时间，对你没什么损失！一步步来发现Symfony的小
        宇宙吧。小心哦，你一旦开始，就会上瘾的哦！
    </p>
{% endblock %}

{% block read '阅读' %}
{% block downloadpdf '下载PDF的格式' %}
