{% block title 'Sobre' %}
{% block keywords 'sobre, introdução, missão, sensio labs' %}
{% block description 'Descubra quem está fazendo o framework e quais são seus valores, seus objetivos' %}

{% block intro %}
    <p>

        O Symfony é um Framework PHP Open Source para o desenvolvimento de
        aplicações web. Foi originalmente concebido pela agência interativa
        SensioLabs para o desenvolvimento de web sites para os seus clientes. O
        Symfony foi publicado pela agência em 2005 sob a licença Open Source MIT
        e hoje em dia é um dos frameworks líderes do desenvolvimento em PHP.

    </p>

    <p>

        Suportado pela SensioLabs - mas também pela <a href="{{ path('contributors') }}">
        enorme comunidade</a> - o Symfony contém vários recursos: vasta documentação,
        suporte da comunidade (listas de discussão, IRC, etc.),
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suporte</a>
        profissional (consultoria, <a href="http://trainings.sensiolabs.com/">treinamento</a>,
        etc.), e muito mais.

    </p>

    <p>

        Disponível na versão 2.0, o Symfony também tem, entre as centenas de web
        sites e aplicações desenvolvidas na sua plataforma, referências de
        prestígio, tais como Yahoo!, Dailymotion, Opensky.com, Exercise.com,
        phpBB ou Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        Desde 1998, a SensioLabs tem promovido o software Open-Source,
        providenciando aplicações de desenvivolmento web de qualidade,
        treinamento e consultoria. A SensioLabs também tem fornecido suporte a
        vários projetos Open-Source.

    </p>
    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs factos e figuras</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ofertas</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Clientes</a></li>
    </ul>
{% endblock %}
