{% block title 'Comece a usar' %}
{% block keywords 'comece a usar, guia de início rápido, tour, guia symfony' %}
{% block description 'Downloads, entre em contato com a comunidade, leia artigos, encontre sessões de treinamento' %}

{% block intro %}
    <h2>Guia de Início Rápido</h2>
    <p>
        O que poderia ser melhor para fazer a sua própria opinião do
        que experimentar o Symfony você mesmo? Além de um pouco
        de tempo, não irá lhe custar nada. Passo a passo você irá 
        explorar o universo do Symfony. Mas tenha cuidado
        porque o Symfony poderá se tornar viciante assim que você
        começar a usar.
    </p>
{% endblock %}

{% block read 'Ler' %}
{% block downloadpdf 'Fazer download como PDF' %}
