{% block title 'Symfony komponente' %}
{% block keywords '' %}
{% block description '' %}

{% block what_is_a_component %}
    <p>
        Symfony komponente so skupek samostojnih in ponovno uporabnih PHP knjižnic.
        Postajajo standardni temelj na kateremu so zgrajene najboljše PHP
        aplikacije. Lahko uporabite katerokoli izmed teh komponent na vaših
        lastnih aplikacijah, neodvisno od ogrodja Symfony.
    </p>
{% endblock %}

{% block installation_title 'Namestitev' %}

{% block installation %}
    <p>
        Uporabite <a href="{{ doc_path({version: 'master', page: 'cookbook/composer'}) }}">Composer</a>,
        da namestite katerokoli izmed komponent Symfony v vaš PHP projekt:
{% endblock %}

{% block component_list_title 'Seznam komponent' %}
