{% block title 'Projekti, ki uporabljajo Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony ni samo popularno ogrodje uporabljeno s strani mnogih majhnih in velikih korporacij, vendar je tudi
        najboljša platforma za gradnjo odprto kodnih projektov. Mnogi PHP projekti vgrajujejo nekaj naših
        komponent ali pa uporabljajo celotno ogrodje in želimo se jim zahvaliti na naši spletni strani.
        Deljenje je ena naših glavnih vrednot in radi razmišljamo o teh projektih kot del "družine" Symfony.
    </p>
{% endblock %}
