{% block title 'Szybkie Wprowadzenie' %}
{% block keywords '' %}
{% block description 'Znajdź pliki do pobrania, skontaktuj się ze społecznością, przeczytaj artykuły, znajdź terminy szkoleń' %}

{% block intro %}
    <h2>Szybkie Wprowadzenie</h2>
    <p>
        Co mogłoby Cię bardziej przekonać do Symfony od spróbowania go samemu?
        To nic nie kosztuje, może poza chwilą Twojego czasu. Krok po kroku
        będziesz odkrywać kolejne fragmenty wszechświata Symfony.
        Bądź jednak ostrożny, bo Symfony może okazać się uzależniające już od
        pierwszego spotkania.
    </p>
{% endblock %}

{% block read 'Czytaj' %}
{% block downloadpdf 'Pobierz PDF' %}
