{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony 的 IRC 主频道地址是 <a href="irc://irc.freenode.net/symfony">#symfony</a> (Freenode)。
        <ul>
            <li>Windows 操作系统下，最常用的 IRC 客户端是 <a href="http://www.mirc.fr/">mIRC</a>；</li>
            <li>Mac 操作系统下，可容易获取 <a href="http://colloquy.info/">Colloquy</a>。</li>
        </ul>
    </p>
    <p>
        您若希望查阅目前 Symfony 的状况或想参与指导 Symfony 技术路线，请参加
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">每周的 IRC 会议</a>。
    </p>
    <p>
        您若希望和讲您母语人士保持联系或获得帮助，请连接到以下频道：
        <ul>
            <li>葡萄牙语（巴西）：<a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>法语：<a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>德语：<a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>俄语：<a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>西班牙语： <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>波兰语：<a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
        请到 Symfony 网站的国际<a href="{{ marketing_path('community') }}">社区</a>专栏查找更多得到帮助的渠道 (邮件列表、论坛等)。
    </p>
{% endblock %}
