{% block title '邮件列表' %}
{% block keywords '' %}
{% block description '' %}

{% block label '邮件:' %}
{% block submit '订阅' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1 用户组</a></h3>
    <p>如果你需要有关 symfony1 的帮助，请订阅 symfony1 用户组的邮件列表：</p>
{% endblock %}

{% block archive %}
    <p>
        你也可以浏览旧的档案库
        <a href="http://groups.google.com/group/symfony-users">用户组群</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2 用户组群</a></h3>
    <p>如果你需要有关 Symfony2 的帮助，请订阅 Symfony2 用户组</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">开发者组群</a></h3>
    <p>
        如果你希望为此项目作出贡献，或希望讨论新的功能，请订阅 symfony 开发者的邮件列表。
    </p>
{% endblock %}
