{% block title 'Technologické výhody Symfony v 6 bodech' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Stejně jako horolezec, který si raději vybere ocelovou karabinu než plastovou,
        tak i vývojář by mnohem raději pracoval s frameworkem, který zjednodušuje jeho
        život a jeho každodenní práci. Jinak musí psát velké množství (často rutinního) kódu &hellip;
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Rychlejší a méně náročná na zdroje</h2>
    <p>
        Ve světě IT není neobvyklé, že se lidé zajímají o výkon aplikace &hellip; jakmile
        dokončí projekt! Tedy, jakmile je vše navrženo po stránce funkční a z pohledu
        technologií. A pokud se následně vše zase zpětně podrobně nerozebere, není
        optimalizace výkonu příliš jednoduchý úkol.
    </p>
    <p>
        Na druhé straně, framework Symfony2 byl od začátku koncipována tak, aby byl rychlý
        a upřednostňoval výkon. Pro srovnání můžeme uvést, že Symfony2 je zhruba
        3 krát rychlejší než dřívější verze 1.4 nebo Zend Framework verze 1.10
        s tím, že jí stačí 2 krát méně paměti.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Neomezená flexibilita</h2>
    <p>
        Ať už jsou vaše potřeby jakékoli, framework Symfony2 se jim dokáže přizpůsobit.
        Jeho "dependency injector" a "Event Dispatcher" ho dělá plně konfigurovatelný
        a jeho jednotlivé stavební kameny jsou navzájem nezávislé. Je to 3-v-1 framework:
    </p>
    <ol>
        <li>Full Stack (kompletní verze): pokud chcete vyvíjet komplexní aplikace a potřebujete kompletní arzenál funkcí.</li>
        <li>Stavební bloky: vytváříte si vlastní framework na základě funkcionality, kterou budete potřebovat.</li>
        <li>Microframework: Symfony2 může být také použita pro vývoj konkrétní funkcionality v nějakém vašem již existujícím projektu,
        aniž byste museli projekt upravovat. Stačí pouze využít konkrétního nezávislého stavebního bloku, který právě potřebujete.</li>
    </ol>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Rozšiřitelnost</h2>
    <p>
        Ve frameworku Symfony2 je vše, od nejmenšího stavebního bloku až po celé jádro
        samotné, prezentováno jako „bundle“ (předchozí verze Symfony měla pluginy).
        Každý bundle má za cíl rozšířit framework o nějakou konkrétní funkcionalitu a
        samozřejmě každý takový bundle pak může být také znovu použit v nějakém vašem
        dalším projektu, nebo může být sdílen se Symfony komunitou.
        <br/>
        V každém případě vám systém bundlů umožňuje změnit v rámci Symfony frameworku
        téměř vše, včetně samotného jádra, a přizpůsobit si ho podle vašich potřeb.
        Díky nadefinovaným rozhraním mezi jednotlivými stavebními kameny můžete
        chování frameworku měnit podle libosti tím, že vyměníte určitou komponentu,
        aniž by bylo nutné něco měnit ve vašem kódu či složitě přenastavovat.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Stabilita a udržitelnost</h2>
    <p>
        Všechny „major“ verze Symfony, vydané společností Sensio Labs, mají zajištěnou
        podporu samotnou společností po dobu 3 let. A dokonce po celou dobu životnosti
        v případech, kdy se ve frameworku odhalí bezpečnostní díra.
        <br/>
        Pro zajištění ještě větší stability, Symfony dokonce garantuje kompatibilitu
        mezi jednotlivými „minor“ verzemi v rámci API, které je definované ve veřejných
        rozhraních frameworku.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Radost z vývoje</h2>
    <p>
        Symfony2 také jako vysoce funkční prostředí zajišťuje pro vývojáře
        určitou úroveň pohodlí. Tím, že se Symfony2 postará o řadu nepříjemných
        úkolů za vás, umožní vám soustředit se na skutečné problémy a zlepší tak
        vaši produktivitu.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Snadnost použití</h2>
    <p>
        Symfony2 framework je velmi flexibilní, aby uspokojil potřeby profesionálů
        a pokročilých uživatelů. Navíc je snadno uchopitelný a přístupný i pro
        začátečníky. Bohatá dokumentace, komunita, profesionální
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>,
        a v rámci frameworku „zabudované“ best practice postupy (jsou přirozeně
        využívány, aniž bychom si toho museli být vědomi nebo jim museli rozumět),
        to vše dovoluje začátečníkům osvojit si práci se Symfony velmi rychle.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Váš hlas pro Symfony znamená, že máte dlouhodobou vizi ohledně vaší aplikace
        či celého projektu a také to znamená, že víte, jak zjednodušit každodenní
        život vašich vývojářů.
    </p>
{% endblock %}
