{% block title '10 zásad pro výběr správného frameworku' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Pokud jste se dostali až sem, je vidět, že to s frameworkem myslíte 
        vážně. Výborně! Nyní už tedy zřejmě víte, že budete využívat framework
        pro vývoj vaší webové stránky či aplikace. Ale jaký framework vybrat?
        Na této stránce najdete seznam zásad, který můžete použít, abyste se 
        vyvarovali chybám při jeho výběru:
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Oblíbenost a rozsah komunity</h2>
    <p>
        Čím více je framework známý a rozšířený mezi vývojáři, tím více žije, 
        vyvíjí se a stává se více použitelným: nové nápady, kvalita, pluginy, atd.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Filozofie</h2>
    <p>
        Filozofie frameworku je zásadní. Je to hlavní kritérium pro zajištění toho,
        aby splňoval vaše požadavky. Nástroj vyvinutý profesionály pro jejich vlastní 
        potřeby bude samozřejmě splňovat požadavky i ostatních profesionálů.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Udržitelnost</h2>
    <p>
        Před tím, než si vyberete framework, ujistěte se, že je schopný s vaším 
        projektem držet krok po celou dobu jeho života. Toto pak zjednodušuje jak
        správu a údržbu vaší aplikace tak i její modernizaci a rozšiřovaní.   
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Podpora</h2>
    <p>
        Další zásadou, která by neměla být při výběru frameworku přehlížena, je 
        snadné hledání odpovědí na vaše otázky a možnost rychle najít pomoc při
        řešení vašich konrétních problémů. Framework by měl nabídnout alespoň 
        něco z následujícího seznamu:
        <ul>
            <li>podporu samotného tvůrce</li>
            <li>podporu komunity (e-mailové konference, IRC kanál, atd.)</li>
            <li>
                podporu dalších společností (vývoj,
                <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>
                <a href="http://trainings.sensiolabs.com/">školení</a>)
            </li>   
        </ul>
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Osvědčené postupy</h2>
    <p>
        Abychom nezůstali lapeni v nekonečném bludišti našeho či jiného kódu, vždy
        je vhodnější volit interoperabilní řešení, která respektují a dodržují osvědčené
        postupy (best practice) a návrhové vzory.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Bezpečnost</h2>
    <p>
        Každá aplikace je potenciálně zranitelná. Aby se minimalizovalo riziko,
        je vždy lepší si vybrat takový framework, který dokáže zajistit a nabídnout
        bezpečnostní funkce (například ošetřování XSS, apod.).
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7.	Dokumentace</h2>
    <p>
        Množství existující kvalitní literatury o samotném frameworku je absolutní
        nutností pro posouzení jeho kvality a charakteru. Dobře zdokumentovaný nástroj 
        je vždy jednoduší jak používat tak dále spravovat a rozšiřovat. 
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8.	Licence</h2>
    <p>
        Licence jsou jednoduše důležité proto, že mohou mít významný vliv na vaši 
        aplikaci. Například aplikace vyvinutá pomocí frameworku uvolněného pod GPL 
        licencí bude nutně také podléhat licenci GPL. To však ale například není 
        případ frameworku uvolněného pod MIT licencí. 
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9.	Dostupnost zdrojů na trhu</h2>
    <p>
        Je možné předpokládat, že budete chtít kolem sebe vybudovat tým techniků 
        a vývojářů, kteří se ať už během vývoje nebo dlouhodoběji budou starat o
        vývoj, údržbu a rozšiřování vaší aplikace. Vždy je tedy dobré se ujistit,
        zda je pro daný framework na trhu práce dostatek lidí s odpovídajícími 
        znalostmi a dovednostmi.
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. Vyzkoušejte to!</h2>
    <p>
        Toto je klíčová věc! Nenechte se uspokojit pouze čtením recenzí, komentářů
        a různých srovnání na internetu. Jedině tak, že si framework sami vyzkoušíte a 
        otestujete, si můžete udělat svůj osobní názor a ujistit se, že je pro vás ten 
        pravý a jste s ním plně spokojeni.   
    </p>
{% endblock %}

{% block summary %}
    <p>
        Výběr frameworku byste neměli brát na lehkou váhu. Je to závazek na dlouhou 
        dobu, a proto pečlivě zvažte všechny aspekty a ujistěte se, že jste zvolili správně!
    </p>
{% endblock %}
