{% block title 'Kdy je vhodné použít framework?' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        No &hellip; při vývoji webové aplikace nebo stránek, prostě kdykoli potřebujete!
    </p>
    <p>
        Proč byste vyráběli vlastní kus nábytku, když si můžete přímo z regálu vzít a
        koupit takový, který přesně odpovídá vašemu stylu? Stejně to platí
        i u počítačových aplikací. Proto před tím, než se ponoříte do vývoje vlastního frameworku,
        není na škodu si udělat menší průzkum.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Obecné potřeby vs. specifické požadavky</h2>
    <p>
        Kromě frameworků existují i další řešení, které je možné použít pro vývoj
        jak webových stránek, tak aplikací. Mohou to být například systémy pro
        správu obsahu CMS (Content Management System) a jejich doplňkové moduly
        nebo také profesionální krabicová řešení jako CRM (Customer relationship management),
        e-commerce, apod. Pokud jejich funkce přesně odpovídají vašim současným
        a budoucím potřebám, není co řešit. Běžte do toho! Nemá smysl znovu objevovat Ameriku.
    </p>
    <p>
        Na druhou stranu, pokud máte nějaké specifické požadavky, konkrétní firemní
        pravidla nebo dokonce potřebu kombinovat různé typy aplikací (např. publikační systém
        s internetovým obchodem), potom je využití frameworku nezbytným řešením. Umožní
        vám to vyvinout aplikaci tak, aby přesně splňovala vaše současné potřeby,
        byla kvalitní a inovativní a neobsahovala zbytečné části, které mohou vnášet
        do vašeho systému zmatek.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Správné otázky</h2>
    <p>
        Abyste si mohli být jistí, že jste zvolili správně jak z krátkodobého tak
        dlouhodobého hlediska, je nezbytné si položit správné otázky:
    </p>
    <ol>
        <li>Jaké jsou moje aktuální potřeby? Jsou pokryté krabicovým řešením?</li>
        <li>Jaké znalosti a dovednosti musím mít, když si vyberu daný framework?</li>
        <li>Bude možné vyvinuté řešení rozšiřovat a aktualizovat?</li>
    </ol>
    <p>
        V neposlední řadě je také dobré si dobře promyslet vaše požadavky a nechytit
        se do pasti, kdy se nám požadavky zdánlivě zdají jednoduché. V mnoha případech
        se implementace byznys pravidel a funkcí často různě komplikuje a není vždy
        úplně jednoduché je snadno začlenit do systému.
    </p>
    <p>
        Mimochodem, Symfony se také velice dobře hodí pro „mini-projekty“.
    </p>
{% endblock %}

{% block summary %}
    <p>Framework může být ušit na míru všem požadavkům.</p>
    <p>&hellip; to ale nemusí být vždy nutné, zvláště když jsou požadavky obecnější povahy.</p>
    <p>
        Před tím, než uděláte konečné rozhodnutí, zmapujte si do detailu vaše současné
        a budoucí požadavky a potom si porovnejte různá řešení, která jsou dostupná na trhu.
    </p>
{% endblock %}
