{% block title 'Symfony explicado a um Administrador de Sistemas' %}
{% block keywords 'symfony, administrador de sistemas' %}
{% block description 'Symfony explicado para um Administrador de Sistemas' %}

{% block intro %}
    <p>
        Implementar uma nova solução não envolve somente aqueles que a usam.
        Com o framework Symfony, outras linhas de negócio serão afetadas.
        Isto é verdade, por exemplo, para um administrador de sistemas,
        que é responsável por hospedar as aplicações da empresa.
    </p>
{% endblock %}

{% block body %}
    <p>
        Administradores de sistemas, não se preocupem: o Symfony é PHP, nem
        mais, nem menos. O Symfony apenas requer dois diretórios com permissões
        de escrita e que podem ser ajustados e totalmente configurável para
        se adaptar às normas de segurança da empresa. O Symfony facilita a forma
        como as aplicações são hospedadas, por exemplo, guardando as sessões na
        base de dados ou a implementação dos padrões HTTP que permite usar
        nativamente aceleradores como Varnish no website. O Symfony
        simplica o trabalho do administrador de sistemas.
    </p>
{% endblock %}
