{% block title "Un coup d'œil sur Symfony" %}
{% block keywords '' %}
{% block description "C'est quoi Symfony - Commencez ici si vous voulez une brève explication" %}

{% block introduction %}
    <p>
        Symfony est un framework de développement Web PHP.
        <br />
        Cela ne répond pas à votre question? D'accord, Essayons à nouveau.
        <br />
        Symfony est un <a href="#framework">framework PHP</a>,
        une <a href="#philosophy">philosophie</a>,
        et une <a href="#community">communauté</a>
        - qui travaillent tous ensemble en harmonie.
    </p>
{% endblock %}

{% block framework %}
    <h2 class="title_09"><a name="framework">un framework PHP</a></h2>
    <p>
        Afin de mieux comprendre ce qu'est un framework est, Laissons le monde de
        l'informatique pour un instant et imaginons une aventure d'alpinisme. 
        Le développement d'une application est très similaire à l'escalade d'une
        paroi rocheuse: vous êtes au fond (vous avez une application à créer)
        et vous devez atteindre le sommet (et être heureux avec la réalisation
        de concevoir une application qui fonctionne parfaitement.)
    </p>
    <p>
        Si personne n'a jamais escaladé le mur en question, vous devrez le faire
        vous-même: routes d'essai, retour en arrière de temps en temps afin que 
        vous ne restez pas coincé dans un coin, conduire à pitons, etc. En revanche,
        si le mur a déjà été conquis, ceux qui sont passés avant vous auront déjà
        effectué ces essais, en ouvrant des pistes possibles (le framework) et installant
        les outils qui faciliteront la montée (votre travail).
    </p>
    <p>
        Fondamentalement, un framework se compose de :
    </p>
    <ul class="list_02">
        <li>
            <strong>Une boîte à outils</strong>
            - un ensemble d'éléments préfabriqués, des composants logiciels intégrables rapidement.
            Cela signifie que vous devrez écrire moins de code, avec moins de risques d'erreur.
            Cela signifie également une plus grande productivité et la capacité de consacrer plus
            de temps à faire ces choses qui offrent une plus grande valeur ajoutée, telles que la
            gestion des principes directeurs, des effets secondaires, etc.
        </li>
        <li>
            <img src="/images/en/best_practices_guaranteed.jpg" alt="Les meilleures pratiques garanties!" class="box_article_illustration" />
            <strong>Une méthodologie</strong>
            – un "schéma de montage" pour les applications. Une approche structurée peut sembler
            contraignant au premier. Mais en réalité, il permet aux développeurs de travailler à
            la fois de manière efficace et efficiente sur les aspects les plus complexes de la tâche,
            et l'utilisation des meilleures pratiques garantit la stabilité, la maintenabilité
            et l'évolutivité des applications que vous développez.
        </li>
    </ul>
    <p>
        Et bien qu'il soit évident, nous avons pensé qu'il valait mieux le dire quand même - Symfony
        est un framework PHP, ce qui signifie qu'il permet aux applications web d'être construit en PHP!
    </p>
{% endblock %}

{% block philosophy %}
    <h2 class="title_09"><a name="philosophy">Une philosophie</a></h2>
    <p>
        Ce qui pourrait être plus utile qu'une application développée par les utilisateurs pour leurs
        propres besoins ? C'est l'histoire de la genèse de Symfony - né de l'imagination des concepteurs
        de sites Web à SensioLabs, un développeur web dans son propre droit. Symfony a été rendu accessible
        à tous sous une licence Open Source. Cela profite à d'autres développeurs, qui ont également la
        possibilité de l'améliorer en y ajoutant leurs propres modules. Tout cela a été fait dans un
        environnement de bonnes pratiques, de la normalisation et l'interopérabilité des applications.
    </p>
{% endblock %}

{% block community %}
    <h2 class="title_09"><a name="community">Une communauté</a></h2>
    <p>
        Et derrière Symfony, il y a des gens. Nous sommes les membres de SensioLabs. Nous avons créé Symfony
        pour résoudre nos propres problèmes de développement web et nous sommes heureux de le promouvoir.
        Nous sommes aussi une communauté composée de développeurs, d'utilisateurs et de contributeurs qui
        s'est formé autour de Symfony au cours des 5 dernières années.
    </p>
{% endblock %}

{% block conclusion %}
    <p>Symfony est un framework PHP.</p>
    <p>Symfony est un framework, un ensemble d'outils et une méthodologie de développement.</p>
    <p>Au-delà des outils, Symfony est aussi une philosophie et une communauté.</p>
{% endblock %}
