{% block title 'Composants Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block what_is_a_component %}
    <p>
        Les Composants Symfony sont un ensemble de librairie PHP indépendantes et réutilisables.
        Ils deviennent une base standard sur laquelle les meilleures applications PHP
        sont construites. Vous pouvez utiliser chacun des composants dans vos applications
        indépendamment du framework Symfony.
    </p>
{% endblock %}

{% block installation_title 'Installation' %}

{% block installation %}
    <p>
        Utilisez <a href="{{ doc_path({version: 'master', page: 'cookbook/composer'}) }}">Composer</a>
        pour installer un des composants de Symfony dans votre projet PHP :
    </p>
{% endblock %}

{% block component_list_title 'Liste des composants' %}
