{% block title 'Distributions' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Télécharger et configurer une distribution Symfony est indiscutablement
        la manière la plus facile et rapide de débuter avec Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">Qu'est-ce qu'une Distribution ?</a></h2>
    <p>
        Au même titre que les distributions Linux, connues pour leur
        installation facile et leurs fonctionnalités spécifiques, une
        distribution Symfony est construite autour de composants Symfony2,
        d'une sélection de bundles, d'une architecture,
        d'une configuration par défaut et d'un optionnel système
        de configuration Web.
    </p>
    <p>
        D'un point de vue pratique, il s'agit d'une solution simple,
        facile d'installation et complète pour débuter avec Symfony.
        Même dans le domaine informatique, une bonne première impression
        est la clef...
    </p>
    <h2 class="title_09"><a name="why">Pourquoi des Distributions ?</a></h2>
    <p>
        Une distribution, avec sa sélection de bundles, sa structure
        et sa configuration par défaut, est construite pour combler
        un besoin utilisateur précis : faciliter la familiarisation,
        Système de Gestion de Contenu pour créer un site web dynamique,
        ou bien une version complète pour tester le framework.
    </p>
    <p>
        Cependant, comparées à ses compétiteurs, la force et l'innovation
        de Symfony reposent dans le fait que tout peut être modifié :
        la distribution est un paquet, mais celui-ci est conçu pour
        rester évolutif, comme si vous l'aviez créé vous-même.
        Vous pouvez ajouter ou retirer des bundles, changer la
        configuration fournie, ou bien modifier la structure
        des fichiers, Etc. Tout cela en fonction de vos besoins
        et désirs !
    </p>
    <h2 class="title_09"><a name="available">Distributions disponibles</a></h2>
    <p>
        L'<a href="{{ marketing_path('download') }}">Édition Standard</a> est
        de loin la meilleure version pour débuter. Elle contient les bundles
        les plus couramment utilisés et possède une configuration simple et
        compatible avec la plupart des projets.
    </p>
    <p>
        Basée sur l'Édition Standard, l'
        <a href="https://github.com/symfony/symfony-hello-world">Édition Hello World</a>
        est la meilleure distribution pour évaluer les
        performances brutes du framework.
    </p>
    <p>
        L'
        <a href="https://github.com/symfony-cmf/standard-edition">Édition Symfony CMF Standard</a>
        est la meilleure distribution pour débuter avec
        <a href="http://cmf.symfony.com">Symfony CMF</a>.
    </p>
    <p>
        L'
        <a href="https://github.com/gimler/symfony-rest-edition">Édition Symfony REST</a>
        montre comment construire une application qui fournit une API RESTful en utilisant
        <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> et plusieurs autres Bundles liés.
    </p>

{% endblock %}
