{% block title 'Distributions' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Télécharger et configurer une distribution Symfony est indiscutablement
        la manière la plus facile et rapide de débuter avec Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Qu'est-ce qu'une Distribution ?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Au même titre que les distributions Linux, connues pour leur
        installation facile et leurs fonctionnalités spécifiques, une
        distribution Symfony est construite autour de composants Symfony2,
        d'une sélection de bundles, d'une architecture,
        d'une configuration par défaut et d'un optionnel système
        de configuration Web.
    </p>
{% endblock %}

{% block why_distribution_title %}Pourquoi des Distributions ?{% endblock %}
{% block why_distribution_description %}
    <p>
        Une distribution, avec sa sélection de bundles, sa structure
        et sa configuration par défaut, est construite pour combler
        un besoin utilisateur précis : faciliter la familiarisation,
        Système de Gestion de Contenu pour créer un site web dynamique,
        ou bien une version complète pour tester le framework.
    </p>
{% endblock %}

{% block available_distribution_title %}Distributions disponibles{% endblock %}
{% block available_distribution_description %}
    <ul>
        <li>
            L'
            <a href="https://github.com/symfony/symfony-hello-world">Édition Hello World</a>
            est la meilleure distribution pour évaluer les
            performances brutes du framework.
        </li>
        <li>
            L'
            <a href="https://github.com/symfony-cmf/standard-edition">Édition Symfony CMF Standard</a>
            est la meilleure distribution pour débuter avec
            <a href="http://cmf.symfony.com">Symfony CMF</a>.
        </li>
        <li>
            L'
            <a href="https://github.com/gimler/symfony-rest-edition">Édition Symfony REST</a>
            montre comment construire une application qui fournit une API RESTful en utilisant
            <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> et plusieurs autres Bundles liés.
        </li>
    </ul>
{% endblock %}
