{% block title 'Les projects utilisant Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony n'est pas seulement un framework populaire utilisé par de nombreuses petites et grandes
        entreprises, mais est également la meilleure plateforme pour construire des projets Open-Source.
        De nombreux projets PHP embarquent certains de nos composants ou bien utilisent le framework complet,
        et nous souhaitons les remercier sur notre site.
        Le partage est l'une de nos valeur clée et nous aimons penser à ces projets comme faisant partie
        de la "famille" Symfony.
    </p>
{% endblock %}
