{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Główny kanał IRC dla Symfony to <a href="irc://irc.freenode.net/symfony">#symfony</a> na Freenode.
        <ul>
            <li>Dla Windows najpopularniejszy jest <a href="http://www.mirc.fr/">mIRC</a>;</li>
            <li>Na Macu możesz użyć <a href="http://colloquy.info/">Colloquy</a>.</li>
        </ul>
    </p>
    <p>
        Jeśli chcesz poznać innych użytkowników Symfony mówiących w Twoim ojczystym języku,
        wejdź na jeden z poniższych kanałów:
        <ul>
            <li>Portugalski (Brazylia): <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Czeski: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
            <li>Francuski: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Niemiecki: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Rosyjski: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Hiszpański: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Polski: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
        Aby znaleźć więcej informacji (listy dysksyjne, forum, itp.) odwiedź dział
        <a href="{{ marketing_path('community') }}">społeczność</a> na stronie
        internetowej symfony.
    </p>
{% endblock %}
