{% block title 'Symfony 推荐给系统管理员(系统运维人员)' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        实施新的解决方案，不仅关系到谁使用它。使用Symfony框架，其他业务也将受影响。
        这是真实的，例如，对于负责托管公司的信息系统应用的系统运维。
    </p>
{% endblock %}

{% block body %}
    <p>
        系统运维人员，不要担心：Symfony就是PHP，没什么。 Symfony的只需要写两个文件夹，
        它可以完全配置，以适应公司建立安全策略。 symfony中还有利于集结的应用程序被托管，
        例如通过存储会话中数据库或执行HTTP标准，以在本地处理的网站加速器比如Varnish。 
        symfony会简化系统运维人员的工作。
    </p>
{% endblock %}
