{% block title 'Symfony 推荐给项目负责人（甲方）' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        使用的Symfony不会改变任何东西......或者对项目负责人来说几乎没有任何东西要改变。
    </p>
{% endblock %}

{% block body %}
    <p>
        该项目负责人仍然是负责确定功能和监督项目，而在技术方面委托给开发者。当谈到监督
        项目，Symfony的将显著改变项目负责人和开发者之间的关系：因为“通用”
        功能（数据库连接模块，表格等）可重复使用，与Symfony的开发者可以专注于增值
        业务的特性，这是最重要的项目管理者。此外，因为符合PHP标准，应用会更容易与的其余部分的
        信息系统做接口，这将有利于它的测试和部署在生产。虽然它并没有从根本上改变项目负责人的工作，
        使用的Symfony开发一个应用程序保证速度，可靠性和一个成功的项目。
    </p>
{% endblock %}
