{% block title '向我的上司介绍Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>Symfony2是一个PHP框架 - 一个框架来开发PHP编写的网站或应用程序。</p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Symfony 对比 CMS and 打包软件</h2>
    <p>
        一个框架，一个CMS（内容管理系统），以及一个打包解决方案不能满足同样的需求或需要相同的投入
        和/或相同的专门知识。
    </p>
    <p>
        使用<strong>套装软件</strong>，很简单：除了改变一些参数，企业必须安于
        可用功能，其受限于最初定义的需求;或者相反，功能过于庞大。除了
        从它集成到现有的信息系统，选择套装软件需要很少的专业技术知识。
    </p>
    <p>
        A <strong> CMS</strong>及其附加模块可以用于设计网站和应用程序是非常接近
        企业的需要，只要所需的模块可用并可维护！
    </p>
    <p>
        一个<strong>框架</strong>提供各种定制的灵活性开发可用于设计应用程序
        完全满足表达的需要。然而，它的发展需要相关技术的集成和维护专业知识。
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Symfony: 开发工具</h2>
    <p>
        无论是手写或使用已开发完成的一个框架，一个PHP应用程序就是是一个PHP应用程序。
        并且在这两种情况下，都需要专业技术。然而一个框架的存在要保证应用程序符合行业规则，
        就应该是结构良好，可维护和可扩展性。这也节省开发者的时间，通过重用通用模块，
        使他们能够专注于具体的业务功能。
    </p>
{% endblock %}
