{% block title '6 gute Gründe für Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Ein Framework zu benutzen ist eine gute Sache. Die richtige Entscheidung zu treffen ist noch eine Bessere.
        Ohne genauer ins Detail zu gehen und ohne bestimmte Reihenfolge, sind
        hier 6 gute Gründe um Symfony zu verwenden, aus strategischer Sicht.
        <br />
        Für technische Aspekte klicken Sie bitte
        <a href=" {{ marketing_path('six-good-technical-reasons')}} ">hier</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Reputation</h2>
    <p>
        Gestartet in 2005, wurde Symfony schnell von, in dem Umfeld aktiven, Fachleuten aufgegriffen und ist
        heute ein stabiles System, welches sowohl bekannt, als auch international anerkannt ist.
        Die Anzahl der Referenzen spricht für sich, da sie seit dem Start erheblich gestiegen ist.
        Symfony ist außerdem eine aktive Community: Entwickler, Integratoren, Benutzer und andere
        Mitwirkende, sie alle beteiligen sich an der ständigen Entwicklung des Systems.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2. Beständigkeit</h2>
    <p>
        Hinter Symfony steht eine Firma: Sensio. Gegründet vor mehr als 12 Jahren,
        Sensio ist eine Web-Agentur mit namhaften Referenzen.
        Für die eigenen Zwecke ursprünglich gedacht, ist das Symfony Framework heutzutage
        immer noch das tägliche Tool für dessen eigene Teams, um Kundenprojekte zu verwirklichen.
        Entwickelt von Profis für Profis, ist Symfony in erster Linie ein pragmatisches Mittel,
        welches Anforderungen aus der realen Welt adressiert.
    </p>
    <p>
        Beständigkeit ist zudem Teil von langfristiger Unterstützung.
        Heute wird diese <a href="http://sensiolabs.de/services/services.html">Unterstützung</a>
        von Sensio bereitgestellt.
        Darüber hinaus hat sich um Symfony herum ein komplettes Ökosystem gebildet:
        die Community (Mailinglisten, IRC, usw.) und zahlreiche andere Dienstleister, die in das
        Framework investiert haben.
    </p>
    <p>
        Zuletzt sei noch erwähnt, dass Symfony unter der Open Source MIT Lizenz veröffentlicht ist,
        was mit keinen Bedingungen verknüpft ist und sowohl die Entwicklung von Open Source,
        als auch von proprietär Software erlaubt.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3. Referenzen</h2>
    <p>
        Interne Netzwerke, große öffentliche Webseiten, soziale Netzwerke und Community-Seiten,
        Management- und Workflow-Anwendungen, usw. Es fehlt nicht an Beispielen:
        Hunderte von Seiten und Anwendungen von jeder Größe und Art vertrauen in Symfony.
        <br/>
        Namentlich seien genannt Yahoo!, Dailymotion, Opensky.com, Exercise.com
        und sogar Anwendungen wie phpBB und Drupal.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4. Innovation</h2>
    <p>
        Symfony enthält alles, was Sie von einem Framework erwarten: Geschwindigkeit,
        Flexibilität, wiederverwendbare Komponenten, usw. Hinzukommt die Struktur
        und die Verwendung von Best Practices. Nicht schlecht!
    </p>
    <p>
        <!-- TODO -->
        Aber das ist nicht alles! Sensio hat sich zur Gewohnheit gemacht an etablierten Ordnungen zu rütteln und
        ist stehts nach Exzellenz bestrebt. Symfony (und die komplette Community) hat eine
        Neugierde entwickelt, welche weit über PHP hinaus geht.
        Für Innovationen zögern wir nicht und suchen überall nach Ideen und
        übernehmen Sie dann in PHP, so wie es mit Dependency Injection der Fall war, welches aus der Java-Welt kommt.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5. Ressourcen</h2>
    <p>
        Wenn Sie Symfony benutzen sind sie "niemals alleine mit ihrem Bildschirm".
        Sei es eine Frage an die Community (Mailinglisten, IRC, usw.) oder Unternehmensbetreuung (
        <a href="http://sensiolabs.de/services/consulting_und_audits.html">Consulting</a>,
        <a href="http://sensiolabs.de/services/schulungen.html">training</a>, usw.),
        Sie werden immer Antworten auf Ihre Fragen finden.
        <br />
        Ausgehend von dem Prinzip "eine undokumentierte Zeile ist eine Zeile, die nicht existiert",
        werden Sie viele Symfony bezogene Stellen finden,
        welche Ihnen bei der Entwicklung für Ihre Webseiten und Anwendungen helfen.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6. Interoperabilität</h2>
    <p>
        Die Idee hinter Symfony: Versperren Sie sich nicht den Weg mit Symfony! Lassen Sie es zu
        Anwendungen zu bauen, die exakt Ihren Anforderungen entsprechen!
        <br />
        Symfony respektiert die existierenden "de facto Standards" von PHP:
        PHPUnit, Namenkonventionen von Klassen, usw.
        Darüber hinaus erlaubt Symfony Teile von sich zu verwenden (Dependency Injection, Übersetzungen,
        Formular-Verwaltung, usw.) ohne das komplette Framework verwenden zu müssen.
    </p>
    <p>
        Übrigends ist Symfony so vollständig kompatibel, als dass es intern selbst externe Software benutzt
        (ORM Doctrine, Swiftmailer, usw.)!
    </p>
{% endblock %}

{% block summary %}
    <p>Sie können nichts falsch dabei machen Symfony zu wählen!  Und niemand ist je gefeuert worden, weil er Symfony eingesetzt hat.</p>
{% endblock %}
