{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Главный IRC канал для symfony <a href="irc://irc.freenode.net/symfony">#symfony</a> на Freenode.
        <ul>
            <li>Для Windows, лучше использовать <a href="http://www.mirc.fr/">mIRC</a>;</li>
            <li>Для Mac, можете поиграться с <a href="http://colloquy.info/">Colloquy</a>.</li>
        </ul>
    </p>
    <p>
        Если вы хотите посмотреть текущую активность по проекту Symfony или напрямую
        поучаствовать в нем, присоединяйтесь к 
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">еженедельным IRC встречам</a>.
    </p>
    <p>
        Если вы хотите пообщаться с людьми, использующими symfony и говорящими с вами на одном языке
        присоединяйтесь к локальным каналам :
        <ul>
            <li>Бразильский Португальский: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Французский: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Немецкий: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Русский: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Испанский: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Польский: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
        Чтобы получить больше помощи, обратитесь к глобальному <a href="{{ marketing_path('community') }}">сообществу</a> сайта
         symfony (списки рассылки, форум...).
    </p>
{% endblock %}
