{% block title 'Списки рассылки' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit 'Подписаться' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">Группа пользователей symfony1</a></h3>
    <p>Если вам нужна помощь по symfony1, просмотрите список рассылки symfony1:</p>
{% endblock %}

{% block archive %}
    <p>
        Также вы можете просмотреть архив
        <a href="http://groups.google.com/group/symfony-users">группы</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Группа пользователей Symfony2</a></h3>
    <p>Если вам нужна помощь по Symfony2, просмотрите список рассылки Symfony2:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Группа разработчиков</a></h3>
    <p>
        Если вы хотите способствовать продвижению проекта, обсудить новый функционал, посмотрите 
        на список рассылки для разработчиков Symfony:
    </p>
{% endblock %}
