{% block title 'Symfony explained to a Developer' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony is an Open Source distributed PHP framework. Of course,
        when you know how to develop in PHP, you don't need a framework.
        However, it is very nice to have one!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">A framework to simplify developments</h2>
    <p>
        A framework helps you work better (structuring developments) and
        faster (reusing generic modules). A framework facilitates
        long-term maintenance and scalability by complying with standard
        development rules. Compliance with development standards also
        simplifies integrating and interfacing the application with the
        rest of the information system.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Why Symfony?</h2>
    <p>
        Symfony is an internationally recognized, stable development
        environment. Symfony is supported by SensioLabs, a company with
        over 13 years of web development experience, and by a vibrant
        international community, which ensure its longevity. An innovative
        and easy-to-use work environment thanks to integrating solutions
        created in other environments such as dependency injection (taken
        from Java) and specifically developed solutions such as the Web
        Debug Toolbar or the Web Profiler. Finally, by adopting de facto
        standards, Symfony does not confine you to its environment, but
        allows you to choose the software components that you want to use.
    </p>
{% endblock %}
