{% block title 'Canaux IRC de Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Voici les canaux IRC officiels de Symfony sur Freenode :
    </p>
    <ul>
        <li>
            <a href="irc://irc.freenode.net/symfony">#symfony</a>, le canal
            principal et le meilleur moyen d'obtenir du support pour Symfony.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-dev">#symfony-dev</a>, le
            canal pour discuter du développement de Symfony lui-même.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-docs">#symfony-docs</a>, le
            canal pour discuter de la documentation de Symfony.
        </li>
    </ul>

    <h2>
        Les outils IRC
    </h2>
    <p>
        Voici quelques uns des meilleurs outils pour rejoindre les cannaux IRC :
    </p>
    <ul>
        <li>
            Windows: <a href="http://www.mirc.com/">mIRC</a>.
        </li>
        <li>
            Mac OS X: <a href="http://colloquy.info/">Colloquy</a>, <a href="https://adium.im/">Adium</a>.
        </li>
        <li>
            Linux: <a href="http://hexchat.github.io/">HexChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a>
        </li>
        <li>
            Extensions pour navigateur: <a href="http://chatzilla.hacksrus.com/">ChatZilla</a>
        </li>
        <li>
            Les services de cloud: <a href="https://www.irccloud.com">IRCCloud</a>
        </li>
    </ul>

    <h2>
        Canaux IRC locaux
    </h2>

    <p>
        Si vous préférez entrer en contact avec des personnes utilisant Symfony pour
        vous aider dans votre langue maternelle, connectez vous directement
        sur les canaux suivants :
    </p>
    <ul>
        <li>Portugais Brésilien : <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
        <li>Tchèque: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
        <li>Français : <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
        <li>Allemand : <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
        <li>Russe : <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
        <li>Espagnol : <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
        <li>Polonais : <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        <li>Suédois : <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
    </ul>
{% endblock %}
