{% block title 'Mailing Lists' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email :' %}
{% block submit 'Inscription' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">Users Group de symfony1</a></h3>
    <p>Si vous avez besoin d'aide sur symfony1, pensez à vous inscrire à la mailing list des utilisateurs de symfony1 :</p>
{% endblock %}

{% block archive %}
    <p>
        Vous pouvez aussi consulter les archives de l'ancien
        <a href="http://groups.google.com/group/symfony-users">Users Group</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Users Group de Symfony2</a></h3>
    <p>Si vous avez besoin d'aide sur Symfony2, pensez à vous inscrire à la mailing list des utilisateurs de Symfony2 :</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Developers Group</a></h3>
    <p>
        Si vous souhaitez contribuer au projet, débattre sur une nouvelle
        fonctionnalité, n'hésitez pas à vous inscrire à la mailing list des
        développeurs de Symfony :
    </p>
{% endblock %}
