{% block title 'Mailing Lists' %}
{% block keywords '' %}
{% block description '' %}

{% block discontinued_message %}
    Symfony a abandonné ses mailing lists utilisateurs en Juin 2015
    (<a href="{{ path('blog_post', { slug: 'symfony-support-stack-overflow-as-the-main-medium' }) }}">Lire l'annonce</a>).
    Le support communautaire est maintenant fournit sur <a href="http://stackoverflow.com/questions/tagged/symfony">Stack Overflow</a>.
{% endblock %}

{% block read_only_message %}
    Les mailing lists suivantes ne sont plus actives mais sont maintenues en
    lecture seule pour des besoins de références.
{% endblock %}

{% block symfony2_title %}Symfony2 Users Group{% endblock %}
{% block symfony2_description %}
    Le support communautaire pour Symfony 2 et 3 est remplacé par le
    <a href="http://stackoverflow.com/questions/tagged/symfony">tag Symfony</a> sur Stack Overflow.
{% endblock %}

{% block symfony1_title %}symfony1 Users Group{% endblock %}
{% block symfony1_description %}
    Le support communautaire pour l'ancien Symfony 1 est remplacé par le
    <a href="http://stackoverflow.com/questions/tagged/symfony">tag symfony1</a> sur Stack Overflow.
{% endblock %}

{% block symfonydev_title %}Developers Group{% endblock %}
{% block symfonydev_description %}
    Les discussions à propos du développement du framework Symfony sont remplacées par
    la section <a href="https://github.com/symfony/symfony/issues">Symfony Issues</a> de GitHub.
{% endblock %}
