{% block title 'Le support Symfony' %}
{% block keywords '' %}
{% block description 'Le support Symfony fournit par la communauté et le support professionnel fournit par SensioLabs.' %}

{% block title_community_support %}Le support communautaire{% endblock %}
{% block stackoverflow_support %}
    Utilisez <a href="http://stackoverflow.com/questions/tagged/symfony">Stack Overflow</a>
    <span>pour poser vos questions et répondre à celles des autres sur Symfony.</span>
{% endblock %}
{% block irc_support %}
    Utilisez le <a href="{{ marketing_path('irc') }}">canal IRC #symfony</a>
    <span>pour obtenir du support en temps réel.</span>
{% endblock %}

{% block title_professional_support %}Le support professionnel{% endblock %}
{% block sensiolabs_support %}
    <a href="http://sensiolabs.com">SensioLabs</a>, l'entreprise derrière Symfony,
    offre un large panel de solutions pour obtenir des meilleurs résultats, plus rapidement. Du
    consulting aux formations et du coaching à la certification.
{% endblock %}
{% block business_solutions %}Voir toutes les solutions professionnelles{% endblock %}
