{% block title 'Загрузка' %}
{% block keywords '' %}
{% block description 'Загрузки, контакт с сообществом, чтение статей, треннинги' %}

{% block intro %}
    <h2>Symfony Standard Edition</h2>
    <p>
        Symfony Standard Edition лучший дистрибутив для начала нового проекта. 
        Он содержит все необходимые пакеты и поставляется вместе с простой 
        системой конфигурации.
    </p>
{% endblock %}

{% block downloadnow 'Скачать сейчас' %}
{% block download 'Скачать' %}
{% block previousversion 'Скачать последний стабильный релиз:' %}
{% block specificversion 'Выбрать версию:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Владеете консолью?</h3>
        <p style="padding-bottom: 0">
            Установите <a href="http://getcomposer.org/">Composer</a> и запустите следующую команду:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ 2.3.0</pre>
    </div>
    <h3 class="title_05">Инструкции по установке</h3>
    <ol>
        <li>
            Скачайте один из архивов куда-либо в корневую директорию веб-сервера. 
            Если у вас установлен Git, вам следует скачать Symfony2 "without vendors", 
            это добавит некоторого удобства.
        </li>
        <li>
            Следуйте инструкциям в README.md файле
            (это просто текстовый файл), который находится в скаченном архиве.
        </li>
        <li>Наслаждайтесь!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">КОМПОНЕНТЫ SYMFONY</h2>
    <p>
        Помимо того, что Symfony - полноценный фреймворк, также это набор автономных компонентов. 
        Вы можете <a href="{{
        marketing_path('components') }}">скачать и установить</a> их независимо от самого фреймворка.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY И GIT</h2>
    <p>
        <strong>Официальный репозиторий Symfony2</strong> расположен на Github
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Вы должны использовать только этот репозиторий, если хотите использовать новейшую версию 
        и не заботиться об установке вручную.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Версия symfony 1.4 - это последний релиз долгосрочной поддержки для ветки 1.Х и он 
        поддерживался до ноября 2012.
        Если вы создаете новый проект, вам следует использовать
        <a href="#top">Symfony2</a>.
    </p>
    <p>
        Однако, даже если вы уже используете symfony 1.x проект, вы
        все равно можете получить доступ к 
        <a href="{{ path('legacy_doc_home') }}">документации</a>
        для всех 1.x версий,
        <a href="#legacy">скачать</a> любую стабильную версию, или получить доступ к инструментам symfony 1.x на
        <a href="{{ path('legacy_home') }}">legacy</a>
        странице. Вы также можете получить symfony1, используя
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Если вы хотите начать новый проект, используя symfony 1.4, скачайте sandbox версию
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        исходный код
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        или сделать <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>
        из SVN репозитория.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Предыдущие релизы</h2>
    <p>Скачайте последние версии предыдущих стабильных релизов:</p>
{% endblock %}
