{% block title '以六个小教程了解 Symfony 技术相关的优势' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        就像一个登山者会选择在一个钢钩而不会选择塑料的，一个开发者宁愿工作提供了一个框架，简化了他的
        他的生活和日常工作。不然，有太多的代码需要写…
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.更快、更贪婪</h2>
    <p>
        在IT世界，对人们来说关注一个应用程序的性能并不罕，一旦他们完成了项目！那是，所有的一切都已经在功能和技术设计
        水平设计好了。即使你把所有的事情分开，性能优化也不是容易的任务。
    </p>
    <p>
        另一方面，Symfony2构思从一开始就要快，具有较强的强调性能。相比之下，Symfony2是约3倍的速度比
        Symfony 1.4版和Zend框架1.10，同时也占用了2倍更少的内存。
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.无限的灵活性</h2>
    <p>
        无论您需要的是什么，Symfony2都是试用的。其依赖注射器和事件调度使它完全可配置，
        每一个完全独立的块。一个三位一体的框架，分类如下：
    </p>
    <ol>
        <li>全栈（完整版）：你想开发一个复杂的应用程序，你需要很多的功能。</li>
        <li>一砖一瓦：根据你需要的功能建立你的框架。</li>
        <li>Microframework：作为一个独立体，Symfony2也可以用在你的项目开发一个特定的功能。无需重新开发，
            无需安装的整个框架，但是只有你需要特定的块。 </li>
    </ol>
    <p>
        持久性也涉及到长期支持。今天，这个<a href="http://sensiolabs.com/en/support/sensiolabs_support.html">
        支持</a>自然是SensioLabs提供。但也有一个完整的生态系统，自推出以来，围绕Symfony已经成长起来的：
        社区（邮件列表，IRC等）还有已投入此框架的许多其它服务性的公司。
    </p>
    <p>
        最后，它也与实现可持续发展的观点，Symfony根据开源MIT许可是分布式的，不强加限制，并允许开放源码的开发以及专有的应用程序。
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.可扩展性</h2>
    <p>
        从最小的砖到完整的核心本身，都是作为一个“捆绑”（或插件在symfony ）在Symfony2中。每个bundle是
        给框架添加功能，当然，每个bundle也可以重复使用在另一个项目或共享与其他社区。
        <br/>
        在任何情况下，bundle系统让在symfony中的一切改变，包括核心本身。使用该系统的接口契约之间的砖，
        该框架的行为，因此可以随意改变，而不需要完整的重构。
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.稳定的、可持续的</h2>
    <p>
        由sensiolabs开发，symfony的主要版本都公司支持3年了。甚至支持超过期限的安全相关问题。
        <br/>
        更大的稳定性，Symfony2中契约和接口的次要版本也保证，所有的小版本之间在API定义的公共接口的兼容性将得到保证
        。
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.开发的乐趣</h2>
    <p>
        作为一个高度功能化的环境，Symfony2给开发者也保证了一定的舒适程度。
        照顾一些令人不愉快的任务（开发小功能，例如），Symfony2允许开发者专注于
        实际的应用同时完整的验证了他们的角色，提高生产力。
        <br/>
        symfony的工具旨在使开发人员更容易的生活，有传说中的Web Debug Toolbar，以及原生支持
        开发环境，详细的错误页面甚至原生安全相关。
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.易用性</h2>
    <p>
        完全灵活地满足专业人士和高级用户的需求同样，Symfony2的也很方便。丰富的文档，社区和专业
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">支持</a>,
        “嵌入式”最佳实践的框架内（最好的做法是原生应用而无需去知道或理解）让初学者很快安心用symfony。
    </p>
{% endblock %}

{% block summary %}
    <p>
        选择symfony意味着长期投资的应用。这也意味着知道如何使开发人员更容易的日常生活。
    </p>
{% endblock %}
