{% block title '六个使用 Symfony 的理由' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        使用框架是一件好事。能做出正确的选择更好。没有太过深入的东西，没有特定的顺序，
        从战略的角度，这里有6个很好的理由使用Symfony，
        <br />
        关于技术方面，点
        <a href=" {{ marketing_path('six_good_technical_reasons')}} ">这里</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. 声誉</h2>
    <p>
        通过活跃在该领域的专业人士在2005年快速推出，今天的Symfony是一个众所周知和国际公认稳定的环境。
        其引用的数量证明了这一点，因为他们已经推出以来显著增长。

        Symfony的也是一个活跃的社区；开发商，系统集成商，用户和参加持续丰富这一工具的其他贡献者。
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2. 持久性</h2>
    <p>
        Symfony的背后，是一个公司：SensioLabs。创建了超过12年，SensioLabs是具有在其引用的许多大客户的网络机构。
        构想为自己的需求，Symfony框架是今天仍然是用自己的团队开发客户项目的日常工具。通过专业人员的专业人士设计，
        Symfony的首先是务实工具，它的功能可以解决现实世界的需求。
    </p>
    <p>
        持久性也涉及到长期支持。今天，这个<a href="http://sensiolabs.com/en/support/sensiolabs_support.html">
        支持</a>自然是SensioLabs提供。但也有一个完整的生态系统，自推出以来，围绕Symfony已经成长起来的：
        社区（邮件列表，IRC等）还有已投入此框架的许多其它服务性的公司。
    </p>
    <p>
        最后，它也与实现可持续发展的观点，Symfony根据开源MIT许可是分布式的，不强加限制，并允许开放源码的开发以及专有的应用程序。
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.案例</h2>
    <p>
        内部网络，一些公共站点，社交网络，社区网站，管理系统和工作流应用等例子并不缺乏：
        数以百计的网站和各种类型的各种规模和应用信任Symfony。
        <br/>
        特别的例子有Yahoo, Dailymotion, Opensky.com, Exercise.com，甚至一些应用比如phpBB和Drupal。
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.创新</h2>
    <p>
        Symfony 是你值得期待的一个框架：速度，灵活性，可重用的组件，等等。然后还有已开发的架构和
        使用的最佳做法。不会差的！
    </p>
    <p>
        但是，这还不是全部！由于SensioLabs有开发颠覆已经建立秩序的习惯，始终追求卓越，
        Symfony的（和它的整个社区）开发的好奇感，远远超越PHP。我们不要犹豫，通过在其他地方寻找思路创新
        然后他们适应PHP的世界，比从Java世界来的依赖注入。
        <br/>
        此外，Symfony，寻求在生产率持续改进开发者的生产效率，“web debug toolbar”的想法就是从其他框架借鉴，无论是PHP或以其他方式。
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.资源</h2>
    <p>
        当使用Symfony的，你放心，从来没有“孤独与你的screen。” 无论是社区支持（邮件列表，IRC等）或公司支持
        (咨询，<a href="http://trainings.sensiolabs.com/">培训</a>，等。)，你总会找到你的问题的答案。
        <br/>
        从原理上讲“未公开的线是不存在的线，”你还会发现很多作品奉献给Symfony的，这将帮助你在整个您的网站和应用程序的开发。
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.可操作性 灵活性</h2>
    <p>
        构建应用程序，可以精确满足您的需求！
        <br/>
        Symfony的尊重现有的“事实标准”的PHP：PHPUnit，约定类的命名等。此外，还Symfony的允许你使用某些部分软件构建模块（依赖注入，翻译管理，表单管理等），而不必使用该框架的全部内容。
    </p>
    <p>
        顺便说一下，Symfony的是如此灵活，在Symfony内核，它使用外部软件构建模块本身（ORM Doctrine, Swiftmailer, 等）！
    </p>
{% endblock %}

{% block summary %}
    <p>选择Symfony你不会错！从来没有使用的Symfony的人被解雇。</p>
{% endblock %}
