{% block title '选择正确框架的十个准则' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        你正在进步，这是一件好事！你已经知道你要使用一个框架来开发你的网站或应用程序。
        但哪一个？这里有一个清单，你可以避免犯错误：
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.流行程度和社区规模</h2>
    <p>
        更让人熟知和认可的框架，生存的时间更久，发展和完善：新想法和一定数量且有质量的插件等。
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.理念</h2>
    <p>
        这是框架的本质：它是一个基本的准则确保它能满足你的需要。由专业人士根据自己的需求开发的工具
        显然满足其他专业人才的需求。
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.可持续发展</h2>
    <p>
        在选择一个框架，确保它能够跟上你的时间。这简化了维护和升级你的应用程序。
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.支持</h2>
    <p>
        另一个标准，不容忽视的是寻找你的问题的答案并得到帮助。确定提供支持：
        从发布者。从一个社区（邮件列表，IRC，等）？从服务的公司（开发，
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">支持</a>,
        <a href="http://trainings.sensiolabs.com/">培训</a>)?
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.技术</h2>
    <p>
        为了避免成为被困在一个迷宫，它始终是最好的选择一个可互操作的解决方案；一方面的最佳实践方面
        开发（<i>设计模式</i>）。
    </p>
{% endblock %}

{% block body6 %}Security
    <h2 class="title_09">6.安全</h2>
    <p>
        任何应用程序可能是脆弱的。为了减少风险，它总是最好选择一个能够确保安全功能框架（例如XSS管理，）。
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7.文档</h2>
    <p>
        这要评估的本质是绝对必要的，关于现有的框架文档的数量和质量：一个良好的记录工具
        更易于使用和升级。
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8.许可证</h2>
    <p>
        许可证是重要的因为他们可以对你的重大影响应用。例如，一个应用程序开发使用GPL授权
        框架必然受限于GPL。另一方面，这不是MIT-licensed授权的框架。
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9.资源在市场上的可用性</h2>
    <p>
        也许你会想有一个技术团队围绕你在发展相或在更长的时期内，用于维护和升级。换句话说，确保所需的工具，
        你使用的技能都可以使用在开放的市场。
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. 试试!</h2>
    <p>
        这是关键！不要满足于阅读评论，评论和谣言，好的或坏的，在互联网上。通过测试它，你将能够弥补
        你自己的想法，确保你的工具完全舒适。
    </p>
{% endblock %}

{% block summary %}
    <p>
        选择一个框架，切不可掉以轻心；这是一个长期的承诺。确保你做出正确的选择！
    </p>
{% endblock %}
