{% block title 'SYMFONY 概览' %}
{% block keywords '' %}
{% block description '什么是 Symfony - 如果你需要一个简短的解释，请从这里开始' %}

{% block introduction %}
    <p>
        Symfony 是一个PHP网站开发框架。
        <br />
        这没能回答您的问题？
        <br />
        没问题，让我们再试一次。
        <br />
        Symfony 是一个<a href="#framework">PHP框架</a>、一种<a href="#philosophy">理念</a>、一个<a href="#community">社区</a> —— 一起完美地运作。
    </p>
{% endblock %}

{% block framework %}
    <h2 class="title_09"><a name="framework">一个PHP框架</a></h2>
    <p>
        为了更好地理解什么是框架，让我们离开计算机科学片刻，想象一个登山冒险。
        开发一个应用程序和攀岩非常相似：你是在底部（你必须要创建一个应用程序）
        你需要到达山顶（为设计完美运行的应用程序的成就感到高兴。）
    </p>
    <p>
        如果没人有爬过那堵岩壁，你就必须靠你自己来完成：测试路线，不时要回头看路线是否正确，
        以确保你不会停留在某一个角落，停留在岩钉，等等。相反，如果那堵岩壁已经被征服过，
        那些在你之前征服过这堵岩壁的人已经做了这些试错，开发了可行的路径（框架）和有助于
        攀爬的工具（你的工作）。
    </p>
    <p>
        基本上，一个框架包括 ：
    </p>
    <ul class="list_02">
        <li>
            <strong>工具箱</strong>
            - 一组预制的，可迅速集成的软件组件。这就意味这你将写更少的代码，风险也会变的更小。
            还意味着更高的生产效率和花更多的时间来做能够产生更多附加值的事情，比如总的指导原则，
            副作用，等等。
        </li>
        <li>
            <img src="/images/en/best_practices_guaranteed.jpg" alt="最佳实践保证！" class="box_article_illustration" />
            <strong>方法</strong>
            - 应用程序的“装配图”。这种结构化方法初看起来可能会有一些限制。但事实上，它允许开发者能够
            同时有效和有效率地应对一个任务中最复杂的方面，并采用最佳实践保证了你开发的应用程序的稳定性，
            可维护性和可升级性。
        </li>
    </ul>
    <p>
        尽管它可能是显而易见的，我们认为非常好描述它 - 
        Symfony是一个PHP框架，这意味着它使得用PHP创建web应用程序。
    </p>
{% endblock %}

{% block philosophy %}
    <h2 class="title_09"><a name="philosophy">一种理念</a></h2>
    <p>
        有什么能比用户根据他们的需求开发一个应用程序更有用？这是Symfony的的起源的故事 - 出自富有想象力的SensioLabs的网页设计师，一个独立的web开发者。 大家在开源许可范围内使用Symfony这非常有利于那些有能力添加他们自己的模块来增强Symfony的那些人。所有这一切都在最佳实践，标准化和应用的互操作性的环境中完成。
    </p>
{% endblock %}

{% block community %}
    <h2 class="title_09"><a name="community">一个社区</a></h2>
    <p>
        在Symfony后面，还有人。我们是SensioLabs。我们创建的Symfony解决了我们自己的web开发中的问题，
        我们很高兴来推广它。我们在过去的5年也形成了一个围绕Symfony的开发者，用户和贡献者的社区。
        。
    </p>
{% endblock %}

{% block conclusion %}
    <p>Symfony是一个PHP框架。</p>
    <p>Symfony的是一个框架，一套工具和开发方法。</p>
    <p>除了工具，Symfony的也是一种理念和一个社区。</p>
{% endblock %}
