{% block title '发行版' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        下载并配置 Symfony 的一个发行版，无疑是使用 Symfony 最简单、且最快捷的方式。
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}什么是发行版？{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Linux 发行版以容易安装、容易选取功能（如服务器版本、公共版本等）而知名。
        Symfony 发行版亦是如此。一个 Symfony 发行版是由 Symfony2 组件、各种 插件包（bundl﻿s）、
        一个特定的文件目录结构、一组默认的设置、以及一个可选的网站设置系统组成。
    </p>
{% endblock %}

{% block why_distribution_title %}为什么使用发行版？{% endblock %}
{% block why_distribution_description %}
    <p>
        为满足某类用户的需求，一个发行版可选择包含某些插件包、文件目录结构、以及默认的设置。
        例如，一个人人都熟悉的、可让用户建立动态页面的内容管理系统（CMS）；或者，一个
        让用户测试框架的完整版本。
    </p>
{% endblock %}

{% block available_distribution_title %}现有的发行版{% endblock %}
{% block available_distribution_description %}
    <ul>
        <li>
            基于标准版的
            <a href="https://github.com/symfony/symfony-hello-world">Hello World 版</a>。
            该版本是测试框架原始性能的最佳版本。
        </li>

        <li>
            The
            <a href="https://github.com/symfony-cmf/standard-edition">Symfony CMF Standard Edition</a>
            is the best distribution to get started with the
            <a href="http://cmf.symfony.com">Symfony CMF</a>.
        </li>
        <li>
            The
            <a href="https://github.com/gimler/symfony-rest-edition">Symfony REST Edition</a>
            shows how to build an application that provides a RESTful API using the
            <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> and several other related Bundles.
        </li>
    </ul>
{% endblock %}
