{% block title '关于' %}
{% block keywords '' %}
{% block description '了解是谁开发了这个框架以及他们的价值观和目标' %}

{% block intro %}
    <p>

        Symfony 是一个开源的PHP网站开发框架。它起初由互动广告公司 SensioLabs 开发，
        专用于为该公司的客户开发网站。于2005年，该公司以MIT软件授权，将 Symfony 发布于公众。
        如今，Symfony 已成为了顶尖的PHP开发框架之一。

    </p>

    <p>

        不但有 SensioLabs —— 另外还有一个 <a href="{{ path('contributors') }}">
        巨大的社区</a>，为Symfony 提供了许多援助渠道：大量的文献、社区支持 (邮件列表、IRC，等等)、
        专业人员的<a href="http://sensiolabs.com/en/support/sensiolabs_support.html">支持</a> (顾问、
        <a href="http://trainings.sensiolabs.com/">培训</a>，等等)。

    </p>

    <p>

        自从2.0版发布以来，已有数百网站使用 Symfony 作为开发平台，其中一些知名的网站有：Yahoo!、
        Dailymotion、Opensky.com、Exercise.com、phpBB、以及 Drupal。

    </p>
{% endblock %}

{% block title_about_sensiolabs %}About SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        自从1988年，SensioLabs 就开始了提倡开源软件的运动 ——
        通过提供高品质的网络程序的开发、培训和顾问。
        SensioLabs 同时也为多个大型的开源项目提供支持。

    </p>

    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs 的资料和数据</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">就业</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">客户</a></li>
    </ul>
{% endblock %}
