{% block title 'Community' %}
{% block keywords '' %}
{% block description '与社区交流，获得有关开发者网络的信息，IRC 频道，邮件列表' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">开发者的邮件列表</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">用户的邮件列表</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Symfony 博客</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">论坛</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
