{% block title '新手上路' %}
{% block keywords '' %}
{% block description '下载，与社区交流，阅读文章，培训教材' %}

{% block intro %}
    <h2>快速体验</h2>
    <p>
        以纸上谈兵的方式来了解 Symfony 吗？倒不如自己动手来试试。
        除了占用您的一小部分时间以外，不需其他花费。您将有机会一步
        一步地探索 Symfony 的技术领域。
        警告：你可能会对Symfony上瘾，即使这是第一次使用它。
    </p>
{% endblock %}

{% block read 'Read' %}
{% block downloadpdf '下载 PDF' %}
