{% block title 'Symfony komponenty' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony není jen uceleným frameworkem, ale také souborem oddělených
        a na sobě nezávislých komponent.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Symfony komponenty poskytují základní funkce nutné k vývoji
        webových stránek. Symfony framework je vytvořen právě z těchto
        jednotlivých komponent. Komponenty lze tedy použít samostatně,
        bez frameworku, bez dalších nutných závislostí.
    </p>
{% endblock %}

{% block installation %}
    <p>
        Každá komponenta se dá nainstalovat různými způsoby:
    </p>

    <ul>
        <li>
            <strong>Doporučený způsob</strong>
            Instalace přes Composer
            (<code>symfony/<strong>nazev-komponenty-s-pomlckami</strong></code> na serveru Packagist).
        </li>
        <li>
            Použití oficiálního Git repozitáře
            (<code>https://github.com/symfony/<strong>CamelCaseNazevKomponenty</strong></code>);
        </li>
        <li>
            <strong>Zastaralý způsob</strong>
            Instalace pomocí PEAR
            (<code>pear.symfony.com/<strong>CamelCaseNazevKomponenty</strong></code>);
        </li>
    </ul>
{% endblock %}
