{% block title 'Distribuce' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Nejjednodušší a nejrychlejší cestou, jak začít se Symfony, je
        stáhnout si přednastavenou distribuci.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">Co je distribuce?</a></h2>
    <p>
        Pojem distribuce možná znáte například ze světa Linuxu. Představují jednoduchý
        způsob, jak nainstalovat potřebný operační systém s konkrétními vlastnostmi
        (serverová verze, verze pro mobilní telefony, atd.). Podobně
        je to i se Symfony distribucí, která obsahuje Symfony2 komponenty,
        vybrané balíčky, výchozí nastavení a jednoduchý konfigurační nástroj.
        Všechny tyto části jsou navíc uloženy ve správné adresářové struktuře.
    </p>
    <p>
        Z praktického pohledu je to jednoduchý způsob, jak začít se Symfony.
        A udělat dobrý dojem, je klíčem k úspěchu &hellip;
    </p>
    <h2 class="title_09"><a name="why">Proč distribuce?</a></h2>
    <p>
        Distribuce s vybranými balíčky, danou adresářovou strukturou
        a výchozí konfigurací je navržena tak, aby splňovala různé
        uživatelské potřeby. Někdo se chce s frameworkem jen seznámit,
        jiný potřebuje vytvořit publikační systém a další chce plnou
        verzi pro testování frameworku.
    </p>
    <p>
        Ve srovnání s konkurenčními systémy spočívá síla Symfony v tom, že
        vše lze změnit. Distribuce je balíček, který je navržen tak, aby
        jste si ho mohli libovolně upravovat. Můžete přidat nebo odebrat
        balíčky, změnit výchozí nastavení, upravit adresářovou strukturu.
        Vše si můžete upravit podle Vašich potřeb a přání!
    </p>
    <h2 class="title_09"><a name="available">Dostupné distribuce</a></h2>
    <p>
        <a href="{{ marketing_path('download') }}">Standardní edice</a>
        je nejlepší distribucí s níž můžete začít. Obsahuje nejčastěji
        používané balíčky a jednoduchou konfiguraci, která je vyhovující
        pro většinu projektů.
    </p>
    <p>
        Nejlepší distribucí pro měření výkonu samotného frameworku je
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>.
    </p>
{% endblock %}
