{% block title '6 dobrih razlogov za uporabo Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Uporaba ogrodja je dobra stvar. Dobra izbira je še boljša.
        Brez podrobnejših razlag brez posebnega reda, je tu
        6 dobrih razlogov za uporabo Symfony-ja iz strateškega pogleda.
        <br />
        Za tehnične aspekte, kliknite
        <a href=" {{ marketing_path('six_good_technical_reasons')}} ">tu</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Sloves</h2>
    <p>
        Hitro sprejet med profesionalci, ki so aktivni na tem področju, po njegovem
        začetku v 2005, je Symfony danes stabilno okolje, ki je tako dobro znano kot
        tudi mednarodno priznano. Število njegovih referenc temu potrjuje, saj
        so se znatno povečale od njegovega začetka.
        Symfony je tudi aktivna skupnost; razvijalci, integratorji, uporabniki in
        ostali, ki prispevajo in sodelujejo v poteku izboljšanja tega orodja.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Uspešnost</h2>
    <p>
        Za Symfony-jem je podjetje: SensioLabs. Ustvarjeno pred več kot 12 leti,
        SensioLabs je spletna agencija, ki ima mnoge glavne zgodbe med svojimi referencami.
        Zamišljen za svoje posebne potrebe je Symfony ogrodje danes še vedno dnevno
        uporabljeno orodje s strani njegovih ekip, ki razvijajo projekte za stranke.
        Načrtovan s strani profesionalcev za profesionalce, Symfony je prvo predvsem
        pragmatično orodje katerega lastnosti naslavljajo realne zahteve.
    </p>
    <p>
        Uspešnosti prispeva tudi dolgoročna podpora. Danes je ta
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>
        seveda ponujena s strani SensioLabs.  Vendar obstaja tudi cel ekosistem, ki je zrasel
        okrog Symfony od njegovega začetka: skupnost (dopisni seznami, IRC, itd.) in
        mnoga ostala storitvena podjetja, ki so investirala v to ogrodje.
    </p>
    <p>
        Nazadnje ima tudi pogled usmerjen v trajnosten razvoj, ki Symfony distribuira
        pod odprto kodno licenco MIT, ki ne nalaga omejitev in omogoča
        razvoj tako odprto kodnih kot tudi lastniških aplikacij.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Reference</h2>
    <p>
        Intraneti, glavne javne strani, socialna omrežja, strani skupnosti,
        aplikacije za upravljanje in potek dela itd. Primerov ne manjka:
        stotine strani in aplikacij vseh velikosti in vseh tipov zaupajo Symfony.
        <br />
        To še posebej velja za primer Yahoo!, Dailymotion, Opensky.com,
        Excercise.com in celo aplikacije kot to phpBB in Drupal.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Inovacije</h2>
    <p>
        Symfony je vse, kar bi pričakovali od ogrodja: hitrost, prilagodljivost,
        ponovno uporabne komponente itd. Hkrati pa je na voljo tudi struktura kaj se
        razvija in uporaba najboljših praks. Ni slabo!
    </p>
    <p>
        Vendar to ni vse! Glede na to, da je SensioLabs razvil navado pretresenja
        ustaljenega reda in si vedno prizadeva za odličnost, je Symfony
        (in vsa skupnost) razvil smisel za radovednost, ki presega PHP.
        In ne odlašamo inovirati z iskanjem idej drugje in jih prilagoditi za svet
        PHP-ja, kot je na primer "dependency injection" iz sveta Java.
        <br/>
        Hkrati Symfony išče neprestane izboljšave v produktivnosti drugih razvijalcev,
        z vizijami spletne razhroščevalne orodne vrstice, vzete iz ostalih ogrodij tako
        iz PHP ali drugje.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Sredstva</h2>
    <p>
        Ko uporabljate Symfony, ste gotovi, da nikoli ne "boste sami z vašim zaslonom".
        Ali če gre za vprašanje za podporo skupnosti (dopisni seznami, IRC itd.) ali za podporo
        podjetja (svetovanje, <a href="http://trainings.sensiolabs.com">training</a>, itd.),
        boste vedno dobili najboljše odgovore na vaša vprašanja.
        <br/>
        Izhajajoč iz principa, da "nedokumentirana vrstica je vrstica, ki ne obstaja", boste
        našli tudi mnogo del posvečenih Symfony-ju, katera vam bodo v pomoč pri razvoju vaših
        strani in aplikacij.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Interoperabilnost</h2>
    <p>
        Ideja za Symfony-jem: Ne zaklenite se znotraj Symfony-ja! Dovolite si zgraditi
        aplikacije, ki natančno ustrezajo vašim potrebam!
        <br/>
        Symfony spoštuje obstoječe "de facto standarde" PHP-ja: PHPUnit, poimenovanja
        razredov itd. Poleg tega vam Symfony tudi dovoljuje, da uporabite samo določene
        programske gradnike (dependency injector, translations management, forms
        management itd.) brez potrebe po uporabi ogrodja kot celote.
    </p>
    <p>
        Mimogrede, Symfony je tako interoperabilen, da v svojem jedru uporablja zunanje programske
        gradnike sam (ORM Doctrine, Swiftmailer itd.)!
    </p>
{% endblock %}

{% block summary %}
    <p>Z izbiro Symfony, ne morete zgrešiti! In nihče še ni bil odpuščen zaradi uporabe Symfony-ja.</p>
{% endblock %}
