{% block title 'Tehnične prednosti Symfony-ja v 6-ih enostavnih korakih' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Tako kot bo gorski plezalec izbral jekleno vponko namesto plastične, tako bi
        tudi razvijalec raje delal z ogrodjem, ki poenostavi tako njegovo življenje
        kot tudi njegovo dnevno delo. Drugače je za pisati ogromno kode …
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Hitrejše in manj grabežljivo</h2>
    <p>
        V svetu IT-ja ni redek primer, da ljudi skrbi zmogljivost aplikacije …
        ko enkrat dosežejo konec projekta! To je, ko je enkrat vse načrtovano tako na
        funkcijskem kot tudi na tehničnem nivoju. In razen če vse spet razdrete narazen,
        optimizacija zmogljivosti ni ravno enostavna naloga.
    </p>
    <p>
        Po drugi strani, je bil Symfony2 izdelan že od začetka tako, da je hiter in je v
        prid zmogljivosti. V primeru primerjave, Symfony2 je 3-krat hitrejši od svoje
        predhodne verzij 1.4 ali od Zend Framework 1.10, potrebuje pa 2-krat manj spomina.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Neomejena fleksibilnost</h2>
    <p>
        Kakršne bodo že potrebe, Symfony2 bo prilagodljiv.
        Njegova t.i. dependency injection in Event Dispatcher ga naredita popolnoma
        nastavljivega z vsakim elementom, ki je popolnoma neodvisen. Ogrodje 3 v 1-enem:
    </p>
    <ol>
        <li>Celotno (Full Stack) (popolna verzija): ko želite razviti kompleksno aplikacijo in potrebujete mnogo funkcionalnosti.</li>
        <li>Modul za modulom: ko želite zgraditi vaše ogrodje glede na funkcionalnost, ki jo potrebujete.</li>
        <li>Mikro ogrodje: kot samostoječ, je Symfony2 lahko uporabljen tudi za razvoj določene funkcionalnosti v enem izmed vaših projektov. Brez potrebe po ponovnem razvoju in brez namestitve celotnega ogrodja, vendar le samo določen modul, ki ga potrebujete.</li>
    </ol>
    <p>
        Zmogljivost je tudi nekaj, kar se nanaša na dolgoročno podporo. Danes je ta
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>
        seveda ponujena s strani Sensio.  Vendar na voljo je celoten ekosistem, ki je zrasel
        okrog Symfony-ja od njegovega začetka: skupnost (dopisni seznami, IRC itd.)
        in mnogo drugih storitvenih podjetij, ki je investiralo v ogrodje.
    </p>
    <p>
        Nazadnje je tudi s pogledom v trajnostni razvoj, da je Symfony distribuiran
        pod odprto kodno MIT licenco, kar ne nalaga smernic in dovoljuje tako razvoj
        odprte kode kot tudi lastniških aplikacij.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Razširljiv</h2>
    <p>
        Iz najmanjših elementov do celotnega svojega jedra, vse v Symfony2 je predstavljeno
        kot paket (bundle) oz. vtičnik za Symfony jezik. Vsak paket je seveda namenjen
        dodajanju funkcionalnosti ogrodju in vsak paket se lahko tudi uporabi v drugem
        projektu ali pa se deli s skupnostjo.
        <br/>
        V kateremkoli primeru, sistem paketov omogoča, da se vse spremeni znotraj Symfony,
        skupaj s samim jedrom. Uporaba sistemskega vmesnika pogojuje med moduli,
        obnašanjem ogrodja, čeprav ga je možno spremeniti po volji brez potrebe po celotni
        ponovni nastavitvi.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Stabilen in trajnosen</h2>
    <p>
        Razvito s strani Sensio Labs, vse glavne verzije Symfony-ja so podprte 3 leta s strani
        podjetja. In celo doživljensko, kar se tiče varnostih težav.
        <br/>
        Za še večjo stabilnost, manjše verzije Symfony2 pogodba in vmesnik
        so tudi garantirane in združjivost med vsemi manjšimi verzijami bo tudi zagotovljea
        na API-ju definiranem za javne vmesnike.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Užitek razvijanja</h2>
    <p>
        Kot visoko funkcionalno okolje, Symfony2 tudi garantira določen nivo udobja
        za razvijalce. S skrbjo za številne neprijetne naloge (razvoj manjših funkcionalnosti
        na primer), Symfony2 dovoljuje razvijalcem, da se osredotočijo na dejanske poudarke
        aplikacije in tako tudi popolno potrjujejo njihovo vlogo in izboljšajo svojo
        produktivnost.
        <br/>
        Med Symfony orodji, ki so načrtovana za enostavnejše življenje razvijalca,
        spadajo legendarna spletna razhroščevalna orodna vrstica, kot tudi privzeta
        podpora za razvijalska okolja, podrobne strani z napakami ali celo privzeta
        varnost.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Enostavnost uporabe</h2>
    <p>
        Popolno prilagodljivo za zadovoljitev potreb profesionalcev in naprednih
        uporabnikov, je Symfony2 zelo dostopen. Izdatna dokumentacija,
        skupnost in profesionalna
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>,
        in "vključene" najboljše prakse znotraj ogrodja (najboljše prakse, ki so privzeto
        uporabljene brez potrebe po njhovem zavedanju ali razumevanju)
        dovoljujejo začetniku, da hitro začuti enostavnost pri Symfony-ju.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Izbira Symfony pomeni imeti dolgoročno vizijo za sredstva aplikacije.
        Hkrati tudi pomeni vedeti, kako narediti dnevno življenje razvijalca enostavnejše.
    </p>
{% endblock %}
