{% block title '10 kriterijev za izbiro ustreznega ogrodja' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Napredujete in to je dobra stvar! Sedaj že veste, da boste uporabili
        ogrodje za izdelavo vaše strani ali aplikacije.
        Vendar katero ogrodje? Tu je seznam, ki ga lahko uporabite, da se izognete napakam:
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Popularnost in velikost skupnosti</h2>
    <p>
        Bolj ko je ogrodje znano in uveljavljeno, bolj bo "živo", razvijajoče se in
        dopolnjeno: nove ideje, število in kvaliteta vtičnikov itd.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Filozofija</h2>
    <p>
        To je samo bistvo ogrodja: gre za fundamentalni kriterij za zagotovitev,
        da boste zadostili vašim potrebam. Orodje razvito s strani profesionalcev za
        njihove potrebe bo očitno zadostilo zahtevam ostalih profesionalcev.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Trajnost</h2>
    <p>
        Preden izberete ogrodje, si zagotovite, da vam bo uspelo dohajati za trajanje.
        To poenostavi tako vzdrževanje kot tudi nadgradnjo vaše aplikacije.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Podpora</h2>
    <p>
        Drug kriterij, ki ga ne bi smeli spregledati je enostavnost najti odgovore
        na vaša vprašanja in dobiti pomoč. Identificirajte podporo, ki je na voljo:
        s strani založnika. S strani skupnosti (dopisni seznami, IRC itd)?
        S strani storitvenih podjetij (razvojna
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podpora</a>,
        <a href="http://trainings.sensiolabs.com/">usposabljanja</a>)?
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Tehnika</h2>
    <p>
        Da se izognete pastem v labirintu, je vedno bolje izbrati interoperabilno
        rešitev; tisto, ki spoštuje najboljše prakse v pogojih razvoja
        (<i>načrtovalski vzorci</i>).
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Varnost</h2>
    <p>
        Vsaka aplikacija je potencialno ranljiva. Za znižanje rizika, je vedno dobro
        izbrati ogrodje, ki je sposobno zagotoviti varnostne funkcije
        (XSS upravljanje na primer).
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7.	Dokumentacija</h2>
    <p>
        Gre za absolutno potrebo za ocenjevanje narave, velikosti in kvalitete
        obstoječe literature o ogrodju: dobro dokumentirano orodje je tako
        enostavno za uporabo kot tudi bolj nadgradljivo.
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8.	Licenca</h2>
    <p>
        Licence so pomembne enostavno zato, ker imajo pomemben vpliv na vaše
        aplikacije. Na primer, aplikacija razvita z ogrodjem z GPL licenco bo
        morala biti obvezno domena GPL-ja. Na drugi strani pa to ne velja za ogrodje z
        MIT licenco.
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9.	Razpoložljivost sredstev na tržišču</h2>
    <p>
        Mogoče boste želeli biti obkroženi s tehnično ekipo med razvojno fazo ali na
        dolgi rok, tako za vzdrževanje kot za nadgradnje. V drugih besedah, si zagotovite,
        da so spretnosti potrebne za orodje, ki ga boste uporabljali, na voljo na odprtem
        tržišču.
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. Preizkusite!</h2>
    <p>
        To je ključ! Ne bodite zadovoljni samo z branjem pregledov, komentarjev in govoric,
        slabih ali dobrih na internetu. S preizkušanjem si boste lahko ustvarili vaše
        lastno mnenje in zagotovili, da ste popolno domači z orodjem.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Izbira ogrodja ne sme biti vzeta enostavno; gre za dolgoročno zavezo.
        Poskrbite, da naredite pravo izbiro!
    </p>
{% endblock %}
