{% block title 'Zakaj uporabiti ogrodje?' %}
{% block keywords '' %}
{% block description 'Kaj je Symfony - Pričnite tu za hitro razlago' %}

{% block intro %}
    <p>
        Ogrodje ni nujno potrebno: je "samo" eno izmed orodij, ki so na voljo
        za pomoč pri boljšem in hitrejšem razvoju!
        <br />
        Boljše, ker vam ogrodje ponuja z gotovostjo, da razvijate aplikacijo, ki je v polni skladnosti
        s poslovnimi pravili in ki je strukturirana ter je tako vzdrževana in nadgradljiva.
        <br />
        Hitrejše, ker omogoča razvijalcu, da prihrani čas s ponovno uporabo generičnih modulov
        in se osredotoči na druga področja. Čeprav, brez, da bi bil vezan na samo ogrodje.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Investicija v nalogo in ne v tehnologijo</h2>
    <p>
        To je osnovni princip ogrodja: Ni potrebno ponovno izumljati kolesa.
        Hkrati pa se oddaljiti s slutnjami, nalog z nizko dodano vrednostjo (na primer
        razvoj generičnih komponent), da se popolno osredotoči na poslovna pravila.
    </p>
    <p>
        Kot primer, ogrodje bo razvijalcu pomagalo, da ne porabi 2 ali 3 dni za kreiranje
        prijavnega obrazca (kar ni specifična naloga). Čas, ki se pri tem prihrani,
        se lahko posveti za bolj specifične komponente kot tudi za pripadajoče teste (unit
        tests); ponuja vam zanesljivo, vzdržljivo in visoko kvalitetno kodo.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Garantirana nadgradljivost in vzdrževanje</h2>
    <p>
        V daljšem obdobju ogrodje zagotavlja dolgo življenje vaše aplikacije.
        Če ekipa razvijalcev dela, kar jim ustreza, bo samo ta ekipa lahko enostavno
        vzdrževala in nadgrajevala aplikacijo. Pot, da založnik podpira lastniško
        rešitev.
    </p>
    <p>
        Po drugi strani struktura, ki jo ogrodja ponuja za aplikacijo,
        omogoča, da se skupno izognemo pastem, in ponuja kateremukoli razvijalcu - bodisi,
        če je bil prisoten pri razvoju ali ne - možnost, da enostavno "posvojijo" aplikacijo
        za vzdrževanje skozi življensko dobo in da se jo nadgradi tako hitro in lično,
        kadarkoli je to potrebno.
    </p>
    <p>
        V zvezi s tem ogrodje ni črna skrinjica! V primeru Symfony-ja je to še
        vedno PHP … Aplikacije, ki so razvite pa niso omejene samo na Symfony
        vesolje in so
        <a href="{{ marketing_path('six_good_reasons') }}#interoperable">izvorno interoperabilne</a>
        s katerokoli drugo PHP knjižnico, na primer.
    </p>
{% endblock %}

{% block summary %}
    <p>Ogrodje ni absolutno potrebno, vendar je zelo uporabno.</p>
    <p>Ogrodje jamstvo kvalitete, nadgradljivosti in možnosti vzdrževanja aplikacije pri nižjih stroških.</p>
    <p>Aplikacije razvite z ogrodje so interoperabilne s tržnimi standardi.</p>
{% endblock %}
