{% block title 'Chi siamo' %}
{% block keywords '' %}
{% block description 'Scopri chi ha creato il framework e quali sono i suoi valori e i suoi scopi' %}

{% block intro %}
    <p>
        Symfony è un framework di sviluppo open source per applicazioni web in PHP.
        È stato originariamente concepito dall'agenzia interattiva Sensio Labs, per
        sviluppare i siti web dei suoi clienti. Symfony è stato pubblicato
        nel 2005 sotto licenza MIT e oggi è tra i framework di
        maggior successo disponibili per lo sviluppo in PHP.
        <br/>
        Supportato da Sensio Lab, ma anche da una <a href="{{ path('contributors') }}">
        vasta comunità</a> - Symfony dispone di varie risorse: una documentazione esaustiva,
        un supporto dalla comunità (mailing list, IRC, ecc.), un supporto
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">professionale</a>
        (consulenza, <a href="http://trainings.sensiolabs.com/">formazione</a>, ecc.) e così via.
        <br/>
        Disponibile nella versione 2.0, Symfony ha già, tra i centinaia di siti e
        applicazioni sviluppati sulla sua piattaforma, referenze prestigiose, come
        Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB e Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Cos'è Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">MISSIONE</h2>
    <p>Symfony è libero e pubblicato sotto <a href="{{ path('license') }}">licenza MIT.</a></p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Sin dal 1998, Sensio Labs ha promosso il movimento del software open source,
        fornendo sviluppo di applicazioni web di qualità, formazione, consulenza. Sensio Labs
        supporta anche vari progetti open source di grandi dimensioni.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Sensio Labs, fatti e cifre</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Offerte</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Clienti</a></div></li>
    </ul>
{% endblock %}
