{% block title 'Per iniziare' %}
{% block keywords '' %}
{% block description 'Scaricare, restare in contatto con la comunità, leggere articoli, trovare sessioni di formazione' %}

{% block intro %}
    <h2>Il giro rapido</h2>
    <p>
        Che c'è di meglio per chiarirsi le idee, di provare
        Symfony da soli? A parte un poco di tempo, non costerà
        nulla. Passo dopo passo, si potrà esplorare
        l'universo di Symfony. Attenzione, Symfony può dare dipendenza
        già dal primo incontro.
    </p>
{% endblock %}

{% block read 'Leggi' %}
{% block downloadpdf 'Scarica come PDF' %}
