{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        El principal canal IRC para Symfony es <a href="irc://irc.freenode.net/symfony">#symfony</a> en Freenode.
        <ul>
            <li>Para Windows, el cliente más utilizado es <a href="http://www.mirc.fr/">mIRC</a>;</li>
            <li>En Mac, se puede jugar fácilmente con <a href="http://colloquy.info/">Colloquy</a>.</li>
        </ul>
    </p>
    <p>
    	Si deseas ver la actividad actual de Symfony o influir directamente 
        en su desarrollo, sientete libre de participar en nuestros
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">encuentros semanales en IRC</a>.
    </p>
    <p>
        Si deseas ponerte en contacto con gente que utiliza Symfony para ayudarte en tu lengua nativa, puedes
        conectarte a los siguiente canales::
        <ul>
            <li>Portugués Brasileño: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Francés: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Alemán: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Ruso: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Español: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Polaco: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
    	Consulte la sección de la <a href="{{ marketing_path('community') }}">comunidad mundial</a> 
        del sitio de Symfony para descubrir otras formas de obtener ayuda (listas de correo, foros, etc.).
    </p>
{% endblock %}
