{% block title 'Listas de Correo' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit 'Subscribirse' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">Grupo de usuarios de symfony1</a></h3>
    <p>Si necesitas ayuda con symfony1, considera suscribirte a la lista de correo de usuarios de symfony1.</p>
{% endblock %}

{% block archive %}
    <p>
    	También puedes navegar el histórico del antiguo
        <a href="http://groups.google.com/group/symfony-users">Grupo de Usuarios</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Grupo de Usuarios de Symfony2</a></h3>
    <p>Si necesitas ayuda con Symfony2, considera suscribirte a la lista de correo de usuario de Symfony2.</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Grupo de Desarrolladores</a></h3>
    <p>
    	Si deseas contribuir con el proyecto, discutir nuevas funcionalidades, 
    	considera subscribirte a la lista de correo de desarrolladores de Symfony.
    </p>
{% endblock %}
