{% block title 'Listas de Correo' %}
{% block keywords '' %}
{% block description '' %}

{% block discontinued_message %}
    Las listas de correo del proyecto Symfony se cerraron en junio de 2015
    (<a href="{{ path('blog_post', { slug: 'symfony-support-stack-overflow-as-the-main-medium' }) }}">leer el anuncio</a>).
    El soporte ahora se realiza a través de StackOverflow.
{% endblock %}

{% block read_only_message %}
    Las siguientes listas de correo ya no están activas, pero se mantienen en
    modo sólo-lectura para que puedas consultarlas.
{% endblock %}

{% block symfony2_title %}Grupo de usuarios de Symfony2{% endblock %}
{% block symfony2_description %}
    Soporte para Symfony 2 y 3. Reemplazado por la
    <a href="http://stackoverflow.com/?tags=symfony">etiqueta Symfony</a> de StackOverflow.
{% endblock %}

{% block symfony1_title %}Grupo de usuarios de symfony1{% endblock %}
{% block symfony1_description %}
    Soporte para la antigua versión symfony 1. Reemplazado por la
    <a href="http://stackoverflow.com/?tags=symfony1">etiqueta symfony1</a> de StackOverflow.
{% endblock %}

{% block symfonydev_title %}Grupo de desarrolladores de Symfony{% endblock %}
{% block symfonydev_description %}
    Contiene discusiones sobre el propio desarrollo del framework Symfony. Reemplazado
    por la <a href="https://github.com/symfony/symfony/issues">sección de "issues"</a>
    en el repositorio Symfony de GitHub.
{% endblock %}
