{% block title 'Soporte Symfony' %}
{% block keywords '' %}
{% block description 'Soporte Symfony proporcionado por la comunidad y soporte profesional proporcionado por SensioLabs.' %}

{% block title_community_support %}Soporte de la comunidad{% endblock %}
{% block stackoverflow_support %}
    Usa <a href="http://stackoverflow.com/?tags=symfony">Stack Overflow</a>
    <span>para preguntar dudas sobre Symfony.</span>
{% endblock %}
{% block irc_support %}
    Usa el <a href="{{ marketing_path('irc') }}">canal #symfony del IRC</a>
    <span>para obtener soporte en tiempo real.</span>
{% endblock %}

{% block title_professional_support %}Soporte profesional{% endblock %}
{% block sensiolabs_support %}
    <a href="http://sensiolabs.com">SensioLabs</a>, la empresa responsable de Symfony,
    dispone de un amplio catálogo de soluciones para obtener mejores resultados
    más rápidamente. Desde consultoría a formación y desde <em>coaching</em>
    a certificación.
{% endblock %}
{% block business_solutions %}Ver todas las soluciones para empresas{% endblock %}
