{% block title 'Symfony expliqué à un Administrateur Système' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Implémenter une nouvelle solution n'implique pas uniquement
        ceux qui l'utilise. Avec le framework Symfony, d'autres secteurs
        d'activité seront impactées. Cela est vrai, par exemple, pour
        l'administrateur système qui est responsable de l'hébergement
        des applications du système d'infomartion de l'entreprise.
    </p>
{% endblock %}

{% block body %}
    <p>
        Pas de raison de s'inquiéter pour autant : Symfony est du PHP
        rien de plus, rien de moins. Symfony nécessite uniquement deux
        dossiers avec accès en écriture, qui peuvent être entièrement
        configurés pour se conformer à la politique de sécurité en
        place dans l'entreprise. Symfony facilite également la montée
        en charge du nombre d'applications hébergées, par exemple en
        enregistrant les sessions dans une base de données ou bien
        en implémentant des standards HTTP pour supporter nativement
        des accélérateurs de site comme Varnish. Symfony simplifie
        le travail de l'administrateur système.
    </p>
{% endblock %}
