{% block title 'Composants Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        En plus d'être un framework, Symfony est aussi un ensemble de composants
        autonomes et découplés.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Les Composants Symfony implémentent des fonctionnalités nécessaires au
        développement de sites web. Ils sont la fondation du framework Symfony
        mais il peuvent aussi être utilisés individuellement sans tout le
        framework dans des projets PHP. En effet, la majorité d'entre eux ont
        aucune dépendance obligatoire !
    </p>
{% endblock %}

{% block installation %}
    <p>
        Vous pouvez installer chaque composant de plusieurs manières:
    </p>

    <ul>
        <li>
            <strong>Recommandé</strong>
            Installation via Composer
            (<code>symfony/<strong>nom-du-composant</strong></code> sur Packagist).
        </li>
        <li>
            Utilisez le dépôt Git officiel
            (<code>https://github.com/symfony/<strong>NomDuComposant</strong></code>);
        </li>
        <li>
            <strong>Obsolète</strong>
            Installation via PEAR
            (<code>pear.symfony.com/<strong>NomDuComposant</strong></code>);
        </li>
    </ul>
{% endblock %}
