{% block title 'Communauté' %}
{% block keywords '' %}
{% block description 'Restez en contact avec la communauté, découvrez le résaux social des développeurs, canal IRC, mailing list' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">La mailing list des développeurs</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">La mailing list des utilisateurs</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Les blogueurs Symfony</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Le Forum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
