{% block title 'Pour commencer' %}
{% block keywords '' %}
{% block description 'Téléchargements, rester en contact avec la communauté, lire les articles, trouvez des sessions de formations' %}

{% block intro %}
    <h2>Le tour rapide</h2>
    <p>
        Quoi de mieux pour se faire un avis que d'essayer Symfony par vous même ?
        À part un peu de temps, cela ne vous coûtera rien. Pas à pas vous allez
        explorer l'univers de Symfony. Attention, Symfony peut vite devenir
        addictif dès la première rencontre.
    </p>
{% endblock %}

{% block read 'Lire' %}
{% block downloadpdf 'Télécharger sous format PDF' %}
