{% block title 'Symfony explicado para um Programador' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        O Symfony é uma framework Open Source distribuído. Claro que,
        quando você sabe como programador em PHP, você não precisa de uma framework.
        No entanto, é muito bom ter um!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Um framework para simplificar desenvolvimentos</h2>
    <p>
        Um framework ajuda você a trabalhar melhor (estrutura de desenvolvimentos) e
        mais rápido (reutilizando módulos genéricos). Um framework facilita
        a manutenção a longo prazo e escalabilidade através do cumprimento de regras
        de desenvolvimento padrão. A conformidade com os padrões de desenvolvimento também
        simplifica a integração e interface da aplicação com o
        restante do sistema de informação.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Por que Symfony?</h2>
    <p>
        O Symfony é um ambiente de desenvolvimento estável e internacionalmente
        reconhecido. O Symfony é suportado pela SensioLabs, uma empresa com
        mais de 13 anos de experiência em desenvolvimento web, e por uma comunidade
        internacional vibrante, que garante a sua longevidade. Um ambiente de
        trabalho inovador e fácil de usar graças à integração de soluções
        criadas em outros ambientes, como a injeção de dependência (pega
        do Java) e soluções especificamente desenvolvidas tais como a barra de
        ferramentas para debug web ou o Web Profiler. Finalmente, ao adotar "de facto
        standards", o Symfony não limita você ao ambiente dele, mas
        permite que você escolha os componentes de software que deseja usar.
    </p>
{% endblock %}
