{% block title 'Symfony explicado a um Administrador de Sistemas' %}
{% block keywords 'symfony, administrador de sistemas' %}
{% block description 'Symfony explicado a um Administrador de Sistemas' %}

{% block intro %}
    <p>
        Implementar uma nova solução não implica só os que a vão usar.
        Com a framework Symfony, outras linhas de negócio serão afetadas.
        Isto é verdade, por exemplo, para um administrador de sistemas,
        que é responsável por alojar as aplicações da empresa.
    </p>
{% endblock %}

{% block body %}
    <p>
        Administradores de sistemas, não se preocupem: Symfony é PHP, nem
        mais nem menos. Symfony apenas requer duas diretorias com permissões
        de escrita e que pode ser ajustado e totalmente configurável para
        se adaptar às normas de segurança da empresa. Symfony facilita a forma
        como as aplicações são alojadas, por exemplo guardando as sessões na
        base de dados ou a implementação dos padrões HTTP que permite usar
        nativamente aceleradores como Varnish no website. No fundo, Symfony
        simplica o trabalho do administrador de sistemas.
    </p>
{% endblock %}
