{% block title 'Symfony explicado para um Gestor de Projeto' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Use o Symfony para um projeto bem definido, rápido e escalável -
        garantido.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Um projeto bem definido</h2>
    <p>
        Um guia de desenvolvimento real, o framework Symfony fornece para todos os membros
        da equipe uma referência compartilhada para a consistência do projeto: será
        muito mais fácil de entender e manter a longo prazo.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Um projeto rápido</h2>
    <p>
        Com o Symfony, você reutiliza componentes genéricos, que não têm qualquer
        valor para as necessidades específicas do seu negócio. O Symfony torna o
        trabalho menos difícil para os programadores, que não têm que desenvolver ou
        reconstruir funcionalidades genéricas, tais como gestão de formulários, pois eles podem
        se concentrar nos desafios reais da aplicação. O Symfony também possui ferramentas
        que tornam mais fácil de usar e melhoram a produtividade: a barra de ferramentas para
        debug web, suporte nativo para ambientes de desenvolvimento, páginas de erro
        detalhadas e suporte nativo para segurança.
    </p>
{% endblock %}
