{% block title 'Symfony explicado para um Proprietário do Projeto' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Usar o Symfony não muda nada... ou quase nada para
        o proprietário do projeto.
    </p>
{% endblock %}

{% block body %}
    <p>
        O proprietário do projeto ainda é responsável por determinar as
        funcionalidades e supervisionar o projeto, enquanto que, os aspectos técnicos
        são confiados ao programador. Quando se trata de fiscalizar o
        projeto, Symfony irá mudar significativamente a relação
        entre o proprietário do projeto e o desenvolvedor: porque funções
        "genéricas" (módulos de conexão de banco de dados, formulários, etc.) podem ser
        reusadas, com o Symfony o desenvolvedor pode se concentrar em funcionalidades
        que acrescentam valor ao negócio, que são as mais importantes para o proprietário
        do projeto. Além disso, através do cumprimento de padrões PHP, a
        aplicação será mais fácil fazer a interface com o resto do
        sistema de informação, que irá facilitar seu teste e
        implantação em produção. Enquanto não muda fundamentalmente o
        trabalho do proprietário do projeto, usando o Symfony para desenvolver uma aplicação
        garante velocidade, confiabilidade e um projeto bem sucedido.
    </p>
{% endblock %}
