{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Az elsődleges symfonys IRC csatorna a <a href="irc://irc.freenode.net/symfony">#symfony</a> a Freenode-on.
        <ul>
            <li>Windowson legtöbben az <a href="http://www.mirc.fr/">mIRC</a>-vel csatlakoznak;</li>
            <li>Macen az egyik legegyszerűbb a <a href="http://colloquy.info/">Colloquy</a> használata.</li>
        </ul>
    </p>
    <p>
        Ha szeretnél bepillantani az aktuális symfonys történésekbe,
        vagy szeretnéd tevékenyen befolyásolni az eseményeket, bátran vegyél részt a
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">heti IRC-s megbeszéléseken</a>.
    </p>
    <p>
        Ha más nyelven keresnél symfonys segítséget, nézd meg ezeket a csatornákat:
        <ul>
            <li>brazíliai portugál: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>francia: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>német: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>orosz: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>spanyol: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>lengyel: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
        További segítségnyújtási formákat (levelezőlisták, fórum stb.) a
        <a href="{{ marketing_path('community') }}">közösség</a> oldalon találhatsz.
    </p>
{% endblock %}
