{% block title 'Levelezőlisták' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit 'Feliratkozás' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1 felhasználói csoport</a></h3>
    <p>Ha symfony1-es segítségre lenne szükséged, iratkozz fel a symfony1 levelezőlistára:</p>
{% endblock %}

{% block archive %}
    <p>
        A korábbi <a href="http://groups.google.com/group/symfony-users">felhasználói csoport</a>
        archívumát is böngészheted.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2 felhasználói csoport</a></h3>
    <p>Ha Symfony2-es segítségre lenne szükséged, iratkozz fel a Symfony2 levelezőlistára:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Fejlesztői csoport</a></h3>
    <p>
        Ha szeretnél hozzájárulni a projekthez, vagy megvitatni egy új funkciót,
        iratkozz fel a Symfony fejlesztői levelezőlistára:
    </p>
{% endblock %}
