{% block title 'Distribuzioni' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Scaricare e configurare una distribuzione Symfony è senza dubbio
        il modo pià facile e veloce di iniziare con Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">Cos'è una distribuzione?</a></h2>
    <p>
        Come le distribuzioni Linux, note per la facilità di installazione e per
        le caratteristiche specifiche (versione server, versione desktop, ecc.), una
        distribuzione Symfony è fatta di componenti di Symfony2, una selezione
        di bundle, una struttura di cartelle, una configurazione
        predefinita e un sistema opzionale di configurazione web.
    </p>
    <p>
        In pratica, è una soluzione semplice, facile da installare e pacchettizzata
        per iniziare con Symfony. Anche in informatica,
        una buona prima impressione è fondamentale...
    </p>
    <h2 class="title_09"><a name="why">Perché le distribuzioni?</a></h2>
    <p>
        Una distribuzione, con la sua selezione di bundle, struttura e
        configurazione predefinita, è progettata per rispondere a specifiche esigenze:
        come la facilità a familiarizzare, sistemi di gestione dei contenuti per creare
        siti dinamici o una versione completa per testare il framework.
    </p>
    <p>
        Tuttavia, confrontato con i suoi concorrenti, la forza e l'innovazione di Symfony
        sono nel fatto che ogni cosa possa essere modificata: la
        distribuzione è una scatola, ma pensata per rimanere
        scalabile, come se fosse stata creata su misura. Si possono aggiungere o togliere
        bundle, cambiare la configurazione o modificare la struttura dei
        file, ecc., in base alle proprie esigenze e ai propri gusti!
    </p>
    <h2 class="title_09"><a name="available">Distribuzioni disponibili</a></h2>
    <p>
        La <a href="{{ marketing_path('download') }}">Standard Edition</a> è
        certamente la versione migliore per iniziare. Contiene i bundle più
        comunemente usati e ha una semplice configurazione, compatibile con
        la maggior parte dei progetti.
    </p>
    <p>
        Basata sulla Standard Edition, la
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>
        è la miglior distribuzione per eseguire benchmark delle prestazioni
        del framework.
    </p>
{% endblock %}
