{% block title 'Scaricare' %}
{% block keywords '' %}
{% block description 'Scaricare, restare in contatto con la comunità, leggere articoli, trovare sessioni di formazione' %}

{% block intro %}
    <h2>Symfony Standard Edition</h2>
    <p>
        La Standard Edition di Symfony è la distribuzione migliore per partire
        con un nuovo progetto. Contiene i bundle più usati e dispone di un
        semplice sistema di configurazione.
    </p>
{% endblock %}

{% block downloadnow 'Scarica' %}
{% block download 'Scarica' %}
{% block previousversion 'Scaricare versioni precedentis:' %}
{% block specificversion 'Versione specifica:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Per chi è pratico con la console</h3>
        <p style="padding-bottom: 0">
            Installare <a href="http://getcomposer.org/">Composer</a> ed eseguire:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition percorso/ 2.3.0</pre>
    </div>
    <h3 class="title_05">Istruzioni di installazione</h3>
    <ol>
        <li>
            Scaricare uno degli archivi nella cartella radice del
            server locale e scompattarlo. Se si
            dispone di git, si può scaricare la versione
            "without vendors", che dispone di maggiore flessibilità.
        </li>
        <li>
            Seguire le istruzioni contenute nel file README.md
            (un semplice file di testo) fornito
            nell'archivio.
        </li>
        <li>Buon divertimento!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">COMPONENTI SYMFONY</h2>
    <p>
        Oltre a essere un framework completo, Symfony è anche un insieme
        di componenti disaccoppiati e autonomi. Si possono <a href="{{
        marketing_path('components') }}">scaricare e installare</a> in modo indipendente
        dal framework.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY SU GIT</h2>
    <p>
        Il <strong>repository ufficiale di Symfony2</strong> è ospitato su Github, all'indirizzo
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Questo repository va usato solo se si vogliono gli ultimissimi
        aggiornamenti e se non si ha paura di installare le cose a mano.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        La versione symfony 1.4 è stata l'ultima versione a supporto prolungato del
        ramo symfony 1.X ed è stata mantenuto fino a novembre 2012.
        Se si crea un nuovo progetto, si dovrebbe usare
        <a href="#top">Symfony2</a> al suo posto.
    </p>
    <p>
        Se tuttavia si ha un progetto symfony 1.x funzionante, si può
        ancora accedere alla
        <a href="{{ path('legacy_doc_home') }}">documentazione</a>
        di tutte le versioni symfony 1.x,
        <a href="#legacy">scricare</a> le vecchie versioni stabili o accedere
        ad altri strumenti, tramite la pagina
        <a href="{{ path('legacy_home') }}">legacy</a>.
        Si può anche scaricare symfony1 tramite
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Se si vuole iniziare subito un
        nuovo progetto, scaricare la sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        il codice sorgente
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        o eseguire un <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>
        del repository SVN.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Vecchie versioni</h2>
    <p>Scaricare gli ultimi rilasci stabili le vecchie versioni:</p>
{% endblock %}
