{% block title 'Symfony razložen lastniku projekta' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Uporaba Symfony-ja ne spremeni ničesar ... oziroma skorajda nič za
        lastnika projekta.
    </p>
{% endblock %}

{% block body %}
    <p>
        Lastnik projekta je navsezadnje odgovoren za določitev
        lastnosti in nadzor projekta, medtem ko se tehnični aspekti
        zaupajo razvijalcu. Ko pride do nadzora projekta, Symfony znatno
        spremeni relacijo med lastnikom projekta in razvijalcem: ker
        se "generične" funkcije (moduli za povezavo z bazo, obrazci itd.)
        lahko ponovno uporabi, se pri Symfony-ju razvijalec osredotoči na
        dodano vrednost poslovnih lastnosti, ki so najpomembnejše lastniku
        projekta. Hkrati z izpolnjevanjem PHP standardov bo aplikacija
        enostavnejše povezljiva s preostalim informacijskim sistemom, kar
        bo olajšalo njeno testiranje in postavitev v produkciji. Medtem ko
        nič bistveno ne spremeni dela lastnika projekta, uporaba Symfony-ja
        pri razvoju aplikacije garantira hitrost, zanesljivost in uspešen
        projekt.
    </p>
{% endblock %}
