{% block title 'Symfony razložen skrbniku sistema' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Izvajanje nove rešitve ne vključuje samo tistih, ki jo uporabljajo.
        S Symfony ogrodjem bodo pod vplivom preostali elementi posla. To
        velja na primer za skrbnika sistema, ki je odgovoren za gostovanje
        informacijsko sistemskih aplikacij podjetja.
    </p>
{% endblock %}

{% block body %}
    <p>
        Skrbniki sistemov, ne bodite preplašeni: Symfony je PHP, nič več,
        nič manj. Symfony potrebuje samo dve omogočeni mapi za zapisovanje
        map, kar je možno popolno nastaviti za prilagoditev ustaljeni varnostni
        politiki podjetja. Symfony hkrati tudi olajša gradnjo aplikacij, ki bodo
        gostovanje, na primer shranjevanje sej in baz ali izvajanje standardov
        HTTP za privzeto upravljanje pospeševalnikov spletnih strani kot je Varnish.
        Symfony poenostavi delo skrbnika sistema.
    </p>
{% endblock %}
