{% block title 'Symfony razložen razvijalcu' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony je odprto kodno distribuirano PHP ogrodje. Seveda,
        ko veste, kako razvijati v PHP, ne potrebujete ogrodja.
        Vendar pa ga je zelo dobro imeti!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Ogrodje za poenostavljeno razvijanje</h2>
    <p>
        Ogrodje vam pomaga delati boljše (strukturiran razvoj) in
        hitrejše (ponovna uporaba generičnih modulov). Ogrodje olajša
        dolgoročno vzdrževanje in razširljivost z izpolnjevanjem standardnih
        pravil razvijanja. Skladnost s standardi razvoja hkrati tudi
        poenostavi integracijo in poveže aplikacijo s preostalim
        informacijskim sistemom.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Zakaj Symfony?</h2>
    <p>
        Symfony je mednarodno priznano, stabilno razvijalsko okolje.
        Symfony je podprt s strani SensioLabs, podjetja s preko 13 let
        izkušenj spletnega razvoja in s strani živahne mednarodne skupnosti,
        kar zagotavlja ogrodju dolgo življenjsko dobo. Inovativno in
        za uporabo enostavno delovno okolje zahvaljujoč vgradnji rešitev
        kreiranih v ostalih okoljih kot so "dependency injection" (vzeto iz
        Java okolja) in posebej razvite rešitve kot so razhroščevalna spletna
        orodna vrstica ali "Web Profiler". Konec koncev tudi s sprejemanjem
        de facto standardov vas Symfony ne omejuje na njegovo okolje vendar
        omogoča, da izberete le komponente, ki jih želite uporabiti.
    </p>
{% endblock %}
