{% block title 'Symfony razložen vodji projekta' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Uporabite Symfony za jasno definiran, hiter in razširljiv projekt -
        garantirano.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Jasno definiran projekt</h2>
    <p>
        Pravi razvijalski vodič, Symfony ogrodje nudi vsem članom ekipe
        skupno referenčnost za doslednost projekta: tako bo le-tega toliko
        lažje razumeti in vzdrževati na dolgi rok.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Hiter projekt</h2>
    <p>
        Pri Symfony ponovno uporabite generične komponente, ki nimajo nobene
        dodane vrednosti za vaše posebne poslovne potrebe. Symfony naredi delo
        manj zastrašujoče za razvijalce, ki jim ni potrebno razvijati ali na novo
        razvijati generičnih lastnosti, kot so upravljanje z obrazci; tako se
        lahko osredotočijo na prave izive aplikacije. Symfony ima tudi orodja,
        ki poenostavijo uporabo in izboljšajo produktivnost: razhroščevalna spletna
        vrstica, privzeta podpora za razvojna okolja, podrobne strani z opisi napak
        in privzeta podpora za varnost.
    </p>
{% endblock %}
