{% block title 'Symfony Components' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Beside being a full-stack framework, Symfony is also a set of
        decoupled and standalone components.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Symfony Components implement common features needed to develop
        websites. They are the foundation of the Symfony full-stack
        framework, but they can also be used standalone even if you don't
        use the framework as they don't have any mandatory dependencies.
    </p>
{% endblock %}

{% block installation %}
    <p>
        You can install each component in many different ways:
    </p>

    <ul>
        <li>
            <strong>Recommended</strong>
            Install it via Composer
            (<code>symfony/<strong>dashed-component-name</strong></code> on Packagist).
        </li>
        <li>
            Use the official Git repository
            (<code>https://github.com/symfony/<strong>CamelCaseComponentName</strong></code>);
        </li>
        <li>
            <strong>Obsolete</strong>
            Install it via PEAR
            (<code>pear.symfony.com/<strong>CamelCaseComponentName</strong></code>);
        </li>
    </ul>
{% endblock %}
