{% block title 'Distributies' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Het downloaden en instellen van een Symfony distributie is zonder twijfel
        de makkelijkste en snelste manier om te beginnen met Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">Wat is een Distributie?</a></h2>
    <p>
        Net zoals een Linux distributie, bekend om hun makkelijke installatie
        en specifieke features (server versies, public versies, ect.), is
        een Symfony distributie opgebouwd uit Symfony2 componenten, een
        paar bundles, een mappenstructuur, standaard configuratie en een
        optionele web-configuratiesysteem.
    </p>
    <p>
        In de praktijk is het een simpele methode om met Symfony te beginnen.
        Zelfs in de computerwereld is een goede eerste indruk belangrijk...
    </p>

    <h2 class="title_09"><a name="why">Waarom zijn er distributies?</a></h2>
    <p>
        Een distributie, met de bundles, structuur en configuratie, is ontworpen
        voor de behoeften van een specifieke gebruiker, zoals een vertrouwlijk
        Content Management System voor een dynamische website of een volledige
        versie om het framework te testen.
    </p>
    <p>
        Echter, vergeleken met zijn concurrenten, is Symfony's kracht de
        mogelijkheid dat alles aangepast kan worden: de distributie is een
        pakket, dat is ontworpen om aanpasbaar te zijn, alsof je hem zelf hebt
        gemaakt. Je kan bundles toevoegen of verwijderen, configuratie veranderen
        de bestandstructuur aanpassen, etc. Alles gebaseerd op jouw behoeften
        en wensen!
    </p>

    <h2 class="title_09"><a name="available">Beschikbare Distributies</a></h2>
    <p>
        De <a href="{{ marketing_path('download') }}">Standard Editie</a> is veruit
        de beste versie om te beginnen. Het bevat de meest gebruikte bundles en
        heeft een simpele configuratie die past bij de meeste projecten.
    </p>
    <p>
        De
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Editie</a>,
        gebaseerd op de Standard Editie, is de beste distributie om het pure framework
        te benchmarken.
    </p>
{% endblock %}
