{% block title 'Symfony erklärt für einen Projektmanager' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony verwenden für klar definierte, schnelle und skalierbare Projekte
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Ein klar definiertes Projekt</h2>
    <p>
        Über einen Entwicklungsleitfaden, bietet das Symfony Framework
        allen Team-Mitgliedern eine gemeinsame Referenz, um Ihr Projekt konsistent aufzubauen:
        es wird um ein vielfaches einfacher sein das Projekt zu verstehen und langfristig zu warten.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Ein schnelles Projekt</h2>
    <p>
        Mit Symfony greifen Sie auf generische und damit wiederverwendbare Komponenten zu, die keine
        unternehmensspezifischen Anforderungen enthalten.
        Symfony macht die alltägliche Arbeit eines Entwicklers weniger abschreckend,
        da generische Features, wie zum Beispiel Formular-Verwaltung,
        nicht neu entwickelt oder nachgebaut werden müssen. Die Entwickler
        können sich vollständig auf die eigentlichen Probleme der Anwendung konzentrieren.
        Zudem enthält Symfony auch Hilfsmittel, welche die Entwicklung erleichtern und die Produktivität verbessern:
        die Web Debug Toolbar, native Unterstützung von IDEs, informative Fehlerseiten und
        nicht zuletzt wird das Thema Sicherheit in einem Symfony Projekt auch ganz groß geschrieben.
    </p>
{% endblock %}
