{% block title 'Symfony exklärt für einen Entwickler' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony ist ein Open Source PHP-Framework. Wenn Sie gut in PHP entwicklen können, brauchen
        Sie natürlich kein Framework.
        Allerdings ist es einfach schön eins zu haben!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Ein Framework um Entwicklung zu vereinfachen</h2>
    <p>
        Ein Framework hilft ihnen besser (strukuriertes Entwickeln) und
        schneller (Wiederverwendung generischer Module) zu arbeiten.
        Ein Framework erleichtert die langfristige Wartung and Skalierbarkeit
        durch die Erfüllung von standardisierten Entwicklungsregeln.
        Die Einhaltung von Entwicklungsstandards erleichtert zudem
        die Integration und Anbindung der Anwendung mit dem Rest des Informationssystems.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Warum Symfony?</h2>
    <p>
        Symfony ist eine international annerkannte, stabile Entwicklungsumgebung.
        Die Langlebigkeit von Symfony wird gewährleistet durch SensioLabs,
        einem Unternehmen mit über 13 Jahren Erfahrung in Web-Entwicklung,
        und durch eine lebendige und internationale Community.
        Eine innovative und einfach zu bedienende Umgebung wurde durch,
        anderweitig bekannten Integrationslösungen wie zum Beispiel Dependency Injection (bekannt aus Java)
        und speziell entwickelten Lösungen, wie zum Beispiel der Web Debug Toolbar
        oder dem Web Profiler, geschaffen.
        Unter Verwendung allgemeiner Standards, schränkt Symfony Sie nicht ein,
        sondern erlaubt es, diejenigen Software-Komponenten zu verwenden, die Sie
        auch wirklich brauchen.
    </p>
{% endblock %}
