{% block title 'Symfony erklärt für einen Projektverantwortlichen' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony zu benutzen ändert nichts ... oder kaum etwas für den Projektverantwortlichen.
    </p>
{% endblock %}

{% block body %}
    <p>
        Der Projektverantwortliche ist weiterhin für die Definition der Anforderungen zuständig
        und muss das Projekt überwachen, während die technischen Aspekte
        den Entwicklern anvertraut werden.
        Allerdings wird Symfony erheblich die Beziehung zwischen dem
        Projektverantwortlichen und den Entwicklern ändern:
        Generische Features (Module für Datenbankverbindungen, Formulare usw.)
        können wiederverwendet werden. Die Entwickler können sich somit darauf konzentrieren,
        die für einen Projektverantwortlichen am wichtigsten,
        unternehmensrelevanten Features einzubauen.
        Die Verwendung von PHP Standards erleichtert die Integration in andere Systeme.
        Die Anwendung lässt sich dadurch leichter testen und auf das Produktionssystem veröffentlichen.
        Symfony ändert nicht die Arbeit des Projektverantwortlichen, allerdings garantiert es
        Geschwindigkeit, Zuverlässigkeit und ein erfolgreiches Projekt.
    </p>
{% endblock %}
