{% block title 'About' %}
{% block keywords '' %}
{% block description 'Discover who is making the framework and what are their values, their goals' %}

{% block intro %}
    <p>

        Symfony is an Open Source PHP framework for developing web applications.
        It was originally conceived by the interactive agency
        <a href="http://sensiolabs.com/">SensioLabs</a> for the development of
        web sites for its own customers. Symfony was published in 2005 under
        MIT Open Source license and today it is among the leading frameworks
        available for PHP development.

    </p>

    <p>

        Supported by SensioLabs - but also by a <a href="{{
        path('contributors')}}">large community</a> - Symfony provides many
        resources: plentiful documentation, community support (mailing lists,
        IRC, etc.), professional support (consulting, training, etc.), and so
        on.

    </p>

    <p>

        Thousands of <a href="{{ path('showcase') }}">web sites and applications</a>
        rely on the Symfony framework and the
        <a href="{{ path('marketing_page_shortcut', { name: 'components' }) }}">
        Symfony components</a> as the foundation of their web services. And most
        of the leading PHP projects, such as Drupal, phpBB, Laravel and eZ Publish
        use Symfony components to build their applications.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}About SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        Since 1998, SensioLabs has been promoting the Open-Source software
        movement by providing quality web application development, training and
        consulting. SensioLabs also supports several large Open-Source projects.

    </p>

    <ul>
        <li><a href="{{ path('services') }}">SensioLabs Business Solutions</a></li>
        <li><a href="http://sensiolabs.com/en/a_propos/nous_aimons_le_concret.html">Facts and Figures</a></li>
        <li><a href="http://sensiolabs.com/en/clients/clients.html">Our clients</a></li>
    </ul>
{% endblock %}
