{% block title 'Community' %}
{% block keywords '' %}
{% block description 'Get in touch with the community, find information about the developers social network, IRC channel, mailing list' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">The Developers mailing-list</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">The Users mailing-list</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">The Symfony Bloggers</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">The Forum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
