{% block title 'Get started' %}
{% block keywords '' %}
{% block description 'Downloads, get in touch with the community, read articles, find training sessions' %}

{% block intro %}
    <h2>The Quick Tour</h2>
    <p>
        What could be better to make up your own mind than to try
        out Symfony yourself? Aside from a little time, it will
        cost you nothing. Step by step you will explore the
        Symfony universe. Be careful, Symfony can become addictive
        from the very first encounter.
    </p>
{% endblock %}

{% block read 'Read' %}
{% block downloadpdf 'Download as PDF' %}
