{% block title 'Symfony IRC Channels' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        These are the official Symfony IRC channels on Freenode:
    </p>
    <ul>
        <li>
            <a href="irc://irc.freenode.net/symfony">#symfony</a>, the main
            Symfony channel and the best way to ask for Symfony support.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-dev">#symfony-dev</a>, the
            channel to discuss about the development of Symfony itself.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-docs">#symfony-docs</a>, the
            channel to discuss about the documentation of Symfony.
        </li>
    </ul>

    <h2>
        IRC tools
    </h2>
    <p>
        These are some of the best tools to chat on IRC channels:
    </p>
    <ul>
        <li>
            Windows: <a href="http://www.mirc.com/">mIRC</a>.
        </li>
        <li>
            Mac OS X: <a href="http://colloquy.info/">Colloquy</a>, <a href="https://adium.im/">Adium</a>.
        </li>
        <li>
            Linux: <a href="http://hexchat.github.io/">HexChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a>
        </li>
        <li>
            Browser extensions: <a href="http://chatzilla.hacksrus.com/">ChatZilla</a>
        </li>
        <li>
            Cloud services: <a href="https://www.irccloud.com">IRCCloud</a>
        </li>
    </ul>

    <h2>
        Local IRC channels
    </h2>

    <p>
        If you prefer to chat with other Symfony developers in your own language,
        consider using these local channels:
    </p>
    <ul>
        <li>Brazilian Portuguese: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
        <li>Czech: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
        <li>French: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
        <li>German: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
        <li>Russian: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
        <li>Spanish: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
        <li>Polish: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        <li>Swedish: <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
    </ul>
{% endblock %}
