{% block title 'Mailing Lists' %}
{% block keywords '' %}
{% block description '' %}

{% block discontinued_message %}
    Symfony Project discontinued its user mailing lists on June 2015
    (<a href="{{ path('blog_post', { slug: 'symfony-support-stack-overflow-as-the-main-medium' }) }}">Read the announcement</a>).
    Community support is now provided on <a href="http://stackoverflow.com/questions/tagged/symfony">StackOverflow</a>.
{% endblock %}

{% block read_only_message %}
    The following mailing lists are no longer active, but they are maintained in
    read-only mode for reference purposes.
{% endblock %}

{% block symfony2_title %}Symfony2 Users Group{% endblock %}
{% block symfony2_description %}
    Community support for the Symfony 2 and 3 versions. Replaced by the
    <a href="http://stackoverflow.com/questions/tagged/symfony">Symfony tag</a> on StackOverflow.
{% endblock %}

{% block symfony1_title %}symfony1 Users Group{% endblock %}
{% block symfony1_description %}
    Community support for the legacy symfony1 version. Replaced by the
    <a href="http://stackoverflow.com/questions/tagged/symfony1">symfony1 tag</a> on StackOverflow.
{% endblock %}

{% block symfonydev_title %}Developers Group{% endblock %}
{% block symfonydev_description %}
    Discussions about the development of the Symfony Framework itself. Replaced
    by the <a href="https://github.com/symfony/symfony/issues">Symfony Issues</a>
    section on GitHub.
{% endblock %}
