{% block title 'Mailing Lists' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit 'Subscribe' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1 Users Group</a></h3>
    <p>If you need help on symfony1, consider subscribing to the symfony1 user mailing-list:</p>
{% endblock %}

{% block archive %}
    <p>
        You can also browse the archive of the old
        <a href="http://groups.google.com/group/symfony-users">Users Group</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2 Users Group</a></h3>
    <p>If you need help on Symfony2, consider subscribing to the Symfony2 user mailing-list:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Developers Group</a></h3>
    <p>
        The developer mailing list is closed as of December 2013. Nevertheless,
        you can still browse its archive. If you want to contribute to the
        project or want to discuss a new feature, please refer to the Symfony
        <a href="https://github.com/symfony/symfony/">GitHub repository</a>.
    </p>
{% endblock %}
