{% block title 'Symfony Slack' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Join the Symfony Slack community. <a href="https://slackinvite.me/to/symfony-devs">Get a invite</a>.
    </p>

    <ul>
        <li>
            <a href="https://symfony-devs.slack.com/messages/general/">#general</a>, the main
            Symfony channel and the best way to chat with everybody in the Symfony community.
        </li>
        <li>
            <a href="https://symfony-devs.slack.com/messages/support/">#support</a>, the
            support channel and the best way to ask for Symfony support.
        </li>
    </ul>
{% endblock %}
