{% block title 'Symfony Support' %}
{% block keywords '' %}
{% block description 'Symfony Support provided by the community and professional support provided by SensioLabs.' %}

{% block title_community_support %}Community Support{% endblock %}
{% block stackoverflow_support %}
    Use <a href="http://stackoverflow.com/?tags=symfony">Stack Overflow</a>
    <span>to ask and answer Symfony questions.</span>
{% endblock %}
{% block irc_support %}
    Use <a href="{{ marketing_path('irc') }}">#symfony IRC channel</a>
    <span>to get real-time support.</span>
{% endblock %}

{% block title_professional_support %}Professional Support{% endblock %}
{% block sensiolabs_support %}
    <a href="http://sensiolabs.com">SensioLabs</a>, the company behind Symfony,
    provides a full range of solutions to get better results, faster. From
    consulting to training and from coaching to certification.
{% endblock %}
{% block business_solutions %}View all business solutions{% endblock %}
