{% block title 'Symfony Distributionen' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Am einfachsten und schnellsten gelingt der Einstieg in Symfony,
        indem Sie eine Symfony-Distribution herunterladen und konfigurieren.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Was ist eine Distribution?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Wie Linux-Distributionen, die bekannt für ihre einfache Installation und
        besondere Features sind, enthalten Symfony-Distributionen mehrere Symfony2-Komponenten,
        eine Auswahl an Bundles, eine Verzeichnisstruktur, eine Standardkonfiguration
        und ein optionales Web-Konfigurationssytem.
    </p>
{% endblock %}

{% block why_distribution_title %}Warum Distributionen?{% endblock %}
{% block why_distribution_description %}
    <p>
        Eine Distribution mit ihren ausgewählten Bundles, Struktur und Standardkonfiguration
        soll jeweils typische Anforderungen erfüllen: ob einfachen Einstieg, Content Management System zur
        Entwicklung einer dynamischen Website oder eine vollständige Version, um das Framework zu testen.
    </p>
{% endblock %}

{% block available_distribution_title %}Verfügbare Distributionen{% endblock %}
{% block available_distribution_description %}
    <p>
        Die <a href="{{ marketing_path('download') }}">Standard Edition</a> ist die optimale
        Version, um mit Symfony zu starten. Sie enthält die am häufigsten eingesetzen Bundles
        und verfügt über eine einfache Konfiguration, die mit den meisten Projekten kompatibel ist.
    </p>
    <p>
        Die <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a> basiert auf der
        Standard Edition und eignet sich am besten, um die reine Performance des Frameworks zu bewerten.
    </p>
{% endblock %}
