{% block title 'Download' %}
{% block keywords '' %}
{% block description 'Downloads, Kontakt zur Community, Artikel, Schulungsangebote' %}

{% block intro %}
    <h2>Symfony Standard Edition</h2>
    <p>
        Die Symfony Standard Edition ist die beste Distribution zum schnellen Aufsetzen
        eines neuen Projektes. Sie enthält häufig verwendete Bundles und ein einfaches
        Konfigurationssystem.
    </p>
{% endblock %}

{% block downloadnow 'Jetzt herunterladen' %}
{% block download 'Herunterladen' %}
{% block previousversion 'Frühere stabile Versionen herunterladen:' %}
{% block specificversion 'Eine spezifische Version auswählen:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Sie kennen sich mit der Konsole aus?</h3>
        <p style="padding-bottom: 0">
            Installieren Sie <a href="http://getcomposer.org/">Composer</a> und führen Sie folgenden Befehl aus:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ {{ latest_stable_version }}</pre>
    </div>
    <h3 class="title_05">Installationsanleitung</h3>
    <ol>
        <li>
            Laden Sie eines der Archive herunter und entpacken Sie es innerhalb des Root-Verzeichnisses
            Ihres lokalen Webservers. Wenn Sie Git installiert haben, sollten Sie Symfony2 "ohne Vendors" herunterladen,
            um etwas mehr Flexibilität zu haben.
        </li>
        <li>
            Folgen Sie den Hinweisen in der README.md Datei (das ist eine einfache Textdatei),
            die Sie im Root-Verzeichnis der entpackten Dateien finden.
        </li>
        <li>Viel Spaß!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY COMPONENTS</h2>
    <p>
        Symfony ist nicht nur ein vollständiges Framework, sondern besteht auch aus entkoppelten
        und selbstständigen Komponenten, die Sie auch unabhängig vom Framework
        <a href="{{ marketing_path('components') }}">herunterladen und installieren</a> können.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY UND GIT</h2>
    <p>
        Das <strong>offizielle Symfony2-Repository</strong> finden Sie auf GitHub unter
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Benutzen Sie dieses Repository nur, wenn Sie die aktuellste Entwicklungsversion nutzen wollen
        und es Ihnen nichts ausmacht, Dinge gelegentlich händisch zu installieren.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Symfony 1.4 ist das letzte Long Term Support-Release für symfony 1.X.
        und wurde bis November 2012 unterstützt.
        Wenn Sie ein neues Projekt starten wollen, sollten Sie
        stattdessen <a href="#top">Symfony2</a> verwenden.
    </p>
    <p>
        Sofern Sie bereits ein symfony 1.x-Projekt betreiben, können Sie weiterhin die
        <a href="{{ path('legacy_doc_home') }}">Dokumentation</a>
        für alle symfony 1.x-Versionen erreichen, alle stabilen Versionen
        <a href="#legacy">herunterladen</a> oder andere symfony 1.x-Ressourcen über die
        <a href="{{ path('legacy_home') }}">Legacy-Seite</a>  aufrufen. Sie können symfony1 auch über
        <a href="http://github.com/symfony/symfony1">Git</a> beziehen.
    </p>
    <p>
        Wenn Sie ein neues Projekt mit symfony 1.x starten möchten, laden Sie die Sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>) oder
        den Quellcode
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>) herunter,
        oder greifen Sie über das <a href="http://svn.symfony-project.com/branches/1.4">SVN-Repository</a> zu.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Frühere Versionen</h2>
    <p>Laden Sie die aktuellste Version eines früheren stabilen Releases herunter:</p>
{% endblock %}
