{% block title 'Pobieranie' %}
{% block keywords '' %}
{% block description 'Pobieranie, kontakt ze społecznością, lektura artykułów, szkolenia' %}

{% block intro %}
    <h2>Edycja standardowa Symfony</h2>
    <p>
        Edycja standardowa Symfony jest najlepszą edycją do użycia jeśli zaczynasz
        nowy projekt. Zawiera najbardziej potrzebne pakiety oraz posiada 
        podstawową konfigurację systemu.
    </p>
{% endblock %}

{% block downloadnow 'Pobierz teraz' %}
{% block download 'Pobierz' %}
{% block previousversion 'Pobierz poprzednie stabilne wydanie:' %}
{% block specificversion 'Wybierz konkretną wersję:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Wygodnie z konsoli?</h3>
        <p style="padding-bottom: 0">
            Zainstaluj <a href="http://getcomposer.org/">Composer</a> i wykonaj poniższe polecenie:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ {{ latest_stable_version }}</pre>
    </div>
    <h3 class="title_05">Instrukcje instalacji</h3>
    <ol>
        <li>
            Pobierz jedno z archiwów, rozpakuj je i umieść je w katalogu 
            lokalnego serwera www. Jeśli używasz GIT powinieneś pobrać Symfony2
            "without vendors", daje to nieco więcej swobody.
        </li>
        <li>
            Przeczytaj instrukcje z pliku README.md 
            (jest to plik tekstowy), który jest dołączony do pobranego pakietu.
        </li>
        <li>Korzystaj!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">KOMPONENTY SYMFONY</h2>
    <p>
        Oprócz tego, że Symfony jest kompletnym frameworkiem, jest to również
        zbiór samodzielnych i niezależnych komponentów. Mogą one być <a href="{{
        marketing_path('components') }}">pobrane i zainstalowane</a> niezależnie
        od frameworka.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY Z GIT</h2>
    <p>
        <strong>Oficjalne repozytorium Symfony2</strong> jest hostowane na Github
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Powinieneś używać tego repozytorium tylko jeśli chcesz konfigurować wszystko
        samodzielnie i nie masz problemów z instalowaniem wszystkiego ręcznie.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Wersja Symfony 1.4 jest ostatnią Wersją Długiego Wsparcia (LTS) obublikowaną dla
        gałęzi 1.X i będzie utrzymywana do listopada 2012.
        Jeśli zaczynasz nowy projekt powinieneś rozważyć instalację
        <a href="#top">Symfony2</a>.
    </p>
    <p>
        Jeśli jednak posiadasz działającą instalację w wersji 1.x, ciągle masz dostęp 
        do <a href="{{ path('legacy_doc_home') }}">dokumentacji</a> dla wszystkiech
        wersji 1.x,
        <a href="#legacy">pobierz</a> dowolną wersję stabilną lub odwiedź stronę
        <a href="{{ path('legacy_home') }}">archiwum</a>.
        Możesz również pobrać symfony1 z
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Jeśli chcesz rozpocząć nowy projekt pobierz wersję sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        kod źródłowy
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        lub <a href="http://svn.symfony-project.com/branches/1.4">użyj</a>
        repozytorium SVN.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Poprzednie wydania</h2>
    <p>Pobierz ostatnią wersję poprzednich stabilnych wydań:</p>
{% endblock %}
