{% block title '6 хороших причин для использования Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Использование фреймворка - это хорошо.  Это правильный выбор, даже лучше.
        Если не вдаваться слишком глубоко в подробности, то вот 6 веских со стратегической точки зрения причин для использования Symfony
        <br />
        Для технических подробностей кликните
        <a href=" {{ marketing_path('six_good_technical_reasons')}} ">тут</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Репутация</h2>
    <p>
    	Быстро принятый профессионалами, работающими в этой среде после его запуска в 2005 году, Symfony - сегодня это стабильная среда, одновременно хорошо известная и общепризнанная на международном уровне. Число упоминаний свидетельствует об этом, также как и его значительный рост с момента запуска. Symfony также является активным сообществом разработчиков, интеграторов, пользователей и других участников, которые помогают улучшать этот инструмент.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Постоянство</h2>
    <p>
    	За Symfony стоит организация: Sensio. Созданная более 12 лет назад, Sensio является веб-агенством, которое имеет множество крупных клиентов. Предусмотренный для собственных нужд, фреймворк Symfony сегодня все еще является ежедневным инструментом, используемым нашими группами для разработки клиентских проектов. Разработанный профессионалами для профессионалов, Symfony - это, прежде всего, прагматичный инструмент, особенностью которого является соотвествие требованиям реального мира.
    </p>
    <p>
    	Постоянство также относится к долгосрочной поддержке. Сегодня эта <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">поддержка</a>, естественно, предоставляется Sensio. Но есть и целая экосистема, которая выросла вокруг Symfony с момента его запуска: сообщество (списки рассылок, IRC и т.д.) и многие другие сервисные компании, которые вложили средства в этот фреймворк.
    </p>
    <p>
    	И наконец, что тоже сделано с целью обеспечения устойчивого развития, Symfony распространяется под свободной лицензией MIT, которая не накладывает ограничений и позволяется развиваться открытому ПО и проприетарным приложениям.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Ссылки</h2>
    <p>
        Интранет, большие публичные сайты, социальные сети, сайты сообществ, приложения для менеджмента и рабочих процессов и т.д. Сотни сайтов и приложений всех размеров и всех типов доверяют Symfony.
        <br/>
        Symfony используют Yahoo!, Dailymotion, Opensky.com, Exercise.com и даже такие приложения как phpBB и Drupal.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Инновации</h2>
    <p>
        Symfony - это все, что Вы ожидаете от фреймворка: скорость, гибкость, многоразовые компоненты и многое другое. Структура фреймворка была разработана с использованием самого передового опыта. Звучит неплохо?
    </p>
    <p>
        Но это еще не все! В Sensio выработали привычку пересматривать установленные порядки и всегда стремится к совершенству, Symfony (и все его сообщество) выработали чувство любопытства, выходящее далеко за рамки PHP. И мы, не стесняясь инноваций, ищем идеи, таких как внедрение зависимости из мира Java, а затем адаптируем их к миру PHP.
        <br/>
        Кроме того, Symfony постоянно ищет способы улучшить производительность разработчиков такими способами как, например, "панель отладки", взятыми из других фреймворков.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Ресурсы</h2>
    <p>
    	При использовании Symfony, Вы можете быть уверены, что никогда не “останетесь наедине с Вашим экраном”.
        Будь то вопрос в сообществе (списки рассылок, IRC и т.д.), либо необходимость в корпоративной техподдержке (консалтинг, <a href="http://trainings.sensiolabs.com/">обучение</a> и т.д.), вы всегда найдете ответы на ваши вопросы.
        <br/>
        Исходя из принципа, что “недокументированная строка - это строка, которая не существует линия это линия, которая не существует,” вы также найдете много работ, посвященных Symfony, которые помогут Вам на всех этапах разработки сайтов и приложений.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Взаимодействие </h2>
    <p>
    	Идея Symfony: Не запирать себя с Symfony! Создавайте приложения, которые точно отвечают вашим требованиям!
        <br/>
        Symfony уважает существующие "де факто" стандарты PHP: PHPUnit, именование классов и т.д. Кроме того, Symfony также позволяет использовать некоторые из своих программных строительных блоков (внедрение зависимости, управление переводами, управление формами и пр.) без обязательного использования фреймворка в целом.
    </p>
    <p>
        Кстати, Symfony настолько совместим, что в ядре сам использует внешние программные блоки (ORM Doctrine, Swiftmailer и пр.)!
    </p>
{% endblock %}

{% block summary %}
    <p>Вы не ошибетесь, выбрав Symfony! И никто никогда не был уволен за использование Symfony.</p>
{% endblock %}