{% block title 'Symfony na první pohled' %}
{% block keywords '' %}
{% block description 'Co je Symfony - Začněte tady, jestli chcete krátké stručné vysvětlení.' %}

{% block introduction %}
    <p>
        Symfony je PHP framework pro vývoj webových aplikací.
        <br />
        Není to odpověď na vaši otázku? Dobře, zkusme to tedy ještě jednou.
        <br />
        Symfony je harmonické spojení <a href="#framework">PHP frameworku</a>,
        <a href="#philosophy">filosofie</a> a <a href="#community">komunity</a>.
    </p>
{% endblock %}

{% block framework %}
    <h2 class="title_09"><a name="framework">PHP framework</a></h2>
    <p>
        Pro lepší pochopení pojmu framework opustíme na chvíli svět informatiky
        a vžijeme se do role horolezců. Vývoj aplikace je velmi podobný
        výstupu na sklaní stěnu: stojíme dole před stěnou (máme vytvořit aplikaci)
        a potřebujeme dosáhnout vrcholu (mít radost s dobře navržené
        a perfektně fungující aplikace).
    </p>
    <p>
        Pokud na stěnu ještě nikdo nelezl, musíte postupovat sami na vlastní pěst:
        udělat testovací trasy, občas se vrátit, abyste neuvízli v rohu,
        zatloukat skoby atd. Naproti tomu, pokud už někdo zdolal stěnu před vámi,
        nemusíte zkoušet různé cesty, ale otevírá se vám možnost využít nářadí
        a prošlapanou cestu (framework), po které lze stoupat nahoru (vaše práce).
    </p>
    <p>
        V zásadě framework tvoří:
    </p>
    <ul class="list_02">
        <li>
            <strong>Nástroje</strong>
            – sada předpřipravených a rychle použivatelných komponent.
            Díky těmto nástrojům budete psát méně kódu s daleko menším výskytem chyb.
            Zvýší se vaše produktivita a získáte čas na tvorbu věcí, které přidávají
            hodnotu vašemu projektu.
        </li>
        <li>
            <img src="/images/en/best_practices_guaranteed.jpg" alt="Zaručeně nejlepší postupy!" class="box_article_illustration" />
            <strong>Postupy</strong>
            – „výrobní výkres“ pro aplikace. Mít předepsaný postup se může na první
            pohled zdát omezující. Ale ve skutečnosti vývojářům umožňuje pracovat
            účinně a efektivně i u těch nejsložitějších úkolů. Používání osvědčených
            postupů zajišťuje stabilitu, udržitelnost a aktualizovatelnost vyvíjených
            aplikací.
        </li>
    </ul>
    <p>
        A i když to může být zřejmé, považujeme za nutné zopakovat –
        Symfony je PHP framework, což znamená, že umožňuje tvorbu webových aplikací v PHP!
    </p>
{% endblock %}

{% block philosophy %}
    <h2 class="title_09"><a name="philosophy">Filosofie</a></h2>
    <p>
        Co může být užitečnějšího než aplikace vytvořená uživateli řešící jejich potřeby?
        Toto je příběh vývoje Symfony – rodí se z představ webových designerů v SensioLabs.
        Symfony byl zveřejněn pod Open Source licencí, aby byl každému dostupný.
        Díky tomu ho mohli další vývojáři zlepšovat přidáváním vlastních modulů. To vše
        bylo prováděno s ohledem na nejlepší postupy, standardizaci a interoperabilitu
        aplikací.
    </p>
{% endblock %}

{% block community %}
    <h2 class="title_09"><a name="community">Komunita</a></h2>
    <p>
        Za Symfony stojí reální lidé. Symfony vytvořili lidé z agentury SensioLabs
        k řešení jejich problémů s vývojem webových aplikací a je úžasné, že nadále
        podporují vývoj frameworku. Za posledních 5 let se kolem Symfony vytvořila
        obrovská komunita vývojářů, uživatelů a přispěvatelů z různých zemí.
    </p>
{% endblock %}

{% block conclusion %}
    <p>Symfony je PHP framework.</p>
    <p>Symfony je nejenom framework, ale také sada nástrojů a osvědčených postupů.</p>
    <p>Kromě toho představuje Symfony také filosofii a komunitu.</p>
{% endblock %}
