{% block title 'Distribuce' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Nejjednodušší a nejrychlejší cestou, jak začít se Symfony, je
        stáhnout si přednastavenou distribuci.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Co je distribuce?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Pojem distribuce možná znáte například ze světa Linuxu. Představují jednoduchý
        způsob, jak nainstalovat potřebný operační systém s konkrétními vlastnostmi
        (serverová verze, verze pro mobilní telefony, atd.). Podobně
        je to i se Symfony distribucí, která obsahuje Symfony2 komponenty,
        vybrané balíčky, výchozí nastavení a jednoduchý konfigurační nástroj.
        Všechny tyto části jsou navíc uloženy ve správné adresářové struktuře.
    </p>
{% endblock %}

{% block why_distribution_title %}Proč distribuce?{% endblock %}
{% block why_distribution_description %}
    <p>
        Distribuce s vybranými balíčky, danou adresářovou strukturou
        a výchozí konfigurací je navržena tak, aby splňovala různé
        uživatelské potřeby. Někdo se chce s frameworkem jen seznámit,
        jiný potřebuje vytvořit publikační systém a další chce plnou
        verzi pro testování frameworku.
    </p>
{% endblock %}

{% block available_distribution_title %}Dostupné distribuce{% endblock %}
{% block available_distribution_description %}
    <p>
        <a href="{{ marketing_path('download') }}">Standardní edice</a>
        je nejlepší distribucí s níž můžete začít. Obsahuje nejčastěji
        používané balíčky a jednoduchou konfiguraci, která je vyhovující
        pro většinu projektů.
    </p>
    <p>
        Nejlepší distribucí pro měření výkonu samotného frameworku je
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>.
    </p>
{% endblock %}
