{% block title 'Ke stažení' %}
{% block keywords '' %}
{% block description 'Soubory ke stažení, komunita, články, školení' %}

{% block intro %}
    <h2>Standardní edice Symfony</h2>
    <p>
        Při vytváření nového projektu je nejlepší začít se standardní edicí Symfony.
        Její součástí jsou základní balíčky a navíc také obsahuje jednoduchý
        konfigurační nástroj.
    </p>
{% endblock %}

{% block downloadnow 'Stáhnout' %}
{% block download 'Ke stažení' %}
{% block previousversion 'Stáhnout předchozí stabilní vydání:' %}
{% block specificversion 'Výběr konkrétní verze:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Pracujete rádi s konzolí?</h3>
        <p style="padding-bottom: 0">
            Nainstalujte <a href="http://getcomposer.org/">Composer</a> a spusťte následující příkaz:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ {{ latest_stable_version }}</pre>
    </div>
    <h3 class="title_05">Popis instalace</h3>
    <ol>
        <li>
            Stáhněte archiv do libovolné složky, která je přístupná
            z lokálního serveru a rozbalte ho. Pokud máte nainstalovaný
            git, stáhněte Symfony2 bez přídavných knihoven.
        </li>
        <li>
            Postupujte podle pokynů uvedených v textovém souboru README.md,
            který je součástí archivu.
        </li>
        <li>Užijte si to!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY KOMPONENTY</h2>
    <p>
        Symfony není jen frameworkem, ale též sadou oddělených
        a samostatných knihoven. Tyto knihovny lze <a href="{{
        marketing_path('components') }}">stáhnout a nainstalovat</a> nezávisle
        na hlavním frameworku.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY GIT REPOZITÁŘ</h2>
    <p>
        <strong>Oficiální repozitář Symfony2 </strong> je hostován na serveru GitHub
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Tento repozitář použijte jen v případě, když chcete opravdu tu nejaktuálnější
        verzi Symfony se všemi „horkými“ novinkami a nevadí Vám ruční instalace.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Poslední verzí řady symfony 1.X s dlouhodobou podporou je symfony 1.4.
        Tato verze byla udržovaná do listopadu 2012. Nové projekty by proto
        měly být založeny raději na <a href="#top">Symfony2</a>.
    </p>
    <p>
        Pokud některý z Vašich projektů stále běží na symfony 1.x,
        je stále možné si přečíst
        <a href="{{ path('legacy_doc_home') }}">dokumentaci</a>
        pro všechny verze 1.x a
        <a href="#legacy">stáhnout</a> některou ze stabilních verzí.
        K dalším nástrojům pro symfony 1.x je možné se dostat přes stránku
        <a href="{{ path('legacy_home') }}">symfony1</a>.
        Pro symfony1 je též dostupný
        <a href="http://github.com/symfony/symfony1">Git repozitář</a>.
    </p>
    <p>
        Pokud chcete vytvořit nový projekt postavený na symfony 1.x,
        tak si stáhněte buď sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        framework
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        nebo <a href="http://svn.symfony-project.com/branches/1.4">svn repozitář</a>.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Starší vydání</h2>
    <p>Stáhněte si poslední verzi předchozích stabilních vydání:</p>
{% endblock %}
