{% block title '6 boas razões para utilizar o Symfony' %}
{% block keywords '' %}
{% block description '6 boas razões para utilizar o Symfony' %}

{% block intro %}
    <p>
        Utilizar um Framework é algo bom. Fazer a escolha certa é ainda melhor
        Sem aprofundar muito no assunto e sem nenhuma ordem particular, aqui estão
        seis boas razões para utilizar o Symfony, do ponto de vista estratégico.
        <br />
        Para os aspectos técnicos, veja
        <a href=" {{ marketing_path('six_good_technical_reasons')}} ">aqui</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Reputação</h2>
    <p>
        Rapidamente adotado por profissionais atuantes neste campo após o seu lançamento
        em 2005, o Symfony, hoje, é um ambiente estável, bem conhecido e
        reconhecido internacionalmente. O número de suas referências atesta isso,
        pois elas têm crescido significativamente desde o seu lançamento.
        O Symfony é também uma comunidade ativa: programadores, integradores, usuários e
        outros colaboradores que participam do enriquecimento contínuo desta ferramenta.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2. Permanência</h2>
    <p>
        Por trás do Symfony existe uma empresa: a Sensio. Criada há mais de 12 anos,
        a Sensio é uma agência web que possui muitas "major accounts" entre as suas referências.
        Idealizado para suas próprias necessidades, o framework Symfony é ainda hoje a ferramenta
        diária utilizada por suas próprias equipes para desenvolver projetos de clientes. Projetado
        por profissionais para profissionais, o Symfony é, antes de tudo, uma ferramenta pragmática,
        com características que visam requisitos do mundo real.
    </p>
    <p>
        Permanência é também algo que está relacionado à suporte de longo prazo. Hoje, este
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suporte</a>
        é fornecido naturalmente pela Sensio. Mas há também todo um ecossistema que tem
        crescido em torno do Symfony desde o seu lançamento: a comunidade (as listas de discussão, IRC, etc)
        e as muitas outras empresas de serviços que investiram no framework.
    </p>
    <p>
        Por último, é também visando o desenvolvimento sustentável que o Symfony
        é distribuído sob a licença de código aberto MIT, que não impõe restrições
        e permite o desenvolvimento de código aberto, bem como, aplicações proprietárias.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3. Referências</h2>
    <p>
        Intranets, grandes sites públicos em geral, redes sociais, sites de comunidades, aplicações
        de gerenciamento e workflow, etc. Exemplos não faltam:
        Centenas de sites e aplicações de todos os tamanhos e de todos os tipos confiam no Symfony.
        <br/>
        Este é especificamente o caso da Yahoo!, Dailymotion, Opensky.com,
        Exercise.com e até mesmo de aplicações como o phpBB e Drupal.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4. Inovação</h2>
    <p>
        O Symfony possui tudo o que você espera de uma framework: velocidade,
        flexibilidade, componentes reutilizáveis, etc. E ainda, há a estrutura do que
        foi desenvolvido e a utilização das melhores práticas. Nada mau!
    </p>
    <p>
        Mas isso não é tudo! Desde que a Sensio desenvolveu um hábito de agitar a ordem
        estabelecida e está sempre buscando a excelência, o Symfony
        (e toda a sua comunidade) desenvolveu um senso de curiosidade que vai muito
        além do PHP. E nós não hesitamos em inovar, buscando idéias em outros lugares e
        depois adaptando-as ao mundo do PHP, tais como, "dependency injection"
        do mundo Java.
        <br/>
        Além disso, o Symfony, buscando melhoria contínua na produtividade dos desenvolvedores,
        idealizou a "barra de ferramentas de debug", levada para outros frameworks,
        sendo PHP ou não.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5. Recursos</h2>
    <p>
        Ao usar o Symfony, você tem a certeza de nunca "estar a sós com sua tela".
        Sendo uma questão de suporte da comunidade (mailing lists, IRC, etc) ou de suporte às
        empresas (consultoria, <a href="http://trainings.sensiolabs.com/">treinamento</a>, etc.),
        você sempre encontrará as respostas para suas perguntas.
        <br/>
        Partindo do princípio de que "uma linha não documentada é uma linha que não existe",
        você também vai encontrar muitos trabalhos dedicados ao Symfony, que irão ajudá-lo durante
        todo o desenvolvimento dos seus sites e aplicações.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6. Interoperabilidade</h2>
    <p>
        A idéia por trás do Symfony: Não se tranque dentro do Symfony! Permita-se
        construir aplicações que precisamente atendam às suas necessidades!
        <br/>
        O Symfony respeita os "de facto standards" existentes do PHP: PHPUnit, convenções
        de nomenclatura de classes, etc. Além disso, o Symfony também permite que você utilize alguns
        dos seus blocos de construção de software ("dependency injector", gerenciamento de traduções,
        gerenciamento de formulários, etc) sem necessariamente usar o framework na sua totalidade.
    </p>
    <p>
        A propósito, o Symfony é tão interoperável que, em seu núcleo, ele mesmo usa blocos
        de construção de software externos (Doctrine ORM, SwiftMailer, etc)!
    </p>
{% endblock %}

{% block summary %}
    <p>Você não estará errado escolhendo o Symfony! E ninguém jamais foi demitido por usar o Symfony.</p>
{% endblock %}
