{% block title 'Os benefícios tecnológicos do Symfony em 6 lições fáceis' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Assim como um alpinista escolherá um mosquetão de aço ao invés de um de plástico,
        um desenvolvedor trabalhará muito melhor com um framework que simplifique a sua vida
        e o seu trabalho diário. Caso contrário, terá muito código para escrever...
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Mais rápido e menos voraz</h2>
    <p>
        No mundo da TI, não é uma ocorrência rara as pessoas se preocuparem com o
        desempenho de uma aplicação... ao chegarem no final do projeto!
        Isto é, uma vez que tudo já foi concebido, tanto no nível funcional quanto tecnológico.
        E, a menos que você separe tudo novamente, a otimização da performance
        não é exatamente uma tarefa fácil.
    </p>
    <p>
        Por outro lado, o Symfony 2.0 foi concebido desde o início para ser rápido e favorecer
        o desempenho. A título de comparação, o Symfony 2.0 é cerca de 3 vezes mais rápido do que
        a versão 1.4 ou do que o framework Zend 1.10, consumindo 2 vezes menos memória.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2. Flexibilidade ilimitada</h2>
    <p>
        Independentemente das suas necessidades, o Symfony 2.0 será adaptável. O seu injetor de
        dependência (dependency injector) e o Dispatcher de Eventos o tornam completamente configurável,
        com cada uma das peças sendo totalmente independente. Um framework 3-em-1, dos seguintes tipos:
    </p>
    <ol>
        <li>Full Stack (versão completa): você deseja desenvolver uma aplicação complexa e precisa de muitas funcionalidades.</li>
        <li>Peça a peça: você constrói o seu framework de acordo com as funcionalidades que você precisa.</li>
        <li>Microframework: com uma versão independente, o Symfony 2.0 também pode ser utilizado para desenvolver uma funcionalidade específica em um dos seus projetos. Sem ter que reconstruir tudo e sem ter que instalar todo o framework, mas, apenas, a peça específica que você precisa.</li>
    </ol>
    <p>
        Permanência é também algo que está relacionado à suporte de longo prazo. Hoje, este
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suporte</a>
        é fornecido naturalmente pela Sensio. Mas, há também todo um ecossistema que tem 
        crescido em torno do Symfony, desde o seu lançamento: a comunidade (as listas de discussão, IRC, etc)
        e as muitas outras empresas de serviços que investiram no framework.
    </p>
    <p>
        Por último, é também visando o desenvolvimento sustentável que o Symfony
        é distribuído sob a licença de código aberto MIT, que não impõe restrições e
        permite o desenvolvimento de código aberto, bem como, aplicações proprietárias.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3. Expansível</h2>
    <p>
        Desde a mais pequena peça até o próprio núcleo completo, tudo no Symfony 2.0 é apresentado como
        um "bundle" (ou plug-in na linguagem Symfony). Cada bundle destina-se à adicionar uma
        funcionalidade ao framework, é claro, e cada bundle pode também ser reutilizado
        em outro projeto ou compartilhado com a comunidade.
        <br/>
        Em qualquer caso, o sistema de bundles permite mudar tudo dentro do Symfony,
        incluindo o próprio núcleo. Utilizando a interface contracts do sistema entre as peças,
        o comportamento do framework pode ser alterado à vontade, sem a necessidade de reconfiguração
        completa.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4. Estável e Sustentável</h2>
    <p>
        Desenvolvidas pela Sensio Labs, todas as principais versões do Symfony são suportadas por 3 anos
        pela empresa. E são considerados, mesmo por toda a vida, problemas relacionados à segurança.
        <br/>
        Para uma estabilidade ainda maior, as versões menores do contract e interface
        do Symfony 2.0 também são garantidas e a compatibilidade entre todas as versões menores está 
        assegurada na API definida pelas interfaces públicas.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5. A alegria do desenvolvimento</h2>
    <p>
        Com um ambiente altamente funcional, o Symfony 2.0 também garante um certo nível de conforto
        para os desenvolvedores. Ao cuidar de uma série de tarefas desagradáveis ​​(desenvolvimento de
        funcionalidades menores, por exemplo), o symfony 2.0 permite aos desenvolvedores concentrarem-se
        nos pontos principais de uma aplicação para validar totalmente suas funções e melhorar a
        sua produtividade.
        <br/>
        Entre as ferramentas do Symfony concebidas para tornar a vida do desenvolvedor muito mais fácil,
        há a lendária barra de ferramentas para Debug Web, bem como, o suporte nativo para
        ambientes de desenvolvimento, páginas de erro detalhadas ou ainda segurança nativa.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.Fácil de usar</h2>
    <p>
        Totalmente flexível para satisfazer as necessidades dos profissionais e usuários
        avançados, o Symfony 2.0 também é muito acessível. Documentação abundante,
        comunidade e
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suporte</a>,
        e melhores práticas "incorporadas" no framework (as melhores práticas são 
        aplicadas de forma nativa, sem ter que estar ciente delas ou compreendê-las)
        permitem que um novato rapidamente sinta-se à vontade com o Symfony.
    </p>
{% endblock %}

{% block summary %}
    <p>Você não estará errado escolhendo o Symfony! E ninguém jamais foi demitido por usar o Symfony.</p>
{% endblock %}
