{% block title 'Rólunk' %}
{% block keywords '' %}
{% block description 'Tudd meg kik készítik a keretrendszert, mik a céljaik' %}

{% block intro %}
    <p>
        A Symfony egy nyílt forráskódú PHP webfejlesztő keretrendszer.
        Eredetileg a saját ügyfelei számára készített weboldalak fejlesztéséhez
        hozta létre a Sensio Labs interaktív ügynökség. 2005-ben MIT licensz alatt
        tették szabadon elérhetővé, és mára az egyik vezető PHP keretrendszerré
        nőtte ki magát.
        <br/>
        A Sensio Labs &ndash; és egy <a href="{{ path('contributors') }}">nagy közösség</a> &ndash;
        támogatásával a Symfony sok erőforrással rendeleizk: számos dokumentáció,
        közösségi támogatás (levelezőlisták, IRC stb.), professzionális
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">támogatás</a>
        (tanácsadás, <a href="http://trainings.sensiolabs.com/">tanfolyam</a> stb.), és még sok más.
        <br/>
        A Symfony 2.0-s verziójával &ndash; több száz, ezen a platformon fejlesztett szájt
        és alkalmazás mellett &ndash; már olyan tekintélyes referenciákat is fel tud mutatni,
        mint a Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB, vagy a Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Mi a Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">KÜLDETÉSNYILATKOZAT</h2>
    <p>A Symfony teljes egészében szabad szoftver, amely az <a href="{{ path('license') }}">MIT licensz</a> alatt lett közzétéve.</p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        1998 óta a Sensio Labs minőségi webes alkalmazás-fejlesztéssel, tanfolyamokkal
        és tanácsadással támogatja a szabad szoftver mozgalmat, és számos nyílt forráskódú
        projektet is.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Sensio Labs - tények és számok</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ajánlatok</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Ügyfelek</a></div></li>
    </ul>
{% endblock %}
