{% block title 'Közösség' %}
{% block keywords '' %}
{% block description 'Lépj kapcsolatba a közösséggel, ismerkedj meg a fejlesztőkkel, az IRC csatornákkal, a levelezőlistákkal' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">A fejlesztői levelezőlista</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">A felhasználói levelezőlista</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">A Symfony bloggerek</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">A fórum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
