{% block title 'Első lépések' %}
{% block keywords '' %}
{% block description 'Töltsd le, ismerkedj meg a közösségel, olvass cikkeket, oldj meg gyakorlófeladatokat' %}

{% block intro %}
    <h2>Gyorstalpaló</h2>
    <p>
        Miért is nem próbálod ki te magad? Csak egy kis idődbe kerül
        és lépésről lépésre felfedezheted a Symfony univerzumát.
        De légy óvatos, már az első perctől kezdve Symfony-függővé válhatsz.
    </p>
{% endblock %}

{% block read 'Olvasás' %}
{% block downloadpdf 'Letöltés PDF-ként' %}
