{% block title 'Die technischen Vorzüge von Symfony in 6 einfachen Lektionen' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Wie ein Bergsteiger einen Stahlkarabiner gegenüber einem aus Plastik bevorzugen würde,
        würde ein Entwickler stehts mit einem Framework arbeiten wollen, welches
        sein Leben und alltägliche Arbeit erleichtert. Ansonsten müsste so viel Code geschrieben werden...
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Schneller und weniger gierig</h2>
    <p>
        In der IT-Welt, ist es nicht selten, dass Leute über die Geschwindigkeit
        einer Anwendung beunruhigt sind... dann wenn sie das Ende eines Projekts errreicht haben!
        Das bedeutet, genau dann wenn, sowohl funktional als auch auf technischer Ebene, alles erbaut wurde.
        Und sofern man nicht wieder alles auseinander nimmt, ist Performanzoptimierung nicht wirklich
        eine leichte Sache.
    </p>
    <p>
        Im Gegenzug dazu, war Symfony2 schon immer auf Performanz ausgelegt.
        Symfony2 ist vergleichsweise 3 mal schneller als Version 1.4 oder Zend Framework 1.10, während es
        um die Hälfte weniger Speicher verbraucht.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Unlimitierte Flexibilität</h2>
    <p>

        Egal welche Anforderungen Sie haben, es wird mit Symfony2 machbar sein.
        Durch die Benutzung von Dependency Injection und dem Event Dispatcher wird das System komplett konfigurierbar
        und einzelne Bausteine können völlig unabhängig voneinander aufgebaut werden.
        Ein 3-in-1 Framework:
    </p>
    <ol>
        <li>Full Stack (komplette Version): Sie wollen eine komplexe Anwendung mit viel Funktionalität entwickeln.</li>
        <li>Stück für Stück: Sie bauen Ihr Framework entsprechend Ihrer Funktionalität.</li>
        <li>Micro-Framework: Symfony2 kann auch dafür verwendet werden, eine einzelne Funktionalität in einem
            Ihrer Projekte zu realisieren ohne dabei alles neu entwickeln und ohne
            das gesamte Framework installieren zu müssen. Installieren Sie nur den Baustein, den Sie brauchen.
        </li>
    </ol>
    {# TODO .. doubled?
    <p>
        Permanence is also something that relates to long-term support. Today, this
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>
        is naturally provided by Sensio.  But there is also an entire ecosystem that
        has grown up around Symfony since its launch: the community (mailing lists, IRC, etc.)
        and the many other service companies that have invested in the framework.
    </p>
    <p>
        Lastly, it is also with a view towards sustainable development that Symfony
        is distributed under Open Source MIT license, which does not impose constraints
        and allows the development of Open Source as well as proprietary applications.
    </p>
    #}
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Erweiterbar</h2>
    <p>
        Von dem kleinsten Baustein, bis hin zum Kern ist alles ein "Bundle" in Symfony2 (oder Plugin in symfony).
        Jedes Bundle fügt dem Framework neue Funktionalität hinzu und kann natürlich in jedem anderen Projekt
        wiederverwendet oder mit dem Rest der Community geteilt werden.
        <br />
        Auf jeden Fall erlaubt das Bundle-System alles innerhalb von Symfony selbst zu ändern, selbst den Kern.
        Durch die Verwendung der Schnittstelle zwischen den einzelnen Bausteinen, kann das Verhalten des Frameworks
        nach belieben geändert werden, ohne es komplett neu konfigurieren zu müssen.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Stabil und nachhaltig</h2>
    <p>
        Entwickelt von SensioLabs, werden alle Haupt-Versionen von Symfony 3 Jahre von
        dem Unternehmen unterstützt und sogar lebenslänglich, was sicherheitsrelevante Probleme betrifft.
        <br/>
        Für noch größere Stabilität sind die kleineren Versionen, durch die API der öffentlichen Schnittstellen,
        untereinander kompatibel.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Die Freude am Entwickeln</h2>
    <p>
        Symfony2 bietet Entwicklern ein hohes Level an Komfort.
        Dadurch dass es viele unangenehme Aufgaben abnimmt, erlaubt Symfony2 den Entwicklern sich
        auf die tatsächlichen Höhepunkte einer Anwendung zu konzentrieren, um somit deren Produktivität zu erhöhen.
        <br/>
        Inmitten der von Symfony bereitgestellten Hilfsmittel für Entwickler,
        gibt es die legende Web Debug Toolbar, als auch die native Unterstützung von Entwicklungsumgebungen,
        detaillierte Fehlerseiten und nativ unterstützte Sicherheit.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Bedienkomfort</h2>
    <p>
        Symfony2 ist komplett flexibel um die Bedürfnisse sowohl von Profis, als auch von fortgeschrittenen Anwendern
        gleichermaßen zufrieden zu stellen.
        Reichlich Dokumentation, professioneller <a href="http://sensiolabs.de/services/services.html">Support</a>,
        und "eingebaute" Best Practices innerhalb des Frameworks (Best Practices die
        man automatisch übernimmt ohne es zu merken) erlauben es Anfängern sich
        sehr schnell mit Symfony wohl zu fühlen.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Symfony zu wählen bedeutet eine langfristige Vision von wertvollen Anwendungen zu haben.
        Es bedeutet auch zu wissen, wie das alltägliche Leben eines Entwicklers vereinfacht werden kann.
    </p>
{% endblock %}
