{% block title '10 Kriterien für die Auswahl des geeigneten Frameworks' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Sie machen Fortschritte und das ist gut so!
        Sie wissen bereits, dass Sie ein Framework einsetzen werden, um Ihre Webseite
        oder Anwendung zu entwickeln.
        Aber Welches? Hier ist eine Checkliste, die Sie benutzen können, um Fehler zu vermeiden:
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Beliebtheit und Community-Größe</h2>
    <p>
        Je bekannter ein Framework ist, desto mehr "lebt" es und entwickelt sich.
        Neue Ideen, die Anzahl und Qualität der Plugins steigt.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Philosophie</h2>
    <p>
        Das ist das Wesen eines Frameworks: es stellt sicher all Ihre Anforderungen erfüllen zu können.
        Ein Werkzeug, welches von Profis für ihre eigenen Zwecke entwickelt wurde, wird offensichtlich
        auch die Anforderungen anderer Fachleute erfüllen.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Nachhaltigkeit</h2>
    <p>
        Bevor ein Framework ausgewählt wird, muss sichergestellt werden, dass es langfristig auch
        unterstützt wird. Dies vereinfacht sowohl die Wartbarkeit, als auch das Einspielen von Upgrades
        in Ihre Anwendungen.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Support</h2>
    <p>
        Ein anderes nicht zu unterschätzendes Kriterium ist das schnelle Auffinden von Antworten auf Ihre Fragen
        und Hilfe zu bekommen. Finden Sie die möglichen Support-Möglichkeiten heraus:
        Durch den Verlauf? Über die Community (Mailinglisten, IRC, usw.)? Von Dienstleistern (Entwicklung,
        <a href="http://www.sensiolabs.de/services/services.html">Support</a>,
        <a href="http://www.sensiolabs.de/services/schulungen.html">Training</a>)?
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Technik</h2>
    <p>
        Um zu vermeiden in einem Labyrinth gefangen zu werden, ist es immer besser
        eine interoperable Lösung zu wählen; eine, die Best Practices in der Entwicklung
        respektiert (<i>Design Patterns</i>).
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Sicherheit</h2>
    <p>
        Jeder Anwendung ist potentiell angreifbar. Um das Risiko zu minimieren ist es immer besser,
        ein Framework zu verwenden, welches sicherheitsrelevante Funktionen zur Verfügung stellt
        (wie zum Beispiel Schutz vor Cross-Site-Scripting).
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7.	Dokumentation</h2>
    <p>
        Es ist eine absolute Notwendigkeit die Art und Weise, Qualität und Quantität von
        existierender Literator über ein Framework zu überprüfen:
        ein gut dokumentiertes System ist immer leichter zu benutzen und zu aktualisieren.
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8.	Lizenz</h2>
    <p>
        Lizenzen sind wichtig, weil sie einen erheblichen Einfluss auf Ihre Anwendungen haben.
        Eine Anwendung, welche über ein GPL-lizenziertes Framework entwickelt wurde, muss zwangsläufig
        auch unter GPL laufen (Copyleft). Das ist jedoch nicht der Fall für ein MIT-lizenziertes Framework.
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9.	Verfügbarkeit von freien Ressourcen auf dem Markt</h2>
    <p>
        Egal ob Sie ein technisches Team nur während der Entwicklung oder auch langfristig,
        für Wartung und Aktualisierungen, um sich herum haben wollen:
        Stellen Sie sicher, dass die notwendigen Ressourcen für ein System auch auf dem offenen Markt verfügbar sind.
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. Probieren Sie es aus!</h2>
    <p>
        Das ist der Schlüssel! Geben Sie sich nicht mit dem Lesen von Views, Kommentaren und Gerüchten zufrieden.
        Nur durch Austesten können Sie sich Ihre eigene Meinung zu einem System machen
        und sicher stellen, dass ein System zu Ihnen passt.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Die Wahl eines Frameworks ist keine einfache Sache, es ist ein langfristiges Commitment.
        Stellen Sie sicher, dass Sie die richtige Wahl treffen!
    </p>
{% endblock %}
