{% block title 'Wann sollte ich ein Framework benutzen?' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Nun... Wann immer Sie es natürlich, für die Entwicklung einer Web-Anwendung oder Seite benötigen!
    </p>
    <p>
        Warum würden Sie ein individuelles Möbelstück anfertigen lassen, wenn Sie eines,
        welches perfekt zu Ihrer Einrichtung passt, auch ab Lager bekommen können?
        Das Gleiche gilt für Computer-Anwendungen:
        Bevor Sie anfangen ein Framework zu erstellen ist ein bisschen Forschungsarbeit notwendig.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Allgemeine Anforderungen vs. spezifische Funktionen</h2>
    <p>
        Neben einem Framework, gibt es noch andere Lösungen, um sowohl Webseiten und Anwendungen
        zu entwickeln: CMS-Systeme (Content Management System) und deren zusätzlichen Module,
        sowie fertige Lösungen (CRM, e-Commerce Lösungen, usw.).
        Wenn deren native Funktionalität perfekt zu Ihren aktuellen und zukünftigen Anforderungen passt,
        dann gilt ganz klar: Gehen Sie es an! Es gibt keinen Grund das Rad neu zu erfinden.
    </p>
    <p>
        Auf der anderen Seite, wird ein Framework benötigt, wenn spezielle Anforderungen, spezielle
        Unternehmensregeln oder das Bauen von gemischter Infrastruktur (zum Beispiel Inhalt und e-Commerce)
        notwendig sind.
        Ein Framework erlaubt es eine Anwendung zu entwickeln, welches perfekt zu Ihren Anforderungen passt
        und zugleich innovativ zu sein.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Die richtigen Fragen</h2>
    <p>
        Um sicher zu gehen, dass Sie die richtige Wahl, sowohl kurz- als auch langfristig treffen, ist es
        notwendig die richtigen Fragen zu stellen:
    </p>
    <ol>
        <li>Was sind meine aktuellen Anforderungen?  Werden sie durch fertige Lösungen abgedeckt?</li>
        <li>Welche Fähigkeiten benötige Ich, wenn ich ein Framework wähle?</li>
        <li>Wird die entwickelte Lösung erweiterbar sein?</li>
    </ol>
    <p>
        Tappen Sie nicht in die Falle der "scheinbar einfachen Anforderungen".
        In vielen Fällen wird schnell deutlich, dass die Umsetzung von Unternehmensregeln und -funktionen
        nicht so einfach ist, wie ursprünglich gedacht.
    </p>
    <p>
        Und nebenbei: Symfony ist auch sehr gut geeignet für "Mini-Projekte".
    </p>
{% endblock %}

{% block summary %}
    <p>Ein Framework kann auf alle Anforderungen zugeschnitten werden.</p>
    <p>... aber das ist nicht notwendig, wenn die Anforderungen generischer Natur sind.</p>
    <p>Bevor Sie ihre Entscheidung treffen, definieren Sie Ihre aktuellen und zukünftigen Anforderungen im Detail,
        um schließlich die verschiedenen Lösungen auf dem Markt damit zu vergleichen.</p>
{% endblock %}
