{% block title 'Symfony erklärt für einen System-Administrator' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Während eine Anwendung implementiert wird, sind nicht nur diejenigen betroffen, welche
        sie später auch nutzen werden. Auch andere Teile des Unternehmens sind betroffen.
        Mit dem Symfony Framework kommt auch, zum Beispiel die System-Administration mit ins Spiel,
        welche verantwortlich für das Hosting aller Systeme des Unternehmens ist.
    </p>
{% endblock %}

{% block body %}
    <p>
        System-Administratoren müssen allerdings nicht aufschrecken:
        Symfony ist PHP, nicht mehr und nicht weniger.
        Symfony muss nur in Ordner schreiben können,
        was jedoch völlig an die Sicherheitsrichtlinien des Unternehmens angepasst werden kann.
        Symfony erleichtert zudem das Setup von zu hostenden Applikationen und kann
        zum Beispiel Sessions in Datenbanken schreiben oder, da der HTTP Standard implementiert wurde,
        mit Web-Beschleunigern wie Varnish umgehen. Symfony erleichtert die Arbeit eines System-Administrators!
    </p>
{% endblock %}
