{% block title 'Disztribúciók' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        A Symfonyval való első lépések megtételéhez a legegyszerűbb
        letölteni és beállítani egy Symfony disztribúciót.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Mi az a disztribúció?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Csakúgy mint a Linux disztribúciók, amelyek könnyű telepíthetőségükről
        és a különböző célokra előre összeállított verzióikról
        (pl. szerver verzió, asztali verzió stb.) ismertek,
        egy Symfony disztribúció is előre meghatározott Symfony2
        komponensekből épül fel, egy csomag-válogatásból,
        egy könyvtárszerkezetből, egy kezdei konfigurációból,
        és egy opcionális Web konfigurációs rendszerből.
    </p>
{% endblock %}

{% block why_distribution_title %}Miért disztribúciók?{% endblock %}
{% block why_distribution_description %}
    <p>
        Egy-egy disztribúció a kiválasztott csomagjaival, szerkezetével és
        kezdeti konfigurációjával egy-egy adott felhasználói igénynek
        megfelelően lett kialakítva: például a könnyű megismertetéshez,
        tartalomkezelő rendszerhez (CMS), vagy a teljes verzió
        a keretrendszer teszteléséhez.
    </p>
{% endblock %}

{% block available_distribution_title %}Elérhető disztibúciók{% endblock %}
{% block available_distribution_description %}
    <p>
        A <a href="{{ marketing_path('download') }}">Standard Kiadás</a> messze
        a legjobb verzió az induláshoz. Tartalmazza a legtöbbször használt csomagokat
        és egy egyszerű konfigurációval rendelkezik, amely a legtöbb projekthez használható.
    </p>
    <p>
        A Standard Kiadáson alapuló
        <a href="https://github.com/symfony/symfony-hello-world">Helló Világ Kiadás</a>
        a legjobb arra, hogy megmérjük a keretrendszer nyers teljesítményét.
    </p>
{% endblock %}
