{% block title 'Sobre nosaltres' %}
{% block keywords '' %}
{% block description 'Descobreix qui està darrere del framework i quins són els seus valors, les seves metes' %}

{% block intro %}
	<p>
                Symfony és un framework Open Source per desenvolupar aplicacions web en PHP.
                Originalment, va ser concebut per l'agència interactiva Sensio Labs per al
                desenvolupament de llocs web per als seus propis clients. Symfony va ser publicat
                per l'agència en 2005, sota la llicència Open Source MIT i avui es troba 
                entre els frameworks líders per al desenvolupament en PHP.
                
		<br/>
                Recolzat per Sensio Labs - però també per una <a href="{{ path('contributors') }}">
        gran comunitat</a> - Symfony té diversos recursos: detallada documentació,
        suport de la comunitat (llistes d'e-mail, *IRC, etc), 
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suport professional</a> (consultoria,
        entrenaments, etc), i molt més.
        <br/>
        Disponible en la seva versió 2.0, Symfony té, entre els milers de llocs i 
        aplicacions desenvolupats amb la seva plataforma, prestigioses referències, tals
        com Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB, o Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Què és Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">LA NOSTRA MISSIÓ</h2>
    <p>Symfony és completament gratuït i està publicat sota la <a href="{{ path('license') }}">llicència MIT.</a></p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Des de 1998, Sensio Labs ha promogut el moviment del programari Open-Source proporcionant
        desenvolupament d'aplicacions web de qualitat, entrenament, consultoria. Sensio Labs
        també recolza grans projectes Open-Source.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Dades i xifres de Sensio Labs</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ofertes</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Clients</a></div></li>
    </ul>
{% endblock %}
