{% block title 'Comunitat' %}
{% block keywords '' %}
{% block description "Posa't en contacte amb la comunitat, troba informació sobre la xarxa social de desenvolupadors, canals IRC, llista d'e-mails." %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Llista de correu de desenvolupadors</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Llista de correu d'usuaris</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Els Bloggers de Symfony</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Fòrum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
