{% block title 'Comenci' %}
{% block keywords '' %}
{% block description "Descàrregues, posa't en contacte amb la comunitat, llegeix articles, troba sessions d'entrenament." %}

{% block intro %}
    <h2>Guia ràpida</h2>
    <p>
        Què pot ser millor per donar-te una idea que provant Symfony vós mateix?
        A part d'un temps curt, no et costarà gens. Pas a pas exploraràs l'univers
        de Symfony. Però cura, Symfony pot tornar-se addictiu
        des de la primera trobada.
    </p>
{% endblock %}

{% block read 'Llegir' %}
{% block downloadpdf 'Descarregar com PDF' %}
