{% block title 'Comenci' %}
{% block keywords '' %}
{% block description "Descàrregues, posa't en contacte amb la comunitat, llegeix articles, troba sessions d'entrenament." %}

{% block intro %}
    <h2>Guia ràpida</h2>
    <p>
        Què pot ser millor per donar-te una idea que provant Symfony tu mateix?
        No et costarà res apart d'una mica del teu temps. Pas a pas exploraràs 
        l'univers de Symfony. Però vés amb compte, Symfony pot tornar-se addictiu 
        després de provar-lo per primer cop.
    </p>
{% endblock %}

{% block read 'Llegir' %}
{% block downloadpdf 'Descarregar com PDF' %}
