{% block title 'Distributionen' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Am einfachsten und schnellsten gelingt der Einstieg in Symfony,
        indem Sie eine Symfony-Distribution herunterladen und konfigurieren.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">Was ist eine Distribution?</a></h2>
    <p>
        Ähnlich wie Linux-Distributionen, die bekannt für ihre einfache Installation und
        darauf zugeschnittene Features sind, enthalten Symfony-Distributionen mehrere Symfony2-Komponenten,
        eine Auswahl an Bundles, eine Verzeichnisstruktur, eine Standardkonfiguration
        und ein optionales Konfigurationssytem.
    </p>
    <p>
        Kurz gesagt, ist eine Distribution eine einfache und leicht zu installierende Lösung,
        um mit Symfony schnell anfangen zu können. Auch in der Software-Industrie zählt der erste Eindruck.
    </p>
    <h2 class="title_09"><a name="why">Warum Distributionen?</a></h2>
    <p>
        Eine Distribution mit ihren ausgewählten Bundles, ihrer Struktur und Standardkonfiguration
        soll jeweils eine typische Anforderung erfüllen: einfacher Einstieg, Content Management System zur
        Entwicklung einer dynamischen Webseite oder eine vollständige Version, um das Framework zu testen.
    </p>
    <p>
        Die besondere Stärke von Symfony ist jedoch, dass alles angepasst werden kann:
        Sie können Bundles einer Distribution hinzuzufügen oder entfernen, die Standardkonfiguration abändern
        oder die Dateistruktur modifizieren.
        Eine Distribution passt sich damit Ihren Anforderungen und Wünschen an, als hätten Sie sie selbst aufgebaut.
    </p>
    <h2 class="title_09"><a name="available">Verfügbare Distributionen</a></h2>
    <p>
        Die <a href="{{ marketing_path('download') }}">Standard Edition</a> ist die optimale
        Version, um mit Symfony zu starten. Sie enthält die am häufigsten eingesetzen Bundles
        und verfügt über eine einfache Konfiguration, die mit den meisten Projekten kompatibel ist.
    </p>
    <p>
        Die <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a> basiert auf der
        Standard Edition und eignet sich am besten, um die reine Performance des Frameworks zu bewerten.
    </p>
{% endblock %}
