{% block title 'Projekte die Symfony benutzen' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony ist nicht nur ein bekanntes Framework das von vielen kleinen und großen Unternehmen
        genutzt wird, es ist auch die beste Plattform um Open-Source Projekte zu bauen. Viele PHP
        Projekte benutzen einige Komponenten oder sogar das gesamte Framework und ihnen wollen wir
        auf unserer Webseite danken. Teilen ist einer unser wichtigsten Werte und wir möchten diese
        Projekte als Teil der Symfony "Familie" betrachten.
    </p>
{% endblock %}
