{% block title '10 critérios para a escolha de uma framework' %}
{% block keywords '' %}
{% block description '10 critérios para a escolha de uma framework' %}

{% block intro %}
    <p>
        Você está fazendo progresso e isso é bom! Você já sabe que vai utilizar
        uma framework para desenvolver seu site ou aplicação. Mas qual?
        Aqui está uma lista de verificação que você pode usar para evitar cometer um erro:
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Popularidade e tamanho da comunidade</h2>
    <p>
        Quanto mais conhecido e reconhecido for o framework, mais ele será "vivo",
        evolutivo e completo: novas idéias, o número e a qualidade dos plug-ins, etc
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2. Filosofia</h2>
    <p>
        Esta é a essência do framework: é um critério fundamental para garantir que ele
        atenderá às suas necessidades. Uma ferramenta desenvolvida por profissionais para atender
        suas próprias necessidades, obviamente, atenderá as demandas de outros profissionais.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3. Sustentabilidade</h2>
    <p>
        Antes de escolher uma framework, certifique-se de que ele será capaz de
        acompanhá-lo durante o período. Isto simplifica tanto a manutenção e a atualização
        das suas aplicações.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4. Suporte</h2>
    <p>
        Outro critério que não deve ser esquecido é a facilidade de encontrar as respostas
        para as suas dúvidas e obter ajuda. Identifique o suporte que está disponível:
        a partir do editor. A partir de uma comunidade (listas de discussão, IRC, etc)?
        A partir das empresas de serviços (desenvolvimento, s
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suporte</a>,
        <a href="http://trainings.sensiolabs.com/">treinamento</a>)?
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5. Técnica</h2>
    <p>
        Para evitar ficar preso em um labirinto, é sempre preferível escolher
        uma solução interoperável; uma que respeite as melhores práticas em termos de
        desenvolvimento (<i>design patterns</i>).
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6. Segurança</h2>
    <p>
        Qualquer aplicativo é potencialmente vulnerável. Para minimizar o risco, é sempre
        melhor escolher uma framework capaz de garantir funções de segurança
        (gerenciamento de XSS, por exemplo).
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7. Documentação</h2>
    <p>
        É uma necessidade absoluta avaliar a natureza, volume e qualidade da
        literatura existente sobre uma framework: uma ferramenta bem documentada é
        mais fácil de usar e mais atualizável.
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8. Licença</h2>
    <p>
        Licenças são importantes, simplesmente porque elas podem ter um impacto significativo em suas
        aplicações. Por exemplo, uma aplicação desenvolvida utilizando uma framework licenciado sob GPL,
        estará necessariamente sujeita a GPL. Por outro lado, este não é o caso
        de uma framework com a licença MIT.
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9. Disponibilidade de recursos no mercado</h2>
    <p>
        Talvez você gostaria de ter uma equipe técnica acompanhando-o durante a fase de desenvolvimento
        ou a longo prazo, tanto para a manutenção quanto atualização. Em outras palavras, certifique-se
        que as habilidades necessárias para a ferramenta que você está usando estão disponíveis
        no mercado aberto.
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. Experimente!</h2>
    <p>
        Essa é a chave! Não se contente com as revisões de leitura, comentários e rumores,
        boas ou más, na internet. Ao testá-lo, você será capaz de formar a sua própria opinião
        e garantir que está completamente confortável com a ferramenta.
    </p>
{% endblock %}

{% block summary %}
    <p>Para a escolha de uma framework não deve ser feito um exame superficial, pois é um compromisso de longo prazo. Certifique-se de fazer a escolha certa!</p>
{% endblock %}
