{% block title 'Distribúcie' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Stiahnutie a konfigurácia distribúcie je nepochybne
        najjednoduchší a najrýchlejší spôsob ako začat so Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">Čo je distribúcia?</a></h2>
    <p>
        Tak ako Linuxové distribúcie, poznáme pre ich jednoduchú
        inštaláciu a špecifické črty, tak distribúcia Symfony
        obsahuje Symfony2 komponenty, vybrané bundle,
        štruktúru adresárov, predvolené nastavenia s možnosťou
        konfigurácie pomocou web rozhrania.
    </p>
    <p>
        Z praktického hľadiska ide o jednoduchý spôsob ako začat so
        Symfony. Aj v počítačovom svete je prvý dojem dôležitý...
    </p>
    <h2 class="title_09"><a name="why">Why distributions?</a></h2>
    <p>
        Distribúcia s vybranými doplnkami, adresárovou štruktúrou a
        predvolenou konfiguráciou je navrhnutá tak, aby spĺňala
        špecifické potreby používateľa: jednoduché zoznámenie,
        Content Management System pre tvorbu dynamických stránok,
        alebo plná verzia pre testovanie.
    </p>
    <p>
        V porovnaní s konkurentmi, sila Symfony spočíva v tom, že všetko
        môžete zmeniť. Distribúcia je balík, ale navrhnutý tak, aby bol
        škálovatelný, aby vyhovoval Vašim potrebám. Môžete pridávať alebo
        odstraňovať doplnky (bundle), upravovať nastavenia, štruktúru
        súborov a podobne, presne podľa Vašich potrieb a priani.
    </p>
    <h2 class="title_09"><a name="available">Available Distributions</a></h2>
    <p>
        <a href="{{ marketing_path('download') }}">Standard Edition</a> je
        najlepšia verzia s akou môžete začať. Obsahuje najčastejšie používané
        doplnky (bundle) a obsahuje jednoduchú konfiguráciu, ktorá je
        kompatibilná s väčšinou projektov.
    </p>
    <p>
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>
        je najlepšia distribúcia pre meranie výkonu frameworku.
    </p>
{% endblock %}
