{% block title 'Distribúcie' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Stiahnutie a konfigurácia distribúcie je nepochybne
        najjednoduchší a najrýchlejší spôsob ako začat so Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Čo je distribúcia?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Tak ako Linuxové distribúcie, poznáme pre ich jednoduchú
        inštaláciu a špecifické črty, tak distribúcia Symfony
        obsahuje Symfony2 komponenty, vybrané bundle,
        štruktúru adresárov, predvolené nastavenia s možnosťou
        konfigurácie pomocou web rozhrania.
    </p>
{% endblock %}

{% block why_distribution_title %}Why distributions?{% endblock %}
{% block why_distribution_description %}
    <p>
        Distribúcia s vybranými doplnkami, adresárovou štruktúrou a
        predvolenou konfiguráciou je navrhnutá tak, aby spĺňala
        špecifické potreby používateľa: jednoduché zoznámenie,
        Content Management System pre tvorbu dynamických stránok,
        alebo plná verzia pre testovanie.
    </p>
{% endblock %}

{% block available_distribution_title %}Available Distributions{% endblock %}
{% block available_distribution_description %}
    <p>
        <a href="{{ marketing_path('download') }}">Standard Edition</a> je
        najlepšia verzia s akou môžete začať. Obsahuje najčastejšie používané
        doplnky (bundle) a obsahuje jednoduchú konfiguráciu, ktorá je
        kompatibilná s väčšinou projektov.
    </p>
    <p>
        <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>
        je najlepšia distribúcia pre meranie výkonu frameworku.
    </p>
{% endblock %}
