{% block title '6 good reasons to use Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Using a Framework is a good thing.  Making the right choice is even better.
        Without going too deep into things and in no particular order, here are
        6 good reasons to use Symfony, from a strategic point of view
        <br />
        For technical aspects, click
        <a href=" {{ marketing_path('six_good_technical_reasons')}} ">here</a>.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1. Reputation</h2>
    <p>
        Quickly adopted by professionals active in this field following its launch
        in 2005, Symfony today is a stable environment that is both well-known and
        recognized internationally.  The number of its references attests to this,
        as they have grown significantly since its launch.
        Symfony is also an active community; developers, integrators, users and
        other contributors who participate in the on-going enrichment of this tool.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Permanence</h2>
    <p>
        Behind Symfony there is a company: Sensio.  Created more than 12 years ago,
        Sensio is a web agency that has many major accounts among its references.
        Envisioned for its own needs, the Symfony framework is today still the
        daily tool used by its own teams to develop customer projects. Designed
        by professionals for professionals, Symfony is first and foremost a pragmatic
        tool, the features of which address real-world-requirements.
    </p>
    <p>
        Permanence is also something that relates to long-term support. Today, this
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>
        is naturally provided by Sensio.  But there is also an entire ecosystem that
        has grown up around Symfony since its launch: the community (mailing lists, IRC, etc.)
        and the many other service companies that have invested in the framework.
    </p>
    <p>
        Lastly, it is also with a view towards sustainable development that Symfony
        is distributed under Open Source MIT license, which does not impose constraints
        and allows the development of Open Source as well as proprietary applications.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	References</h2>
    <p>
        Intranets, major general public sites, social networks, community sites,
        management and workflow applications, etc. Examples are not lacking:
        Hundreds of sites and applications of all sizes and of all types trust Symfony.
        <br/>
        This is specifically the case of Yahoo!, Dailymotion, Opensky.com,
        Exercise.com and even applications such as phpBB and Drupal.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Innovation</h2>
    <p>
        Symfony is everything that you would come to expect from a framework: speed,
        flexibility, reusable components, etc.  Then there is the structure of what
        has been developed and the use of best practices. Not bad!
    </p>
    <p>
        But that is not all!  Since Sensio has developed a habit of shaking up the
        established order and is always striving for excellence, Symfony
        (and its entire community) has developed a sense of curiosity that goes well
        beyond PHP. And we do not hesitate to innovate by seeking out ideas elsewhere
        and then adapt them to the world of PHP, such as dependency injection
        from the Java world.
        <br/>
        In addition, Symfony, seeking out ongoing improvement in the productivity
        of developers, envisioned the “web debug toolbar,” taken from other frameworks,
        whether PHP or otherwise.
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Resources</h2>
    <p>
        When using Symfony, you are assured of never “being alone with your screen.”
        Whether a question of community support (mailings lists, IRC, etc.) or company
        support (consulting, <a href="http://trainings.sensiolabs.com/">training</a>, etc.),
        you will always find the answers to your questions.
        <br/>
        Starting from the principle that “an undocumented line is a line that does not exist,”
        you will also find many works dedicated to Symfony, which will help you throughout
        the development of your sites and applications.
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Interoperability </h2>
    <p>
        The idea behind Symfony:  Don’t lock yourself up within Symfony!  Allow yourself
        to build applications that precisely meets your needs!
        <br/>
        Symfony respects the existing “de facto standards” of PHP: PHPUnit, naming
        conventions for classes, etc.  Furthermore, Symfony also allows you to use certain
        of its software building blocks (dependency injector, translations management,
        forms management, etc.) without necessarily using the framework in its entirety.
    </p>
    <p>
        By the way, Symfony is so interoperable that, at the core, it uses external software
        building blocks itself (ORM Doctrine, Swiftmailer, etc.)!
    </p>
{% endblock %}

{% block summary %}
    <p>You can’t go wrong by choosing Symfony!  And no one has ever been fired for using Symfony.</p>
{% endblock %}
