{% block title 'O Symfony' %}
{% block keywords '' %}
{% block description 'Spoznajte tvorcov frameworku, jeho hodnoty a ciele. ' %}

{% block intro %}
    <p>

        Symfony je PHP framework určený pre vývoj webových aplikácií. Symfony
        bol pôvodne navrhnutý pre tvorbu web stránok klientou agentúry
        SensioLabs Labs. Symfony bolo vydané v roku 2005 pod open source
        licenciou MIT a dnes patrí Symfony medzi najlepšie PHP frameworky.

    </p>

    <p>

        Podporu zaisťuje SensioLabs, ale tiež <a href="{{ path('contributors') }}">
        veľká komunita</a>. Symfony sa pýši rozsiahlou dokumentáciou, podporou zo strany
        komunity (mailing listy, IRC, atď.), profesionálnou
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podporou</a>
        (konzultácie, <a href="http://trainings.sensiolabs.com/">školenia</a>, atď.), a
        množstvom ďalších vecí.

    </p>

    <p>

        Verzia 2.0 bola už nasadená na stovkách web stránok a aplikácií
        postavených, na tejto platforme sú vyvíjané prestížne projekty ako
        Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB, or Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}About SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        Od 1998 roku SensioLabs presadzuje hnutie Open-Source, ponúka vysoko
        kvalitné internetové aplikácie, školenia a konzultácie. SensioLabs
        taktiež podporuje niekoľko Open Source projektov.

    </p>

    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs fakty a čísla</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ponuka</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Klienti</a></li>
    </ul>
{% endblock %}
