{% block title 'Komunita' %}
{% block keywords '' %}
{% block description 'Buďte v kontakte s komunitou, kontaktujte programátorov na sociálnych sieťach, IRC a v mailing listoch.' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Vývojársky mailing list</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Uživateľský mailing list</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Symfony blogy</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Fórum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
