{% block title 'Začíname' %}
{% block keywords '' %}
{% block description 'Súbory na stiahnutie, kontakt s komunitou, články a termíny školení' %}

{% block intro %}
    <h2>Rýchly úvod</h2>
    <p>
        Čo Vás môže presvedčiť viac ako samotné vyskúšanie Symfony?
        Nestojǐ to viac než chvíľu času. Krok po kroku budeme
        objavovať svet Symfony. Ale buďte opatrný! Symfony môže
        byť od prvého stretnutia veľmi návykové.
    </p>
{% endblock %}

{% block read 'Čítaj' %}
{% block downloadpdf 'Stiahnuť PDF' %}
