{% block title 'Comunitate' %}
{% block keywords '' %}
{% block description 'Vino în contact cu comunitatea, găsește informații despre rețeau socială a dezvoltatorilor, canalul de IRC, lista de email' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Lista de email a dezvoltatorilor</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Lista de email a utilizatorilor</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Bloguri despre Symfony</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Forumul</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
