{% block title 'Începe' %}
{% block keywords '' %}
{% block description 'Download, vino în contact cu communitatea, citește articole, găsește instruire' %}

{% block intro %}
    <h2>Tur rapid</h2>
    <p>
        Ce ar fi cel mai bine pentru a te hotarî decat să încerci tu însuți
        Symfony? În afară de puțin timp, nu te va costa nimic altceva. 
        Pas cu pas vei explora universul Symfony. 
        Fii atent, Symfony te poate face dependent de la prima încercare.
    </p>
{% endblock %}

{% block read 'Citește' %}
{% block downloadpdf 'Salvează ca PDF' %}
