{% block title 'Listas de discussão' %}
{% block keywords 'lista de discussão, symfony' %}
{% block description 'Listas de discussão do Symfony' %}

{% block label 'Email:' %}
{% block submit 'Subscrever' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">Grupo de utilizadores do Symfony1</a></h3>
    <p>Se precisa de ajudo em symfony1, considere subscerever a lista de discussão de utilizadores do symfony1:</p>
{% endblock %}

{% block archive %}
    <p>
        Você pode também navegar os arquivos do
        <a href="http://groups.google.com/group/symfony-users">Grupo de Utilizadores</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Grupo de Utilizadores do Symfony2</a></h3>
    <p>Se precisa de ajudo em Symfony2, considere subscerever a lista de discussão de utilizadores do Symfony2:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Grupo dos Programadores</a></h3>
    <p>
        Se pretende contribuir para o projeto, ou discutir novas funcionalidades,
        considere subscrever a lista de discussão dos programadores do Symfony:
    </p>
{% endblock %}
