{% block title 'O nas' %}
{% block keywords '' %}
{% block description 'Odkrijte, kdo ogrodje razvija in kaj so njihove vrednote in cilji' %}

{% block intro %}
    <p>
        Symfony je odprtokodno PHP ogrodje za spletne aplikacije.
        Prvotno je bil izdelan pri interaktivni agenciji SensioLabs za razvoj
        spletnih strani za njihove stranke. Symfony je bil objavljen leta 2005
        pod odprtokodno MIT licenco in je danes med vodilnimi ogrodji za PHP
        razvoj.
        <br/>
        Podprt s strani SensioLabs - hkrati pa tudi s strani <a href="{{ path('contributors') }}">
        velike skupnosti</a> - ima Symfony mnogo sredstev: izdatno dokumentacijo,
        podporo skupnosti (dopisni seznami, IRC itd.), profesionalno <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podporo</a>
        (svetovanje, <a href="http://trainings.sensiolabs.com/">usposabljanja</a> itd.) in še več.
        <br/>
        Na voljo v različici 2.0 ima Symfony med stotinami stranmi in aplikacij
        razvitih na svoji platformi prestižne reference, kot so Yahoo!, Dailymotion,
        Opensky.com, Exercise.com, phpBB in Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Kaj je Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">POSLANSTVO</h2>
    <p>Symfony je v celoti brezplačen in izdan pod <a href="{{ path('license') }}">licenco MIT.</a></p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Od leta 1998 SensioLabs spodbuja gibanja za odprto kodno programsko opremo z zagotavljanjem
        razvoja kakovostnih spletnih aplikacij, izobraževanja in svetovanja. SensioLabs
        podpira tudi nekaj velikih odprto kodnih projektov.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs dejstva in podatki</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ponudba</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Stranke</a></div></li>
    </ul>
{% endblock %}
