{% block title 'O nas' %}
{% block keywords '' %}
{% block description 'Odkrijte, kdo ogrodje razvija in kaj so njihove vrednote in cilji' %}

{% block intro %}
    <p>

        Symfony je odprtokodno PHP ogrodje za spletne aplikacije. Prvotno je bil
        izdelan pri interaktivni agenciji SensioLabs za razvoj spletnih strani
        za njihove stranke. Symfony je bil objavljen leta 2005 pod odprtokodno
        MIT licenco in je danes med vodilnimi ogrodji za PHP razvoj.

    </p>

    <p>

        Podprt s strani SensioLabs - hkrati pa tudi s strani <a href="{{ path('contributors') }}">
        velike skupnosti</a> - ima Symfony mnogo sredstev: izdatno dokumentacijo,
        podporo skupnosti (dopisni seznami, IRC itd.), profesionalno <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">podporo</a>
        (svetovanje, <a href="http://trainings.sensiolabs.com/">usposabljanja</a> itd.)
        in še več.

    </p>

    <p>

        Na voljo v različici 2.0 ima Symfony med stotinami stranmi in aplikacij
        razvitih na svoji platformi prestižne reference, kot so Yahoo!,
        Dailymotion, Opensky.com, Exercise.com, phpBB in Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}About SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        Od leta 1998 SensioLabs spodbuja gibanja za odprto kodno programsko
        opremo z zagotavljanjem razvoja kakovostnih spletnih aplikacij,
        izobraževanja in svetovanja. SensioLabs podpira tudi nekaj velikih
        odprto kodnih projektov.

    </p>

    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs dejstva in podatki</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ponudba</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Stranke</a></li>
    </ul>
{% endblock %}
