{% block title 'Skupnost' %}
{% block keywords '' %}
{% block description 'Stopite v stik s skupnostjo, najdite informacije o razvijalskem socialnem omrežju, IRC kanal, e-poštni seznami' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Dopisni seznam razvijalcev</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Dopisni seznam uporabnikov</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Symfony dnevničarji (bloggers)</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Forum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
