{% block title 'Pričnite' %}
{% block keywords '' %}
{% block description 'Prenosi, stopite v stik s skupnostjo, preberite članke, najdite usposabljanja' %}

{% block intro %}
    <h2>Kratka predstavitev</h2>
    <p>
        Kaj bi bilo bolje, da si ustvarite svoje mnenje,
        kot pa da preizkusite Symfony sami? Razen nekaj časa
        vas ne bo stalo nič. Korak za korakom boste raziskali
        vesolje Symfony. Bodite previdni, saj Symfony postane
        zasvoljiv od prvega srečanja.
    </p>
{% endblock %}

{% block read 'Preberi' %}
{% block downloadpdf 'Prenesi kot PDF' %}
