{% block title 'Symfony Distributies' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Het downloaden en configureren van een Symfony distributie is zonder twijfel
        de makkelijkste en snelste manier om te beginnen met Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Wat is een distributie?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Zoals Linux-distributies, bekend om hun eenvoudige installatie en
        specifieke kenmerken (serverversie, publieksversie, etc.), bestaat
        een Symfony distributie uit Symfony2 componenten, een
        selectie van bundels, een directory structuur, een standaard
        configuratie en een optionele Web systeemconfiguratie.
    </p>
{% endblock %}

{% block why_distribution_title %}Waarom distributies?{% endblock %}
{% block why_distribution_description %}
    <p>
        Een distributie met een selectie van bundels, structuur en
        standaardconfiguratie, is ontworpen naar de behoefte van de gebruiker: 
        zoals gemakkelijke gewenning, een Content Management Systeem om een
        dynamische website te creëren of een volledige versie van het framework, om te testen.
    </p>
{% endblock %}

{% block available_distribution_title %}Beschikbare distributies{% endblock %}
{% block available_distribution_description %}
    <ul>
        <li>
            <a href="https://github.com/symfony/symfony-hello-world">Hello World Edition</a>
            is gebaseerd op de Standard Edition en het is de beste distributie
            voor benchmarking van de rauwe prestaties van het framework.
        </li>
        <li>
            <a href="https://github.com/symfony-cmf/symfony-cmf-standard">Symfony CMF Standard Edition</a>
            is de beste distributie om te starten met
            <a href="http://cmf.symfony.com">Symfony CMF</a>.
        </li>
        <li>
            <a href="https://github.com/gimler/symfony-rest-edition">Symfony REST Edition</a>
            laat zien hoe een applicatie te bouwen die een REST API biedt met behulp van de
            <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> en diverse andere gerelateerde Bundels.
        </li>
    </ul>
{% endblock %}
