{% block title 'Projecten die gebruik maken van Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony is niet alleen een populair framework gebruikt door vele kleine en grote bedrijven,
        maar het is ook het beste platform om open-source projecten te ontwikkelen.
        Veel PHP projecten maken gebruik van sommige van onze componenten of maken gebruik van de
        full-stack framework en we wilden hen bedanken op onze website.
        Delen is een van onze kernwaarde en we willen denken over die projecten als onderdeel van
        de Symfony "familie".
    </p>
{% endblock %}
