{% block title 'Symfony 组件' %}
{% block keywords '' %}
{% block description '' %}

{% block what_is_a_component %}
    <p>
        Symfony 组件提供开发网站时的常用到的功能。这些是 Symofny 全能框架的基石。
        然而，这些组件可以单独使用，不需与框架一起使用，就如同它们无需依赖库一样。
    </p>
{% endblock %}

{% block installation_title 'Installation' %}

{% block installation %}
    <p>
        使用 <a href="{{ doc_path({version: 'master', page: 'cookbook/composer'}) }}">Composer</a>
        安装Symfony的任何组件到你的PHP项目：
    </p>
{% endblock %}

{% block component_list_title 'Component List' %}
