{% block title '发行版' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        无疑，下载并配置 Symfony 的一个发行版，是使用 Symfony 最简单、且最快捷的方式。
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">什么是发行版？</a></h2>
    <p>
        Linux 发行版以容易安装、容易选取功能（如服务器版本、公共版本等）而知名。
        Symfony 发行版亦是如此。一个 Symfony 发行版是由 Symfony2 组件、各种 插件包（bundl﻿s）、
        一个特定的文件目录结构、一组默认的设置、以及一个可选的网站设置系统组成。
    </p>
    <p>
        简而言之，Symfony 发行版是一个简单的、容易安装的、成套的方案，用于简易 Symfony 的使用。
        即使在电子科技的领域里，第一印象也是至关重要的……
    </p>
    <h2 class="title_09"><a name="why">为什么使用发行版？</a></h2>
    <p>
        为满足某类用户的需求，一个发行版可选择包含某些插件包、文件目录结构、以及默认的设置。
        例如，一个人人都熟悉的、可让用户建立动态页面的内容管理系统（CMS）；或者，一个
        让用户测试框架的完整版本。
    </p>
    <p>
        然而，与其他框架相比，Symfony 的优势和创新之处在於，什麽都可更改：
        该框架的发行版是一个整体，但同時也保持了可扩展性，就如同是你自己开发的一样。
        你可以增加或移除插件包，改变默认的设置，或改变目录结构，等等 ———— 根据您的需要和偏好!
    </p>
    <h2 class="title_09"><a name="available">现有的发行版</a></h2>
    <p>
        <a href="{{ marketing_path('download') }}">标准版</a> 无疑是开始入门的最好版本。
        该版本包含了最常用的插件包，以及一组简单的设置，可与大多数项目兼容。
    </p>
    <p>

        基于标准版的 
        <a href="https://github.com/symfony/symfony-hello-world">Hello World 版</a>。
        该版本是测试框架原始性能的最佳版本。
    </p>
{% endblock %}
