{% block title '下载' %}
{% block keywords '' %}
{% block description '下载，与社区保持联系，阅读文章，搜索培训教程' %}

{% block intro %}
    <h2>Symfony 标准版</h2>
    <p>
        Symfony 标准版是创建新项目的最佳版本。该版本包含了最常用的插件包，
        并自带一个简单的设置系统。
    </p>
{% endblock %}

{% block downloadnow '立即下载' %}
{% block download '下载' %}
{% block previousversion '下载早期的稳定版本：' %}
{% block specificversion '选择版本:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">不畏惧指令行界面吗？</h3>
        <p style="padding-bottom: 0">
            安装 <a href="http://getcomposer.org/">Composer</a>，然后再运行以下指令；
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ 2.3.0</pre>
    </div>
    <h3 class="title_05">安装说明</h3>
    <ol>
        <li>
            下载所需的压缩包，储存到您本地服务器的根文件夹内，然后解压。
            如果您安装了 Git，您则应该下载 Symfony2 “不带第三方软件”，这样
            可增加项目的灵活性。
        </li>
        <li>
            请打开下载文件包里的 README.md（这是个纯文本文件），然后按照
            文件内的说明进行安装。
            
        </li>
        <li>开始享受！</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY 组件</h2>
    <p>
        Symfony 除了是一套全功能的框架，它还是一组分离的、独立的组件。
        这些组件可以分开<a href="{{
        marketing_path('components') }}">下载</a>，无需置于框架之内便可以单独安装。
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY 在 GIT 上</h2>
    <p>
        <strong>Symfony2 的公家代码库</strong> 存放在
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        如果您希望获得最前沿的功能、或您不介意进行手动安装，您可以使用此代码库；否则不要使用。
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Symfony 1.4 版 是 symfony 1.X 版本的最后一个提供长期支持的版本。对该
        版本的支持将延续到 2012年11月。如果您开始新的项目，请考虑使用
        <a href="#top">Symfony2</a>。
    </p>
    <p>
        但是，如果您有 symfony 1.x 的项目，您仍然可以访问所有 symfony 1.x 框架的
        <a href="{{ path('legacy_doc_home') }}">文献</a>，
        或 <a href="#legacy">下载</a> 任何稳定版本，或通过
        <a href="{{ path('legacy_home') }}">旧版</a>页面访问其他 symfony 1.x 的工具。
        您也何以通过 <a href="http://github.com/symfony/symfony1">Git</a> 获得 symfony1。
    </p>
    <p>
        如果你想新建 symfony 1.x 的项目，您可以下载沙盒
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        代码 
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        或 <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>
        SVN 代码库。
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">旧版下载</h2>
    <p>下载过去发行的最新版本：</p>
{% endblock %}
