{% block title 'Distribuição' %}
{% block keywords '' %}
{% block description 'Distribuição' %}

{% block intro %}
    <p>
        Baixar e configurar uma distribuição do Symfony é sem dúvida uma das
        formas mais fácies e rápidas de começar a usar o Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">O que é uma distribuição?</a></h2>
    <p>
        Como as distribuições Linux, conhecidas pela sua facilidade de
        instalação e funcionalidades específicas (versão de servidor, versão pública,
        etc.), uma distribuição do Symfony é feita de componentes do Symfony2, um
        conjunto selecionado de bundles, uma estrutura de diretórios, uma configuração padrão
        e uma configuração de sistema web opcional.
    </p>
    <p>
        Em termos práticos, é uma solução de pacote simples, fácil de instalar,
        para começar com Symfony. Mesmo na área da informática, uma
        boa impressão à primeira vista é importante...
    </p>
    <h2 class="title_09"><a name="why">Por que distribuições?</a></h2>
    <p>
        A distribuição, com os bundles selecionados, estrutura e configuração padrão,
        é desenhada para ir de encontro com às necessidades que o usuário precisa:
        Fácil familiarização, CMS para criar um website dinâmico, ou uma versão completa
        para testar o framework.
    </p>
    <p>
        No entanto, em comparação com outros concorrentes, a força do Symfony e
        inovação reside no fato de que tudo pode ser modificado:
        a distribuição é um pacote, mas que foi projetado para ser escalável, como
        se você mesmo a tivesse criado. Você pode adicionar ou remover pacotes,
        alterar a configuração padrão ou modificar a estrutura de arquivos, etc.,
        com base nas suas necessidades e desejos!
    </p>
    <h2 class="title_09"><a name="available">Distribuições Disponíveis</a></h2>
    <p>
        A <a href="{{ marketing_path('download') }}">Edição Standard</a> é de longe
        a melhor versão para se começar. Ela contém os bundles mais comuns e uma
        configuração simples que é compatível com a maior parte dos projetos.
    </p>
    <p>
        Com base na Edição Padrão, a
        <a href="https://github.com/symfony/symfony-hello-world">Edição Olá Mundo</a>
        é a melhor distribuição para avaliar o desempenho do framework.
    </p>
{% endblock %}
