{% block title '新手上路' %}
{% block keywords '' %}
{% block description '下載、閱讀、取得支援' %}

{% block intro %}
    <h2>快速導覽</h2>
    <p>
        不知如何是好？親自花少少時間試一下吧。
        一步一步，慢慢發掘 Symfony 的世界。
        小心喔，Symfony 可是很易令人上癮的喔。
    </p>
{% endblock %}

{% block read '開始閱讀' %}
{% block downloadpdf '下載 PDF' %}
