{% block title 'Symfony na prvi pogled' %}
{% block keywords '' %}
{% block description 'Kaj je Symfony - Pričnite tu za hitro razlago' %}

{% block introduction %}
    <p>
        Symfony je PHP spletno razvijalsko ogrodje.
        <br />
        To ne odgovori na vaše vprašanje? Dobro, poskusimo še enkrat.
        <br />
        Symfony je <a href="#framework">PHP ogrodje</a>,
        <a href="#philosophy">filozofija</a>,
        in <a href="#community">skupnosti</a>
        - kjer vse deluje skupaj v harmoniji.
    </p>
{% endblock %}

{% block framework %}
    <h2 class="title_09"><a name="framework">PHP ogrodje</a></h2>
    <p>
        Za boljše razumevanje kaj ogrodje je, za trenutek zapustimo svet
        računalništva in si zamislimo pustolovščino planinarjenja.
        Razvijanje aplikacije je zelo podobno plezanju na skalno steno:
        ste na dnu (za izdelati imate aplikacijo) in potrebujete priti na vrh
        (in biti zadovoljni z dosežkom načrtovanja aplikacije, ki popolnoma deluje).
    </p>
    <p>
        Če ni še nihče preplezal stene, jo boste morali sami: testne rutine,
        občasno vračanje, da ne obtičite v kotu, vožnje v klinih itd. V
        nasprotju, če je bila stena že osvojena, bodo tisti, ki so šli že
        pred vami, že naredili delo preizkusa in napak in odprli možne poti
        (okvirje) in namestili orodja, ki bodo olajšala vzpon (vaše delo).
    </p>
    <p>
        V osnovi ogrodje sestoji iz:
    </p>
    <ul class="list_02">
        <li>
            <strong>Orodij</strong>
            - skupek montažnih, hitro integrabilnih programskih kompoment.
            To pomeni, da vam bo treba pisati manj kode z manjšim rizikom napak.
            Hkrati to tudi pomeni večjo produktivnost in sposobnost, da posvetite več
            časa stvarem, ki ponujajo večjo dodano vrednost, kot so upravljanje
            vodilnih načel, stranskih učinkov itd.
        </li>
        <li>
            <img src="/images/en/best_practices_guaranteed.jpg" alt="Najboljše prakse zagotovljene!" class="box_article_illustration" />
            <strong>Metodologije</strong>
            – "diagram sklopov" za aplikacije. Strukturiran pristop lahko deluje
            na začetku omejen. Vendar realno dovoljuje razvijalcu, da dela tako efektivno
            kot tudi efektivno na najbolj kompleksnih aspektih naloge in uporaba
            najboljših praks garantira stabilnost, možnost vzdrževanja in nadgradljivost
            aplikacij, ki jih razvijate.
        </li>
    </ul>
    <p>
        In čeprav je morda očitno, mislimo, da je najboljše vseeno povedati – Symfony
        je PHP ogrodje, kar pomeni, da dovoljuje spletnim aplikacijam gradnje v PHP!
    </p>
{% endblock %}

{% block philosophy %}
    <h2 class="title_09"><a name="philosophy">Filozofija</a></h2>
    <p>
        Kaj je lahko bolj uporabno kot aplikacija razvita s strani uporabnikov za
        njihove potrebe? To je zgodba geneze Symfony-ja - rojen iz domišljije
        spletnih razvijalcev pri SensioLabs, spletni razvijalec, ki ima svoj prav. Symfony
        je na voljo vsem pod odprto kodno licenco. To prinaša prednosti drugim
        razvijalcem, ki ga imajo možnost izboljšati z dodajanjem njihovih lastnih modulov.
        Vse to je bilo možno v okolju najboljših praks, standardizacije in interoperabilnosti
        aplikacij.
    </p>
{% endblock %}

{% block community %}
    <h2 class="title_09"><a name="community">Skupnost</a></h2>
    <p>
        Za Symfony stojijo ljudje. Smo ljudje pri SensioLabs. Izdelali smo Symfony
        za reševanje lastnih dilem spletnega razvoja in smo ponosni, da ga promoviramo.
        Smo tudi skupnost razvijalcev, uporabnikov in ljudi, ki so k njem prispevali, kar se
        je oblikovalo okrog Symfony-ja zadnjih 5 let.
    </p>
{% endblock %}

{% block conclusion %}
    <p>Symfony je PHP ogrodje.</p>
    <p>Symfony je ogrodje, skupek orodij in razvijalska metodologija.</p>
    <p>Kar presega orodja, Symfony je tudi filozofija in skupnost.</p>
{% endblock %}
