{% block title 'Blagovna znamka in licence Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block trademark_title 'Blagovna znamka Symfony' %}
{% block trademark_content %}
    <p>
        Symfony &trade; je blagovna znamka Fabiena Potenciera. Vse pravice pridržane.
        <a href="{{ marketing_path('trademark') }}">Glejte podrobnosti blagovne znamke</a>.
    </p>
{% endblock %}

{% block logo_title 'Logotip Symfony' %}
{% block logo_content %}
    <p>
        Logotip Symfony je izvirno umetniško delo, ki so ga izdelali pri
        <a href="http://sensiolabs.com">SensioLabs</a> in objavljeno pod
        pogoji licence avtorskih pravic.
        <a href="{{ marketing_path('trademark') }}">Glejte uporabo logotipa in smernice</a>.
    </p>
{% endblock %}

{% block website_title 'Spletna stran Symfony' %}
{% block website_content %}
    <p>
        Oblika spletne strani Symfony je izvirno umetniško delo izdelano pri
        <a href="http://sensiolabs.com">SensioLabs</a> in objavljeno pod
        pogoji licence avtorskih pravic. Razen če ni drugače navedeno,
        so vsebine spletne strani izdane pod pogoji Creative Commons
        Attribution-Share Alike 3.0 Unported License.
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">Glejte podrobnosti licence</a>.
    </p>
{% endblock %}

{% block code_title 'Koda Symfony' %}
{% block code_content %}
    <p>
        Izvorna koda Symfony je izdana pod pogoji licence MIT.
        <a href="{{ doc_path({ page: 'contributing/code/license', version: 'master' }) }}">Glejte podrobnosti licence kode</a>.
    </p>
{% endblock %}

{% block documentation_title 'Dokumentacija Symfony' %}
{% block documentation_content %}
    <p>
        Dokumentacija Symfony je izdana pod pogoji Creative Commons
        Attribution-Share Alike 3.0 Unported license.
        <a href="{{ doc_path({ page: 'contributing/doc/license', version: 'master' }) }}">Glejte podrobnosti licence dokumentacije</a>.
    </p>
{% endblock %}
