{% block title 'Kdaj bi morali uporabiti ogrodje?' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        No ... Kadarkoli ga morate, ko razvijate spletno aplikacijo ali stran, seveda!
    </p>
    <p>
        Zakaj bi imeli kos pohištva izdelan po meri, če pa je moč najti takega, ki idealno
        ustreza vašemu dekorju naravnost iz police. Enako velja za računalniške aplikacije:
        Preden se lotite izdelave ogrodja, je nekaj raziskave na pravem mestu.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Splošne potrebe proti določenim funkcijam</h2>
    <p>
        Poleg ogrodja so na voljo tudi ostale rešitve za razvoj tako spletnih strani kot
        tudi spletnih aplikacij: CMS (sistem za upravljanje vsebine) in njegovi dodatni
        moduli, kot tudi zapakirane profesionalne rešitve (CRM, e-trgovine, itd.).
        Če se njihove osnovne lastnosti popolno ujamejo z vašimi trenutnimi in prihodnjimi
        potrebami, ni vprašanja: Uporabite ga! Ni potrebe po ponovnem izumljanju kolesa.
    </p>
    <p>
        Po drugi strani, ko pride do posebnih potreb, posebnih poslovnih pravil ali celo potreb
        po kombinaciji gradnikov (vsebine in e-trgovina na primer), je ogrodje potrebna rešitev:
        aplikaciji omogoča, da se odlično razvija z vašimi trenutnimi potrebami, hkrati pa je še
        vedno inovativna.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Prava vprašanja</h2>
    <p>
        Za zagotovilo, da ste se odločili za pravo izbiro tako na kratki kot na dolgi rok,
        se je potrebno vprašati pravih stvari:
    </p>
    <ol>
        <li>Katere so moje trenutne potrebe? Ali jih zapakirana rešitev reši?</li>
        <li>Katere spretnosti potrebujem, če izberem ogrodje?</li>
        <li>Ali bo razvita rešitev nadgradljiva?</li>
    </ol>
    <p>
        In na koncu, ne pustite se ujeti v past "očitnih enostavnosti za zahteve."
        V mnogo primerih je hitro jasno, da tako poslovna pravila in funkcije, ki bodo vključene,
        nenazadnje le niso tako enostavna.
    </p>
    <p>
        Mimogrede, Symfony je tudi zelo ustrezen za "mini" projekte.
    </p>
{% endblock %}

{% block summary %}
    <p>Ogrodje se lahko prilagodi vsem zahtevam.</p>
    <p>... vendar to ni vedno nujno, še posebej če zahteve niso generične narave.</p>
    <p>Preden se odločite za izbiro, povežite vaše trenutne in prihodnje zahteve do podrobnosti in nato primerjajte razne rešitve, ki so na voljo na tržišču.</p>
{% endblock %}
