{% block title '下載' %}
{% block keywords '' %}
{% block description '下載' %}

{% block intro %}
    <h2>Symfony 標準版</h2>
    <p>
        Symfony 標準版是開始一個新專案時的最好的版本。它包含了一些常用的組件（Bundles），
        以及一個簡單的設定系統。
    </p>
{% endblock %}

{% block downloadnow '立即下載' %}
{% block download '下載' %}
{% block previousversion '下載過往的版本:' %}
{% block specificversion '選擇特定版本:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">會用終端機／命令行？</h3>
        <p style="padding-bottom: 0">
            安裝 <a href="http://getcomposer.org/">Composer</a> 然後執行以下命令:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ 2.3.0</pre>
    </div>
    <h3 class="title_05">安裝說明</h3>
    <ol>
        <li>
            下載並解壓其中一個檔案到你的網頁伺服器。如果你的伺服器有 Git
            的話，你應該下載 Symfony 2「without vendors」版本，因為
            它較具彈性。
        </li>
        <li>
            按 README.md 裡的說明安裝。
        </li>
        <li>完成！</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY 組件</h2>
    <p>
        Symfony 除了是一個完整的框架外，它還是一系列獨立的組件。它們可以獨立地<a href="{{
        marketing_path('components') }}">下載和安裝</a>。
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">GIT 上的 SYMFONY</h2>
    <p>
        <strong>Symfony2 的官方代碼庫（repository）</strong> 在 Github 上
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        除非你想用最前沿的代碼並不介意手動安裝，否則不要使用此代碼庫。
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        symfony 1.4 版是 symfony 1.X 裡的最後一個長期支援版，直至 2012 年 11 月。
        如果你要開始一個新專案，你應該使用 <a href="#top">Symfony2</a>。
    </p>
    <p>
        但是如果你仍然在使用 symfony 1.x，你仍可以在<a href="{{ path('legacy_home') }}">
        舊版網站</a>找到它們的<a href="{{ path('legacy_doc_home') }}">相關文檔</a>
        、或<a href="#legacy">下載</a>任何一個版本、或其他 symfony 1.x 工具。你亦可
        用 <a href="http://github.com/symfony/symfony1">Git</a> 下載 symfony 1.x。
    </p>
    <p>
        如果你想開始一個新專案，可以下載 sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>，
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>)，
        代碼
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>，
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>)，
        或從 SVN 代碼庫 <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>。
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">過往版本</h2>
    <p>下載最近期的舊版:</p>
{% endblock %}
