{% block title 'Symfony explained to a Developer' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony is een Open Source PHP framework. Natuurlijk heb je geen
        framework nodig wanneer je weet hoe je code in PHP moet ontwikkelen,
        maar het is goed om er een te hebben!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Een framework versimpelt ontwikkeling</h2>
    <p>
        Een framework helpt je om beter (gestructureerde ontwikkeling) en
        sneller (hergebruiken van modules) te werken. Een framework geeft
        een lange onderhoudsperiode en schaalbaarheid door te voldoen aan
        standaard ontwikklingsregels. Het naleven van ontwikkelingsstandaarden
        versimpelt ook het integreren van de applicatie met de rest van het
        systeem.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Waarom Symfony?</h2>
    <p>
        Symfony is een internationaal erkende stabiele ontwikklings omgeving.
        Symfony wordt ondersteund door SensioLabs, een bedrijf met meer dan
        13 jaar aan webdevelopment ervaring, en door een bruisende
        internationale community, die zorgt voor een lange levensduur. Een
        innovatieve en makkelijk te gebruiken omgeving dankszij oplossingen
        ontwikkeld in andere omgevingen, zoals dependency injection (uit JAVA)
        en specifiek ontwikkelde oplossingen zoals de Web Debug Toolbar of de
        Web Profiler. Als laatst beperkt Symfony je niet tot zijn eigen omgeving,
        door het aannemen van de facto standaarden.
    </p>
{% endblock %}
