{% block title 'Na stiahnutie' %}
{% block keywords '' %}
{% block description 'Sťahujte súbory, buďte v kontakte s komunitou, čítajte články, nájdite školenia' %}

{% block intro %}
    <h2>Symfony Standard Edition</h2>
    <p>
        Symfony Standard Edition je najlepšia distribúcia pre
        začínajúci projekt. Obsahuje najpoužívanejšie doplnky a
        prichádza s jednoduchým systémom konfigurácie.
    </p>
{% endblock %}

{% block downloadnow 'Stiahnuť teraz' %}
{% block download 'Stiahnuť' %}
{% block previousversion 'Stiahnuť predchádzajúcu stabilnú verziu:' %}
{% block specificversion 'Vyberte konkrétnu verziu:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Máte radi konzolu?</h3>
        <p style="padding-bottom: 0">
            Nainštalujte si <a href="http://getcomposer.org/">Composer</a> a spustite nasledujúci príkaz:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ 2.3.0</pre>
    </div>
    <h3 class="title_05">Pokyny k inštalácii</h3>
    <ol>
        <li>
            Stiahnite si jeden z archívov niekde na lokálny web
            server a rozbaľte ho v root adresári. Ak máte nainštalovaný
            Git, môžete si stiahnuť Symfony2 "without vendors", pre
            ešte viac flexibility.
        </li>
        <li>
            Postupujte podľa pokynov v súbore README.md
            (je to obyčajný textový súbor), ktorý je súčasťou
            archívu.
        </li>
        <li>Užite si to!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY KOMPONENTY</h2>
    <p>
        Okrem toho, že Symfony je full-stack framework, Symfony sa skladá
        z nezávislých, samostatných komponentov. Tieto si môžete
        <a href="{{ marketing_path('components') }}">stiahnuť a nainštalovať</a>
        úplne nezávisle od frameworku.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY NA GIT-E</h2>
    <p>
        <strong>Oficiálny Symfony2 repozitár</strong> je umiestnený na Githube
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Mali by ste používať iba tento repozitár ak neuvažujete o
        pracnej manuálnej inštalácií.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Symfony 1.4 je posledné Long Term Support vydanie pre
        vetvu Symfony 1.X a bude podporovaná do Novembra 2012.
        Ak vytvárate nový projekt, mali by ste radšej použiť
        <a href="#top">Symfony2</a>.
    </p>
    <p>
        Avšak, ak už máte funkčný projekt postavený na Symfony 1.x,
        stále máte prístup k
        <a href="{{ path('legacy_doc_home') }}">dokumentácií</a>
        pre všetky verzie Symfony 1.x, môžete si
        <a href="#legacy">stiahnuť</a> niektorú zo stabilných verzií,
        alebo pristupovať k ďalším nástrojom pre Symfony 1.x
        <a href="{{ path('legacy_home') }}">legacy</a>
        stránka. Symfony1 môžete získať aj pomocou
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Ak chcete začat nový projekt
        pomocou Symfony1, stiahnute si sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        zdrojové kódy
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        alebo <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>
        SVN repozitár.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Staršie vydania</h2>
    <p>Stiahnite si niektorú staršiu stabilnú verziu:</p>
{% endblock %}
