{% block title 'Symfony IRC kanali' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        To so uradni Symfony IRC kanali na Freenode:
    </p>
    <ul>
        <li>
            <a href="irc://irc.freenode.net/symfony">#symfony</a>, glavni
            Symfony kanal in najboljši način za vprašati podporo o Symfony.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-dev">#symfony-dev</a>,
            kanal za razpravo o razvoju samega Symfony-ja.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-docs">#symfony-docs</a>,
            kanal za razpravo o dokumentaciji Symfony.
        </li>
    </ul>

    <h2>
        IRC orodja
    </h2>
    <p>
        To so nekatera najboljša orodja za pogovor na IRC kanalin:
    </p>
    <ul>
        <li>
            Spletno-osnovane storitve: <a href="http://webchat.freenode.net/">Freenode webchat</a>, <a href="https://www.irccloud.com">IRCCloud</a>.
        </li>
        <li>
            Windows klienti: <a href="http://www.mirc.com/">mIRC</a>, <a href="https://hexchat.github.io/index.html">HexChat</a>.
        </li>
        <li>
            Mac OS X klienti: <a href="http://colloquy.info/">Colloquy</a>, <a href="https://adium.im/">Adium</a>.
        </li>
        <li>
            Linux klienti: <a href="http://hexchat.github.io/">HexChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a>
        </li>
        <li>
            Razširitve brskalnikov: <a href="http://chatzilla.hacksrus.com/">ChatZilla</a>
        </li>
    </ul>

    <h2>
        Lokalni IRC kanali
    </h2>

    <p>
        Če se raje pogovarjate z ostalimi Symfony razvijalci v vašem lastnem jeziku,
        premislite o uporabi lokalnih kanalov:
    </p>
    <ul>
        <li>Brazilian Portuguese: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
        <li>Czech: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
        <li>French: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
        <li>German: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
        <li>Russian: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
        <li>Spanish: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
        <li>Polish: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        <li>Swedish: <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
    </ul>
{% endblock %}
