{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Glavni IRC kanal za symfony je <a href="irc://irc.freenode.net/symfony">#symfony</a> na Freenode.
        <ul>
            <li>Za Windows je najbolj pogosto uporabljan <a href="http://www.mirc.com/">mIRC</a>;</li>
            <li>Za Mac najenostavnejše lahko uporabite <a href="http://colloquy.info/">Colloquy</a>.</li>
            <li>Za sisteme Linux je na voljo veliko klientov IRC, vendar najpopularnejši so <a href="http://xchat.org/">XChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a>.</li>
        </ul>
    </p>
    <p>
        Če želite stopiti v stik s Symfony uporabniki, da vam pomagajo v vašem maternem jeziku,
        se povežite na enega izmed sledečih lokaliziranih kanalov:
        <ul>
            <li>Brazilian Portuguese: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Czech: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
            <li>French: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>German: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Russian: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Spanish: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Polish: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
            <li>Swedish: <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
        </ul>
    </p>
    <p>
        Glejte globalno sekcijo <a href="{{ marketing_path('community') }}">skupnost</a>
        strani symfony za več načinov pomoči (dopisni seznami, forum ...).
    </p>
    <p>
        Če želite videti trenutne Symfony dejavnosti, ali želite neposredno
        vplivati na načrt Symfony, lahko prosto sodelujete na <a href="irc://irc.freenode.net/symfony-dev">#symfony-dev</a>
        kanalu na Freenode.
    </p>
{% endblock %}
