{% block title 'Dopisni seznami' %}
{% block keywords '' %}
{% block description '' %}

{% block discontinued_message %}
    Symfony projekt je prekinil svoje e-poštne sezname od junija 2015
    (<a href="{{ path('blog_post', { slug: 'symfony-support-stack-overflow-as-the-main-medium' }) }}">Preberite objavo</a>).
    Podpora skupnosti je sedaj ponujena na <a href="http://stackoverflow.com/questions/tagged/symfony">StackOverflow-u</a>.
{% endblock %}

{% block read_only_message %}
    Sledeči e-poštni seznami niso več aktivni, vendar so vzdrževani v
    samo bralnem načinu zaradi referenčnih razlogov.
{% endblock %}

{% block symfony2_title %}Symfony2 uporabniška skupina{% endblock %}
{% block symfony2_description %}
    Podpora skupnosti za verziji Symfony 2 in 3. Zamenjana z
    <a href="http://stackoverflow.com/questions/tagged/symfony">značko Symfony</a> na StackOverflow-u.
{% endblock %}

{% block symfony1_title %}symfony1 uporabniška skupina{% endblock %}
{% block symfony1_description %}
    Podpora skupnosti za verzijo symfony1. Zamenjana z
    <a href="http://stackoverflow.com/questions/tagged/symfony1">značko symfony1</a> na StackOverflow-u.
{% endblock %}

{% block symfonydev_title %}Razvijalska skupina{% endblock %}
{% block symfonydev_description %}
    Razprave o razvoju samega ogrodja Symfony. Zamenjane s sekcijo
    <a href="https://github.com/symfony/symfony/issues">Symfony Issues</a>
    na GitHub-u.
{% endblock %}
