{% block title 'Dopisni seznami' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'E-pošta:' %}
{% block submit 'Prijavite se' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1 uporabniška skupina</a></h3>
    <p>Če potrebujete podporo za symfony1, premislite o prijavi na symfony1 uporabniški dopisni seznam:</p>
{% endblock %}

{% block archive %}
    <p>
        Lahko tudi prebrskate arhiv stare
        <a href="http://groups.google.com/group/symfony-users">uporabniške skupine</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2 uporabniška skupina</a></h3>
    <p>Če potrebujete podporo za Symfony2, premislite o prijavi na Symfony2 uporabniški dopisni seznam:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Razvijalska skupina</a></h3>
    <p>
        Če želite prispevati k projektu, se pogovoriti o novih lastnostih,
        premislite o prijavi na razvijalski dopisni seznam Symfony:
    </p>
{% endblock %}
