{% block title 'Podpora Symfony' %}
{% block keywords '' %}
{% block description 'Podpora Symfony ponujena s strani skupnosti in profesionalna podpora ponujena s strani SensioLabs.' %}

{% block title_community_support %}Podpora skupnosti{% endblock %}
{% block stackoverflow_support %}
    Use <a href="http://stackoverflow.com/?tags=symfony">Stack Overflow</a>
    <span>za vprašanja in odgovore vprašanj Symfony.</span>
{% endblock %}
{% block irc_support %}
    Use the <a href="{{ marketing_path('irc') }}">#symfony kanal IRC</a>
    <span>da dobite realnočasno podporo.</span>
{% endblock %}

{% block title_professional_support %}Profesionalna podpora{% endblock %}
{% block sensiolabs_support %}
    <a href="http://sensiolabs.com">SensioLabs</a>, podjetje za Symfony-jem,
    ponuja polni obseg rešitev, da dobite boljše rezultate, hitreje. Od
    svetovanja do izobraževanja in od inštruiranja do certifikacije.
{% endblock %}
{% block business_solutions %}Poglejte vse poslovne rešitve{% endblock %}
