{% block description %}
    <p>
        Aimeos is a full-featured online shop bundle which integrates the Aimeos
        e-commerce library into Symfony. It offers a complete and fully tested
        set of shop components for Symfony with a strong focus on flexibility,
        performance, scalibility, usability and software quality.
    </p>
    <p>
        The bundle provides components for e.g. faceted search, product lists and
        detail views as well as baskets, the checkout process, e-mails handling
        and "MyAccount" components. It supports 60+ payment providers using the
        Omnipay payment library and offers interfaces for ERP, CRM, PIM and
        similar systems.
    </p>
    <p>
        A full demo setup including routes is available for a quick start.
    </p>
{% endblock %}
