{% block description %}
    <p>

        Akeneo is an open source Product Information Management (PIM) system
        designed for retailers looking for efficient answers to their
        multichannel needs.

    </p>
{% endblock %}
