{% block description %}
    <p>

        Carew is another static site / blog generator. Write some blog posts or
        pages in markdown, Carew will render them in html.

    </p>

    <ul>

        <li>Simple but extensible</li>
        <li>Auto syntax highlighting</li>
        <li>Auto generated navigation</li>
        <li>Auto generated pagination</li>
        <li>One theme base on Bootstrap</li>
        <li>Shareable/Linkable SEO Friendly URLs</li>
        <li>No need for php, ruby, python on the production server.</li>
        <li>Git friendly</li>

    </ul>
{% endblock %}
