{% block description %}
    <p>

        Codeception is a full-stack testing framework which incorporates
        acceptance, functional, and unit testing. It uses simple PHP DSL to
        describe test scenarios and includes over 20 modules to solve common
        problems. With Codeception you can get test executed inside every
        popular PHP framework, use PhpBrowser (based on Guzzle) or run
        acceptance test with Selenium WebDriver.

    </p>
{% endblock %}
