{% block description %}
    <p>

        Contao is an accessible open source content management system.
        Starting with version 4 (released spring 2015), Contao is using
        Symfony full stack and steadily migrating the existing framework
        to Symfony components.

    </p>
{% endblock %}
