{% block description %}
    <p>
        Cygnite is a modern web application framework with expressive, elegant
        syntax written in the PHP programming language. Created by Sanjoy Dey.
        It works with PHP 5.4 and above. The ultimate goal of the project is simplicity, providing best features
        without sacrificing the performance of the framework. We believe the main aim of the framework is to help developers
        and should not be painful to learn or deploy the application in short span of time. It helps you in most common tasks as generating crud, 
        craft console, powerful REST routing, container, session, middleware, cyrus orm etc. Cygnite framework's console is constructed 
        using Symfony Console component, Twig is for templating, SwiftMailer for emailing purpose.
    </p>
{% endblock %}


