{% block description %}
    <p>
        Cygnite is a modern web application framework with expressive, elegant
        syntax written in the PHP programming language, Created by Sanjoy Dey.
        It works with PHP 5.4 and above. Ultimate goal of the project is simplicity, best features
        but without sacrificing the performance of the framework.
        We believe framework should not be painful to learn and deploy the application short span of time.
        It helps you in most common tasks as generating crud, craft console, powerful routing, container,
        session, middleware etc. Cygnite framework's console is constructed using Symfony Console component, Twig for templating,
        SwiftMailer for emailing purpose.
    </p>
{% endblock %}


