{% block description %}
    <p>

        Meet Elcodi, a suite of Symfony2 e-commerce bundles that focus on:

    </p>

    <ul>
        <li>
            Designing loosely coupled components.
        </li>
        <li>
            Liskov is your friend: using abstracts when defining contracts
            among components.
        </li>
        <li>
            Exploiting Symfony2 DependencyInjection component to expose easy
            customization of behaviours and models.
        </li>
        <li>
            Using Factory injections in services to that objects are always
            created in a consistent state.
        </li>
        <li>
            EventDispatcher FTW: events, events, events. First rule to avoid
            code entanglement.
        </li>
        <li>
            Rigorous taxonomy: giving name to things may be an art, but the
            reward is massive.
        </li>
    </ul>
{% endblock %}
