{% block description %}
    <p>

        The eZ Publish Platform 5.1 is designed to build, manage and run
        demanding websites and mobile channels collaboratively and meet the
        underlying business challenges. Beyond the traditional content
        management part which is needed to succeed, it has the ability to
        deliver tailored and personalized content to different audiences
        (customers, partners, employees...), offers measurement tools to track
        and adapt to user behaviors. It also bring optimization capabilities
        as well as nurturing and campaigning tool to increase conversion rates
        and efficiency and maximize engagement. The eZ Publish Platform offers
        a whole platform for organizations to build compelling content-driven
        digital experiences, covering the whole Create Deliver Optimize
        process.

    </p>
{% endblock %}
