{% block description %}
    <p>

        The eZ Publish Community project serves as the foundation for eZ Publish
        Enterprise Edition, which is built for business-critical digital
        applications that need to be extensively quality-assured, stable and
        fully-featured with additional value-added functionalities, support and
        maintenance services.

    </p>
{% endblock %}
