{% block description %}
    <p>

        The InitCmsBundle is a small flexible cms core based on symfony 2
        which can be used as a standalone CMS or integrated into any existing
        symfony 2 project.

    </p>
{% endblock %}
