{% block description %}
    <p>

        Joomla is an award-winning content management system (CMS), which
        enables you to build Web sites and powerful online applications. Many
        aspects, including its ease-of-use and extensibility, have made Joomla
        the most popular Web site software available. Best of all, Joomla is an
        open source solution that is freely available to everyone.

    </p>
{% endblock %}
