{% block description %}
	<p>

		Mothership is an open source e-commerce platform with a strapline of 'E-commerce
		for humans'. It was built with the primary focus of making things easier for
		developers and end users alike, and is built upon over a decade of experience in e-commerce.

	</p>
{% endblock %}
