{% block description %}
    <p>

        OroCRM is an easy-to-use, open source CRM with built-in marketing
        tools for your ecommerce business. It's the CRM both marketing and
        sales can agree on! OroCRM was created with marketers in mind. It’s
        marketing automation tools for commerce companies make it easy to
        track and segment customers across multiple channels.

        OroCRM is open source, built in PHP5 and using the Symfony2 framework,
        allowing for complete control in functionality creation. This gives
        companies and developers complete control and endless product
        opportunity.

    </p>
{% endblock %}
