{% block description %}
    <p>

        Pagekit with its web application framework is the right choice for
        beginners and also for experienced developers. It provides a set of
        components that solve common tasks in content management with a
        unified API. The dependency injection container offers great
        flexibility, as service classes get injected at run-time and can
        easily be changed. Pagekit uses Symfony's HTTP and routing components,
        which provide a solid and well tested solution for request and
        response handling. The database layer is based on Doctrine and is
        combined with Pagekit's very own object relational mapper that offers
        a fast and lightweight implementation for object persistence. Pagekit
        follows the PSR-1 coding standard and leverages powerful features like
        class autoloading, namespaces, annotations and closures.

    </p>
{% endblock %}
