{% block description %}
    <p>

        PHP_Depend is a small program that performs static code analysis on a
        given source base. It first takes the source code and parses it into an
        easily processable internal data structure. Then it measures several
        values, the so called software metrics. Each of this values stands for a
        quality aspect in the the analyzed software.

    </p>
{% endblock %}
