{% block description %}
    <p>

        phpspec is a tool which can help you write clean and working PHP code
        using behaviour driven development or BDD. It's also a PHP toolset to
        drive emergent design by specification.

    </p>
{% endblock %}
