{% block description %}
    <p>PHPUnit is a unit testing software framework for software written in the PHP programming language.
    Created by Sebastian Bergmann, PHPUnit is one of the xUnit family of frameworks. PHPUnit was created with
    the view that the sooner you detect your code mistakes, the quicker you can fix them. Like all Unit testing
    frameworks PHPUnit uses assertions to verify that behaviour of the unit of code under test behaves as expected.</p>
{% endblock %}
