{% block description %}
    <p>

         The Proem framework aims to be a lightweight, simple &amp; fast MVC
         implementation built on top of PHP5.4. The overall design has been
         kicking around my head for a number of years, slowly becoming more
         and more refined over time. This is actually the third iteration of
         the idea.

         The current idea sees the framework become Event driven,
         with the Bootstrap process executing a filter chain to instantiate
         the bulk of the components required to build an application. During
         the execution of each step in the filter chain, events are triggered
         exposing the ability to customise this process.

    </p>
{% endblock %}
