{% block description %}
    <p>
        PuPHPet is a simple GUI to set up virtual machines for PHP development 
        using Vagrant, some provider like VirtualBox and Puppet.
        After defining your box configuration (PHP version and settings, webserver, DBMS, etc.), 
        you will receive a file archive with all the needed data for your box setup.
        Extract this data to a new folder, start your box and have fun!
        After starting the project in Silex, PuPHPet uses the full-stack since version 2. 
    </p>
{% endblock %}
