{% block description %}
    <p>

        RedKite CMS is a content management system built on top of Symfony and
        Twitter-Bootstrap frameworks. You will be able to manage the content of
        your website inline, using an awesome interface, designed to increase
        the quality of the user experience.

    </p>
{% endblock %}
