{% block description %}
    <p>
        <strong>Roadiz</strong> is a modern CMS based on a polymorphic node system which can handle many types of services and contents.
        Its back-office has been developed with a high sense of design and user experience.
        Its theming system is built to live independantly from back-office allowing easy switching
        and multiple themes for one content basis. For example, it allows using one theme for your desktop website
        and another one for your mobile, using the same node hierarchy.
    </p>
{% endblock %}
