{% block description %}
    <p>

        Sculpin is a static site generator written in PHP. It converts Markdown
        files and formats Twig templates into a set of static HTML files that
        can be easily deployed.

    </p>
{% endblock %}
