{% block description %}
    <p>

        The goal of the Sonata Project is to provide an e-commerce framework
        solution based on the Symfony2 framework. Think of it as a toolkit
        based on Symfony2 components to make building e-commerce sites easy
        and fun!

    </p>
{% endblock %}
