{% block description %}
    <p>

        Sulu 2.0 will be a Content Management Framework (CMF) based on Open
        Source - technologies replacing the current Content Management System
        ZOOLU. This system will be optimized for middle and large sized
        enterprises with multinational organizations, worldwide markets and
        products.

        By maximizing work efficiency of content management processes the system will
        meet the content manager´s needs while remaining easy to understand and use.
        More specifically, this system is designed to allow a content manager to
        manage multi-portals in multi-languages within complex product structures.

    </p>
{% endblock %}
