{% block description %}
    <p>Sylius is an open source e-commerce solution for PHP, based on the Symfony2 framework. Ultimate goalof the
    project is to create a webshop engine, which is user-friendly, loved by developers and has a helpful community.
    Sylius is constructed from fully decoupled components (bundles in Symfony2 glossary), which means that every
    feature (products catalog, shipping engine, promotions system...) can be used in any other application. We're
    using full-stack BDD methodology, with phpspec and Behat.</p>
{% endblock %}
