{% block description %}
    <p>Vespolina is a php5 ecommerce system that plugs into Symfony2. It aims to deliver a framework that supports
    a wide variety of (e)commerce flows and processes.</p>
{% endblock %}
