{% block description %}
    <p>

        Aimeos je paket spletne trgovine in tržišča z vsemi lastnostmi, ki
        integrira e-trgovinsko knjižnico Aimeos v Symfony. Ponuja
        celoten in v celoti stestiran skupek trgovinskih komponent, razvitih z
        močnim poudarkom na fleksibilnosti, zmogljivosti, razširljivosti, uporabnosti in
        kvaliteti programske opreme. Polna demonstracijska namestitev za hiter začetek projekta je vključena.

    </p>
{% endblock %}
