{% block description %}
    <p>

        Akeneo je odprtokodni sistem za urejanje informacij produktov (PIM)
        načrtovan za trgovce, ki iščejo efektivne odgovore za svoje
        večkanalne potrebe.

    </p>
{% endblock %}
