{% block description %}
    <p>

      API Platform je odprto kodno spletno ogrodje za projekte z API poudarkom.
      Opisuje podatkovni model API-ja ali pa uvozi obstoječega iz Schema.org
      in takoj dobi polno vsebovan API za branje/pisanje z operacijami REST,
      preverjanjem podatkov, številčenjem strani, razvrščanjem, filtriranjem, dokumentacijo Swagger,
      avtoriziranim sistemom, predpomnilnikom HTTP na osnovi razveljavitve, gnezdenimi dokumenti,
      pogajanjem vsebine in podporo za moderne formate hiperpovezav (JSON-LD),
      HAL in Hydra).
      Odprite vaš priljubljeni urejevalnik in nato prilagodite ter prepišite vse, kar potrebujete.
      Uporabite ponujena orodja JavaScript za zagon enostranske aplikacije
      ali mobilne aplikacije z uporabo React iz opisa API.

    </p>
{% endblock %}
