{% block description %}
    <p>

        Assetic je PHP ogrodje, ki upravlja s sredstvi. Zdru탑uje dve
        glavni ideji: sredstva in filtri. Sredstva so datoteke, kot so CSS,
        JavaScript in slikovne datoteke. Filtri so stvari, ki se lahko uporabijo
        na teh datotekah preden, se jih stre탑e brskalniku. To omogo훾a
        lo훾evanje med datotekami sredstev, shranjenih v aplikaciji in
        datotekami dejansko predstavljenimi uporabniku.

    </p>
{% endblock %}
