{% block description %}
    <p>

        BackBee je odprto kodni CMS načrtovan za revolucijo uporabniške izkušnje.
        Uporablja arhitekturo "urejanje na strani", kar naredi distribucijo vsebine intuitivno in varno
        brez žrtvovanja zmogljivosti platforme.
        BackBee je tudi zasnovan za izdelavo spletnih strani "iz škatle", ki so visoko odzivne.
        BackBee je distribuiran pod GNU pogoji Splošne javne licence (oz. "GPL").

    </p>
{% endblock %}
