{% block description %}
    <p>

        Behat je odprto kodno vedenjsko gnano razvojno ogrodje za PHP
        5.3 in 5.4. Kaj je vedenjsko gnani razvoj, sprašujete? Gre za
        idejo, da začnete pisati človeku-bralne stavke, ki opisujejo
        lastnost vaše aplikacije in kako bi morala delati in nato
        implementirate to obnašanje v programsko opremo.

    </p>
{% endblock %}
