{% block description %}
    <p>

        Bolt je orodje za urejanje vsebine, ki si prizadeva biti čimbolj
        enostavno in preprosto. Je hitro za postaviti, preprosto za nastavitev,
        uporablja elegantne predloge in predvsem: je zabavno za uporabo.
        Bolt je izdelan z uporabo modernih odprto kodnih knjižnic in je najbolj
        primeren za gradnjo strani v HTML5 z modernim markup-om.

    </p>
{% endblock %}
