{% block description %}
    <p>

        Bowerphp je PHP port Bower paketnega upravljanika. Uporablja enak
        protokol in ponuja skoraj enak skupek lastnosti za sisteme,
        ki ne morejo uporabljati Node.js.

    </p>
{% endblock %}
