{% block description %}
    <p>

        Carew je še en statičen generator strani / blogov. Napišite nekaj objav
        bloga ali strani v Markdown-u in Carew jih bo izpisal v HTML. Ponuja avtomatsko
        označevanje sintakse, avtomatsko generirano navigacijo in paginacijo ter eno temo
        na osnovi Bootstrap-a. Carew na produkcijskem strežniku ne zahteva uporabe PHP, Ruby ali
        Python in je Git-u prijazen.

    </p>
{% endblock %}
