{% block description %}
    <p>

        Carew je še en statičen generator strani / blogov. Napišite nekaj objav
        bloga ali strani v markdown-u, Carew jih bo izpisal v html.

    </p>

    <ul>

        <li>Enostaven, vendar razširljiv</li>
        <li>Avtomatsko označevanje sintakse</li>
        <li>Avtomatsko generirana navigacija</li>
        <li>Avtomatsko generirano oštevilčenje strani</li>
        <li>Tema, bazirana na Bootstrap</li>
        <li>Deljivi/povezljivi SEO prijazni URL-ji</li>
        <li>Ni potrebe po php, ruby, python na produkcijskem strežniku.</li>
        <li>Prijazno Git-u</li>

    </ul>
{% endblock %}
