{% block description %}
    <p>

        Codeception je celotno testno ogrodje, ki vključuje
        sprejemno in funkcionalno testiranje ter testiranje enot. Uporablja enostaven PHP DSL za
        opis testnih scenarijev in vključuje preko 20 modulov za reševanje skupnih
        problemov. S Codeception lahko dobite teste, ki so izvršeni znotraj vsakega
        popularnega PHP ogrodja, uporabite PhpBrowser (osnovan na Guzzle) ali poženite
        sprejemne teste s Selenium WebDriver.

    </p>
{% endblock %}
