{% block description %}
    <p>

        Composer je orodje za upravljanje z odvisnostmi v PHP. Omogoča vam,
        da deklarirate odvisne knjižnice, ki jih vaš projekt potrebuje, in jih bo
        namestil v vaš projekt za vas.

    </p>
{% endblock %}
