{% block description %}
    <p>

        Concrete5 je odprtokodni CMS načrtovan za revolucijo uporabniške izkušnje.
        Pojdite na katerokoli stran vaše spletne strani in urejevalna orodniška vrstica vam da vso
        kontrolo, ki jo potrebujete za posodobitev vaše spletne strani. Nič zastrašujočih vodičev,
        nič kompliciranih administracijskih vmesnikov - samo pokažite in kliknite.

    </p>
{% endblock %}
