{% block description %}
    <p>

        Contao je razširljiv odprto kodni sistem urejanja vsebin,
        prvič objavljen 2006. Z verzijo 4 (izdana spomladi 2015)
        je Contao osnovan na polnem ogrodju Symfony in vztrajno migrira
        obstoječe knjižnice na komponente Symfony.

    </p>
{% endblock %}
