{% block description %}
    <p>

        CSBill je odprto kodna aplikacija za račune načrtovana za enostavno uporabo in poenostavitev računovodstva za freelancer-je ali velika podjetja.
        Glavne lastnosti vključujejo izdelavo in upravljanje strank z večimi kontakti, izdelavo in pošiljanje ponudb in računov ter spletna plačila.

    </p>
{% endblock %}
