{% block description %}
    <p>

        Object relational mapper (ORM) za PHP, ki stoji na vrhu močnega
        database abstraction layer-ja (DBAL). Ena njegovih glavnih lastnosti je
        opcija za pisanje poizvedb podatkovne baze v lastniškem objektno orientiranem
        SQL dialektu imenovanem Doctrine Query Language (DQL), navdihnjen od Hibernates
        HQL. To ponuja razvijalcem močno alternativo napram SQL, da
        vzdržujejo fleksibilnost brez potrebe po nepotrebni podvojenosti kode.

    </p>
{% endblock %}
