{% block description %}
    <p>

        Drupal je odprto kodna platforma za urejanje vsebin, ki poganja milijone
        strani in aplikacij. Zgrajen, uporabljen in podprt s strani aktivne
        in raznolike skupnosti ljudi okrog sveta. Drupal je odprto kodna
        programska oprema vzdrževana in razvita s strani skupnosti
        1.000.000+ uporabnikov in razvijalcev. Distribuiran je pod pogoji
        GNU General Public License (ali "GPL"), kar pomeni, da jo lahko vsakdo
        prosto prenese ali deli z ostalimi.

    </p>
{% endblock %}
