{% block description %}
    <p>

        Drupal Console je zbirka orodij, ki ponujajo vmesnik ukazne vrstice
        (CLI) za generiranje boilerplate kode in interakcijo z
        namestitvijo Drupal 8.

    </p>
{% endblock %}
