{% block description %}
    <p>

        Easybook je aplikacija, ki vam omogoča enostavno objavo knjig v
        različnih elektronskih formatih. Čeprav je bila originalno načrtovana
        za objavo programerskih knjig, lahko uporabite easybook za objavo katerekoli
        vrste knjige, navodila ali dokumentacije spletne strani.

    </p>
{% endblock %}
