{% block description %}
    <p>

        EC-CUBE je odprto kodni paket uporabljen za izdelavo e-trgovin.
        Na Japonskem je najbolj priljubljen sistem e-trgovine.
        Od izdaje verzije leta 2006 lahko uporabniki brezplačno zgradijo e-trgovino. S pomočjo funkcionalnosti povleci in spusti, si lahko uporabniki brez znanja programiranja enostavno izdelajo originalno trgovino na spletu.

    </p>
{% endblock %}
