{% block description %}
    <p>

        Elcodi je e-trgovinska platforma zgrajena na vrhu Symfony, narejena posebej
        za gradnjo in hitro skaliranje vašega projekta. Osnovan na ohlapno vezanih
        komponentah, Elcodi vedno vzame v račun najnaprednejše vzorce v
        načrtih programske opreme in najbolj pragmatično filozofijo.

    </p>
{% endblock %}
