{% block description %}
    <p>

        Spoznajte Elcodi, opremo Symfony2 e-trgovinskih paketov, ki se osredotoča na:

    </p>

    <ul>
        <li>
            Načrtovanje ohlapno povezanih komponent.
        </li>
        <li>
            Liskov je vaš prijatelj: uporaba abstraktnosti, ko se definira povezave
            med komponentami.
        </li>
        <li>
            Izkoriščanje Symfony2 komponente DependencyInjection, da se izpostavi enostavno
            prilagoditev obnašanja in modelov.
        </li>
        <li>
            Uporaba Factory injiciranj v storitve do teh objektov je vedno
            ustvarjena v skladnem načinu.
        </li>
        <li>
            EventDispatcher FTW: dogodki, dogodki, dogodki. Prvo pravilo za izogibanje
            zapletanja kode.
        </li>
        <li>
            Stroga taksonomija: poimenovanje stvari je mogoče umetnost, vendar
            nagrada je velika.
        </li>
    </ul>
{% endblock %}
