{% block description %}
    <p>

        Platforma eZ Publish 5.1 je načrtovana za gradnjo, uporabljanje in poganjanje
        zahtevnih spletnih strani in mobilnih kanalov skupinsko in zadošča
        osnovnim poslovnim izzivom. Kar presega del tradicionalnega urejanja vsebine,
        ki je potreben za uspeh, je možnost dostave prilagojenih in personaliziranih
        vsebin za različna občinstva (stranke, partnerji, zaposleni ...), ponuja
        orodja za sledenje in adaptacijo na uporabnikova vedenja.

    </p>
{% endblock %}
