{% block description %}
    <p>

        Projekt eZ Publish Community služi kot temelj izdaje eZ Publish
        Enterprise, ki je namenjena nepogrešljivim digitalnim aplikacijam za neprekinjeno
        poslovanje podjetja. Te morajo imeti obširno zagotovljeno kakovost, biti stabilne in
        imeti vse lastnosti z dodatnimi funkcionalnostmi za dodano vrednost, podporo in
        storitve vzdrževanja.

    </p>
{% endblock %}
