{% block description %}
    <p>

        TYPO3 Flow ni izberi in zmešaj zbirka komponent. Je ogrodje,
        ki vam pomaga z infrastrukturo vaše aplikacije.
        Upravljanje življenskega cikla objekta, upravljanje paketov, upravljanje
        virov in varnost so na njegovem domačem področju. Prava poslovna logika
        je prepuščena paketom po meri.

    </p>
{% endblock %}
