{% block description %}
    <p>
        Fork CMS je namenjen izdelavi uporabniku prijaznega okolja za granjo, nadzor in posodabljanje vaše spletne strani.
        Smo zelo ponosni na sistem urejanja vsebin po izbiri za začetnike in profesionalce.
        Združujemo to veliko vizijo z najnovejšimi tehničnimi inovacijami, ki omogočajo razvijalcem,
        razvijalcem ospredij in oblikovalcem gradnjo najboljših spletnih strani.
    </p>
{% endblock %}
