{% block description %}
    <p>

        freepost je brezplačna tabla sporočil v glavnem uporabljena za diskusije proste programske opreme
        in proste kulture povezanih tem.

    </p>
{% endblock %}