{% block description %}
    <p>

        Goutte je PHP knjižnica za strganje po zaslonu in spletno plazenje (crawling).
        Goutte ponuja lep API za plazenje po spletnih straneh in izpis podatkov
        iz HTML/XML odzivov.

    </p>
{% endblock %}
