{% block description %}
    <p>

        Grav je moderen, hiter, enostaven in fleksibilen CMS za datoteke. Medtem ko je Grav
        namerno minimalen, vam obsežna vtičniška arhitektura omogoča
        prilagoditev skoraj katerekoli naloge. Močan motor predlog Twig zagotavlja, da je
        razvoj omejen samo s strani vaše domišljije. Sofisticirani mehanizmi
        predpomnenja pomenijo, da je Grav zastrašljivo hiter in se lahko prilagodi bolj
        kot katerikoli drug CMS datotek. Uporaba Markdown-a za izdelavo vsebin in YAML
        za nastavitev zagotavljata, da je vedno enostaven za uporabo in nastavitev.
        Medtem kot je osnovan na datotekah, to pomeni, da je stran Grav hitra za namestitev, enostavna
        za migracijo in lahka za ustvarjanje različic.

    </p>
{% endblock %}
