{% block description %}
    <p>

        Guzzle prevzema težave pošiljanja HTTP zahtevkov in redundančnosti
        iz izdelave klientov spletnih storitev. Je ogrodje, ki vključuje
        orodja, ki so potrebna za izdelavo robustnih klientov spletnih storitev,
        kar vključuje: opise storitev, za definicijo vnosov in izpisov API-ja,
        iteratorjev virov za vodenje oštevilčenih virov, paketenje za pošiljanje
        večjega števila zahtevkov, kakor efektivno je mogoče.

    </p>
{% endblock %}
