{% block description %}
    <p>

        InitCmsBundle je majhno fleksibilno jedro cms osnovano na Symfony,
        ki je lahko uporabljeno kot samostoječi CMS ali integrirano v katerikoli obstoječi
        projekt Symfony.

    </p>
{% endblock %}
