{% block description %}
    <p>

        InitCmsBundle je majhno fleksibilno cms jedro osnovano na Symfony2,
        ki je lahko uporabljen kot samostoječ CMS ali integriran v obstoječi
        Symfony2 projekt.

    </p>
{% endblock %}
