{% block description %}
    <p>

        Joomla je nagrajeni sistem za urejanje vsebin (CMS), ki
        vam omogoča zgraditi spletne strani in močne spletne aplikacije. Mnogi
        pogledi, vključno z njeno enostavno uporabo in razširljivostjo, so naredili Joomlo
        najpopularnejšo programsko opremo spletnih strani na voljo. Najboljše pa je, da je Joomla
        odprtokodna rešitev, ki je prosto dostopna vsakomur.

    </p>
{% endblock %}
