{% block description %}
    <p>

        Kunstmaan Bundles CMS je napreden a vseeno uporabniku prijazen sistem
        za urejanje vsebine osnovan na celotnem ogrodju Symfony združenim
        s celotnim gostovanjem paketov skupnosti. Ponuja CMS sistem s polnimi
        lastnostmi in večjezičnostjo ter z inovativnim procesom montaže strani
        in obrazcev, različice, potek dela, upravitelje za prevode in medije ter
        veliko več.

    </p>
{% endblock %}
