{% block description %}
    <p>

        Ladybug ponuja enostavno in razširljivo zamenjavo za var_dump / print_r
        za PHP 5.3+ projekte. Katerakoli PHP spremenljivka, objekt ali vir je lahko izpisan
        v obliki lepe predstavitve v HTML, CLI ali kot tekst.
        Je zelo prilagodljiv in razširljiv, saj sistem vtičnikov omogoča
        vključitev tretje-osebnih tem ali pregledovalnikov razredov.
        Na voljo je paket za uporabo v projektih Symfony2, ki doda nekaj dodatnih
        lastnosti, kot so izpisovanje v profiler.

    </p>
{% endblock %}
