{% block description %}
    <p>

        Laravel je spletno aplikacijsko ogrodje z ekspresivno, elegantno
        sintakso. Verjamemo, da mora biti razvoj zabavna, kreativna
        izkušnja, da je res izpolnjena. Laravel poskuša vzeti težave iz
        razvoja s poenostavitvijo pogostih opravil uporabljenih v glavnini
        spletnih projektov, kot je preverjanje pristnosti, usmerjanja, sej
        in predpomnjenja.

    </p>
{% endblock %}



