{% block description %}
    <p>

        Magento ponuja fleksibilne, razširljive e-trgovinske rešitve, ki so načrtovane,
        da vam pomagajo uspeti in povečati rast. Naša cenovno učinkovita tehnološka platforma
        vam omogoči nadzorovati vsebino, funkcionalnost in
        izgled in občutek vaše spletne trgovine.

    </p>
{% endblock %}
