{% block description %}
    <p>

        Mautic revolucionizira avtomatizacijo marketinga. Mautic je odprta kodna
        programska oprema na voljo za vsako podjetje ne glede na njihovo velikost
        in ekonomski položaj. Mautic ponuja vodilno nego, vodilno spremljanje,
        avtomatizirane e-poštne marketinške kampanije, integracijo socialnih medijev,
        ciljne strani, sredstva, poročila, koledar, dogodke, analitiko, obrazce
        in več. Mautic naredi avtomatizacijo marketinga na voljo za vse.

    </p>
{% endblock %}