{% block description %}
	<p>

		<strong>Mothership</strong> je odprtokodna programska oprema spletne trgovine na drobno, ki kombinira e-trgovino z
		Electronic Point of Sale (EPOS) v posamezno, enotno platformo z odličnim administracijskim vmesnikom. Osnovan
		je na 10-letnih izkušnjah, vendar je popolnoma nov, ne vsebuje stare kode,
		kar naredi odlično platformo za razvijalce. Vključuje celotni rang aplikacij,
		za katere pričakujete, da poganjajo spletno trgovino. <strong>Mothership</strong>: E-trgovina za ljudi.

	</p>
{% endblock %}
