{% block description %}
    <p>

        OroCRM je enostaven za uporabo, odprto kodni CRM z vgrajenimi
        marketinškimi orodji za vaš posel e-trgovine. Je CRM, kjer se tako
        marketing in prodaja strinjata. OroCRM je bil izdelan za marketing v
        mislih. Gre za marketinško avtomatizacijsko orodje za prodajna podjetja,
        kjer je poenostavljeno sledenje in segmentiranje kupcev med večimi kanali.

    </p>
{% endblock %}
