{% block description %}
    <p>

        Oro Platform je odprto kodna poslovno aplikacijska platforma (BAP).
        Razvijalcem ponuja točno poslovno aplikacijsko platformo, ki so jo
        iskali z združevanjem orodij, ki jih potrebujejo. Zgrajen v PHP5 in
        Symfony2 ogrodjem se nevidno integrira v OroCRM ali dela
        v celoti samostojno. Razvijanje poslovnih aplikacij po meri ni bilo
        nikoli enostavnejše.

    </p>
{% endblock %}
