{% block description %}
    <p>

        OroPlatform je odprto kodna poslovna aplikacijska platforma (BAP).
        Razvijalcem ponuja točno poslovno aplikacijsko platformo, ki so jo
        iskali z združevanjem orodij, ki jih potrebujejo. Zgrajena v PHP5 in
        ogrodjem Symfony se nevidno integrira v OroCRM ali dela
        v celoti samostojno. Razvijanje poslovnih aplikacij po meri ni bilo
        nikoli enostavnejše.

    </p>
{% endblock %}
