{% block description %}
    <p>

        Pagekit s svojim spletnim aplikacijskim ogrodjem je prava izbira za
        začetnike in tudi izkušene razvijalce. Ponuja skupek komponent, ki
        rešujejo pogoste naloge v urejanju vsebin s poenotenim API-jem. Kontejner
        za injiciranje odvisnosti ponuja odlično fleksibilnost, saj so storitveni
        razredi injicirani pri poganjanju in se jih lahko enostavno spremeni.
        Pagekit uporablja Symfony HTTP in usmerjevalne komponente, ki
        ponujajo trdno in dobro testirano rešitev za upravljanje z zahtevki in
        odzivi. Plast podatkovne baze je osnovana na Doctrine in je kombinirana s
        Pagekit-ovim object relational mapper-jem, ki ponuja hitro
        in lahko implementacijo za obstojnost objektov. Pagekit sledi
        PSR-1 kodnim standardom in dopolnjuje močne lastnosti, kot so
        avtomatsko nalaganje razredov, imenske prostore, anotacije in zaprtja.

    </p>
{% endblock %}
