{% block description %}
    <p>

        Pagekit je modularni in enostaven CMS zgrajen v mislih od tal navzgor
        z moderno arhitekturo. Služi kot ogrodje spletne aplikacije
        in ponuja odlično platformo za razvijalce tem in razširitev.

    </p>
{% endblock %}
