{% block description %}
    <p>

        PHP_Depend je majhen program, ki izvršuje statično analizo kode
        na danem osnovnem viru. Najprej vzame izvorno kodo in jo prevede v
        enostavno procesirno notranjo podatkovno strukturo. Nato izmeri več
        vrednosti, t.i. meritve programske opreme. Vsaka od teh vrednosti pomeni
        vidik kvalitete v analizirani programski opremi.

    </p>
{% endblock %}
