{% block description %}
    <p>

        Phinx naredi upravljanje migracij podatkovnih baz izjemno enostavno
        za vašo PHP aplikacijo. V manj kot 5-ih minutah, lahko namestite Phinx in
        ustvarite vašo prvo migracijo podatkovne baze. Phinx je namenjen
        izključno migracijam brez vse nepotrebnih dodatkov ORM podatkovnega sistema ali
        ogrodja.

    </p>
{% endblock %}
