{% block description %}
    <p>

        phpBB je prosta ravna forumska biltenska plošča, ki je lahko uporabljena
        za ohranjanje stikov s skupino ljudi ali pa lahko poganja vašo celotno
        spletno stran. Z obsežno podatkovno bazo uporabniško izdelanih modifikacij
        in stilov, podatkovna baza vsebuje stotine stilov in paketov slik za
        prilagoditev vaše plošče, da lahko izdelate zelo unikaten forum v minutah.

    </p>
{% endblock %}
