{% block description %}
    <p>

        phpDocumentor 2 je orodje, s katerim je mogoče generirati dokumentacijo
        iz vaše PHP izvorne kode. S to dokumentacijo lahko
        ponujate vašim potrošnikom več informacij o funkcionalnosti vgrajeni
        v vaši izvorni kodi in ne samo, kar je zanje uporabno iz uporabniškega
        vmesnika. Dokumentacija generirana s strani phpDocumentor-ja 2 ne cilja
        biti nadomestek za konvencionalno dokumentacijo, vendar je bolj dodatna,
        ali referenčna dokumentacija.

    </p>
{% endblock %}
