{% block description %}
    <p>

        phpMyFAQ je večjezičen FAQ sistem, gnan s podatkovno bazo. Podpira
        različne podatkovne baze in PHP 5.2 (ali več). phpMyFAQ tudi ponuja
        večjezičen sistem upravljanja z vsebino z WYSIWYG urejevalnikom in
        urejevalnikom slik, fleksibilno večuporabniško podporo z uporabniško in
        skupinsko osnovanimi pravicami, predlogami, PDF-podporo, Facebook in Twitter
        podporo, LDAP in Microsoft Active Directory podporo in enostavno za uporabo
        namestitveno skripto.

    </p>
{% endblock %}
