{% block description %}
    <p>

        phpRedExpert je lahko in močno spletno orodje za Redis upravitelja trgovine na način ključ-vrednost in administracijo.
        Omogoča vam upravljanje ključev, nadzora in nastavitve strežnikov Redis na enostaven in intuitiven način.
        phpRedExpert podpira široko območje operacij in je posebej priročen, če ne želite do Redis-a dostopati preko njegovega CLI.

    </p>
{% endblock %}
