{% block description %}
    <p>

        phpspec je orodje, ki vam lahko pomaga pisati čisto in delujočo kodo PHP
        z uporabo vedenjsko usmerjenega razvoja oz. BDD. Je tudi skupek orodij za
        potek načrta v nastajanju po specifikacijah.

    </p>
{% endblock %}
