{% block description %}
    <p>

        PHPUnit je programsko ogrodje za testiranje enot za programe pisane v
        PHP programskem jeziku. Izdelan s strani Sebastian-a Bergmann-a, je PHPUnit
        eden od xUnit družine ogrodij. PHPUnit je bil izdelan s pogledom,
        da hitreje ko opazite napake v vaši kodi, hitreje jih lahko popravite. Kot vsa
        testna ogrodja enot, PHPUnit uporablja trditve za potrditev, da se obnašanje enote
        kode pod testom vede kot pričakovano.

    </p>
{% endblock %}
