{% block description %}
    <p>

        Pimcore je platforma za upravljanje digitalnih izkušenj. Je
        združena platforma za vsebino, skupnost in poslovanje preko vseh
        stičnih točk strank ter integrira funkcionalnosti CMS, PIM, DAM in
        poslovanja v skupen odprto kodni paket.

    </p>
{% endblock %}
