{% block description %}
    <p>

        Piwik je vodilna odprtokodna spletna analitična platforma, ki vam ponuja
        dragocene vpoglede na vaše obiskovalce spletne strani, vaše marketinške kampanije
        in veliko več, da lahko optimizirate vašo spletno strategijo in izkušnjo
        vaših uporabnikov.

    </p>
{% endblock %}
