{% block description %}
    <p>

        PPI je odprto kodno php meta-ogrodje. Vzeli smo dobre koščke iz
        Symfony, ZendFramework2 in Doctrine2 ter jih združili skupaj,
        da smo izdelali trdno in zelo enostavno spletno aplikacijsko ogrodje.
        PPI se lahko smatra za boilerplate ogrodij PHP.

    </p>
{% endblock %}
