{% block description %}
    <p>

        PPI je odprto kodno php meta-ogrodje. Vzeli smo dobre koščke iz
        Symfony2, ZendFramework2 in Doctrine2 ter jih združili skupaj,
        da smo izdelali trdno in zelo enostavno spletno aplikacijsko ogrodje.
        PPI je lahko smatran za boilerplate PHP ogrodij.

    </p>
{% endblock %}
