{% block description %}
    <p>

        PrestaShop je odprto kodna e-trgovinska rešitev uporabljena pri več kot
        250.000 spletnih trgovinah. Prestashop je enostavna, učinkovita in intuitivna
        ter omogoča uporabnikom uspeti na konkurenčnem tržišču ne glede na velikost,
        industrijo ali prihodke.

    </p>
{% endblock %}
