{% block description %}
    <p>

        Proem ogrodje stremi k temu, da je lahka, enostavna in hitra MVC
        implementacija zgrajena na vrhu PHP5.4. Celotni načrt je bil
        v moji glavi nekaj let, počasi pa postal bolj in bolj definiran
        tekom časa. To je dejansko tretja iteracija ideje.

    </p>
{% endblock %}
