{% block description %}
    <p>

        Propel je odprto kodni Object-Relational Mapping (ORM) za SQL-
        podatkovne baze v PHP 5.4. Omogoča vam dostopati do vaše podatkovne
        baze z uporabo skupka objektov, ponuja enostaven API za shranjevanje
        in pridobivanje podatkov. Vendar ne samo preprosti ORM, vendar tudi
        ponuja migracijo sheme podatkovne baze, obratni inženiring obstoječe
        podatkovne baze in veliko več.

    </p>
{% endblock %}
