{% block description %}
    <p>
        
        RedKite CMS je urejevalni sistem vsebine zgrajen na Symfony2 in
        Twitter-Bootstrap ogrodjih. Upravljate lahko vsebino
        vaše spletne strani v t.i. "inline" načinu, uporabljate odličen vmesnik načrtovan za povečanje
        kvalitete uporabniške izkušnje.
        
    </p>
{% endblock %}
