{% block description %}
    <p>

        RedKite CMS je urejevalni sistem vsebine zgrajen na ogrodjih Symfony in
        Twitter-Bootstrap. Upravljate lahko vsebino
        vaše spletne strani v medvrstičnem načinu, uporabljate odličen vmesnik načrtovan za povečanje
        kvalitete uporabniške izkušnje.

    </p>
{% endblock %}
