{% block description %}
    <p>

        Roadiz je moderni CMS osnovan na polimorfičnem sistemu vozlišč, ki lahko upravlja mnogo vrst storitev in vsebin.
        Njegovo ozadnje je bilo razvito z visokim smislom oblikovanja in uporabniške izkušnje.
        Njegov sistem tem je zgrajen, da živi neodvisno od ozadnja in omogoča enostavno preklaplanje
        in več tem za osnove ene vsebine. Na primer, omogoča vam, da ustvarite eno temo za vašo namizno spletno stran
        in drugo za vašo mobilno z uporabo este hierarhije vozlišč. Roadiz je izdan pod licenco MIT, tako da
        lahko ponovno uporabite in distribuirate njegovo kodo za osebne in komercialne projekte.

    </p>
{% endblock %}
