{% block description %}
    <p>

        Sami je generator API dokumentacije. Uporablja PHP datoteko za
        nastavitev in nudi zelo fleksibilen način spreminjanja API generiranja,
        Twig za predloge in depencency injection container (Pimple) za prepis
        notranjih razredov. Deluje samo s PHP 5.3 (vendar lahko generira dokumentacijo
        tudi za PHP 5.2 projekte). Uporablja odličen PHP Parser projekt za parsanje PHP
        kode. Lahko tudi upravljate verzije vaše kode za generiranje dokumentacije za vse
        od njih v enem drevesu (brez dodatnih ponovnih parsanj vsega za vsako verzijo).

    </p>
{% endblock %}
