{% block description %}
    <p>

        Sculpin je statičen generator strani napisan v PHP. Pretvori Markdown
        datoteke in oblikuje Twig predloge v skupek statičnih HTML datotek, ki
        jih je mogoče enostavno postaviti.

    </p>
{% endblock %}
