{% block description %}
    <p>

        Shopware je celotna e-trgovinska rešitev, ki vključuje celotno območje
        funkcionalnosti z mojstrsko izdelanimi enostavnimi načrti, ki so primerni
        tako za novince kot za eksperte.

    </p>
{% endblock %}
