{% block description %}
    <p>

        Silex je PHP mikro ogrodje za PHP 5.3. Zgrajen je na ramenih
        Symfony2 in Pimple in ima tudi inspiracijo v sinatri.

        Mikro ogrodje ponuja temelje za gradnjo enostavnih eno-datotečnih aplikacij. Silex
        želi biti:

        - Jedrnat: Silex izpostavlja intiutiven in jedrnat API, ki je zabaven za uporabo.
        - Razširljiv: Silex ima sistem razširitev osnovan okrog Pimple mikro storitvenega-kontejnerja,
        ki ga naredi še bolj enostavnega za vezavo v tretje osebne knjižnice.
        - Testen: Silex uporablja Symfony2 HttpKernel, ki abstraktira
        zahtevke in odzive. To ga naredi zelo enostavnega za testiranje aplikacij in
        ogrodja samega. Tudi spoštuje HTTP specifikacijo in spodbuja njeno pravilno
        uporabo.

    </p>
{% endblock %}
