{% block description %}
    <p>

        Silex je PHP mikro ogrodje za PHP 5.3. Zgrajen je na ramenih
        Symfony in Pimple ter se zgleduje po Sinatri.
        Mikro ogrodje ponuja temelje za gradnjo enostavnih aplikacij v eni datoteki. Silex
        cilja biti: kratek in jedrnat (izpostavlja intiutiven in jedrnat API, ki je zabaven za uporabo),
        razširljiv (ima sistem razširitev osnovan na mikro storitvenega kontejnerja Pimple,
        ki ga naredi še bolj enostavnega za vezavo v knjižnice tretjih oseb)
        in zmožen testiranja (uporablja Symfony HttpKernel, ki abstraktira
        zahtevke in odzive, ter poenostavlja testiranje aplikacije).

    </p>
{% endblock %}
