{% block description %}
    <p>

        SilverStripe je intuitivni sistem za urejanje vsebin in fleksibilno
        ogrodje, ki ga imajo enako radi uredniki in razvijalci. Opremite vaše spletne
        ekipe, da dosežejo izjemne rezultate.

    </p>
{% endblock %}
