{% block description %}
    <p>

        Sismo je zvezni testni strežnik napisan v PHP.
        Sismo ne poskuša narediti več, kot dobiti vašo kodo, pognati
        vaše teste in vam poslati obvestila.
        Sismo je jeziku in orodju agnostičen. Samo podajte mu ukaz, ki ve,
        kako pognati vaše teste in vrniti ne-ničelno izhodno kodo, ko testi
        ne gredo skozi.
        Se sliši dobro? Na voljo je še več. Sismo je noro enostaven za namestitev
        (za prenos je samo ena datoteka), enostaven za nastavitev in vsebuje
        lep spletni vmesnik.

    </p>
{% endblock %}
