{% block description %}
    <p>

        Sismo je "continuous" testni strežnik napisan v PHP.

        Sismo ne poskuša narediti več, kot dobiti vašo kodo, pognati
        vaše teste in vam poslati obvestila.

        Sismo je jezik in agnostično orodje. Samo podajte mu ukaz, ki ve,
        kako pognati vaše teste in vrniti ne-ničelno izhodno kodo, ko testi
        ne gredo skozi.

        Se sliši dobro? Na voljo je še več. Sismo je noro enostaven za namestitev
        (za prenos je samo ena datoteka), enostaven za nastavitev in prihaja
        z lepim spletnim vmesnikom.

    </p>
{% endblock %}
