{% block description %}
    <p>

        Cilj projekta Sonata je ponuditi visoko zmogljive
        lastnosti zgrajene z ogrodjem Symfony in imajo močno osredotočenje na
        ozadja administracij.
        Zamislite si ga kot orodje na osnovi komponent Symfony za enostavno
        in zabavno gradnjo strani.
        Znani paketi so že na voljo: Admin Bundle, Block Bundle, Media
        Bundle, ... in uporabljeni na ostalih projektih kot je Symfony CMF.
        Večina paketov je osredotočenih na ponujanje CMS ali e-trgovinskih rešitev,
        vendar so tudi precej neodvisni, kot na primer Notification Bundle
        in Seo Bundle ali celo knjižnice za predpomnilnik in
        izvažanje.

    </p>
{% endblock %}
