{% block description %}
    <p>

        Cilj projekta Sonata je ponuditi rešitev e-trgovinskega ogrodja
        osnovanega na ogrodju Symfony. Zamislite si ga kot orodje
        osnovanem na komponentah Symfony, kar naredi gradnjo e-trgovin enostavno
        in zabavno!
        Znani paketi so že na voljo: Admin Bundle, Block Bundle, Media Bundle ... in uporabljen
        je v drugih projektih kot je Symfony CMF.

    </p>
{% endblock %}
