{% block description %}
    <p>

        Cilj Sonata projekta je ponujati rešitev e-trgovinskega ogrodja
        osnovanega na Symfony2 ogrodju. Zamislite si jo kot orodje
        osnovano na Symfony2 komponentah, ki naredi gradnjo e-trgovin enostavno
        in zabavno!

        <br />
        Znani paketi so že na voljo: Admin Bundle, Block Bundle, Media Bundle, ... in uporabljeno
        v drugih projektih kot je Symfony CMF

    </p>
{% endblock %}
