{% block description %}
    <p>

        Sonata e-commerce je skupina paketov Symfony in PHP komponent,
        ki vam omogočajo dodati zmogljivosti e-trgovine v vaše aplikacije
        Symfony. Je tudi polno združljiva z večimi ostalimi paketi
        Sonata, kot sta AdminBundle in NotificationBundle.

    </p>
{% endblock %}
