{% block description %}
    <p>

        Spress je statični generator strani zgrajen s komponentami Symfony.
        Spress vam omogoča izdelati in naložiti bloge, osebne strani,
        enostavne korporativne spletne strani z informacijami o vaših produktih
        in celo strani pristanka za vaše storitve.

    </p>
{% endblock %}
