{% block description %}
    <p>

        Sulu 2.0 bo ogrodje za upravljanje z vsebino (CMF) osnovano na odprti
        kodi - tehnologije zamenjujejo trenutni sistem upravljanja z vsebino
        ZOOLU. Ta sistem bo optimiziran za majhna in večja podjetja z
        večnacionalnimi organizacijami, tržišči po vsem svetu in produkti.

    </p>
{% endblock %}
