{% block description %}
    <p>

        Sulu je platforma urejanja vsebin na osnovi Symfony narejena za
        posel. Je fleksibilni CMS za izdelavo in upravljanje podjetnih
        večih strani in zanesljivo razvojno okolje za visoko performančne
        aplikacije. Z močnimi lastnostmi za razvijalce in enostaven UI za urednike
        je idealen motor za ultra moderne poslovne spletne strani in
        spletno osnovano programsko opremo.

    </p>
{% endblock %}
