{% block description %}
    <p>

        Sylius je odprto kodna e-trgovinska rešitev za PHP, osnovana na
        ogrodju Symfony. Glavni cilj projekta je izdelati motor spletne
        trgovine, ki je uporabniku prijazen, priljubljen pri razvijalcih in ima
        pomoč skupnosti. Sylius je izdelan iz v celoti ločenih komponent (paketov v
        slovarčku Symfony), kar pomeni, da vsaka lastnost (katalog produktov, motor za
        dostavljanje, sistem promocij ...) je lahko uporabljena v katerikoli
        drugi aplikaciji.

    </p>
{% endblock %}
