{% block description %}
    <p>

        Symfony CMF projekt naredi enostavnejše za razvijalce, da dodajo CMS
        funkcionalnost k aplikacijam zgrajenih na Symfony2 PHP ogrodju.
        Ključni razvijalski principi za ponujeni skupek paketov so
        skalabilnost, uporabnost, dokumentacija in testiranje.

    </p>
{% endblock %}
