{% block description %}
    <p>

        Symfony CMF projekt naredi enostavnejše za razvijalce, da dodajo CMS
        funkcionalnost aplikacijam zgrajenih na PHP ogrodju Symfony.
        Ključni razvijalski principi za ponujeni skupek paketov so
        razširljivost, uporabnost, dokumentacija in testiranje.

    </p>
{% endblock %}
