{% block description %}
    <p>

        Symfony je odprto kodno PHP spletno aplikacijsko razvojno ogrodje.
        Originalno je bil pričet s strani interaktivne agencije SensioLabs za
        razvoj spletnih strani za njihove stranke. Symfony je bil objavljen
        s strani agencije v 2005 pod MIT odprto kodno licenco in je danes
        med vodilnimi ogrodji, ki so na voljo za PHP razvoj.

    </p>
{% endblock %}



