{% block description %}
    <p>

        Thelia je orodje za izdelavo e-trgovinskih spletnih strani in za
        online urejanje vsebine, objavljen pod General Public License. Thelia
        se razlikuje od aplikacij tekmecev po enostavnosti, s katero se jo lahko
        uporablja in se jo lahko prilagodi.

    </p>
{% endblock %}
