{% block description %}
    <p>

        Vespolina je PHP5 e-trgovinski sistem, ki se vključi v Symfony. Želi
        dostaviti ogrodje, ki podpira široko raznolikost e-trgovinskih potekov in
        procesov.

    </p>
{% endblock %}
