{% block description %}
    <p>

        Vespolina je php5 e-trgovinski sistem, ki se vključuje v Symfony2. Želi
        dostaviti ogrodje, ki podpira široko raznolikost e-trgovinskih tokov in
        procesov.

    </p>
{% endblock %}
