{% block description %}
    <p>

        Victoire je odprto kodni sistem za urejanje vsebin na osnovi polnega
        ogrodja Symfony in je zgrajen za izdelavo kompleksnih spletnih strani po meri.
        Victoire uporablja poslovno inteligenco za upravljanje poslovnih entitet
        projekta in jih prikazuje na namenski spletni strani z nekaj kliki -
        brez ročnega kopiranja tekstov in slik teh poslovnih
        entitet, eno za drugo. Naš projekt uporablja tudi Front-End različico, da
        lahko administrator ustvari in ureja vso svojo vsebino, neposredno na strani.
        Victoire omogoča ustvariti spletne strani po meri, ki ustrezajo vsem napravam in
        zadostujejo kriterijem Google-a.

    </p>
{% endblock %}
