{% block description %}
    <p>

        Wallabag je odprto kodna aplikacija za kasnejše branje. Shrani vsebino
        spletnih strani za kasnejše branje kjerkoli: v vašem brskalniku, vašem bralniku RSS,
        vašem pametnem telefonu ali katerikoli drugi storitvi zahvaljujoč njegovem API.

    </p>
{% endblock %}
