{% block description %}
    <p>

        WellCommerce je moderna odprtokodna e-trgovinska platforma, ki je bila ustvarjena
        od začetka na polnem ogrodju Symfony v ozadju podprta
        z mnogimi leti izkušenj pridobljenih skozi ustvarjanje in razvoj dveh
        e-trgovinskih platform in posvečene implementacije za majhna družinska
        podjetja in velike korporacije, s katerimi smo imeli zadovoljstvo delati. Glavne
        lastnosti so: upravljanje večih trgovin, podpora za večjezičnost in več
        valut, netežavno upravljanje trgovinskih katalogov,
        konfiguracija, različice produktov, naročila in stranke, odzivna privzeta
        tema.

    </p>
{% endblock %}
