{% block description %}
    <p>

        Zikula je spletno aplikacijsko orodje, ki vam omogoča poganjati
        impresivne spletne strani in graditi močne online aplikacije. Zikula
        je dobila priznanje za veliko stvari, vendar verjamemo, da so omembe vredne
        enostavnost za uporabo, hiter in enostaven razvoj, varnost in zmogljivost
        ter nazadnje fleksibilnost.

    </p>
{% endblock %}
