{% block title 'Distribucije Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Prenos in nastavitev distribucije Symfony je zagotovo
        najenostavnejša in najhitrejša pot za začetek s Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Kaj je distribucija?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Podobno kot Linux distribucije, znane po svoji enostavni namestitvi in
        posebnih lastnostih (strežniške različice, različice za javnost itd.),
        distribucijo Symfony sestavljajo Symfony2 komponente,
        zbirka paketov, struktura direktorijev, privzete
        nastavitve in opcijski sistem spletne konfiguracije.
    </p>
{% endblock %}

{% block why_distribution_title %}Zakaj distribucije?{% endblock %}
{% block why_distribution_description %}
    <p>
        Distribucija je s svojo izbiro paketov, strukture in
        privzeto nastavitvijo načrtovana, da zadosti specifičnim potrebam uporabnika:
        kot je enostavno spoznavanje, sistem za upravljanje z vsebino za
        izdelavo dinamičnih spletnih strani ali polna verzija za testiranje ogrodja.
    </p>
{% endblock %}

{% block available_distribution_title %}Distribucije na voljo{% endblock %}
{% block available_distribution_description %}
    <ul>
        <li>
            <a href="https://github.com/symfony/symfony-hello-world">Izdaja Hello World</a>
            je osnovana na standardni izdaji in je najboljša distribucija za
            merjenje same uspešnosti ogrodja.
        </li>
        <li>
            <a href="https://github.com/symfony-cmf/symfony-cmf-standard">Symfony CMF standardna izdaja</a>
            je najboljša distribucija za začetek s
            <a href="http://cmf.symfony.com">Symfony CMF</a>.
        </li>
        <li>
            <a href="https://github.com/gimler/symfony-rest-edition">Symfony REST izdaja</a>
            prikazuje, kako zgraditi aplikacijo, ki ponuja RESTful API z uporabo
            <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> in večih ostalih povezanih paketov.
        </li>
    </ul>
{% endblock %}
