{% block title 'Distribuição' %}
{% block keywords '' %}
{% block description 'Distribuição' %}

{% block intro %}
    <p>
        Descarregar e configurar uma distribuição do Symfony é sem dúvida uma das
        formas mais fácies e rápidas de começar a usar Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}O que é uma distribuição?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Como as distribuições Linux, são conhecidas pela sua forma fácil de
        instalação e funcionalidades específicas (versão de servidor, versão pública,
        etc.), uma distribuição do Symfony é feita de componentes do Symfony2, um
        conjunto selecionado de pacotes, uma estrutura de pastas, uma configuração base,
        e uma configuração de sistema web opcional.
    </p>
{% endblock %}

{% block why_distribution_title %}Porquê distribuições?{% endblock %}
{% block why_distribution_description %}
    <p>
        A distribuição, com os pacotes selecionados, estrutura e configuração base,
        é desenhada para ir de encontro com às necessidades que o utilizador precisa:
        Fácil familiarização, CMS para criar um website dinâmico, ou uma versão completa
        para testar a framework.
    </p>
{% endblock %}

{% block available_distribution_title %}Distribuições Disponíveis{% endblock %}
{% block available_distribution_description %}
    <p>
        A <a href="{{ marketing_path('download') }}">Edição Padrão</a> é de longe
        a melhor versão para se começar. Ela contém os mais comuns pacotes e uma
        configuração simples que é compatível com a maior parte dos projetos.
    </p>
    <p>
        Baseado na Edição Padrão, a
        <a href="https://github.com/symfony/symfony-hello-world">Edição Olá Mundo</a>
        é a melhor distribuição para avaliar o desempenho da framework.
    </p>
{% endblock %}
