{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Der zentrale IRC-Channel für Symfony ist <a href="irc://irc.freenode.net/symfony">#symfony</a> auf Freenode.
        <ul>
            <li>Unter Windows benutzen viele Anwender <a href="http://www.mirc.com/">mIRC</a>;</li>
            <li>Auf dem Mac wird gern <a href="http://colloquy.info/">Colloquy</a> eingesetzt.</li>
        </ul>
    </p>
    <p>
        Wenn Sie über das aktuelle Geschehen rund um Symfony im Bilde sein oder zur Weiterentwicklung von Symfony
        beitragen wollen, sind Sie herzlich eingeladen, an den
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">wöchentlichen IRC-Meetings</a> teilzunehmen.
    </p>
    <p>
        Um mit Entwicklern in Kontakt zu treten, die Ihnen Unterstützung in Symfony in Ihrer Muttersprache bieten können,
        benutzen Sie bitte folgende lokalisierte IRC-Channels:
        <ul>
            <li>Deutsch: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Brasilianisches Portugiesisch: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Tschechisch: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
            <li>Französisch: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Russisch: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Spanisch: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Polnisch: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
            <li>Schwedisch: <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
        </ul>
    </p>
    <p>
        Weitere Möglichkeiten der Unterstützung, wie zum Beispiel Mailinglisten oder Foren, finden Sie
        in dem allgemeinen <a href="{{ marketing_path('community') }}">Community</a>-Bereich
        auf der Symfony-Website.
    </p>
{% endblock %}
