{% block title 'Symfony IRC-Channels' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Die offiziellen Symfony IRC-Channels auf Freenode sind:
    </p>
    <ul>
        <li>
            <a href="irc://irc.freenode.net/symfony">#symfony</a>, der zentrale
            Symfony-Channel und die erste Anlaufstelle für Symfony-Support.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-dev">#symfony-dev</a>,
            Channel zur Diskussion über die Entwicklung von Symfony
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-docs">#symfony-docs</a>,
            Channel zur Diskussion über die offizielle Dokumentation.
        </li>
    </ul>

    <h2>
        IRC-Tools
    </h2>
    <p>
        Einige der besten Programme, um sich mittels IRC zu unterhalten, sind:
    </p>
    <ul>
        <li>
            Webbasierte Services: <a href="http://webchat.freenode.net/">Freenode Webchat</a>, <a href="https://www.irccloud.com">IRCCloud</a>.
        </li>
        <li>
            Windows-Clients: <a href="http://www.mirc.com/">mIRC</a>.
        </li>
        <li>
            Mac OS X-Clients: <a href="http://colloquy.info/">Colloquy</a>, <a href="https://adium.im/">Adium</a>.
        </li>
        <li>
            Linux-Clients: <a href="http://hexchat.github.io/">HexChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a>.
        </li>
        <li>
            Browsererweiterungen: <a href="http://chatzilla.hacksrus.com/">ChatZilla</a>.
        </li>
    </ul>

    <h2>
        Lokale IRC-Channels
    </h2>

    <p>
        Wenn Sie lieber mit anderen Symfony-Entwicklern in Ihrer Muttersprache
        diskutieren möchte, erhalten SieUnterstützung zu Symfony in einem
        der folgenden IRC-Channels:
    </p>
    <ul>
        <li>Brazilian Portuguese: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
        <li>Czech: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
        <li>French: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
        <li>German: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
        <li>Russian: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
        <li>Spanish: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
        <li>Polish: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        <li>Swedish: <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
    </ul>
{% endblock %}
