{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Der zentrale IRC-Channel für Symfony ist <a href="irc://irc.freenode.net/symfony">#symfony</a> auf Freenode.
        <ul>
            <li>Unter Windows benutzen viele Anwender <a href="http://www.mirc.com/">mIRC</a>;</li>
            <li>Auf dem Mac wird gern <a href="http://colloquy.info/">Colloquy</a> eingesetzt.</li>
            <li>Für Linux gibt es viele IRC-Clients, die populärsten unter ihnen sind <a href="http://hexchat.github.io/">HexChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a></li>
        </ul>
    </p>
    <p>
        Mehrsprachige Unterstützung zu Symfony erhalten Sie in einem der folgenden IRC-Channels:
        <ul>
            <li>Brasilianisches Portugiesisch: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Französisch: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Deutsch: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Russisch: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Spanisch: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Polnisch: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
        Und nutzen Sie auch den globalen <a href="{{ marketing_path('community') }}">Community</a>-Bereich
        der Symfony-Website, um weitere Hilfsangebote wie Mailingslisten und Foren zu finden.
    </p>
{% endblock %}
