{% block title 'Mailinglisten' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'E-Mail:' %}
{% block submit 'Anmelden' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1-Gruppe</a></h3>
    <p>Wenn Sie Hilfe mit einem symfony1-Projekt benötigen, melden Sie sich bei der symfony1-Gruppe an:</p>
{% endblock %}

{% block archive %}
    <p>
        Nutzen Sie auch das Archiv der alten
        <a href="http://groups.google.com/group/symfony-users">symfony-Gruppe</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2-Gruppe</a></h3>
    <p>Wenn Sie Hilfe mit einem Symfony2-Projekt benötigen, melden Sie sich bei der Symfony2-Gruppe an:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Entwicklergruppe</a></h3>
    <p>
        Wenn Sie zur Weiterentwicklung von Symfony beitragen möchten oder neue Features erörtern wollen,
        melden Sie sich bei der Entwicklergruppe an:
    </p>
{% endblock %}
