{% block title 'E-mailové konference' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Váš e-mail:' %}
{% block submit 'Přihlásit se k odběru' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">Uživatelská skupina symfony1</a></h3>
    <p>Pokud potřebujete pomoc se symfony1, můžete odebírat e-maily od uživatelů frameworku symfony1:</p>
{% endblock %}

{% block archive %}
    <p>
        Archiv zpráv je dostupný ve staré
        <a href="http://groups.google.com/group/symfony-users">uživatelské skupině</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Skupina uživatelů Symfony2</a></h3>
    <p>Pokud potřebujete poradit se Symfony2, zvažte odběr e-mailů z uživatelské konference:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Skupina vývojářů</a></h3>
    <p>
        Pokud chcete přispívat do Symfony nebo diskutovat o nových funkcích,
        přihlaste se k odběru e-mailů určených pro vývojáře:
    </p>
{% endblock %}
