{% block title 'Symfony at a Glance' %}
{% block keywords '' %}
{% block description 'Was ist Symfony - Beginnen Sie hier, um einen Überblick zu erhalten' %}

{% block introduction %}
    <p>
        Symfony ist ein Web-Framework, geschrieben in PHP5.
        <br />
        Beantwortet das Ihre Frage noch nicht?
        <br />
        Na gut, formulieren wir es noch einmal anders:
        <br />
        Symfony ist ein <a href="#framework">PHP-Framework</a>,
        eine <a href="#philosophy">Philosophie</a>,
        und eine <a href="#community">Community</a>
        - die sich harmonisch ergänzen.
    </p>
{% endblock %}

{% block framework %}
    <h2 class="title_09"><a name="framework">Ein PHP-Framework</a></h2>
    <p>
        Um besser zu verstehen, was ein Framework ist, verlassen wir die
        Welt der Informatik für einen Moment und stellen uns ein Bergsteiger-Abenteuer vor.
        Das Entwickeln einer Anwendung ähnelt sehr stark dem Erklettern einer Felswand:
        Sie stehen am Fuss des Berges (Sie sollen eine Anwendung erstellen)
        und Sie müssen den Gipfel erreichen (und erfreut darüber sein,
        eine Anwendung so konzipiert zu haben, das alles perfekt funktioniert)
    </p>
    <p>
        Falls niemand zuvor diesen fragwürdigen Gipfel erklommen hat, müssen Sie es selbst in die Hand nehmen:
        Ausprobieren von Strecken, gelegentliches Zurücksetzen um nicht in einer Ecke hängen zu bleiben, Anbringen
        von Kletterhaken usw.
        Wenn die Wand jedoch bereits erobert wurde, erleichtern diejenigen,
        die bereits Ihren Weg zuvor gegangen sind, Ihre Arbeit, indem sie bereits die richtigen Wege
        geöffnet und entsprechende Hilfsmittelt installiert haben (Ihre Arbeit).
    </p>
    <p>
        Grundsätzlich besteht ein Framework aus:
    </p>
    <ul class="list_02">
        <li>
            <strong>Einer Toolbox</strong>
            - eine Reihe von vorgefertigten, schnell integrierbaren Software-Komponenten.
            Das bedeutet, dass Sie weniger Code schreiben müssen und das Risiko von Fehlern reduzieren.
            Das bedeutet zudem eine höhere Produktivität and die Möglichkeit, mehr Zeit
            auf diejenigen Dinge zu investieren, die den eigentlichen Mehrwert bringen, wie das Erstellen
            von Leitfäden, Kontrollieren von Seiteneffekten usw.
        </li>
        <li>
            <img src="/images/en/best_practices_guaranteed.jpg" alt="Best Practices guaranteed!" class="box_article_illustration" />
            <strong>Einer Methodik</strong>
            – ein “Bauplan” für Anwendungen.
            Ein strukturierter Ansatz mag zunächst eingrenzend wirken.
            Aber in der Realität erlaubt es den Entwicklern sowohl effizient und effektiv an den
            kompliziertesten Bereichen einer Aufgabe zu arbeiten. Die Einhaltung von Best Practices
            garantiert zudem Stabilität, Wartbarkeit und die Erweiterungsfähigkeit der Anwendungen, die Sie entwickeln.
        </li>
    </ul>
    <p>
        Obwohl es offensichtlich ist, wollen wir nochmal darauf hinweisen: Symfony ist ein PHP-Framework,
        es ermöglicht also Web-Anwendungen in PHP zu bauen!
    </p>
{% endblock %}

{% block philosophy %}
    <h2 class="title_09"><a name="philosophy">Eine Philosophie</a></h2>
    <p>
        Was könnte sinnvoller sein, als eine Anwendung, die von Benutzern für ihre eigenen Bedürfnisse entwickelt wurde?
        Dies ist die Entstehungsgeschichte von Symfony – geboren aus einer Idee von Web-Designern bei Sensio.
        Symfony wurde für Jedermann unter einer Open Source Lizenz zugänglich gemacht.
        Dies kommt anderen Entwicklern zugute, welche auch die Möglichkeit haben es zu verbessern, in dem sie
        ihre eigenen Module hinzufügen. Unter Berücksichtigung von Best Practices,
        Standardisierung und Interoperabiltität von Anwendungen wurde all das geschaffen.
    </p>
{% endblock %}

{% block community %}
    <h2 class="title_09"><a name="community">Eine Community</a></h2>
    <p>
        Und hinter Symfony stehen Menschen. Wir sind Sensio. Wir haben Symfony geschrieben, um
        unsere eigenen Probleme in der Web-Entwicklung zu lösen und es macht uns Freude es voranbringen.
        Wir sind zudem eine Community von Entwicklern, Benutzern und Beitragenden,
        welche sich in den vergangenen 5 Jahren um Symfony gebildet hat.
    </p>
{% endblock %}

{% block conclusion %}
    <p>Symfony ist ein PHP-Framework.</p>
    <p>Symfony ist ein Framework, eine Sammlung von Hilfsmitteln und eine Entwicklungsmethodik.</p>
    <p>Neben den Hilfsmitteln ist Symfony auch eine Philosophie und eine Community.</p>
{% endblock %}
