{% block title 'Symfony Components' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony ist nicht nur ein vollständiges Framework,
        es besteht auch aus entkoppelten und alleinstehenden Komponenten.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Die Symfony Komponenten bilden für die Webentwicklung typische Grundfunktionen ab.
        Sie stellen die Basis des vollständigen Symfony-Frameworks dar, können aber auch für sich allein
        eingesetzt werden, da sie über keine festgelegten Abhängigkeiten verfügen.
    </p>
{% endblock %}

{% block installation %}
    <p>
        Jede einzelne Komponente kann auf verschiedenen Wegen installiert werden:
    </p>

    <ul>
        <li>
            <strong>Empfohlen</strong>
            Installation mit Composer
            (<code>symfony/<strong>name-der-komponente</strong></code> auf Packagist).
        </li>
        <li>
            Clone des offiziellen Git-Repositorys
            (<code>https://github.com/symfony/<strong>NameDerKomponenteInCamelCase</strong></code>);
        </li>
        <li>
            <strong>Veraltet</strong>
            Installation mit PEAR
            (<code>pear.symfony.com/<strong>NameDerKomponenteInCamelCase</strong></code>);
        </li>
    </ul>
{% endblock %}
