{% block title 'Symfony à primeira vista' %}
{% block keywords '' %}
{% block description 'O que é o Symfony - Comece aqui se pretende uma breve explicação'%}

{% block introduction %}
    <p>
        O Symfony é um Framework PHP para Desenvolvimento Web.
        <br />
        Não respondeu à sua questão?
        <br />
        O Symfony é um <a href="#framework">Framework PHP</a>,
        uma <a href="#philosophy">Filosofia</a>,
        e uma <a href="#community">Comunidade</a>
        - tudo em conjunto e em harmonia.
    </p>
{% endblock %}

{% block framework %}
    <h2 class="title_09"><a name="framework">Um framework PHP</a></h2>
    <p>
        Para entender melhor o que é um framework, vamos deixar o mundo
        da informática e, por um momento, imaginar uma aventura no
        montanhismo. Desenvolver uma aplicação é muito semelhante a escalar
        uma montanha: você está aqui em baixo (você tem uma aplicação para ser
        criada) e precisa chegar ao cume da montanha (e estar satisfeito
        com o desenho de uma aplicação que funcione perfeitamente.)
    </p>
    <p>
        Se ninguém nunca escalou a montanha em questão, então, você terá que
        fazer por si mesmo: testar rotas, ocasionalmente recuar para não
        ficar preso em nenhum canto, andar em pitons, etc. Em contraste, se
        a montanha já foi conquistada anteriormente, aqueles que o fizeram
        antes de você, já passaram por estas situações e cometeram erros,
        mas abriram possíveis caminhos (a "frame") e instalaram ferramentas
        que facilitarão a escalada (o seu trabalho "work").
    </p>
    <p>
        Basicamente, um framework consiste em:
    </p>
    <ul class="list_02">
        <li>
            <strong>Uma caixa de ferramentas</strong>
            - um conjunto de componentes de software pré-fabricados e rápidos
            de integrar.
            Isto significa que você terá de escrever menos código e com menos
            riscos de erro.
            Também quer dizer que terá mais produtividade e a possibilidade de
            dedicar mais tempo para fazer coisas que adicionem mais valor, tais
            como gerir os princípios que o guiam, efeitos colaterais, etc.
        </li>
        <li>
            <img src="/images/en/best_practices_guaranteed.jpg" alt="Garantia das Melhores Práticas!"
                 class="box_article_illustration" />
            <strong>A metodologia</strong>
            – um "diagrama de montagem" para aplicações. Uma abordagem estruturada
            pode parecer restritiva no início. Mas, na realidade, irá permitir aos
            desenvolvedores trabalhar de modo mais eficaz e eficiente nos
            aspectos mais complexos de uma tarefa, e o uso das Melhores Práticas
            garante a estabilidade, manutenção e atualização das aplicações
            desenvolvidas.
        </li>
    </ul>
    <p>
        E, embora possa ser óbvio, nós acreditamos que é melhor dizê-lo de qualquer maneira
         - Symfony é um framework PHP, o que significa que ele permite que as aplicações
         web sejam desenvolvidas com PHP!
    </p>
{% endblock %}

{% block philosophy %}
    <h2 class="title_09"><a name="philosophy">A filosofia</a></h2>
    <p>
        O que poderia ser mais útil do que uma aplicação desenvolvida pelos usuários
        para as suas próprias necessidades? Esta é a história do geneses do Symfony -
        Nascido da imaginação dos web designers da SensioLabs, um desenvolvedor web em seu próprio
        direito. O Symfony foi disponibilizado para todos sob uma licença Open Source.
        Isso beneficia outros desenvolvedores, que também têm a capacidade de melhorá-lo
        adicionando os seus próprios módulos. Tudo isto foi feito num ambiente usando
        as Melhores Práticas, pradrões e interoperabilidade das aplicações.

    </p>
{% endblock %}

{% block community %}
    <h2 class="title_09"><a name="community">A comunidade</a></h2>
    <p>
        E por trás do Symfony, existem as pessoas. Nós somos as pessoas do SensioLabs. Nós
        criamos o Symfony para resolver os nossos próprios problemas no desenvolvimento
        web e estamos satisfeitos em promovê-lo. Nós também somos uma comunidade de
        desenvolvedores, usuários e contribuidores que se formou em redor do
        Symfony durante os últimos 5 anos.
    </p>
{% endblock %}

{% block conclusion %}
    <p>Symfony é um framework PHP.</p>
    <p>Symfony é um framework, um conjunto de ferramentas e uma metodologia de desenvolvimento.</p>
    <p>Além das ferramentas, o Symfony também é uma Filosofia e uma Comunidade.</p>
{% endblock %}
