{% block title 'Distribuição' %}
{% block keywords '' %}
{% block description 'Distribuição' %}

{% block intro %}
    <p>
        Baixar e configurar uma distribuição do Symfony é sem dúvida uma das
        formas mais fáceis e rápidas de começar a usar o Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}O que é uma distribuição?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Como as distribuições Linux, conhecidas pela sua facilidade de
        instalação e funcionalidades específicas (versão de servidor, versão pública,
        etc.), uma distribuição do Symfony é feita de componentes do Symfony2, um
        conjunto selecionado de bundles, uma estrutura de diretórios, uma configuração padrão
        e uma configuração de sistema web opcional.
    </p>
{% endblock %}

{% block why_distribution_title %}Por que distribuições?{% endblock %}
{% block why_distribution_description %}
    <p>
        A distribuição, com os bundles selecionados, estrutura e configuração padrão,
        é desenhada para ir de encontro com às necessidades que o usuário precisa:
        Fácil familiarização, CMS para criar um website dinâmico, ou uma versão completa
        para testar o framework.
    </p>
{% endblock %}

{% block available_distribution_title %}Distribuições Disponíveis{% endblock %}
{% block available_distribution_description %}
    <p>
        A <a href="{{ marketing_path('download') }}">Edição Standard</a> é de longe
        a melhor versão para se começar. Ela contém os bundles mais comuns e uma
        configuração simples que é compatível com a maior parte dos projetos.
    </p>
    <p>
        Com base na Edição Standard, a
        <a href="https://github.com/symfony/symfony-hello-world">Edição Olá Mundo</a>
        é a melhor distribuição para avaliar o desempenho do framework.
    </p>
{% endblock %}
