{% block title 'Sobre' %}
{% block keywords 'sobre, introdução, missão, sensio labs' %}
{% block description 'Descubra quem está fazendo a framework e quais são seus valores, seus objetivos' %}

{% block intro %}
    <p>

        Symfony é uma Framework PHP Open Source para o desenvolvimento de
        aplicações web. Foi originalmente concebida pela a agência interativa
        SensioLabs para o desenvolvimento de web sites para os seus clientes.
        Symfony foi publicado pela a agência em 2005 sob a licença Open Source
        MIT e hoje em dia é uma das frameworks líderes do desenvolvimento em
        PHP.

    </p>

    <p>

        Suportada pela SensioLabs - mas também pela a <a href="{{ path('contributors') }}">
        enorme comunidade</a> - Symfony contém vários recursos: vasta documentação,
        suporte da comunidade (listas de discussão, IRC, etc.),
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">suporte</a>
        profissional (consultoria, <a href="http://trainings.sensiolabs.com/">formação</a>,
        etc.), e muito mais.

    </p>

    <p>

        Disponível na versão 2.0, Symfony também tem, entre as centenas de web
        sites e aplicações desenvolvidas na sua plataforma, referências de
        prestígio, tais como Yahoo!, Dailymotion, Opensky.com, Exercise.com,
        phpBB ou Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        Desde 1998, a SensioLabs tem promovido o software Open-Source,
        providenciando aplicações de desenvivolmento web de qualidade, formação
        e consultoria. A SensioLabs também tem dado suporte a vários projetos
        Open-Source.

    </p>
    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs factos e figuras</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Ofertas</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Clientes</a></li>
    </ul>
{% endblock %}
