{% block title 'Comunidade' %}
{% block keywords 'comunidade symfony, forum symfony, symfony bloggers, comunidade' %}
{% block description 'Entra em contacto com a comunidade, encontra informações sobre as redes sociais dos
programadores, canal de IRC, listas de discussão' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Lista de discussão dos Programadores</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Lista de discussão dos Utilizadores</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Blog do Symfony</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">O Fórum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
