{% block title 'Comece a usar' %}
{% block keywords 'comece a usar, pequena viagem, viagem, guia symfony' %}
{% block description 'Downloads, entre em contacto com a comunidade, leia artigos, encontre sessões de formação' %}

{% block intro %}
    <h2>Uma Pequena Viagem</h2>
    <p>
        O que poderia ser melhor para o seu próprio pensamento do
        que experimentar o Symfony por voce mesmo? Apesar de lhe
        tirar um pouco de tempo não lhe irá custar nada. Passo a
        passo irá explorar o universo do Symfony. Mas tenha cuidado
        porque o Symfony poderá se tornar viciante assim que o
        começar a usar.
    </p>
{% endblock %}

{% block read 'Ler' %}
{% block downloadpdf 'Fazer download como PDF' %}
