{% block title 'Distributioner' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Att ladda ned och konfigurera en Symfony-distribution är tveklöst det
        enklaste och snabbaste att komma igång med Symfony.
    </p>
{% endblock %}

{% block what_is_a_distribution_title %}Vad är en Distribution?{% endblock %}
{% block what_is_a_distribution_description %}
    <p>
        Precis som Linux-distributioner,som är kända för dess enkla
        installationer och specifika funktioner (med olika versioner
        för servrar, bärbara datorer, etc.) så består en Symfony-distribution
        av Symfony2-komponenter, ett urval bundles, en katalogstruktur,
        en standardkonfiguration och ett frivilligt webbaserat
        konfigurationssystem.
    </p>
{% endblock %}

{% block why_distribution_title %}Varför distributioner?{% endblock %}
{% block why_distribution_description %}
    <p>
        En distribution, med sitt urval av bundles, struktur och
        standardkonfiguration, är gjord för att möta ett specifikt
        användarbehov: exempelvis att enkelt bekanta sig, content
        management-system för attskapa en dynamisk webbplats, eller
        en full version för att testa ramverket.
    </p>
{% endblock %}

{% block available_distribution_title %}Tillgängliga Distributioner{% endblock %}
{% block available_distribution_description %}
    <p>
        <a href="{{ marketing_path('download') }}">Standardutgåvan</a> är den
        överlägset bästa versionen att börja med. Den innehåller de mest använda
        bundlarna och har en enkel konfiguration som är kompatibel med de flesta
        projekt.
    </p>
    <p>
        <a href="https://github.com/symfony/symfony-hello-world">Hello World-utgåvan</a>,
        som är baserad på standardutgåvan, är den bästa distributionen för
        att testa ramverkets råa prestanda.
    </p>
{% endblock %}

