{% block title 'Komponenty Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Oprócz tego, że Symfony jest kompleksowym frameworkiem,
        jest również zbiorem samodzielnych i niezależnych komponentów.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Komponenty Symfony implementują wspólne funkcjonalności niezbędne
        do budowania serwisów internetowych. Są one podstawą frameworka
        Symfony, ale zarazem mogą być używane samodzielnie, nawet wówczas
        gdy nie używasz frameworka ponieważ nie posiadają one żadnych
        obowiązkowych zależności.
    </p>
{% endblock %}

{% block installation %}
    <p>
        Możesz zainstalować każdy z komponentów na wiele sposobów:
    </p>

    <ul>
        <li>
            <strong>Zalecana</strong> jest instalacja poprzez Composer
            (<code>symfony/<strong>dashed-component-name</strong></code> na Packagist).
        </li>
        <li>
            Użycie oficjalnego repozytorium Git
            (<code>https://github.com/symfony/<strong>CamelCaseComponentName</strong></code>);
        </li>
        <li>
            <strong>Przestarzały</strong> sposób instalacji przy użyciu PEAR
            (<code>pear.symfony.com/<strong>CamelCaseComponentName</strong></code>);
        </li>
    </ul>
{% endblock %}
