{% block title 'Componentes do Symfony' %}
{% block keywords 'componentes, symfony' %}
{% block description 'Componentes do Symfony' %}

{% block intro %}
    <p>
        Apesar de ser uma framework completa, Symfony é também um
        conjunto de componentes desacoplados e independentes.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Os Componentes do Symfony implementam funcionalidades comuns
        necessárias para o desenvolvimento de websites. Elas são os
        pilares da framework Symfony, mas podem também serem usados
        separadamente mesmo que não use a framework porque eles são
        totalmente independentes.
    </p>
{% endblock %}

{% block installation %}
    <p>
        Pode instalar cada componente de várias formas:
    </p>

    <ul>
        <li>
            <strong>Recomendado</strong>
            Instalar através do Composer
            (<code>symfony/<strong>dashed-component-name</strong></code> no Packagist).
        </li>
        <li>
            Usar o repositório Git oficial
            (<code>https://github.com/symfony/<strong>CamelCaseComponentName</strong></code>);
        </li>
        <li>
            <strong>Obsoleto</strong>
            Instalar através do PEAR
            (<code>pear.symfony.com/<strong>CamelCaseComponentName</strong></code>);
        </li>
    </ul>
{% endblock %}
