{% block title 'Distribuição' %}
{% block keywords '' %}
{% block description 'Distribuição' %}

{% block intro %}
    <p>
        Descarregar e configurar uma distribuição do Symfony é sem dúvida uma das
        formas mais fácies e rápidas de começar a usar Symfony.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="what">O que é uma distribuição?</a></h2>
    <p>
        Como as distribuições Linux, são conhecidas pela sua forma fácil de
        instalação e funcionalidades específicas (versão de servidor, versão pública,
        etc.), uma distribuição do Symfony é feita de componentes do Symfony2, um
        conjunto selecionado de pacotes, uma estrutura de pastas, uma configuração base,
        e uma configuração de sistema web opcional.
    </p>
    <p>
        Em termos práticos, é mais simples, fácil de instalar, e uma solução em pacote
        é a melhor forma de começar com Symfony. Mesmo na área da informática, uma
        boa impressão à primeira vista é importante...
    </p>
    <h2 class="title_09"><a name="why">Porquê distribuições?</a></h2>
    <p>
        A distribuição, com os pacotes selecionados, estrutura e configuração base,
        é desenhada para ir de encontro com às necessidades que o utilizador precisa:
        Fácil familiarização, CMS para criar um website dinâmico, ou uma versão completa
        para testar a framework.
    </p>
    <p>
        No entanto, em comparação com outros concorrentes, a força do Symfony e
        inovação reside no facto de que tudo pode ser modificado:
        a distribuição é um pacote, mas que foi projetado para ser escalável, como
        se você a tivesse criado você mesmo. Você pode adicionar ou remover pacotes,
        alterar a configuração base, ou modificar a estrutura de ficheiros, etc.,
        baseado nas suas necessidades e desejos!
    </p>
    <h2 class="title_09"><a name="available">Distribuições Disponíveis</a></h2>
    <p>
        A <a href="{{ marketing_path('download') }}">Edição Padrão</a> é de longe
        a melhor versão para se começar. Ela contém os mais comuns pacotes e uma
        configuração simples que é compatível com a maior parte dos projetos.
    </p>
    <p>
        Baseado na Edição Padrão, a
        <a href="https://github.com/symfony/symfony-hello-world">Edição Olá Mundo</a>
        é a melhor distribuição para avaliar o desempenho da framework.
    </p>
{% endblock %}
