{% block title 'Descarregar' %}
{% block keywords 'descarregar, symfony' %}
{% block description 'Transferências, entrar em contato com a comunidade, ler artigos, procurar ações de formação' %}

{% block intro %}
    <h2>Symfony Edição Padrão</h2>
    <p>
        A Edição Padrão do Symfony é a melhor distribução que pode usar
        quando começar um novo projeto. Esta contém as mais comuns pacotes,
        e vem com um sistema de configuração simples.
    </p>
{% endblock %}

{% block downloadnow 'Descarregar agora' %}
{% block download 'Descarregar' %}
{% block previousversion 'Descarregar a versão estável anterior:' %}
{% block specificversion 'Escolha uma versão específica:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">Está confortável com a linha de comandos?</h3>
        <p style="padding-bottom: 0">
            Instale o <a href="http://getcomposer.org/">Composer</a> e corra o seguimente comando:
        </p>
        <pre style="font-size: 95%">
            php composer.phar create-project symfony/framework-standard-edition path/ 2.2.1
        </pre>
    </div>
    <h3 class="title_05">Instruções de instalação</h3>
    <ol>
        <li>
            Descarregar um dos arquivos em qualquer sítio no seu
            web server local na diretoria root e extrair os ficheiros.
            Se tiver o Git instalado, deve de descarregar o Symfony2
            "sem os vendors", assim acrescenta um pouco mais de flexibilidade.
        </li>
        <li>
            Siga as instruções no ficheiro README.md (que é apenas um ficheiro
            de texto) que é fornecido nos ficheiro que descarregou.
        </li>
        <li>Divirta-se!</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">COMPONENTES DO SYMFONY</h2>
    <p>
        Apesar de ser uma framework completa, Symfony é também um conjunto
        de componentes desacoplados e independentes. Eles podem ser <a href="{{
        marketing_path('components') }}">descarregados e instalados</a> independentemente
        da framework principal.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY NO GIT</h2>
    <p>
        O <strong>repositório oficial do Symfony2</strong> está alojado no Github em
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        Você deve apenas usar este repositório se não se importar de fazer a instalação manualmente.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        A versão 1.4 do symfony é a última versão com suporte a longo termo
        para a versão 1.x do symfony e será mantida até Novembro de 2012.
        Se estiver a criar um novo projeto, deve considerar usar
        <a href="#top">Symfony2</a>.
    </p>
    <p>
        No entanto, se tem estado a trabalhar num projeto na versão 1.x do symfony,
        poderá continuar a aceder à
        <a href="{{ path('legacy_doc_home') }}">documentação</a>
        da framework para todas as versões 1.x,
        <a href="#legacy">descarregar</a> qualquer versão estável, ou aceder às outras
        ferramentas do symfony 1.x através da página do
        <a href="{{ path('legacy_home') }}">legado</a>. Você pode também descarregar
        o symfony1 através do <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        Se quiser começar um projeto novo com essa versão,
        pode fazer o download da sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        do código fonte
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        ou <a href="http://svn.symfony-project.com/branches/1.4">descarregar</a>
        do repositório SVN.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Lançamentos do Legado</h2>
    <p>Descarregue as últimas versões dos lançamentos anteriores estáveis:</p>
{% endblock %}
