{% block title '下载' %}
{% block keywords '' %}
{% block description '下载,与社区进行交流，阅读文章，寻找进行课程' %}

{% block intro %}
    <h2>Symfony标准版本</h2>
    <p>
        使用Symfony的标准版开始项目，其包含常用通用Bundles（包），并且
        配备一个简易的配置系统。
    </p>
{% endblock %}

{% block downloadnow '现在就下载' %}
{% block download '下载' %}
{% block previousversion '下载之前的发布版:' %}
{% block specificversion '选择一个指定版本:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">控制台安装如何？</h3>
        <p style="padding-bottom: 0">
            安装 <a href="http://getcomposer.org/">Composer</a>运行以下命令:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ 2.3.0</pre>
    </div>
    <h3 class="title_05">安装步骤</h3>
    <ol>
        <li>
            下载到你本机的WEB服务器的Root目录中，解压。如果你安装了
            Git，你应当下载“没有第三方库”的Symfony2包，如此你可以
            获得一些自由性。
        </li>
        <li>
            按照下载包中README.md（文本文件）中的步骤实施。
        </li>
        <li>愉快享受！</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY组件</h2>
    <p>
        Symfony除了可以视为一个全功能性框架，还可以认为是一些列无依赖性
        独立的组件的集合。他们可以独立于主框架 <a href="{{
        marketing_path('components') }}">下载和安装</a>。
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">在GIT上关注SYMFONY</h2>
    <p>
        <strong>官方的Symfony2项目仓库</strong>安置在Github 
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>上。
        <br />
        如果你希望始终站在技术前沿或者不担心手工安装Symfony
        你应当考虑使用这个项目仓库。
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        Symfony 1.4版本是一个针对1.x分支版本，最后长期支持协议的发行版本，
        此版本将维护到2012年11月。如果你想创建新的Symfony项目，应当考虑
        替换使用<a href="#top">Symfony2</a>。
    </p>
    <p>
        不管如何，你如果已经在开发Symfony 1.x项目了，仍然可以访问
        所有Symfony 1.x版本的框架<a href="{{ path('legacy_doc_home') }}">文档</a>，
        <a href="#legacy">下载</a>任何稳定版本，或访问其他Symfony 1.x 工具
        <a href="{{ path('legacy_home') }}">旧版</a>页. 你也可以在
        <a href="http://github.com/symfony/symfony1">Git</a>上浏览。
    </p>
    <p>
        如果你想开始一个新项目,下载开发沙包（sandbox）
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        源码
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        或 <a href="http://svn.symfony-project.com/branches/1.4">提出</a>
        SVN 项目仓库。
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">旧版发行</h2>
    <p>下载以前稳定版本的最新版本：</p>
{% endblock %}
