{% block title '下载' %}
{% block keywords '' %}
{% block description '下载,与社区进行交流，阅读文章，寻找进行课程' %}

{% block intro %}
    <h2>Symfony标准版本</h2>
    <p>
        使用Symfony的标准版开始项目，其包含常用通用Bundles（包），并且
        配备一个简易的配置系统。
    </p>
{% endblock %}

{% block downloadnow '现在就下载' %}
{% block download '下载' %}
{% block previousversion '下载之前的发布版:' %}
{% block specificversion '选择一个指定版本:' %}

{% block console %}
    <div style="padding-bottom: 20px">
        <h3 class="title_05">控制台安装如何？</h3>
        <p style="padding-bottom: 0">
            安装 <a href="http://getcomposer.org/">Composer</a>运行以下命令:
        </p>
        <pre style="font-size: 95%">php composer.phar create-project symfony/framework-standard-edition path/ 2.3.0</pre>
    </div>
    <h3 class="title_05">安装步骤</h3>
    <ol>
        <li>
            下载到你本机的WEB服务器的Root目录中，解压。如果你安装了
            Git，你应当下载“没有第三方库”的Symfony2包，如此你可以
            获得一些自由性。
        </li>
        <li>
            按照下载包中README.md（文本文件）中的步骤实施。
        </li>
        <li>愉快享受！</li>
    </ol>
{% endblock %}

{% block components %}
    <h2 class="title_05">SYMFONY组件</h2>
    <p>
        Beside being a full-stack framework, Symfony is also a set of
        decoupled and standalone components. They can be <a href="{{
        marketing_path('components') }}">downloaded and installed</a> independently
        of the main framework.
    </p>
{% endblock %}

{% block git %}
    <h2 class="title_05">SYMFONY ON GIT</h2>
    <p>
        The <strong>official Symfony2 repository</strong> is hosted on Github at
        <a href="http://github.com/symfony/symfony">http://github.com/symfony/symfony</a>.
        <br />
        You should only use this repository if you want the
        bleeding edge or if you don't mind installing things by hand.
    </p>
{% endblock %}

{% block symfony1 %}
    <h2 class="title_05" id="symfony1">SYMFONY 1.X</h2>
    <p>
        The symfony 1.4 version is the last Long Term Support release for
        the symfony 1.X branch and it is maintained until November 2012.
        If you are creating a new project, you should consider using
        <a href="#top">Symfony2</a> instead.
    </p>
    <p>
        However, if you already have a working symfony 1.x project, you
        can still access the framework
        <a href="{{ path('legacy_doc_home') }}">documentation</a>
        for all symfony 1.x versions,
        <a href="#legacy">download</a> any stable versions, or access the
        other symfony 1.x tools via the
        <a href="{{ path('legacy_home') }}">legacy</a>
        page. You can also get symfony1 via
        <a href="http://github.com/symfony/symfony1">Git</a>.
    </p>
    <p>
        If you want to start a new
        project with it, download the sandbox
        (<a href="http://www.symfony-project.org/get/sf_sandbox_1_4.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/sf_sandbox_1_4.zip">.zip</a>),
        the source code
        (<a href="http://www.symfony-project.org/get/symfony-1.4.20.tgz">.tgz</a>,
        <a href="http://www.symfony-project.org/get/symfony-1.4.20.zip">.zip</a>),
        or <a href="http://svn.symfony-project.com/branches/1.4">checkout</a>
        the SVN repository.
    </p>
{% endblock %}

{% block legacy %}
    <h2 class="title_05">Legacy releases</h2>
    <p>Download the latest versions of the previous stable releases:</p>
{% endblock %}
