{% block title 'Vysvětlení Symfony pro zadavatele projektu' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Použití Symfony nic nezmění&hellip; nebo lépe řečeno pro
        zadavatele projektu se skoro nic nemění.
    </p>
{% endblock %}

{% block body %}
    <p>
        Zadavatel projektu je stále odpovědný za stanovení vlastností
        a dohlížením nad projektem, zatímco technická hlediska jsou
        záležitostí vývojářů. Pokud je vykonáván dohled nad projektem,
        Symfony výrazně mění vztah mezi zadavatelem a vývojářem,
        protože pro „obecnou“ funkčnost (práce s databází, formuláře, apod.)
        mohou být využity existující moduly. Vývojář se tak může soustředit
        na funkce, které jsou nejdůležitější pro zadavatele projektu.
        Navíc jsou dodržovány PHP standardy a tak aplikace může být jednoduše
        začleněna do systému, který umožňuje její testování and nasazení
        na produkci. I když se zásadním způsobem práce zadavatele nemění,
        použití Symfony k vývoji aplikace zaručuje rychlost, spolehlivost
        a úspěšnost projektu.
    </p>
{% endblock %}
