{% block title 'Vysvětlení Symfony pro vývojáře' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony je Open Source PHP framework. Samozřejmě můžete vyvíjet
        v čistém PHP bez frameworku, nicméně se Symfony je práce daleko
        příjemnější!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Framework pro zjednodušení vývoje</h2>
    <p>
        Framework vám pomáhá pracovat lépe (řád v programování)
        a rychleji (využití obecných modulů). Při dodržení standardů
        a vývojářských pravidel je s frameworkem snadnější dlouhodobě
        udržovat a rozšiřovat projekty. V neposlední řadě se také zjednoduší
        začlenění aplikace do již existujících systémů.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Proč Symfony?</h2>
    <p>
        Symfony je mezinárodně uznávaná vývojářská platforma. Symfony
        je podporováno jednak společností SensioLabs, která se více jak 13 let
        zabývá vývojem webových aplikací, ale také živou komunitou.
        Mnoho zlepšení zjednodušujících práci bylo buď převzato z jiných systémů
        jako například dependency injection z Javy nebo bylo vyvinuto
        přímo pro Symfony jako například vývojářská lišta, webový profiler a další.
        Navíc díky tomu, že se framework Symfony snaží co nejvíce dodržovat dohodnuté
        standardy, nenutí vás používat výhradně jeho produkty a komponenty a vy si
        tak můžete pro svůj projekt vybrat knihovny jaké chcete.
    </p>
{% endblock %}
