{% block title 'Vysvětlení Symfony pro šéfa' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>Symfony 2 je PHP framework pro tvorbu webových stránek nebo aplikací napsaných v PHP.</p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Symfony versus CMS a konkrétní produkt</h2>
    <p>
        Framework, CMS (Systém pro správu obsahu) a konkrétní produkt
        jsou určeny na rozdílné věci. Každý z uvedených produktů řeší jiné
        postřeby a vyžaduje různé investice a zkušenosti.
    </p>
    <p>
        Používat <strong>konkrétní produkt</strong> je jednoduché:
        lze nastavit pár parametrů a musíte se spokojit s nabízenými funkcemi.
        Tyto funkce nemusí splňovat požadované cíle nebo mohou být
        příliš složité. Kromě náročnějšího začlenění produktu do stávajícího
        systémové řešení nejsou vyžadovány žádné velké odborné znalosti.
    </p>
    <p>
        <strong>CMS</strong> s jeho mnohými pluginy může být použit
        k vytvoření webových stránek nebo aplikace, která se velmi blíží
        vytyčeným požadavkům. Podmínkou však je, že tyto pluginy existují
        a jsou v použitelném stavu.
    </p>
    <p>
        <strong>Framework</strong> poskytuje naprostou volnost vývoje a může
        být použit k návrhu aplikace, která dokonale splňuje vaše požadavky.
        Vyžaduje to však investici do vývoje, vytváření a udržování odborných
        znalostí.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Symfony: vývojářské nástroje</h2>
    <p>
        Ať už se aplikace píše s frameworkem nebo bez něj, je to stále jen
        PHP aplikace. A oba dva případy vyžadují určité odborné znalosti.
        Nicméně díky frameworku lze dodržet určité vývojářské standardy,
        projekt je velmi dobře navržen, snadno se udržuje a rozšiřuje.
        Použití obecných knihoven z frameworku šetří vývojářům čas
        a tak se mohou plně soustředit na psaní požadovaných funkcí.
    </p>
{% endblock %}
