{% block title 'Vysvětlení Symfony pro systémového administrátora' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Nasazení nového řešení neovlivňuje pouze ty, kteří ho používají.
        Symfony framework má vliv i na další části podnikání. To platí
        například pro systémového administrátora, který je odpovědný za
        hostování aplikací.
    </p>
{% endblock %}

{% block body %}
    <p>
        Systémoví administrátoři by neměli být vystrašeni: Symfony vyžaduje
        vlastně jen PHP, nic víc a nic míň. Dále potřebuje dva zapisovatelné
        adresáře, které mohou být zvoleny libolně tak, aby to odpovídalo
        bezpečnostní politice firmy. Symfony rovněž usnadňuje nasazení aplikací
        například tím, že umožňuje ukládat session relace do databáze, nebo
        že implementuje HTTP standard pro použití s reverzní HTTP proxy cachí
        jakou je Varnish. Symfony usnadňuje práci systémovému administrátoru.
    </p>
{% endblock %}
