{% block title 'Symfony razložen mojemu šefu' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>Symfony 2 je PHP ogrodje - ogrodje za razvoj spletnih strani ali aplikacij napisanih v PHP.</p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Symfony proti CMS in zapakirani programski opremi</h2>
    <p>
        Ogrodje, CMS (sistem za upravljanje vsebin) in zapakirana rešitev
        nimajo enakih potreb ali zahtevajo enake investicije in/ali enakega
        strokovnega znanja.
    </p>
    <p>
        Z <strong>zapakirano programsko opremo</strong>, je zelo enostavno: poleg
        sprememb nekaj parametrov, morajo biti posli vsebina z omogočenimi
        lastnostmi, kar je lahko bolj omejeno kot prvotno definirane zahteve; ali
        drugače preveliko število. Razen integracije v trenutni informacijski sistem,
        izbira zapakirane programske opreme zahteva zelo malo tehničnega znanja.
    </p>
    <p>
        <strong>CMS</strong> in njegove dodatne module se lahko uporablja
        za oblikovanje spletnih strani in aplikacij, ki so precej blizu
        poslovnim zahtevam, dokler so zahtevani moduli na voljo in vzdrževani.
    </p>
    <p>
        <strong>Ogrodje</strong> ponuja vso fleksibilnost razvoja po meri
        in je lahko uporabljen za oblikovanje aplikacije, ki popolnoma
        ustreza željenim zahtevam. Po drugi strani pa zahteva razvijalsko,
        integracijsko in vzdrževalno povezano tehnično znanje.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Symfony: Razvojna orodja</h2>
    <p>
        Ali če je uporabljeno ogrodje ročno napisano ali razvito, PHP
        aplikacija je PHP aplikacija. In v obeh primerih je potrebno
        tehnično znanje. Vseeno pa pristotnost ogrodja garantira, da
        aplikacija izpolnjuje industrijska pravila, je dobro strukturirana,
        vzdrževana in razširljiva. Hkrati tudi prihrani razvijalcem čas s
        ponovno uporabo generičnih modulov, da se lahko osredotočijo na
        posebne poslovne lastnosti.
    </p>
{% endblock %}
