{% block title 'Symfony 推荐给项目经理' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony用于创建一个明确定义，快速，可扩展的项目 - 保证。
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">一个定义明确的项目</h2>
    <p>
        一个真正的开发指南，Symfony框架提供了所有的团队成员项目共享引用一致性：这将
        更容易理解，并适合长期维护。
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">快速项目</h2>
    <p>
        与Symfony的，你重用通用组件，不具有任何为您的业务的具体需求的附加值。 symfony让
        开发者不会那么畏惧工作，开发者不需要开发或重新开发通用功能，如表单管理;他们可以
        专注于应用程序的真正挑战。 Symfony的也有工具使得它更容易使用和提高生产率：the Web Debug
        Toolbar，对开发环境的原生支持，详细错误页面，并原生支持的安全性。
    </p>
{% endblock %}
