{% block title '向开发者介绍Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony的是一个开源的分布式的PHP框架。当然，当你知道如何用PHP开发，你可能
        不需要一个框架。然而，这是使用一个框架是非常不错的！
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">框架简化开发</h2>
    <p>
        框架可以帮助你更好地工作（结构发展）和快速（重用通用模块）。框架有利于长期维护
        和可扩展性与符合标准发展规律。符合开发标准也简化应用和其余的信息系统集成和接口。
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">为什么选择 Symfony？</h2>
    <p>
        Symfony的是国际公认的，稳定的发展环境。 Symfony由SensioLabs的支持，一家拥有超过13年的Web开发经验，并通过一个充满活力国际社会，保证它的寿命。创新和易于使用的工作环境，感谢集成解决方案在其他环境中，如依赖注入创建（取从Java），并专门开发的解决方案，例如在Web调试工具栏或Web探查。最后，通过采用实际标准，Symfony的不限制你的环境，但让你选择你要使用的软件组件。
    </p>
{% endblock %}
