{% block title '10 critères pour choisir le bon framework' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Vous faites des progrès et c'est une bonne chose ! Vous savez déjà
        que vous aller utiliser un framework pour développer votre site ou votre
        application. Mais lequel ? Voici une liste que vous pouvez utiliser pour
        éviter de faire une erreur :
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Popularité et taille de la communauté</h2>
    <p>
        Plus un framework est reconnu et connu, plus il sera "vivant", évolutif
        et complet : nouvelles idées, le nombres et la qualité des plugins, etc.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Philosophie</h2>
    <p>
        C'est l'essence même d'un framework : il s'agit d'un critère fondamental pour
        vous assurez qu'il vous conviendra. Un outils développé par des professionnels
        pour leurs propres besoins répondra forcément à la demande d'autres
        professionnels.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Durabilité</h2>
    <p>
        Avant de choisir un framework, assurez-vous qu'il sera capable de vous
        suivre sur la durée. Cela simplifie la maintenance et la mise à niveau de
        vos applications.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Support</h2>
    <p>
        Un autre critère qui ne doit pas être négligé est la facilité à trouver
        des réponses à vos questions et d'obtenir de l'aide. Identifiez le support
        disponibles : de l'éditeur. D'une communauté (mailing lists, IRC, etc. ?
        Des entreprises de services (développement,
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>,
        <a href="http://trainings.sensiolabs.com/">formations</a>) ?
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Technique</h2>
    <p>
        Pour éviter d'être pris au piège dans un labyrinthe, il est toujours
        préférable de choisir une solution d'interopérabilité; une qui respecte
        les bonnes pratiques en terme de développement (<i>design patterns</i>).
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Securité</h2>
    <p>
        Toute application est potentiellement vulnérable. Pour minimiser les risques,
        il est toujours préférable de choisir un framework capable d'assurer
        les fonctions de sécurité (gestion des XSS, par exemple).
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7.	Documentation</h2>
    <p>
        Il s'agit d'une nécessité absolue que d'évaluer la nature, le volume et la
        qualité de la littérature à propos d'un framework : un outils bien documenté
        et plus simple et plus évolutif.
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8.	License</h2>
    <p>
        Les licences sont importantes simplement car elles peuvent avoir un impact
        important sur vos applications. Par exemple, une application développée
        utilisant un framework sous licence GPL sera nécessairement assujetti à la
        licence GPL. D'un autre côté, ce n'est pas le cas pour un framework sous
        licence MIT.
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9.	Disponibilité des ressources sur le marché</h2>
    <p>
        Peut-être que vous aimeriez une équipe technique à vos côtés durant la phase
        de développement ou à long terme, pour la maintenant et les évolutions. En
        d'autres termes, assurez-vous que les compétences requises pour l'outil
        que vous utilisez soient disponibles sur le marché.
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. Essayez-le !</h2>
    <p>
        C'est la clé ! Ne vous satisfaisez pas de lecture d'avis, de commentaires et
        rumeurs, bonnes ou mauvaises, sur Internet. En le testant, vous serez capable
        de vous faire votre propre idée et de vous assurez que vous êtes à l'aise
        avec l'outil.
        That's the key!  Don't be satisfied with reading reviews, comments and rumors,
        good or bad, on the Internet.  By testing it out, you will be able to make up
        your own mind and ensure that you are completely comfortable with the tool.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Choisir un framework ne doit pas être pris à la légère; c'est un engagement
        à long terme. Soyez sûr de faire le bon choix !
    </p>
{% endblock %}
