{% block title 'Symfony expliqué à un maître d'ouvrage' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Utiliser Symfony ne change rien... ou presque rien pour le maître
        d'ouvrage.
    </p>
{% endblock %}

{% block body %}
    <p>
        Le maître d'ouvrage est toujours responsable pour déterminer
        les fonctionnalités et superviser le projet, tandis que les
        aspects techniques sont confiés au développeur. Quand il s'agit
        de superviser le projet, Symfony va grandement changer la relation
        entre le maître d'ouvrage et le développeur : les fonctions
        "génériques" (les modules de connexion aux bases de données,
        les formulaires, ect.) peuvent être réutilisées, ainsi avec
        Symfony le développeur peut se concentrer sur les fonctionnalités
        à valeur ajoutée, qui sont le plus important pour le maître
        d'ouvrage. De plus, en respectant les standards PHP, l'application
        sera facile à intégrer au reste du système d'information, ce qui
        facilitera ses tests et son déploiement en production.
        Tandis qu'il ne change pas fondamentalement le travail du
        maître d'ouvrage, utiliser Symfony pour développer une application
        garanti rapidité, fiabilité and un projet réussi.
    </p>
{% endblock %}
