{% block title 'Symfony expliqué à un developpeur' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony est un framework PHP Open Source. Bien sûr,
        lorsque vous savez développer en PHP, vous n'avez pas besoin
        d'un framework. Cependant, il est vraiment bien d'en avoir un !
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Un framework pour simplifier les developpements</h2>
    <p>
        Un framework vous aide à mieux travailler (développements structurés)
        et à travailler plus rapidement (réutilisation de modules génériques).
        Un framework facilite la maintenance à long terme ainsi que
        l'évolutivité en se conformant aux normes de développement
        standard. Le respect des normes de développement simplifie également
        l'intégration et l'interfaçage de l'application avec le reste
        du système d'information.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Pourquoi Symfony?</h2>
    <p>
        Symfony est un environnement stable de développement
        reconnu à l'international. Symfony est soutenu par SensioLabs,
        une entreprise avec plus de 13 ans d'expérience dans le
        développement web, ainsi que par une communauté internationale
        et dynamique qui assurent sa longévité. 
        Un environnement innovant et simple d'utilisation grace
        à l'intégration de solutions créées dans d'autres environnements
        telle que l'injection de dépendance (repris de Java) et des
        solutions spécifiquement développées telles que la Web Debug
        Toolbar ou bien le Web Profiler. Enfin, en adoptant des normes
        de facto, Symfony ne vous limite pas à son environnement, mais
        vous permet de choisir les composants logiciels que vous souhaitez
        utiliser.
    </p>
{% endblock %}
