{% block title 'Symfony expliqué à un chef de projet' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Utilisez Symfony pour un projet clairement défini, rapide et
        évolutif.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Un projet clairement défini</h2>
    <p>
        Un guide de développement réel, le framework Symfony offre à tous
        les membres de l'équipe une référence partagée pour la cohérence
        du projet : il sera beaucoup plus facile à comprendre et à
        maintenir sur le long terme.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Un projet rapide</h2>
    <p>
        Avec Symfony, vous réutilisez des composants génériques, qui n'ont
        pas de valeur ajoutée pour vos besoins spécifiques. Symfony rend
        le travail moins intimidant pour les développeurs, qui n'ont pas
        à développer ou redévelopper des fonctionnalités génériques, tel
        que la gestion des formulaires; ils peuvent se concentrer sur les
        défis réels de l'application. Symfony dispose aussi d'outils qui
        simplifie l'utilisation et améliore la productivité : la Web Debug
        Toolbar, le support natif pour les environnements de développement,
        des pages d'erreurs détaillées ainsi qu'un support natif pour la
        sécurité.
    </p>
{% endblock %}
