{% block title '10 criteria for choosing the correct framework' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        You're making progress and that's a good thing!  You already know that
        you are going to use a framework to develop your site or your application.
        But which one?  Here is a checklist that you can use to avoid making a mistake:
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">1.	Popularity and community size</h2>
    <p>
        The more well-known and recognized the framework is, the more it will be “living,”
        evolving and complete: new ideas, the number and quality of plug-ins, etc.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">2.	Philosophy</h2>
    <p>
        This is the very essence of the framework: it is a fundamental criterion for
        ensuring that it will meet your needs.  A tool developed by professionals for
        their own needs will obviously meet the demands of other professionals.
    </p>
{% endblock %}

{% block body3 %}
    <h2 class="title_09">3.	Sustainability</h2>
    <p>
        Before choosing a framework, make sure that it will be able to keep up with
        you for the duration. This simplifies both the maintenance and upgrading of
        your applications.
    </p>
{% endblock %}

{% block body4 %}
    <h2 class="title_09">4.	Support</h2>
    <p>
        Another criterion that should not be overlooked is the ease of finding answers
        to your questions and getting help. Identify the support that is available:
        from the publisher. From a community (mailing lists, IRC, etc.)?
        From Service Companies (development,
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>,
        <a href="http://trainings.sensiolabs.com/">training</a>)?
    </p>
{% endblock %}

{% block body5 %}
    <h2 class="title_09">5.	Technique</h2>
    <p>
        To avoid becoming trapped in a labyrinth, it is always preferable to choose
        an interoperable solution; one that respects best practices in terms of
        development (<i>design patterns</i>).
    </p>
{% endblock %}

{% block body6 %}
    <h2 class="title_09">6.	Security</h2>
    <p>
        Any application is potentially vulnerable. To minimize risk, it is always
        better to select a framework capable of ensuring security functions
        (XSS management, for example).
    </p>
{% endblock %}

{% block body7 %}
    <h2 class="title_09">7.	Documentation</h2>
    <p>
        It is an absolute necessity to evaluating the nature, volume and quality of
        existing literature about a framework:  a well-documented tool is both
        easier to use and more upgradeable.
    </p>
{% endblock %}

{% block body8 %}
    <h2 class="title_09">8.	License</h2>
    <p>
        Licenses are important simply because they can have a significant impact on your
        applications. For example, an application developed using a GPL-licensed
        framework will necessarily be subject to GPL. On the other hand, this is not
        the case for an MIT-licensed framework.
    </p>
{% endblock %}

{% block body9 %}
    <h2 class="title_09">9.	Availability of resources on the market</h2>
    <p>
        Perhaps you would want to have a technical team surround you during the development
        phase or in the longer term, for both maintenance and upgrades. In other words,
        make sure that the skills required for the tool that you are using are available
        on the open market.
    </p>
{% endblock %}

{% block body10 %}
    <h2 class="title_09">10. Try it out!</h2>
    <p>
        That's the key!  Don't be satisfied with reading reviews, comments and rumors,
        good or bad, on the Internet.  By testing it out, you will be able to make up
        your own mind and ensure that you are completely comfortable with the tool.
    </p>
{% endblock %}

{% block summary %}
    <p>
        Choosing a framework must not be taken lightly; it is a long-term commitment.
        Make sure that you make the right selection!
    </p>
{% endblock %}
