{% block description %}
    <p>
        Aimeos ist ein Bundle mit allen notwendigen Funktionalitäten für die
        Erstellung von Webshops, das die Aimeos E-Commerce Bibliothek in Symfony
        integriert. Es bietet einen kompletten und gut getesteten Satz von
        Shopkomponenten für Symfony mit einem starken Fokus auf Flexibilität,
        Performance, Skalierbarkeit, Benutzbarkeit und Softwarequalität.
    </p>
    <p>
        Das Bundle beinhaltet z.B. Komponenten für eine facettierte Suche,
        Produktlisten und -detailansichten, sowie Warenkörbe, den Checkout
        Prozess, die E-Mail Abwicklung und Komponenten für den persönlichen
        Bereich eines Kunden. Durch die Omnipay Bibliothek unterstützt es mehr
        als 60 Zahlungsdienstleister und bietet Schnittstellen zu ERP, CRM, PIM
        und ähnlichen Systemen an.
    </p>
    <p>
        Ein vollständiger Demodatensatz für einen schnellen Projektstart ist
        verfügbar.
    </p>
{% endblock %}
