{% block description %}
    <p>
        Das Bundle integriert die Aimeos E-Commerce Bibliothek in Symfony und
        enthält alle notwendigen Funktionalitäten für die Erstellung von
        Online-Shops und Marktplätzen. Es besteht aus einem kompletten und gut
        getesteten Satz von Shopkomponenten, die mit einem starken Fokus auf
        Flexibilität, Performance, Skalierbarkeit, Benutzbarkeit und
        Softwarequalität entwickelt wurden. Ein vollständiger Demodatensatz für
        einen schnellen Projektstart ist enthalten.
    </p>
{% endblock %}
