{% block description %}
    <p>

        Pagekit ist ein modulares und gleichgewichtiges CMS, das von Anfang
        mit dem Fokus auf einer modernen Architektur entwickelt wurde. Es
        dient als Web Application Framework und bietet sowohl Themedesignern
        als auch Entwicklern von Erweiterungen eine großartige Grundlage.

    </p>
{% endblock %}
