{% block title 'Symfony explained to a Project Manager' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Gebruik Symfony voor duidelijke gedefiniëerde, snelle en schaalbare
        projecten.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Een duidelijk gedefiniëerd project</h2>
    <p>
        Een echte ontwikkelings ondersteuning, het Symfony framework geeft
        alle teamleden een gedeelde referentie voor project consistentie: het
        is veel makkelijker te begrijpen en onderhouden op de lange termijn.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Een snel project</h2>
    <p>
        Met Symfony hergebruik je algemene componenten. Symfony maakt het
        werk minder lastig voor developers, die niet opnieuw deze algemene
        features, zoals form afhandeling, hoeven te ontwikkelen; ze kunnen
        zich focussen op de echte uitdaging in de applicatie. Symfony heeft
        ook meerdere tools die het makkelijker te gebruiken maakt en de
        productiviteit verhoogd: de Web Debug Toolbar, ingebouwde ondersteuning
        voor ontwikkelomgevingen, gedetailleerde error pagina's en ingebouwde
        veiligheids features.
    </p>
{% endblock %}
