{% block title 'Symfony uitgelegd aan een Systeembeheerder' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Een nieuwe oplossing uitwerken heeft niet alleen betrekking op degene
        die het gebruiken. Met het Symfony framework worden andere branches ook
        beïnvloed. Bijvoorbeeld voor een systeem beheerder, die verantwoordelijk
        is voor het hosten van alle informatiesystemen van een bedrijf.
    </p>
{% endblock %}

{% block body %}
    <p>
        Systeembeheerders hoeven niet te schrikken: Symfony is PHP, niks meer en
        niks minder. Symfony heeft maar 2 verplichte mappen, welke volledig aan
        te passen zijn om het veiligheidsbeleid van het bedrijf te volgen.
        Symfony levert ook de opbouw voor het hosten van applicaties,
        bijvoorbeeld door het opslaan van sessies in databases of het gebruiken
        van de HTTP standaard om zonder problemen te werken met accelerators als
        Varnish. Symfony maakt het werk van een systeembeheerder makkelijker.
    </p>
{% endblock %}
