{% block title 'Symfony uitgelegd aan een Project Eigenaar' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Het gebruiken van Symfony veranderd niks... of in elk geval bijna niks
        voor de Project Eigenaar.
    </p>
{% endblock %}

{% block body %}
    <p>
        De project eigenaar blijft de verantwoordelijke voor het beslissen van
        features en het controleren van het project, terwijl de technische
        aspecten zijn toevertrouwt aan de ontwikkelaar. Symfony zal de relatie
        tussen de project eigenaar en de ontwikkelaar significant veranderen,
        omdat "algemene" functies (database connecties, formuleren, etc.)
        hergebruikt kunnen worden. De ontwikkelaar kan zich met Symfony focussen
        op de projectspecifieke functies, die het meest belangrijk zijn voor de
        project eigenaar. Bovendien zal de applicatie, door het volgen van de
        PHP standaarden, makkelijker te integreren zijn met de rest van het
        systeem, die het testen en deployment voor productie regelt. Hoewel
        het niet veel veranderd aan het werk als project eigenaar garandeert het
        gebruik van Symfony voor het ontwikkelen van een applicatie wel een
        snel, overzichtelijk en succesvol project.
    </p>
{% endblock %}
