{% block title 'Symfony uitgelegt aan een Developer' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Symfony is een Open Source PHP framework. Natuurlijk heb je geen
        framework nodig als je weet hoe je code moet ontwikkelen in PHP,
        maar het is erg goed om er één te hebben!
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Een framework versimpelt ontwikkeling</h2>
    <p>
        Een framework helpt je beter (gestructureerd) en sneller (hergebruiken
        van modules) te werken. Een framework levert een long-term onderhoudt
        en schaalbaarheid door het gebruik van standaard ontwikkelingsstandaards.
        Naleving van deze ontwikkelingsstandaards versimpelt ook het integreren
        van de applicatie in de rest van het systeem.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Waarom Symfony?</h2>
    <p>
        Symfony is een internationaal erkende, stabiele ontwikkelings
        medium. Symfony wordt onderhouden door SensioLabs, een bedrijf
        met meer dan 13 jaar webdevelopment ervaring, en bij een bruisende
        internationale community, die zorgt voor een lange levensduur. Een
        innovatieve en makkelijk te gebruiken medium dankzij het gebruik
        van oplossingen bedacht in andere omgevingen zoals dependency
        injection (van JAVA) en specifiek ontwikkelde oplossingen zoals de
        Web Debug Toolbar of de Web Profiler. Als laatst beperkt Symfony
        je niet tot zijn eigen omgeving, maar kun je de software componenten
        gebruiken die jij wilt gebruiken.
    </p>
{% endblock %}
