{% block title 'Über Symfony' %}
{% block keywords '' %}
{% block description 'Erfahren Sie, wer das Framework entwickelt und von welchen Werten und Zielen es getragen wird' %}

{% block intro %}
    <p>
        Symfony ist ein Open Source-Framework zur Entwicklung von Webanwendungen mit PHP.
        Es wurde ursprünglich von der Webagentur SensioLabs für die Entwicklung
        von Websites für deren eigene Kunden entwickelt. Symfony wurde von der Agentur im Jahr 2005
        unter der MIT-Open Source-Lizenz veröffentlicht und gehört heute zu den führenden Frameworks
        zur PHP-Entwicklung.
        <br/>
        Unterstützt von SensioLabs, aber auch von einer <a href="{{ path('contributors') }}">
        mitgliederstarken Community</a>, verfügt Symfony über viele Ressourcen: Umfangreiche Dokumentation,
        Support aus der Community (über Mailinglisten, IRC, etc.), professionellen
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">Support</a>
        (Beratung, <a href="http://trainings.sensiolabs.com/">Schulungen</a>, etc.), und vieles mehr.
        <br/>
        Symfony hat mittlerweile Version 2 erreicht und kann auf namhafte Referenzen wie
        Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB oder Drupal verweisen und wird
        in Hunderten von Websites und Anwendungen als Plattform eingesetzt.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Was ist Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">LEITBILD</h2>
    <p>Symfony ist frei und kostenlos und unter der <a href="{{ path('license') }}">MIT-Lizenz</a> veröffentlicht.</p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Seit 1998 setzt sich SensioLabs für die Open Source-Bewegung ein, entwickelt hochqualitative
        Webanwendungen und bietet Schulungen und Beratung an. SensioLabs unterstützt mehrere umfangreiche Open Source-Projekte.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Fakten und Zahlen zu SensioLabs</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Angebote</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Kunden</a></div></li>
    </ul>
{% endblock %}
