{% block title 'Community' %}
{% block keywords '' %}
{% block description 'Lernen Sie die Community, das soziale Netzwerk der Entwickler, den IRC-Channel und die Mailingliste kennen' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Die Entwickler-Mailingliste</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Die Anwender-Mailingliste</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Die Symfony-Blogger</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Das Forum</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
