{% block title 'Schnelleinstieg' %}
{% block keywords '' %}
{% block description 'Downloads, Kontakt zur Community, Artikel, Schulungsangebote' %}

{% block intro %}
    <h2>Schnelleinstieg</h2>
    <p>
        Was könnte besser geeignet sein, um sich ein eigenes Bild zu machen als
        Symfony selbst auszuprobieren? Außer ein wenig Zeit müssen Sie dafür nichts investieren.
        Schritt für Schritt werden Sie das Symfony-Umfeld kennenlernen. Aber Achtung:
        Symfony kann von der ersten Begegnung an süchtig machen!
    </p>
{% endblock %}

{% block read 'Lesen' %}
{% block downloadpdf 'Als PDF herunterladen' %}
