{% block title 'About' %}
{% block keywords '' %}
{% block description 'Ontdek wie het framework maakt en hun doelen' %}

{% block intro %}
    <p>
        Symfony is een Open Source PHP Web applicatie development framework. Het
        was origineel gemaakt door Sensio Labs voor het maken van websites voor
        hun klanten. Symfony is in 2005 onder een MIT licentie gepubliceerd en is
        vandaag één van de toonaangevende frameworks in PHP.
        <br>/>
        Dankzij Sensio Labs - maar ook door een <a href="{{ path('contributors') }}">
        grote community</a> - heeft Symfony vele hulpmiddelen: overvloedige
        documentatie, community ondersteuning (mailing lists, IRC, ect.),
        professionele
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">ondersteuning</a>
        (consulting, <a href="http://trainings.sensiolabs.com/">training</a>,
        etc.) en nog veel meer.
        <br/>
        Sinds versie 2.0 wordt Symfony, naast de honderden websites en
        applicaties, gebruikt in vele gerenommeerde applicaties zoals Yahoo!,
        Dailymotion, Opensky.com, Exercise.com, phpBB en Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">Wat is Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">MISSION STATEMENT</h2>
    <p>Symfony is gratis en gepubliceerd onder de <a href="{{ path('license') }}">MIT license.</a></p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Vanaf 1998 promoot Sensio Labs de Open-Source software door kwaliteits producten,
        traning en consulting te leveren. Sensio Labs ondersteund ook verschillende grote
        Open-Source projects.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Sensio Labs feiten en cijfers</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Aanbiedingen</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Klanten</a></div></li>
    </ul>
{% endblock %}
