{% block title 'Over' %}
{% block keywords '' %}
{% block description 'Ontdek wie het framework maakt en wat hun waarden en doelen zijn' %}

{% block intro %}
    <p>

        Symfony is een Open Source PHP Web applicatie ontwikkelings framework.
        Het werd oorspronkelijk ontwikkeld door het interactieve bedrijf SensioLabs
        voor de ontwikkeling van websites voor hun eigen klanten.  Symfony werd
        gepubliceerd door het bedrijf in 2005 onder de MIT Open Source licentie
        en vandaag is het een van de toonaangevende frameworks beschikbaar voor
        PHP ontwikkeling.

    </p>

    <p>

        Ondersteund door SensioLabs - maar ook door de <a href="{{ path('contributors') }}">
        grote gemeenschap</a> - Symfony heeft veel bronnen: overvloedige documentatie,
        steun van de gemeenschap (mailinglijsten, IRC, etc.), professionele
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>
        (consulting, <a href="http://trainings.sensiolabs.com/">training</a>, etc.),
        en nog veel meer.

    </p>

    <p>

        Sinds dat versie 2.0 beschikbaar is, zijn er met Symfony al honderden 
        websites en applicaties ontwikkeld, met prestigieuze referenties
        zoals Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB of Drupal.

    </p>
{% endblock %}

{% block title_about_sensiolabs %}SensioLabs{% endblock %}
{% block about_sensiolabs %}
    <p>

        SensioLabs promoot sinds 1998 de open-source software beweging door het
        leveren van kwalitatieve ontwikkeling van web applicaties , trainingen en
        consulting. SensioLabs ondersteunt ook verschillende grote open-source
        projecten.

    </p>

    <ul>
        <li><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs feiten en cijfers</a></li>
        <li><a href="http://sensiolabs.com/services/nos_partis_pris.html">Offertes</a></li>
        <li><a href="http://www.extreme-sensio.com/showcase/">Cliënten</a></li>
    </ul>
{% endblock %}
