{% block title 'About' %}
{% block keywords '' %}
{% block description 'Discover who is making the framework and what are their values, their goals' %}

{% block intro %}
    <p>
        Symfony is an Open Source PHP Web applications development framework.
        It was originally conceived by the interactive agency SensioLabs for the
        development of web sites for its own customers.  Symfony was published by
        the agency in 2005 under MIT Open Source license and today it is among the
        leading frameworks available for PHP development.
        <br/>
        Supported by SensioLabs - but also by a <a href="{{ path('contributors') }}">
        large community</a> - Symfony has many resources: plentiful documentation,
        community support (mailing lists, IRC, etc.), professional
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">support</a>
        (consulting, <a href="http://trainings.sensiolabs.com/">training</a>, etc.), and so on.
        <br/>
        Available in version 2.0, Symfony already has, among the hundreds of sites and
        applications developed on its platform, prestigious references, such as
        Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB, or Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">What is Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">MISSION STATEMENT</h2>
    <p>Symfony is entirely free and published under the <a href="{{ path('license') }}">MIT license.</a></p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SENSIO LABS</h2>
    <p>
        Since 1998, SensioLabs has been promoting the Open-Source software movement by
        providing quality web application development, training, consulting. SensioLabs
        also supports several large Open-Source projects.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">SensioLabs facts and figures</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Offers</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Clients</a></div></li>
    </ul>
{% endblock %}
