{% block title 'Aan de slag' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <h2>The Quick Tour</h2>
    <p>
        Wat is beter om je mening te vormen dan door Symfony zelf
        uit te proberen? Op wat tijd na kost het je niks. Stap voor
        Stap zul je de Symfony wereld ontdekken. Wees voorzichtig,
        Symfony kan verslavend zijn vanaf het eerste ogenblik.
    </p>
{% endblock %}

{% block read 'Lees' %}
{% block downloadpdf 'Download als PDF' %}
