{% block title 'Vysvětlení Symfony pro projektového manažera' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        K vytvoření přesně definovaného, rychlého a rozšířitelného projektu
        určitě použijte Symfony.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">Jasně definovaný projekt</h2>
    <p>
        Symfony framework se během vývoje stává vzorem pro všechny
        členy týmu. Díky tomu bude projekt ucelený, snadno pochopitelný
        a udržitelný po velmi dlouhou dobu.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">Rychlý projekt</h2>
    <p>
        Ze Symfony lze použíti obecné komponenty, jejichž vývoj by pro
        vás nebyl přínosný. Díky Symfony je práce vývojářů méně skličující,
        protože se nemusí zatěžovat například vývojem komponenty pro práci
        s formuláři. Celý tým se může zaměřit přímo na stěžejní části aplikace.
        Symfony nabízí mnoho nástrojů, které zvyšují produktivitu: vývojářská lišta,
        podpora v různých vývojových prostředí, podrobné chybové stránky
        nebo nativní podpora pro různé typy zabezpečení.
    </p>
{% endblock %}
