{% block title 'Symfony explained to a Project Manager' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Use Symfony for a clearly defined, fast, and scalable project -
        guaranteed.
    </p>
{% endblock %}

{% block body1 %}
    <h2 class="title_09">A clearly defined project</h2>
    <p>
        A real development guide, the Symfony framework gives all team
        members a shared reference for project consistency: it will be
        that much easier to understand and maintain in the long-term.
    </p>
{% endblock %}

{% block body2 %}
    <h2 class="title_09">A fast project</h2>
    <p>
        With Symfony, you reuse generic components, which do not have any
        added value for your business's specific needs. Symfony makes the
        job less daunting for developers, who do not have to develop or
        redevelop generic features, such as form management; they can
        focus on the application's real challenges. Symfony also has tools
        that make it easier to use and improve productivity: the Web Debug
        Toolbar, native support for development environments, detailed
        error pages, and natively supported security.
    </p>
{% endblock %}
