{% block title 'Symfony explained to a Project Owner' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Using Symfony does not change anything... or hardly anything for
        the project owner.
    </p>
{% endblock %}

{% block body %}
    <p>
        The project owner is still responsible for determining the
        features and overseeing the project, while the technical aspects
        are entrusted to the developer. When it comes to overseeing the
        project, Symfony will significantly change the relationship
        between the project owner and the developer: because "generic"
        functions (database connection modules, forms, etc.) can be
        reused, with Symfony the developer can focus on added value
        business features, which are the most important to the project
        owner. Additionally, by complying with PHP standards, the
        application will be easier to interface with the rest of the
        information system, which will facilitate its testing and
        deployment in production. While it does not fundamentally change
        the project owner's job, using Symfony to develop an application
        guarantees speed, reliability and a successful project.
    </p>
{% endblock %}
