{% block title 'Symfony explained to a System Administrator' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Implementing a new solution does not involve only those who use
        it. With the Symfony framework, other lines of business will be
        impacted. This is true, for example, for the system administrator,
        who is responsible for hosting the company' information system
        applications.
    </p>
{% endblock %}

{% block body %}
    <p>
        System administrators, do not be alarmed: Symfony is PHP, nothing
        more, nothing less. Symfony only requires two writing folders,
        which can be fully configured to adapt to the company's
        established security policy. Symfony also facilitates the build-up
        of applications to be hosted, for example by storing sessions in
        databases or implementing HTTP standard to natively handle website
        accelerators like Varnish. Symfony simplifies the system
        administrator's job.
    </p>
{% endblock %}
