{% block title 'Acerca de' %}
{% block keywords '' %}
{% block description 'Descubre quién está detrás del framework, cuáles son sus valores y sus objetivos.' %}

{% block intro %}
    <p>

        Symfony es un framework de software libre para desarrollar aplicaciones
        web en PHP. La agencia SensioLabs lo creó originalmente para el
        desarrollo de sitios web para sus propios clientes. Symfony fue
        publicado en el año 2005, bajo la licencia MIT de código abierto y hoy
        se encuentra entre los frameworks líderes de PHP.

        <br/>

        Apoyado por SensioLabs - pero también por una <a href="{{ path('contributors') }}">
        gran comunidad</a> - Symfony proporciona muchos recursos para su aprendizaje:
        detallada documentación, soporte de la comunidad (listas de e-mail, IRC, etc),
        <a href="http://sensiolabs.com/en/support/sensiolabs_support.html">soporte profesional</a>
        (consultoría, formación, etc), y mucho más.

        <br/>

        Disponible en su versión 2.0, Symfony tiene, entre los miles de sitios y
        aplicaciones desarrolladas con su plataforma, prestigiosas referencias, tales
        como Yahoo!, Dailymotion, Opensky.com, Exercise.com, phpBB, o Drupal.
    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="{{ marketing_path('what_is_symfony') }}">¿Qué es Symfony?</a></div></li>
    </ul>
{% endblock %}

{% block mission %}
    <h2 class="title_05">Nuestra misión</h2>
    <p>El código fuente de Symfony está publicado en tu totalidad bajo la <a href="{{ path('license') }}">licencia MIT.</a></p>
{%  endblock %}

{% block sensiolabs %}
    <h2 class="title_05">SensioLabs</h2>
    <p>

        Desde 1998, SensioLabs ha fomentado el movimiento del software libre
        mediante el desarrollo de aplicaciones web de calidad, formación y
        consultoría. SensioLabs también apoya otros grandes proyectos de
        software libre.

    </p>
    <ul class="list_04">
        <li><div class="link_01"><a href="http://sensiolabs.com/a_propos/nous_sommes_open.html">Datos y cifras de SensioLabs</a></div></li>
        <li><div class="link_01"><a href="http://sensiolabs.com/services/nos_partis_pris.html">Servicios</a></div></li>
        <li><div class="link_01"><a href="http://www.extreme-sensio.com/showcase/">Clientes</a></div></li>
    </ul>
{% endblock %}
