{% block title 'Comunidad' %}
{% block keywords '' %}
{% block description 'Ponte en contacto con la comunidad y encontrarás información acerca de la red social de desarrolladores, canales IRC, lista de e-mails.' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">Lista de correo de desarrolladores</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">Lista de correo de usuarios</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Los Bloggers de Symfony</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">Foro</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
