{% block title 'Comience' %}
{% block keywords '' %}
{% block description 'Descargas, ponte en contacto con la comunidad, lee artículos, encuentra sesiones de entrenamiento.' %}

{% block intro %}
    <h2>Guía rápida</h2>
    <p>
        ¿Qué mejor forma de hacerte una idea de cómo es Symfony, que probándolo por ti mismo?
        Aparte de un poco de tiempo, no te costará nada. Paso a paso explorarás el
        universo de Symfony. Pero cuidado, Symfony puede volverse adictivo
        desde el primer encuentro.
    </p>
{% endblock %}

{% block read 'Leer' %}
{% block downloadpdf 'Descargar como PDF' %}
