{% block title 'Comience' %}
{% block keywords '' %}
{% block description 'Descargas, ponte en contacto con la comunidad, lee artículos y encuentra sesiones de entrenamiento.' %}

{% block intro %}
    <h2>Guía rápida</h2>
    <p>
        ¿Qué puede ser mejor para darte una idea que probar Symfony por ti mismo?
        Solo te tomará un corto tiempo y nada más. Paso a paso explorarás el
        universo de Symfony. Pero cuidado, Symfony puede volverse adictivo
        desde el primer encuentro.
    </p>
{% endblock %}

{% block read 'Leer' %}
{% block downloadpdf 'Descargar como PDF' %}
