{% block title 'Comience' %}
{% block keywords '' %}
{% block description 'Descargas, ponte en contacto con la comunidad, lee artículos, encontrarás sesiones de entrenamiento.' %}

{% block intro %}
    <h2>Guía rápida</h2>
    <p>
        ¿Qué puede ser mejor para hacerte una idea sobre Symfony que probarlo tú mismo?
        Aparte de un poco de tiempo, no te costará nada. Paso a paso, explorarás el
        universo de Symfony. Pero cuidado, Symfony puede volverse adictivo
        desde el primer minuto.
    </p>
{% endblock %}

{% block read 'Leer' %}
{% block downloadpdf 'Descargar como PDF' %}
