{% block title 'Symfony komponenty' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Okrem toho, že Symfony je full-stack framework, je tiež zložený
        zo samostatných a na sebe nezávislých komponentoch.
    </p>
{% endblock %}

{% block what_is_a_component %}
    <p>
        Symfony komponenty poksytujú základné funkcie potrebné v vývoju
        web stránok. Symfony je vytvorené práve z týchto komponent.
        Komponenty môžu byť použité aj samostatne, bez frameworku a bez
        ďalších závislostí.
    </p>
{% endblock %}

{% block installation %}
    <p>
        Každý komponent môžete nainštalovať rôznymi spôsobmi:
    </p>

    <ul>
        <li>
            <strong>Doporučený spôsob</strong>
            Inštalácia pomocou Composer
            (<code>symfony/<strong>nazov-komponenty-cez-pomlcky</strong></code> na Packagist).
        </li>
        <li>
            Oficiálny git repozitár
            (<code>https://github.com/symfony/<strong>CamelCaseNazovKomponenty</strong></code>);
        </li>
        <li>
            <strong>Obsolete</strong>
            Inštalácia pomocou PEAR
            (<code>pear.symfony.com/<strong>CamelCaseNazovKomponenty</strong></code>);
        </li>
    </ul>
{% endblock %}
