{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Hlavný IRC kanál pre Symfony je <a href="irc://irc.freenode.net/symfony">#symfony</a> na Freenode.
        <ul>
            <li>Pre Windows, je najčastejšie používaný <a href="http://www.mirc.fr/">mIRC</a>;</li>
            <li>Pre Mac, môžete jednoducho použiť <a href="http://colloquy.info/">Colloquy</a>.</li>
        </ul>
    </p>
    <p>
        Ak chcete mať aktuálny prehľad o Symfony alebo chcete priamo ovplyvniť
        Symfony plány, pokojne sa zúčastnite
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">IRC stretnutia</a>, ktoré sa koná raz za týždeň.
    </p>
    <p>
        Ak sa chcete skonaktovať s luďmi používajúcimi Symfony, ktorí Vám pomôžu vo Vašom materinskom
        jazyku, pripojte sa na niektorý lokálny IRC kanál :
        <ul>
            <li>Brazílska portugalčina: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Francúzky: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Nemecký: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Ruský: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Španielsky: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Poľský: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
        Pozrite si sekciu <a href="{{ marketing_path('community') }}">komunita</a>
        na symfony stránkach pre viac možností ako získať pomoc (mailing listy, fórum...).
    </p>
{% endblock %}
