{% block title 'Mailing listy' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit 'Odoberať' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1 Users Group</a></h3>
    <p>Ak potrbujete pomoc so Symfony1, zvážte odber mailing listu pre používateľov symfony1:</p>
{% endblock %}

{% block archive %}
    <p>
        Taktiež môžete prechádzať archív starých správ
        <a href="http://groups.google.com/group/symfony-users">Users Group</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2 Users Group</a></h3>
    <p>Ak potrebujete pomoc so Symfony2, zvážte odber mailing listu pre používateľov Symfony1:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Developers Group</a></h3>
    <p>
        Ak chcete do projektu prispievať, chcete diskutovať o nových funkciách,
        prihláste sa k odberu mailing listu pre Symfony programátorov:
    </p>
{% endblock %}
