{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
    	El principal canal IRC per symfony és <a href="irc://irc.freenode.net/symfony">#symfony</a> a Freenode.
        <ul>
            <li>Per a Windows, el client més utilitzat és <a href="http://www.mirc.fr/">mIRC</a>;</li>
            <li>En Mac, un client senzill d'utilitzar és <a href="http://colloquy.info/">Colloquy</a>.</li>
        </ul>
    </p>
    <p>
        Si desitges veure l'activitat actual de Symfony o influir directament en 
        el desenvolupament de Symfony, sent-te lliure de participar en les nostres 
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">trobades setmanals en IRC</a>.
    </p>
    <p>
        Si desitges contactar amb gent que utiltza symfony per ajudar-te en la teva llengua nativa, pots
        connectar-te als següent canals localitzats:
        <ul>
            <li>Portugues Brasiler: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Francès: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Alemany: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Rus: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Español: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Polonès: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        </ul>
    </p>
    <p>
    	Consulta la secció de la <a href="{{ marketing_path('community') }}">comunitat mundial</a> 
        del lloc de symfony per més formes d'obtenir ajuda (llistes de correu, fòrums, ...).
    </p>
{% endblock %}
