{% block title 'Llistes de Correu' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit "Subscriure's" %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">Grup d'usuaris de symfony1</a></h3>
    <p>Si necessites ajuda amb symfony1, considera subscriure't a la llista de correu d'usuaris de symfony1.</p>
{% endblock %}

{% block archive %}
    <p>
    	També pots navegar l'arxiu de l'antic 
        <a href="http://groups.google.com/group/symfony-users">Grup d'usuaris</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Grup d'usuaris de Symfony2</a></h3>
    <p>Si necessites ajuda amb Symfony2, considera subscriure't a la llista de correu d'usuaris de Symfony2:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Grup de Desenvolupadors</a></h3>
    <p>
    	Si desitges contribuir amb el projecte, discutir noves característiques, 
        considera subscriure't a la llista de correu de desenvolupadors de Symfony.
    </p>
{% endblock %}
