{% block title 'コミュニティ' %}
{% block keywords '' %}
{% block description 'コミュニティと連絡を取り、開発者ソーシャルネットワーク、メーリングリスト、IRCチャンネルに関する情報を見つける。' %}

{% block developers %}
    <p class="title"><a href="http://groups.google.com/group/symfony-devs">コア開発者向けメーリングリスト</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony-devs/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}

{% block users %}
    <p class="title"><a href="http://groups.google.com/group/symfony2">フレームワークユーザー向けメーリングリスト</a></p>
    <p class="link"><a href="http://groups.google.com/group/symfony2/feed/atom_v1_0_msgs.xml">RSS</a></p>
{% endblock %}


{% block bloggers %}
    <p class="title"><a href="http://feeds.feedburner.com/symfony/planet">Symfonyブロガー</a></p>
    <p class="link"><a href="http://feeds.feedburner.com/symfony/planet">RSS</a></p>
{% endblock %}

{% block forum %}
    <p class="title"><a href="http://forum.symfony-project.org/">フォーラム</a></p>
    <p class="link"><a href="http://forum.symfony-project.org/feed.php">RSS</a></p>
{% endblock %}
