{% block title 'Symfony Componenten' %}
{% block keywords '' %}
{% block description '' %}

{% block what_is_a_component %}
    <p>
        Symfony componenten zijn een set van ontkoppelde en herbruikbare PHP bibliotheken.
        Ze worden steeds meer de standaard fundament waarop de beste PHP
        applicaties op zijn gebouwd. U kunt elk van deze componenten gebruiken in uw
        eigen applicaties onafhankelijk van het Symfony Framework.
    </p>
{% endblock %}

{% block installation_title 'Installatie' %}

{% block installation %}
    <p>
        Gebruik <a href="{{ doc_path({version: 'master', page: 'cookbook/composer'}) }}">Composer</a>
        om een van de Symfony componenten in uw PHP project installeren:
    </p>
{% endblock %}

{% block component_list_title 'Lijst met componenten' %}
