{% block title 'Symfony Handelsmerk & Licenties' %}
{% block keywords '' %}
{% block description '' %}

{% block trademark_title 'Symfony Handelsmerk' %}
{% block trademark_content %}
    <p>
        Symfony &trade; is een handelsmerk van Fabien Potencier. Alle rechten voorbehouden.
        <a href="{{ marketing_path('trademark') }}">Zie handelsmerk informatie</a>.
    </p>
{% endblock %}

{% block logo_title 'Symfony Logo' %}
{% block logo_content %}
    <p>
        Symfony logo is een origineel kunstwerk door
        <a href="http://sensiolabs.com">SensioLabs</a> en gepubliceerd onder de
        voorwaarden van de copyright-licentie.
        <a href="{{ marketing_path('trademark') }}">Zie logogebruik richtlijnen</a>.
    </p>
{% endblock %}

{% block website_title 'Symfony Website' %}
{% block website_content %}
    <p>
        Symfony Website design is een origineel kunstwerk door
        <a href="http://sensiolabs.com">SensioLabs</a> en gepubliceerd onder de
        voorwaarden van de copyright-licentie. Tenzij anders vermeld, de website
        inhoud is gepubliceerd onder de voorwaarden van de Creative Commons
        Attribution-Share Alike 3.0 Unported License
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">Zie licentie informatie</a>.
    </p>
{% endblock %}

{% block code_title 'Symfony Code' %}
{% block code_content %}
    <p>
        Symfony Source Code is gepubliceerd onder de voorwaarden van de MIT-licentie.
        <a href="{{ doc_path({ page: 'contributing/code/license', version: 'master' }) }}">Zie code licentie informatie</a>.
    </p>
{% endblock %}

{% block documentation_title 'Symfony Documentatie' %}
{% block documentation_content %}
    <p>
        Symfony Documentatie is gepubliceerd onder de voorwaarden van de Creative Commons
        Attribution-Share Alike 3.0 Unported License
        <a href="{{ doc_path({ page: 'contributing/doc/license', version: 'master' }) }}">Zie documentatie licentie informatie</a>.
    </p>
{% endblock %}
