{% block title 'IRC' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Het hoofd IRC kanaal voor symfony is <a href="irc://irc.freenode.net/symfony">#symfony</a> op Freenode.
        <ul>
            <li>Voor Windows is de meeste gebruikte client <a href="http://www.mirc.fr/">mIRC</a>;</li>
            <li>Op een Mac kun je makkelijk overweg met <a href="http://colloquy.info/">Colloquy</a>.</li>
        </ul>
    </p>
    <p>
        Als je de huidige Symfony activiteiten wilt zien of de Symfony roadmap
        wilt aanpassen ben je welkom bij het
        <a href="{{ doc_path({
            'version': 'current',
            'section': 'contributing',
            'page':    'community/irc'})
        }}">wekelijkse IRC bijeenkomsten</a>.
    </p>
    <p>
        Als je in contact wilt komen met mensen uit jouw land die symfony gebruiken, kun je naar
        de volgende lokale kanalen gaan:
        <ul>
            <li>Brazilië Portugees: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
            <li>Frans: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
            <li>Duits: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
            <li>Russisch: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
            <li>Spaans: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
            <li>Pools: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
            <li>Nederlands: <a href="irc://irc.freenode.net/symfony-nl">#symfony-nl</a></li>
        </ul>
    </p>
    <p>
        Zie de <a href="{{ marketing_path('community') }}">community</a> sectie van de symfony
        website voor meer manieren om hulp te krijgen (mailing-lists, forum, ect.).
    </p>
{% endblock %}
