{% block title 'Symfony IRC kanalen' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Dit zijn de officiële Symfony IRC kanalen op Freenode:
    </p>
    <ul>
        <li>
            <a href="irc://irc.freenode.net/symfony">#symfony</a>, het belangrijkste
            Symfony kanaal en de beste manier om te vragen om Symfony ondersteuning.
        </li>
        <li>
            <a href="irc://irc.freenode.net/symfony-docs">#symfony-docs</a>, het
            kanaal om te discussiëren over de documentatie van Symfony.
        </li>
    </ul>

    <h2>
        IRC tools
    </h2>
    <p>
        Dit zijn enkele van de beste tools om te chatten op IRC-kanalen:
    </p>
    <ul>
        <li>
            Webdiensten: <a href="http://webchat.freenode.net/">Freenode webchat</a>, <a href="https://www.irccloud.com">IRCCloud</a>.
        </li>
        <li>
            Windows clients: <a href="http://www.mirc.com/">mIRC</a>, <a href="https://hexchat.github.io/index.html">HexChat</a>.
        </li>
        <li>
            Mac OS X clients: <a href="http://colloquy.info/">Colloquy</a>, <a href="https://adium.im/">Adium</a>.
        </li>
        <li>
            Linux clients: <a href="http://hexchat.github.io/">HexChat</a>, <a href="http://chatzilla.hacksrus.com/">Chatzilla</a>, <a href="http://www.irssi.org/">Irssi</a>.
        </li>
        <li>
            Browser extensies: <a href="http://chatzilla.hacksrus.com/">ChatZilla</a>.
        </li>
    </ul>

    <h2>
        Lokale IRC kanalen
    </h2>

    <p>
        Als u liever chat met andere Symfony ontwikkelaars in uw eigen taal,
        overweeg het gebruik van deze lokale kanalen:
    </p>
    <ul>
        <li>Portugees Braziliaans: <a href="irc://irc.freenode.net/symfony.br">#symfony.br</a></li>
        <li>Tsjechies: <a href="irc://irc.freenode.net/symfony-cs">#symfony-cs</a></li>
        <li>Nederlands: <a href="irc://irc.freenode.net/symfony-nl">#symfony-nl</a></li>
        <li>Frans: <a href="irc://irc.freenode.net/symfony-fr">#symfony-fr</a></li>
        <li>Duits: <a href="irc://irc.freenode.net/symfony-de">#symfony-de</a></li>
        <li>Russisch: <a href="irc://irc.freenode.net/symfony-ru">#symfony-ru</a></li>
        <li>Spaans: <a href="irc://irc.freenode.net/symfony-es">#symfony-es</a></li>
        <li>Pools: <a href="irc://irc.freenode.net/symfony-pl">#symfony-pl</a></li>
        <li>Zweeds: <a href="irc://irc.freenode.net/symfony-se">#symfony-se</a></li>
    </ul>
{% endblock %}
