{% block title 'Mailing Lists' %}
{% block keywords '' %}
{% block description '' %}

{% block label 'Email:' %}
{% block submit 'Abonneren' %}

{% block symfony1 %}
    <h3><a href="http://groups.google.com/group/symfony1">symfony1 Users Group</a></h3>
    <p>Als je hulp nodig hebt met symfony1 kun je jezelf abonneren op de symfony1 user mailing-list:</p>
{% endblock %}

{% block archive %}
    <p>
        Je kan ook kijken in het archief van de oude 
        <a href="http://groups.google.com/group/symfony-users">Users Group</a>.
    </p>
{% endblock %}

{% block symfony2 %}
    <h3><a href="http://groups.google.com/group/symfony2">Symfony2 Users Group</a></h3>
    <p>Als je hulp nodig hebt met Symfony2 kun je jezelf abonneren op de Symfony2 user mailing-list:</p>
{% endblock %}

{% block developers %}
    <h3><a href="http://groups.google.com/group/symfony-devs">Developers Group</a></h3>
    <p>
        Als je wilt helpen aan het project of een feature wilt bespreken kun je jezelf
        abonneren op de Symfony developer mailing-list:
    </p>
{% endblock %}
