{% block title 'Symfony Slack' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Word lid van de Symfony Slack gemeenschap. <a href="https://slackinvite.me/to/symfony-devs">Krijg een uitnodiging</a>.
    </p>
    <ul>
        <li>
            <a href="https://symfony-devs.slack.com/messages/general/">#general</a>, het algemene
            kanaal en de beste manier om te chatten met iedereen in de Symfony gemeenschap.
        </li>
        <li>
            <a href="https://symfony-devs.slack.com/messages/support/">#support</a>, het
            support kanaal en de beste manier om te vragen om Symfony ondersteuning.
        </li>
    </ul>
{% endblock %}
