{% block title 'Symfony Support' %}
{% block keywords '' %}
{% block description 'Symfony Support steun van de gemeenschap en de professionele ondersteuning door SensioLabs.' %}

{% block title_community_support %}Community Support{% endblock %}
{% block stackoverflow_support %}
    Gebruik <a href="http://stackoverflow.com/questions/tagged/symfony">Stack Overflow</a>
    <span>om hulp te vragen/geven voor specifieke Symfony problemen.</span>
{% endblock %}
{% block irc_support %}
    Gebruik het <a href="{{ marketing_path('irc') }}">#symfony IRC kanaal</a>
    <span>om real-time ondersteuning of advies te krijgen.</span>
{% endblock %}

{% block title_professional_support %}Professionele Support{% endblock %}
{% block sensiolabs_support %}
    <a href="http://sensiolabs.com">SensioLabs</a>, het bedrijf achter Symfony,
    biedt een volledig scala aan oplossingen om sneller betere resultaten te krijgen,
    van consultancy tot training en coaching tot certificering.
{% endblock %}
{% block business_solutions %}Bekijk alle zakelijke oplossingen{% endblock %}
